<div id="wrapper">
  <div id="main">
    <div class="inner">
      <%= render 'shared/header' %>      
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

      <div class="flex main">
        <div class="flex-container">
          <a href="/search/quicksearch"><img src="https://i.pinimg.com/564x/dd/12/e5/dd12e5539f4b1455a554c256c6be4eae.jpg" class="flex-container-images" alt="Find Deals">
          <p class="flex-container-heading">Quick Way To Find The Best Deals</p></a>
        </div>
        <div class="flex-container">
          <a href="blogs/blogs_home"><img src="https://i.pinimg.com/564x/22/a1/fc/22a1fcb216d5e4292d8b3388ba5e4a99.jpg" class="flex-container-images" alt="Awesome Blogs">
          <p  class="flex-container-heading">Blogs</p></a>
        </div>
        <div class="flex-container">
          <a href="#"><img src="https://i.pinimg.com/564x/25/99/84/2599841f7d0ff185f851f811c727d8ed.jpg" class="flex-container-images" alt="Save your money">
          <p class="flex-container-heading">Saving Your Money</p></a>
        </div>
        <div class="flex-container">
          <a href="/ecommerces/gadgets"><img src="https://i.pinimg.com/564x/ff/6a/ca/ff6aca78182d5ff9c00eb9efeb04e71c.jpg" class="flex-container-images" alt="Awesome Gadgets">
          <p class="flex-container-heading">Awesome Gadgets</p></a>
        </div>
      </div>
        
      <div class="blogs_wrapper">
        
        <main class="main">
         <h1>Main_Title</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sint, odio. Atque odit natus laborum, sunt, inventore dolor cumque sit provident dolorem totam tempora architecto, in voluptatum. Laudantium commodi, ipsam minus quaerat mollitia perferendis cum, eveniet nihil cumque consectetur beatae. At neque corporis, quisquam earum voluptatum. Cupiditate suscipit praesentium qui!</p>
         <h2>SubTitle_01</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sint, odio. Atque odit natus laborum, sunt, inventore dolor cumque sit provident dolorem totam tempora architecto</p>
         <img src="https://i.imgur.com/03ctuzh.jpg" style="width: 54em">
         <h5>Source</h5>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sint, odio. Atque odit natus laborum, sunt, inventore dolor cumque sit provident dolorem totam tempora architecto, in voluptatum. Laudantium commodi, ipsam minus quaerat mollitia perferendis cum, eveniet nihil cumque consectetur beatae. At neque corporis, quisquam earum voluptatum. Cupiditate suscipit praesentium qui!</p>
         <h3>Best Review</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sint, odio. Atque odit natus laborum, sunt, inventore dolor cumque sit provident dolorem totam tempora architecto</p>
         <button>Learn More</button>
        </main>
      
        <aside class="aside">
          <h2>Recent Blog Posts</h2>
          <div class="blog-container">
            
            <div class="widget_container"> <!-- 왼쪽 사이드 탭 -->
              <div class='multitab-section'>
                <ul class='multitab-widget multitab-widget-content-tabs-id'>
                  <li class='multitab-tab'><a href='#multicolumn-widget-id1'>Popular</a></li>
                  <li class='multitab-tab'><a href='#multicolumn-widget-id2'>Tags</a></li>
                  <li class='multitab-tab'><a href='#multicolumn-widget-id3'>Archive</a></li>
                </ul>
                <div class='multitab-widget-content multitab-widget-content-widget-id' id='multicolumn-widget-id1'>
                  <span class='sidebar' id='sidebartab1' preferred='yes'>
                  <p>Phim Captain America: Civil War - Captain America: Nội Chiến Siêu Anh Hùng 2016: Xoay quanh việc Steve Rogers (Captain America) dẫn đầu một nhóm siêu anh hùng với các thành viên của Avengers với mục tiêu tiếp tục nỗ lực để bảo vệ nhân loại. Nhưng sau nhiều vụ việc xảy ra do biệt đội Avengers làm thiệt hại tài sản, chính phủ đã thiết lập cơ quan quản lý và giám sát nhóm. Điều này gây ra sự chia rẽ trong nội bộ nhóm Avengers, tạo nên hai phe đối đầu nhau. Một bên được lãnh đạo bởi Steve Rogers (Captain America) với mong muốn duy trì nhóm để thực hiện mục tiêu bảo vệ nhân loại mà không có sự can thiệp của chính phủ. Phe còn lại là của Tony Stark (Iron Man) luôn hỗ trợ giám sát và có trách nhiệm giải trình mọi việc làm với chính phủ.
                  </p>
                  </span>
                </div>
                <div class='multitab-widget-content multitab-widget-content-widget-id' id='multicolumn-widget-id2'>
                  <span class='sidebar' id='sidebartab2' preferred='yes'>
                  <p>Phim Captain America: Civil War - Captain America: Nội Chiến Siêu Anh Hùng 2016: Xoay quanh việc Steve Rogers (Captain America) dẫn đầu một nhóm siêu anh hùng với các thành viên của Avengers với mục tiêu tiếp tục nỗ lực để bảo vệ nhân loại. Nhưng sau nhiều vụ việc xảy ra do biệt đội Avengers làm thiệt hại tài sản, chính phủ đã thiết lập cơ quan quản lý và giám sát nhóm. Điều này gây ra sự chia rẽ trong nội bộ nhóm Avengers, tạo nên hai phe đối đầu nhau. Một bên được lãnh đạo bởi Steve Rogers (Captain America) với mong muốn duy trì nhóm để thực hiện mục tiêu bảo vệ nhân loại mà không có sự can thiệp của chính phủ. Phe còn lại là của Tony Stark (Iron Man) luôn hỗ trợ giám sát và có trách nhiệm giải trình mọi việc làm với chính phủ.
                  </p>
                  </span>
                </div>
                <div class='-content multitab-widget-content-widget-id' id='multicolumn-widget-id3'>
                  <span class='sidebar' id='sidebartab3' preferred='yes'>
                  <p>Phim Captain America: Civil War - Captain America: Nội Chiến Siêu Anh Hùng 2016: Xoay quanh việc Steve Rogers (Captain America) dẫn đầu một nhóm siêu anh hùng với các thành viên của Avengers với mục tiêu tiếp tục nỗ lực để bảo vệ nhân loại. Nhưng sau nhiều vụ việc xảy ra do biệt đội Avengers làm thiệt hại tài sản, chính phủ đã thiết lập cơ quan quản lý và giám sát nhóm. Điều này gây ra sự chia rẽ trong nội bộ nhóm Avengers, tạo nên hai phe đối đầu nhau. Một bên được lãnh đạo bởi Steve Rogers (Captain America) với mong muốn duy trì nhóm để thực hiện mục tiêu bảo vệ nhân loại mà không có sự can thiệp của chính phủ. Phe còn lại là của Tony Stark (Iron Man) luôn hỗ trợ giám sát và có trách nhiệm giải trình mọi việc làm với chính phủ.
                  </p>
                  </span>
                </div>
              </div><!--/.multitab-section-->
            </div><!--/.widget_container-->
            
            <figure class="blog-post blog-post-1">
              <h3 class="blog-titles">Blog Title 1</h3>
              <div>
                <img src="https://2.bp.blogspot.com/-A6Jv6RpDtIk/UA1ofMnVp6I/AAAAAAAAAHA/CfDFigTK_VM/s1600/vintage-golf-clothing-men1.jpg" />
              </div>
            </figure>
    
            <figure class="blog-post blog-post-2">
              <h3 class="blog-titles">Blog Title 2</h3>
              <div>
                <img src="https://3.bp.blogspot.com/-5rNMDJFfNTY/T9H57b_qAAI/AAAAAAAAEAU/emAx9peuAwM/s640/vintage1.jpg" alt="" />
              </div>
            </figure>
    
            <figure class="blog-post blog-post-3">
              <h3 class="blog-titles">Blog Title 3</h3>
              <div>
                <img src="https://37.media.tumblr.com/tumblr_lkl0f6RKYY1qdyq1bo1_500.jpg" alt="" />
              </div>
            </figure>
    
            <figure class="blog-post blog-post-4">
              <h3 class="blog-titles">Blog Title 4</h3>
              <div>
                <img src="http://nibsblog.files.wordpress.com/2012/09/elementaryschoolkidsbus1979-opt.jpg" alt="" />
              </div>
            </figure>

          </div><!--/.blog-container-->
        </aside>
      </div><!--/.blogs_wrapper-->
            
    </div>
  </div>
</div>
      