<div id="wrapper">
  <div id="main">
    <div class="inner">
      <%= render 'shared/header' %>      
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        
      <div class="blogs_wrapper">
        
        <main class="main">
          <!-- for play youtube video-->
          <div class="overlay-video">
          <div class="videoWrapperExt">
            <div class="videoWrapper">
              <div class="video_close"></div>
                <iframe id="player" width="853" height="480" src="" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>        
         </div>

         <div class="show_header">
           <h1 class="show_main_title">10 Comfortable Travel Pillow</h1>
           <ul class="blog_post_date">
            <li class="blog_icon"><img src="https://i.pinimg.com/564x/53/f0/aa/53f0aa1d10c1a6bbd381c6f17bd5ac15.jpg"></li>
            <li class="posted"><p>Oh,i gotta buy this</p></li>
            <li class="blog_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"></li>
            <li class="posted_date"><p>April.06.2018</p></li>
           </ul>
           <img src="https://i.pinimg.com/564x/4c/14/ae/4c14ae6547540a6dc4d51d5061c4d731.jpg" alt="Travel Pillow">
           <p class="main_intro">I`d like to share 10 Comfortable “Travel Pillow” that will make you have a sweet dream while you traveling today. Have you ever sat in an economy class seat, tossing and turning, deliriously trying to get to sleep? Knowing you need to be feeling rested when you arrive? Say goodbye to long restless airplane flights, train rides, car rides and bus rides. Now you can sleep as comfortably as you sleep in your own bed. It allows you to get deep sleep while traveling. And These are the first travel pillows that allow you to make sure you find the most comfortable position during your travels.</p>
         </div>

          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2H1bCAd">1. Trtl Pillow - Neck Support Travel Pillow.</a></h2>
             <a target="_blank" href="https://amzn.to/2H1bCAd"><img src="https://2.bp.blogspot.com/-9tNk2zDDFvs/WfA3_wOkp6I/AAAAAAAAAeA/IJLQVhz52lMvjgIfPfef9D-DSL2UCGLfQCEwYBhgL/s640/social%2Bmedia%2Brevolution%2B%25284%2529.jpg" alt="Iamge_Title"></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">Trtl Pillow allows you to get the best rest wherever you are. Easily attaches to your bag and is super lightweight. Intrnal support adapts to your head and neck. Scientifically proven to be better than a travel pillow. Place it behind your neck to enhance your headrest. Keep your device secure and enjoy movies hands-free.</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over 1400 people found this helpful)</p>
             <p class="show_review_content">I originally purchased this to travel to Singapore and Tokyo, Japan during November. My entire flight, including round trip, totaled about 40 hours (and 6 flights). I was wary of the Trtl at first, but now I am so glad I bought this. I have absolutely no regret! It is possibly the best purchase I have ever made for traveling. I can't even imagine ever traveling without it again. THAT was how great this Trtl turned out to be! &nbsp;<a target="_blank" href="https://amzn.to/2H0wJmp">By Jen</a></p>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2H1bCAd">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/kCncyczzPKg?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>


          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2Jn9bql">2. BCOZZY - Chin Supporting Travel Pillow.</a></h2>
             <a target="_blank" href="https://amzn.to/2Jn9bql"><img src="https://4.bp.blogspot.com/-GAfPN5YkXMQ/WfA7mjfGW9I/AAAAAAAAAeM/jk96QdmVCUY4LCUyTLRF0cQ0pWAGUgBvACLcBGAs/s640/social%2Bmedia%2Brevolution.jpg" alt="BCOZZY - Chin Supporting Travel Pillow."></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">THE BCOZZY PILLOW is the only travel pillow that stops the head from falling forward; the patented neck pillow wraps gently around the neck and provides SUPER SOFT AND BEST SUPPORT simultaneously to the head, neck, and chin.</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "290" people found this helpful)</p>
             <p class="show_review_content">I have went through quite a few travel pillows as I travel a lot and I must say that this one tops them all by far. It goes with me everywhere! Not only do I sleep well when I sit for long hours during travel , my chin is in place, I'm not hurting my neck, it's a perfect replacement for my own pillow while I'm away , I just put it on the regular pillow and rest my head on it! And last but not least - a few days ago, I had a knot in my shoulder blade that was shooting pain to my neck, I used this BCOZZY pillow as I would if I were traveling only I was laying down when I went to sleep with the pillow around my neck and the next day, to my huge surprise, my pain was almost completely gone. I am very happy with my new purchase, this is such a great gift! Thank you BCOZZY! &nbsp;<a target="_blank" href="https://amzn.to/2q8DTeS"> By TAMMY ZION</a></p>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2Jn9bql">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/v35PCUWVh2M?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2qbbMux">3. FaceCradle - Adjustable Travel Pillow.</a></h2>
             <a target="_blank" href="https://amzn.to/2qbbMux"><img src="https://1.bp.blogspot.com/-_fCTiAxdaK8/WfA8yclHoYI/AAAAAAAAAeY/mPq4Q3TGpnQWO8CfcWvWWvGIYuDBy6f0wCLcBGAs/s640/this-newly-designed-travel-pillow-will-make-sleeping-on-flights-a-lot-more-comfortable.jpg" alt="FaceCradle - Adjustable Travel Pillow."></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">Upgrade to sleeping class! Most travel pillows attempt to give you comfort with your head upright but this is not how you sleep at night. FaceCradle allows you supported access to the full 180 degrees forward of your seat to get your head more horizontal. This is the way you normally sleep and it allows you to toss and turn in hundreds of different positions so you can find your sweet spot, replicating how you sleep each night.</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "10" people found this helpful)</p>
             <p class="show_review_content">This was a pretty good find, but not amazing. It’s good quality but doesn’t feel extremely sturdy or anything. It does hook to the airline seat by clipping into the pillow, but then it was a little annoying to have unclip it if you need to get up or if you are trying to eat or drink. I like the options it provides and I still think it’s better than a standard airplane neck pillow, but it’s not perfect. &nbsp;<a target="_blank" href="https://amzn.to/2uMHnbm">By Nicole P.</a></p>
             <h3 class="show_special_offer"><a target="_blank" href="https://amzn.to/2uWIrd2">Special offers: Buy a Used "FaceCradle Adjustable Travel Pillow, Full Sleep wh..." and save 70% off the $100.00 list price.</h3></a>

             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2qbbMux">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/OFYfhzbq5_8?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2qcLRCR">4. Huzi Infinity Pillow.</a></h2>
             <a target="_blank" href="https://amzn.to/2qcLRCR"><img src="https://4.bp.blogspot.com/-VKqKVoclFm0/WfBByZRc9OI/AAAAAAAAAeo/OVKhVFkC0L0VSkL2wsBpLpaoBHwr_qPPwCLcBGAs/s640/social%2Bmedia%2Brevolution%2B%25281%2529.jpg" alt="Huzi Infinity Pillow."></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">Unlike any other travel pillows, the Infinity Pillow is so comfortable and versatile that you’d also want to use at home. Neck pillow, back support, window pillow, desk pillow, eye mask, noise canceling pillow. You’ve got them all. Twist, wrap and bundle with its versatile Möbius shape and transform it to fit the needs of the space you’re in, whether it’s the window, aisle or middle seat, or at home with the whole couch to lounge on.</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "87" people found this helpful)</p>
             <p class="show_review_content">I love this infinity pillow! I purchased it for an upcoming 15 hour long car ride and transatlantic flight. Although I haven't yet used it to "sleep", I've been wearing it around my house, wrapped twice around, because it keeps me nice and warm and also provides a wonderful headrest/support when watching TV on the couch. At night I just hang it around my neck and kind of snuggle with it and it is great there too! It is very soft. The fabric has that "cool to warm" feel like a goose down comforter that is cold when you first get in but then warms up in seconds. Or the cool feeling of a recently flipped pillow! I probably wouldn't be using it as a neck-warmer in the summer months if I didn't have air conditioning. I am very sensitive to the "choking" feeling and this pillow is not tight at all around my neck (I'm guessing I have an average neck size?). My dog loves it too! Usually when I put things around his neck he tries to get them off, but he doesn't do that with this. Because of his interest I also recently washed it (cold water/low heat) and it held up great!
              &nbsp;<a target="_blank" href="https://amzn.to/2IzrnLQ">By KG2012</a></p>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2qcLRCR">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/yw2hrRlhD8Q?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2GK4wwY">5. Travelrest - Ultimate Travel Pillow.</a></h2>
             <a target="_blank" href="https://amzn.to/2GK4wwY"><img src="https://2.bp.blogspot.com/-iSbylFIotq0/WfBJayn09KI/AAAAAAAAAfE/AWkHxPCW7ZMtH9MtAcAJ7C9qnivvEBQGgCLcBGAs/s640/social%2Bmedia%2Brevolution%2B%25283%2529.jpg" alt="Travelrest - Ultimate Travel Pillow"></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">A soft and washable plush velour cover with memory foam only where you rest your head. All the comfort of memory foam without the bulk of a 100% memory foam pillow Adds a new dimension of comfort to the Travelrest travel pillow. Easily rolls up with pillow and attaches to outside of luggage for easy access.</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "2,800" people found this helpful)</p>
             <p class="show_review_content">This is pretty solid invention for sleeping on a plane. In my estimation, it is superior to a traditional neck pillow, but has its share of advantages and disadvantages. I'd recommend it if you prefer strong directional support to softer universal neck support provided by a traditional neck pillow, and if you like the comfort of having a pillow 'hugging' you as you sleep. This pillow also works really well in the car, and if you've got kids who have a hard time sleeping on road trips, these are probably a must buy. &nbsp;<a target="_blank" href="https://amzn.to/2EttpLq">By ConsumerAdvocate (dakotad555) at (gmail) dot (com)</a></p>
             <h3 class="show_special_offer"><a target="_blank" href="https://amzn.to/2EpluPb">Special offers: Buy a Used "Travelrest Ultimate Travel Pillow/Neck Pillow - Er..." and save 54% off the $39.95 list price.</h3></a>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2GK4wwY">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/z-EL0iyXcu8?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2qabN1Z">6. Purefly Soft Velvet Inflatable Travel Neck Pillow.</a></h2>
             <a target="_blank" href="https://amzn.to/2qabN1Z"><img src="https://2.bp.blogspot.com/-QD4P4iRRISs/WfBEWyRqy8I/AAAAAAAAAe0/RqsyLPmRwQoczIU5u_QXqelCPKVViXMIgCLcBGAs/s640/social%2Bmedia%2Brevolution%2B%25282%2529.jpg" alt="Purefly Soft Velvet Inflatable Travel Neck Pillow."></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">Have you ever heard of a travel pillow that inflates with a button? 
              It'strue!!Simply inflate the pillow by pressing repeatedly on the low-profile built in push-button until you reach your desired inflation in less than a minute without removing it from your neck.You don't have to fill the air in it by mouth that keeps you away from bacteria.</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "110" people found this helpful)</p>
             <p class="show_review_content">0. My friend recommend me to this item and I have Never seen such a cool travel pillow before. 1. Come with a little air pump built inside the pillow. 2. compressable and can be put in a small bag. 3. feel very comfortable, made by thick cloth which feels like good quality &nbsp;<a target="_blank" href="https://amzn.to/2qcGzr0">By Guanzhong You</a></p>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2qabN1Z">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/6-T6s6ElwfA?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2IuPOKz">7. OSTRICHPILLOW LIGHT Travel Pillow.</a></h2>
             <a target="_blank" href="https://amzn.to/2IuPOKz"><img src="https://2.bp.blogspot.com/-iILxOI2xd0E/WfBohmYXevI/AAAAAAAAAfs/pQoVMr-_67wa5p_XacjCdQUGtXxq_AW6QCLcBGAs/s640/social%2Bmedia%2Brevolution%2B%25282%2529.jpg" alt="OSTRICHPILLOW LIGHT Travel Pillow."></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">This pillow is lightweight, can be worn as a scarf on cold days and when in drafty air-conditioned places as well. Perfect to drift away into dreamland. Its unique design lends itself to be portable, comfortable, and totally adjustable.</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "10" people found this helpful)</p>
             <p class="show_review_content">Ridiculous as it might sound, this may be one of my favorite possessions. I am so convinced of this thing's greatness that I even contemplated buying it for Christmas for everyone who travels. We go abroad (usually to Asia which can be over 24 hours of travel) about twice a year. So I have tried infinite variations of sleeping on a plane. I literally can put this over my head and fall asleep for a couple hours at a time with this Ostrich Pillow. I am even usually in the middle seat with my boyfriend at the window! I pull the sides of the headrest in so there's something little to lean on and just knock out. No sleeping pills needed. I absolutely cannot do that without this pillow without horrible neck cramps or waking up every time I fall into a deeper sleep. It's super soft fabric as well and I like that it's reversible since you're normally not doing laundry on a trip. So you can wear it one way there and the other way coming home and not risk pimples from dirty airplane germs. This is worth every cent if you travel a lot - especially if you have a difficult time sleeping on planes. 10000% recommend! &nbsp;<a target="_blank" href="https://amzn.to/2uQbHlE">By metheliving</a></p>
             <h3 class="show_special_offer"><a target="_blank" href="https://amzn.to/2qaIY66">Special offers: Buy a Used "Ostrich Pillow OSTRICHPILLOW LIGHT Travel Pillow f..." and save 15% off the $45.00 list price.</h3></a>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2IuPOKz">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/ZeUtB9i30KM?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

           <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2Jpirde">8. LANGRIA Astronaut Memory Foam Travel Pillow.</a></h2>
             <a target="_blank" href="https://amzn.to/2Jpirde"><img src="https://1.bp.blogspot.com/-wnTcD4rQjkM/WfB30l92QCI/AAAAAAAAAgs/slY6CTQQoFEPyFdFy-sBDwIwJNV2yI51gCLcBGAs/s640/tzb9rftybynsbeamdqcb.webp" alt="LANGRIA Astronaut Memory Foam Travel Pillow."></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">Designed by LANGRIA for all travelers that are about to face a long-haul trip. This travel pillow uses 100% supportive memory foam filling and eyelet fabric cover, which is skin-friendly, breathable and machine washable. It has a unique shape with a hood to ensure a comfortable deep sleep experience and a strap to adjust the pillow to your neck size!</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "10" people found this helpful)</p>
             <p class="show_review_content">Used this recently for airplane travel and was happy I purchased this product. The pillow rolls up small and easily attaches to your roller luggage. I recommend adding a small D-Ring to the draw string to prevent loss. The pillow stays cool next to your skin and it can used in many different positions. Some memory pillows seem to take forever to adjust to compression weight but this one adjusts quickly. I travel on long flights and this pillow is excellent for exercising the thighs. Just roll it up, place in its bag, place between your thighs, and squeeze for several reps. I have also used this for watching T.V. on the couch and sleeping in the bed. I had a C-5 C6 fusion and it helps support my neck and take weight off on the cervical vertebrae. I laughed at all the travel pillows I've purchased in the past that are now in a land fill. This was the last pillow I had to buy. &nbsp;<a target="_blank" href="https://amzn.to/2JpoA9v">By Hooker CH-47</a></p>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2Jpirde">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/leS_TcZjbF0?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2EpYQWA">9. Cabeau Evolution Memory Foam Travel Pillow</a></h2>
             <a target="_blank" href="https://amzn.to/2EpYQWA"><img src="https://m.media-amazon.com/images/S/aplus-seller-content-images-us-east-1/ATVPDKIKX0DER/A1FUCKNHIQIBHE/B01M32OMAM/Cwj3CuZT5Sv._UX970_TTW__.jpg" alt="Cabeau Evolution Memory Foam Travel Pillow"></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">Whether you’re driving on a road trip or flying on an airplane to your next vacation destination, the Cabeau Evolution travel pillow will allow the most comfort and stability on the plane or in the car for the entirety of your travels.</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "HowMany_People" people found this helpful)</p>
             <p class="show_review_content">I ordered this pillow for a 28h series of flights to South Africa. It was very comfortable and the best neck pillow I've ever used. I slept for hours at a time and experienced minimal neck pain despite being crammed in economy class with the seat back in the upright position. I took off one star because I had an issue with the pillow being a little too large and feel that it should not be a one-size-fits-all item.</br> 
             I'm a 5'4" female and found that the pillow was too high for my neck and made my noise canceling headphones ride up, either pinching my ears or making the headphones slide off completely. I realize this is the ultimate first world problem, but it would have been nice to been able to wear the headphones and neck pillow at the same time. My taller, male colleague did not have the same issue with the pillow. &nbsp;<a target="_blank" href="https://amzn.to/2qcwLNp">By T Dub</a></p>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2EpYQWA">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/tzjSPmxH5q8?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2HdCavN">10. MonPère; a travel pillow</a></h2>
             <a target="_blank" href="https://amzn.to/2HdCavN"><img src="https://ksr-ugc.imgix.net/assets/016/907/918/a0b0b00f7ad7484573eead1087dbdd9a_original.gif?w=680&fit=max&v=1496275436&auto=format&gif-q=50&q=92&s=8b769a940b9b1f3d5896e382fbc6acd7" alt="MonPère"></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">Simply bend one end of the product around yourself or the back your seat and bend the other end into a secure position for your head. You can even use the hand to hold your device for movie time.</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>There is no any review yet.</p>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2HdCavN">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/_2eXFlIbr1o?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

          <!-- <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="Site_Link">Sub_Title</a></h2>
             <a target="_blank" href="Site_Link"><img src="Image_URL" alt="ImageTitle"></a>
             <h5>Source</h5>
             <p class="show_p">Sub_Intro</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "HowMany_People" people found this helpful)</p>
             <p class="show_review_content">Review &nbsp;<a target="_blank" href="Review_Link">By Reviwer</a></p>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="Site_Link">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="YouTube_Link?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>
 -->
       </main>
     
        <aside class="aside">
          <h2>Recent Blog Posts</h2>
          <div class="blog-container">
            
            <div class="widget_container"> <!-- 왼쪽 사이드 탭 -->
              <div class='multitab-section'>
                <ul class='multitab-widget multitab-widget-content-tabs-id'>
                  <li class='multitab-tab'><a href='#multicolumn-widget-id1'>Popular</a></li>
                  <li class='multitab-tab'><a href='#multicolumn-widget-id2'>Tags</a></li>
                  <li class='multitab-tab'><a href='#multicolumn-widget-id3'>Archive</a></li>
                </ul>
                <div class='multitab-widget-content multitab-widget-content-widget-id' id='multicolumn-widget-id1'>
                  <span class='sidebar' id='sidebartab1' preferred='yes'>
                  <p>Phim Captain America: Civil War - Captain America: Nội Chiến Siêu Anh Hùng 2016: Xoay quanh việc Steve Rogers (Captain America) dẫn đầu một nhóm siêu anh hùng với các thành viên của Avengers với mục tiêu tiếp tục nỗ lực để bảo vệ nhân loại. Nhưng sau nhiều vụ việc xảy ra do biệt đội Avengers làm thiệt hại tài sản, chính phủ đã thiết lập cơ quan quản lý và giám sát nhóm. Điều này gây ra sự chia rẽ trong nội bộ nhóm Avengers, tạo nên hai phe đối đầu nhau. Một bên được lãnh đạo bởi Steve Rogers (Captain America) với mong muốn duy trì nhóm để thực hiện mục tiêu bảo vệ nhân loại mà không có sự can thiệp của chính phủ. Phe còn lại là của Tony Stark (Iron Man) luôn hỗ trợ giám sát và có trách nhiệm giải trình mọi việc làm với chính phủ.
                  </p>
                  </span>
                </div>
                <div class='multitab-widget-content multitab-widget-content-widget-id' id='multicolumn-widget-id2'>
                  <span class='sidebar' id='sidebartab2' preferred='yes'>
                  <p>Phim Captain America: Civil War - Captain America: Nội Chiến Siêu Anh Hùng 2016: Xoay quanh việc Steve Rogers (Captain America) dẫn đầu một nhóm siêu anh hùng với các thành viên của Avengers với mục tiêu tiếp tục nỗ lực để bảo vệ nhân loại. Nhưng sau nhiều vụ việc xảy ra do biệt đội Avengers làm thiệt hại tài sản, chính phủ đã thiết lập cơ quan quản lý và giám sát nhóm. Điều này gây ra sự chia rẽ trong nội bộ nhóm Avengers, tạo nên hai phe đối đầu nhau. Một bên được lãnh đạo bởi Steve Rogers (Captain America) với mong muốn duy trì nhóm để thực hiện mục tiêu bảo vệ nhân loại mà không có sự can thiệp của chính phủ. Phe còn lại là của Tony Stark (Iron Man) luôn hỗ trợ giám sát và có trách nhiệm giải trình mọi việc làm với chính phủ.
                  </p>
                  </span>
                </div>
                <div class='-content multitab-widget-content-widget-id' id='multicolumn-widget-id3'>
                  <span class='sidebar' id='sidebartab3' preferred='yes'>
                  <p>Phim Captain America: Civil War - Captain America: Nội Chiến Siêu Anh Hùng 2016: Xoay quanh việc Steve Rogers (Captain America) dẫn đầu một nhóm siêu anh hùng với các thành viên của Avengers với mục tiêu tiếp tục nỗ lực để bảo vệ nhân loại. Nhưng sau nhiều vụ việc xảy ra do biệt đội Avengers làm thiệt hại tài sản, chính phủ đã thiết lập cơ quan quản lý và giám sát nhóm. Điều này gây ra sự chia rẽ trong nội bộ nhóm Avengers, tạo nên hai phe đối đầu nhau. Một bên được lãnh đạo bởi Steve Rogers (Captain America) với mong muốn duy trì nhóm để thực hiện mục tiêu bảo vệ nhân loại mà không có sự can thiệp của chính phủ. Phe còn lại là của Tony Stark (Iron Man) luôn hỗ trợ giám sát và có trách nhiệm giải trình mọi việc làm với chính phủ.
                  </p>
                  </span>
                </div>
              </div><!--/.multitab-section-->
            </div><!--/.widget_container-->
            
            <figure class="blog-post blog-post-1">
              <h3 class="blog-titles">Blog Title 1</h3>
              <div>
                <img src="https://2.bp.blogspot.com/-A6Jv6RpDtIk/UA1ofMnVp6I/AAAAAAAAAHA/CfDFigTK_VM/s1600/vintage-golf-clothing-men1.jpg" />
              </div>
            </figure>
    
            <figure class="blog-post blog-post-2">
              <h3 class="blog-titles">Blog Title 2</h3>
              <div>
                <img src="https://3.bp.blogspot.com/-5rNMDJFfNTY/T9H57b_qAAI/AAAAAAAAEAU/emAx9peuAwM/s640/vintage1.jpg" alt="" />
              </div>
            </figure>
    
            <figure class="blog-post blog-post-3">
              <h3 class="blog-titles">Blog Title 3</h3>
              <div>
                <img src="https://37.media.tumblr.com/tumblr_lkl0f6RKYY1qdyq1bo1_500.jpg" alt="" />
              </div>
            </figure>
    
            <figure class="blog-post blog-post-4">
              <h3 class="blog-titles">Blog Title 4</h3>
              <div>
                <img src="http://nibsblog.files.wordpress.com/2012/09/elementaryschoolkidsbus1979-opt.jpg" alt="" />
              </div>
            </figure>

          </div><!--/.blog-container-->
        </aside>
      </div><!--/.blogs_wrapper-->
            
    </div>
  </div>
</div>
      