<div id="wrapper">
  <div id="main">
    <div class="inner">
      <%= render 'shared/header' %>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
              
      <div id="description">
        <h1>Responsive Image Gallery with Hover Effect</h1>
      </div>
  
      <div class="main_wrapper">
        <div class="settings">
          <div class="square square--purple">
            <h2>Purple square</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excellent, great pickup!!</p>
          </div>
          <div class="square square--blue">
            <h2>Blue square</h2>
            <p>Quick catchup?</p>
          </div> 
        </div>
        <div class="comparison">
          <div class="square square--red">
            <h2>Tomato anyone?</h2>
            <p>Tomato is the best, period.</p>
          </div>
        </div>
      </div>
      
      <div class="blogs_wrapper">
<!-- 
        <main class="main">
          <div class="blog_home_post">
            <div class="card-side">
              <a href="#" class="card-header"><img src="https://3.bp.blogspot.com/-0Ov80MwVP0Q/WijjYA_NgdI/AAAAAAAACCM/OJpvy91JjoIa5AZirVuElHocK2lsxPYBwCLcBGAs/s1600/five%2B%25281%2529.png"></a>
              <div class="card-content">
                <h3><a href="#">Title of the Card</a></h3>
                <p><a href="#">Card is going strong. This is a strong card layout. I think this is a really strong card layout system.</a></p>
              </div>
            </div>
          </div>
        </main> -->

        <main class="main">

          <div class="blog-card">
            <div class="photo photo1" style="background: url(https://3.bp.blogspot.com/-0Ov80MwVP0Q/WijjYA_NgdI/AAAAAAAACCM/OJpvy91JjoIa5AZirVuElHocK2lsxPYBwCLcBGAs/s1600/five%2B%25281%2529.png) center no-repeat; background-size: cover;" ></div>
            <ul class="details">
              <li class="author"><a href="#">Oh,i gotta buy this</a></li>
              <li class="date">Apr. 04, 2018</li>
            </ul>
            <div class="description">
              <h1 class="blog_home_post_h1">10 Awesome Smart Home Gadgets You Need To See</h1>
              <p class="summary">Looking to make your home just a little smarter? While still in its infancy, the number of smart home products—devices that let you control your lighting, thermostat, or even your crock pot from your smartphone—is rapidly growing. You can pick and choose your favorite gadgets to assemble an affordable intelligent abode on your own terms, or opt for an entire smart home system that does all the work for you. Here are some of smart home systems and individual gadgets.</p>
              <a href="/blogs/blogs_01">Read More</a>
            </div>
          </div>

          <div class="blog-card">
            <div class="photo photo1" style="background: url(https://i.pinimg.com/564x/d7/b5/33/d7b5337801205257c9737143afab4197.jpg) center no-repeat; background-size: cover;" ></div>
            <ul class="details">
              <li class="author"><a href="#">Oh,i gotta buy this</a></li>
              <li class="date">Apr. 03, 2018</li>
            </ul>
            <div class="description">
              <h1 class="blog_home_post_h1">5 Awesome &amp; Useful &quot;BackPack&quot;</h1>
              <p class="summary">Travel is a part of our daily life. We’ve lugged a lot of stuff, camera or something around with us, whether it’s just for the day, a weekend trip, or a weeklong vacation. And you may concern yourself with someone stealing your belongings, your phone running out of juice, or forgetting where you put certain must-have items within your bag.  If you’re the same way, you know how hard it is to find a practical bag to haul your gear when you’re on the go. This collection has found a way to solve that with these awesome & useful backpacks that will accompany you on your everyday adventures.</p>
              <a href="/blogs/blogs_02">Read More</a>
            </div>
          </div>

          <!-- <div class="blog-card">
            <div class="photo photo1" style="background: url(ImageURL) center no-repeat; background-size: cover;" ></div>
            <ul class="details">
              <li class="author"><a href="#">Oh,i gotta buy this</a></li>
              <li class="date">Month. Date, 2018</li>
            </ul>
            <div class="description">
              <h1 class="blog_home_post_h1">Main_Title</h1>
              <p class="summary">Main_intro</p>
              <a href="Blog_URL">Read More</a>
            </div>
          </div> -->


        </main>
      
        <aside class="aside">
          <h2>Recent Blog Posts</h2>
          <div class="blog-container">
            
            <div class="widget_container"> <!-- 왼쪽 사이드 탭 -->
              <div class='multitab-section'>
                <ul class='multitab-widget multitab-widget-content-tabs-id'>
                  <li class='multitab-tab'><a href='#multicolumn-widget-id1'>Popular</a></li>
                  <li class='multitab-tab'><a href='#multicolumn-widget-id2'>Tags</a></li>
                  <li class='multitab-tab'><a href='#multicolumn-widget-id3'>Archive</a></li>
                </ul>
                <div class='multitab-widget-content multitab-widget-content-widget-id' id='multicolumn-widget-id1'>
                  <span class='sidebar' id='sidebartab1' preferred='yes'>
                  <p>Phim Captain America: Civil War - Captain America: Nội Chiến Siêu Anh Hùng 2016: Xoay quanh việc Steve Rogers (Captain America) dẫn đầu một nhóm siêu anh hùng với các thành viên của Avengers với mục tiêu tiếp tục nỗ lực để bảo vệ nhân loại. Nhưng sau nhiều vụ việc xảy ra do biệt đội Avengers làm thiệt hại tài sản, chính phủ đã thiết lập cơ quan quản lý và giám sát nhóm. Điều này gây ra sự chia rẽ trong nội bộ nhóm Avengers, tạo nên hai phe đối đầu nhau. Một bên được lãnh đạo bởi Steve Rogers (Captain America) với mong muốn duy trì nhóm để thực hiện mục tiêu bảo vệ nhân loại mà không có sự can thiệp của chính phủ. Phe còn lại là của Tony Stark (Iron Man) luôn hỗ trợ giám sát và có trách nhiệm giải trình mọi việc làm với chính phủ.
                  </p>
                  </span>
                </div>
                <div class='multitab-widget-content multitab-widget-content-widget-id' id='multicolumn-widget-id2'>
                  <span class='sidebar' id='sidebartab2' preferred='yes'>
                  <p>Phim Captain America: Civil War - Captain America: Nội Chiến Siêu Anh Hùng 2016: Xoay quanh việc Steve Rogers (Captain America) dẫn đầu một nhóm siêu anh hùng với các thành viên của Avengers với mục tiêu tiếp tục nỗ lực để bảo vệ nhân loại. Nhưng sau nhiều vụ việc xảy ra do biệt đội Avengers làm thiệt hại tài sản, chính phủ đã thiết lập cơ quan quản lý và giám sát nhóm. Điều này gây ra sự chia rẽ trong nội bộ nhóm Avengers, tạo nên hai phe đối đầu nhau. Một bên được lãnh đạo bởi Steve Rogers (Captain America) với mong muốn duy trì nhóm để thực hiện mục tiêu bảo vệ nhân loại mà không có sự can thiệp của chính phủ. Phe còn lại là của Tony Stark (Iron Man) luôn hỗ trợ giám sát và có trách nhiệm giải trình mọi việc làm với chính phủ.
                  </p>
                  </span>
                </div>
                <div class='-content multitab-widget-content-widget-id' id='multicolumn-widget-id3'>
                  <span class='sidebar' id='sidebartab3' preferred='yes'>
                  <p>Phim Captain America: Civil War - Captain America: Nội Chiến Siêu Anh Hùng 2016: Xoay quanh việc Steve Rogers (Captain America) dẫn đầu một nhóm siêu anh hùng với các thành viên của Avengers với mục tiêu tiếp tục nỗ lực để bảo vệ nhân loại. Nhưng sau nhiều vụ việc xảy ra do biệt đội Avengers làm thiệt hại tài sản, chính phủ đã thiết lập cơ quan quản lý và giám sát nhóm. Điều này gây ra sự chia rẽ trong nội bộ nhóm Avengers, tạo nên hai phe đối đầu nhau. Một bên được lãnh đạo bởi Steve Rogers (Captain America) với mong muốn duy trì nhóm để thực hiện mục tiêu bảo vệ nhân loại mà không có sự can thiệp của chính phủ. Phe còn lại là của Tony Stark (Iron Man) luôn hỗ trợ giám sát và có trách nhiệm giải trình mọi việc làm với chính phủ.
                  </p>
                  </span>
                </div>
              </div><!--/.multitab-section-->
            </div><!--/.widget_container-->
            
            <figure class="blog-post blog-post-1">
              <h3 class="blog-titles">Blog Title 1</h3>
              <div>
                <img src="https://2.bp.blogspot.com/-A6Jv6RpDtIk/UA1ofMnVp6I/AAAAAAAAAHA/CfDFigTK_VM/s1600/vintage-golf-clothing-men1.jpg" />
              </div>
            </figure>
    
            <figure class="blog-post blog-post-2">
              <h3 class="blog-titles">Blog Title 2</h3>
              <div>
                <img src="https://3.bp.blogspot.com/-5rNMDJFfNTY/T9H57b_qAAI/AAAAAAAAEAU/emAx9peuAwM/s640/vintage1.jpg" alt="" />
              </div>
            </figure>
    
            <figure class="blog-post blog-post-3">
              <h3 class="blog-titles">Blog Title 3</h3>
              <div>
                <img src="https://37.media.tumblr.com/tumblr_lkl0f6RKYY1qdyq1bo1_500.jpg" alt="" />
              </div>
            </figure>
    
            <figure class="blog-post blog-post-4">
              <h3 class="blog-titles">Blog Title 4</h3>
              <div>
                <img src="http://nibsblog.files.wordpress.com/2012/09/elementaryschoolkidsbus1979-opt.jpg" alt="" />
              </div>
            </figure>

          </div><!--/.blog-container-->
        </aside>
      </div><!--/.blogs_wrapper-->
            
    </div><!--/.inner-->
  </div><!--/#main-->
</div><!--/#wrapper-->
      