<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
        <%= render 'shared/header' %>
        <section id="banner">
          <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

          <div class="blog">
            
             <div class="blog_header">
              <h1>10 Awesome Smart Home Gadgets You Need To See :D</h1>
              <img src="https://3.bp.blogspot.com/-0Ov80MwVP0Q/WijjYA_NgdI/AAAAAAAACCM/OJpvy91JjoIa5AZirVuElHocK2lsxPYBwCLcBGAs/s1600/five%2B%25281%2529.png">
              <h3>Looking to make your home just a little smarter? While still in its infancy, the number of smart home products—devices that let you control your lighting, thermostat, or even your crock pot from your smartphone—is rapidly growing. You can pick and choose your favorite gadgets to assemble an affordable intelligent abode on your own terms, or opt for an entire smart home system that does all the work for you. Here are some of smart home systems and individual gadgets.</h3>
             </div></br>
             
             <!-- Amazon Add Section-->
             
             <div class="blog_body">
               <h1>1. Echo & Alexa Devices</h1>
               <p class="blog_body_text">Echo and other Alexa devices let you instantly connect to Alexa to play music, control your smart home, get information, news, weather, and more using just your voice.</p>
               <img src="https://1.bp.blogspot.com/-aq2_JyG5ZGU/Wh-hVookvvI/AAAAAAAAB3c/EtxPUjF3PzkQy6ONHAlACMPp8wxUtNO_ACLcBGAs/s1600/andrew-gebharts-echo-family-pics-1.jpg">
               <div class="source"><a href="https://www.amazon.com/b/?ie=UTF8&amp;node=9818047011&amp;ref_=fs_ods_fs_aucc_cp&_encoding=UTF8&tag=scarlet3628-20&linkCode=ur2&linkId=1a4f3f152f78740657bdc0479729a8c4&camp=1789&creative=9325" target="_blank"><p>via Amazon.com</p></a></div>
               <p class="blog_body_text">Using Alexa is as simple as asking a question. Just ask to play music, read the news, control your smart home, tell a joke, and more—Alexa will respond instantly. Whether you are at home or on the go, Alexa is designed to make your life easier by letting you voice-control your world.</p>
               <!--<p>Promisig Review : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sapiente, eligendi qui modi nemo neque veritatis aspernatur! Voluptates assumenda eius perspiciatis, impedit atque tenetur corrupti, ducimus libero, architecto reiciendis odio.</p> -->
               <a href="https://www.amazon.com/b/?ie=UTF8&amp;node=9818047011&amp;ref_=fs_ods_fs_aucc_cp&_encoding=UTF8&tag=scarlet3628-20&linkCode=ur2&linkId=1a4f3f152f78740657bdc0479729a8c4&camp=1789&creative=9325" target="_blank", class="button">Learn More Here</a>
             
            
               <h1>2. August Smart Lock 2nd Generation.</h1>
               <p class="blog_body_text">Your smartphone is now a smart key—and more. Lock and unlock your door, create virtual keys for guests, and keep track of who comes and goes, all from your iOS or Android smartphone.</p>
               <img src="https://2.bp.blogspot.com/-4221pU3Hl88/Wh-Zl-nG9TI/AAAAAAAAB3A/d93vvAxPGLM4_Hfb8-hzLgK50-p0zL4IQCLcBGAs/s1600/Untitled%2Bdesign.png">
               <div class="source"><a href="http://amzn.to/2ARiKtH" target="_blank"><p>via Amazon.com</p></a></div>
               <p class="blog_body_text">No more fumbling for keys. Control access to your home with Amazon Alexa, Apple HomeKit or your smartphone. Auto-unlocks your door as you approach and automatically locks your door after you enter. No more hiding keys under the mat with virtual keys and the 24/7 activity log lets you know who opens your door and when. Your exterior door hardware stays the same. August Smart Lock replaces only the interior of your standard deadbolt. Install yourself in minutes.</p>
               <!--<p>Promisig Review : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sapiente, eligendi qui modi nemo neque veritatis aspernatur! Voluptates assumenda eius perspiciatis, impedit atque tenetur corrupti, ducimus libero, architecto reiciendis odio.</p> -->
               <a href="http://amzn.to/2ARiKtH" target="_blank", class="button">Learn More Here</a>
            
              
               <h1>3. Ring Video Doorbell Pro</h1>
               <p class="blog_body_text">With a motion-activated camera, two-way audio and brilliant HD video, you’ll never miss a visitor again. See, hear and speak to whoever is at your door in real time from your smartphone, tablet or desktop. Day or night, rain or shine—you’re always home.</p>
               <img src="https://1.bp.blogspot.com/-d_C7KpO9KxQ/Wh-pBftW67I/AAAAAAAAB30/3oXA_dsvRcoedLpepkIs4eJl3SrqkEmvwCLcBGAs/s1600/ring.gif">
               <div class="source"><a href="http://amzn.to/2AQmbk8" target="_blank"><p>via Amazon.com</p></a></div>
               <p class="blog_body_text">With four interchangeable faceplates included in your purchase, you can select a finish that fits your style. Choose between Satin Black, Venetian, Satin Nickel and Pearl White to customize your doorbell to match your home.</p>
               <!--<p>Promisig Review : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sapiente, eligendi qui modi nemo neque veritatis aspernatur! Voluptates assumenda eius perspiciatis, impedit atque tenetur corrupti, ducimus libero, architecto reiciendis odio.</p> -->
               <a href="http://amzn.to/2AQmbk8" target="_blank", class="button">Learn More Here</a>
             
             
            
               <h1>4. Nest Learning Thermostat 3rd Generation</h1>
               <p class="blog_body_text">The Nest Learning Thermostat now has a ring to fit any home’s style. Choose copper to add a warm touch. Stainless steel is perfect for a classic, versatile look. And white looks great in simple, modern homes.</p>
               <img src="https://3.bp.blogspot.com/-C72HAmkaTs8/Wh-_M9LmK5I/AAAAAAAAB4I/yg3GQL_DwoYZfvApX5KHeID8FX44aWNNwCLcBGAs/s1600/maxresdefault.jpg">
               <div class="source"><a href="http://amzn.to/2C9CXuU" target="_blank"><p>via Amazon.com</p></a></div>
               <p class="blog_body_text">Your thermostat controls half your energy bill – more than appliances, more than electronics. So shouldn’t it help you save energy? Independent studies have proven that the Nest Learning Thermostat saved an average of 10-12% on heating bills and 15% on cooling bills. That means that in two years, it can pay for itself. The Nest Learning Thermostat is the first thermostat to get ENERGY STAR certified.</p>
               <!--<p>Promisig Review : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sapiente, eligendi qui modi nemo neque veritatis aspernatur! Voluptates assumenda eius perspiciatis, impedit atque tenetur corrupti, ducimus libero, architecto reiciendis odio.</p> -->
               <a href="http://amzn.to/2C9CXuU" target="_blank", class="button">Learn More Here</a>
             
             
            
               <h1>5. Rachio Smart Sprinkler Controller</h1>
               <p class="blog_body_text">No more watering in the rain. Rachio monitors local weather conditions to make sure you only water when necessary. Weather Intelligence will automatically skip a scheduled watering if rain is predicted and adjust watering times as the seasons change, saving you water and money.</p>
               <img src="https://2.bp.blogspot.com/-zKsLGMA_vCU/Wh_Q-t7Sg9I/AAAAAAAAB40/9LIldlCyjOMM7Cbw7F7IJLjGvt9qz8B6wCLcBGAs/s640/spring.gif">
               <div class="source"><a href="http://amzn.to/2z6n3lI" target="_blank"><p>via Amazon.com</p></a></div>
               <p class="blog_body_text">Take the guesswork out of watering with a Rachio Smart Sprinkler Controller. The easy-to-use mobile app lets you manage your sprinklers without running back and forth to the controller, while automatic weather adjustments mean no more watering in the rain. Get the peace of mind - Rachio knows just how much water your yard needs. Control your sprinklers using a smartphone or with category-leading smart home integrations, including Amazon Alexa and more.</p>
               <!--<p>Promisig Review : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sapiente, eligendi qui modi nemo neque veritatis aspernatur! Voluptates assumenda eius perspiciatis, impedit atque tenetur corrupti, ducimus libero, architecto reiciendis odio.</p> -->
               <a href="http://amzn.to/2z6n3lI" target="_blank", class="button">Learn More Here</a>
             
             
            
              <iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=48&l=ur1&category=amzn_smp_ne_dec_1210&banner=00P79B487J2YT3MVVDG2&f=ifr&linkID=22a37c30fe459f7947a6295d6798fda9&t=scarlet3628-20&tracking_id=scarlet3628-20" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
            
             
             
               <h1>6. Awair: Know What's in the Air You Breathe - Air Quality Monitor</h1>
               <p class="blog_body_text">Do you know what's in the air you're breathing? Truth is, indoor air can be 5x more polluted than outside, affecting allergies, asthma, eczema, sleep, and much more. Awair tracks toxins in your air and gives you recommendations to help you keep it clean and safe. Awair gives you the knowledge you need to improve your indoor environment and take control.</p>
               <img src="https://3.bp.blogspot.com/-hBucYDXVEs8/Wh_Yp0DWqlI/AAAAAAAAB5I/fZM5I_ww7zoKgrhLC0caiPe_BftCUB43ACEwYBhgL/s1600/screenshot-2015-05-28-17-07-31.png">
               <div class="source"><a href="http://amzn.to/2AeCcPN" target="_blank"><p>via Amazon.com</p></a></div>
               <p class="blog_body_text">Awair is focused on empowering and equipping you, so you can take control and have pride in your environment. Though it uses the best technology to provide accuracy and confidence, Awair doesn't feel like technology. It's about keeping you safe and healthy, without having to sacrifice on looks.</p>
               <!--<p>Promisig Review : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sapiente, eligendi qui modi nemo neque veritatis aspernatur! Voluptates assumenda eius perspiciatis, impedit atque tenetur corrupti, ducimus libero, architecto reiciendis odio.</p> -->
               <a href="http://amzn.to/2AeCcPN" target="_blank", class="button">Learn More Here</a>
             
             
          
               <h1>7. iHome iSP8 Wi-FI SmartPlug</h1>
               <p class="blog_body_text">WiFi-Enabled Wall Plug - Enjoy global remote access and control any device connected to your Smart Plug from any location where you have internet access via your compatible iOS or Android devices and the iHome Control App.</p>
               <img src="https://2.bp.blogspot.com/-sbbyJVFsRhA/WiEYYHgsTtI/AAAAAAAAB5k/D6kwdLAseuAHfrPt84WiRa5Z0MHWyM9QQCLcBGAs/s1600/Untitled%2Bdesign.png">
               <div class="source"><a href="http://amzn.to/2ARDYrs" target="_blank"><p>via Amazon.com</p></a></div>
               <p class="blog_body_text">Smart plug lets you control any connected device from home or remotely: turn off the heat, turn on a light- it's all at your fingertips. Home kit system from Apple makes control of compliant Devices simple and standardized. Control plugs with Siri individually or as a group. Works with wink app and Nest learning thermostats. Power consumption monitoring of Devices connected to smart plug. Works with included remote control to turn Devices on or off without using a smartphone or tablet.</p>
               <!--<p>Promisig Review : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sapiente, eligendi qui modi nemo neque veritatis aspernatur! Voluptates assumenda eius perspiciatis, impedit atque tenetur corrupti, ducimus libero, architecto reiciendis odio.</p> -->
               <a href="http://amzn.to/2ARDYrs" target="_blank", class="button">Learn More Here</a>
            
             
            
               <h1>8. WaterHawk 6" Smart Rain Shower Head</h1>
               <p class="blog_body_text">The WaterHawk 6” inch Smart Rain Shower Head with LED display helps you save water and money by monitoring water usage and temperature while showering.</p>
               <img src="https://1.bp.blogspot.com/-vEEWZvmT9l8/WiEbvkjdH2I/AAAAAAAAB54/xIWE19M_cycxXe3R_TY7k4I63kIU_IbRgCLcBGAs/s640/7DM29899_featured.jpg">
               <div class="source"><a href="http://amzn.to/2AQmbAM" target="_blank"><p>via Amazon.com</p></a></div>
               <p class="blog_body_text">The WaterHawk 6" Smart Rain Shower Head puts you in control of your water usage by providing you with real-time data on water temperature and water usage in Gallons Per Minute displayed in the integrated LED Display. Gamify your showers and see which family member can take a shower using the least amount of water to have fun and save money on your next water bill. WaterHawk is an incredible tool for households looking to conserve water and conserve money while still having a great rainfall showerhead.</p>
               <!--<p>Promisig Review : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sapiente, eligendi qui modi nemo neque veritatis aspernatur! Voluptates assumenda eius perspiciatis, impedit atque tenetur corrupti, ducimus libero, architecto reiciendis odio.</p> -->
               <a href="http://amzn.to/2AQmbAM" target="_blank", class="button">Learn More Here</a>
             
             
           
               <h1>9. Neato Botvac Connected Wi-Fi Enabled Robot Vacuum</h1>
               <p class="blog_body_text">Still pushing a vacuum let Neato Wi-Fi enabled Robot do the vacuuming for you. With the Neato app on your smartphone, you can start, schedule, and monitor your cleaning from wherever you are. D-shape with cornerclever-exclusive D-Shape with CornerClever technology gets to where dirt hides-in corners and along walls.</p>
               <img src="https://2.bp.blogspot.com/-UU_1yr6Mg_g/WiEiCypW35I/AAAAAAAAB6Q/3TqSffgpEVUtCVBJZtmKs4GbMPMxcVNYQCLcBGAs/s640/321.png">
               <div class="source"><a href="http://amzn.to/2z6tTYq" target="_blank"><p>via Amazon.com</p></a></div>
               <p class="blog_body_text">Fully-featured, Botvac Connected is the smartest, most powerful, versatile solution for automatically clean floors, everyday. With dual cleaning modes and a wide cleaning path, Botvac Connected efficiently cleans room-to-room, recharges automatically and resumes cleaning until the entire floor is clean. Works on all floor types. Use the Neato app to clean your floors anytime, from anywhere. Great for homes with pets and allergies.</p>
               <!--<p>Promisig Review : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sapiente, eligendi qui modi nemo neque veritatis aspernatur! Voluptates assumenda eius perspiciatis, impedit atque tenetur corrupti, ducimus libero, architecto reiciendis odio.</p> -->
               <a href="http://amzn.to/2z6tTYq" target="_blank", class="button">Learn More Here</a>
             
             
          
               <h1>10. Evapolar Personal Air Cooler + Humidifiere</h1>
               <p class="blog_body_text">Creates a Cool Personal Microclimate using natural evaporative technology, best for hot dry climates</p>
               <img src="https://4.bp.blogspot.com/-TYaJUqtnXOM/WiEm_oIprqI/AAAAAAAAB6k/h7yQYky6JIYBDHVDD7kLacWts3I6J-4QwCLcBGAs/s640/111.jpg">
               <div class="source"><a href="http://amzn.to/2z5SI6t" target="_blank"><p>via Amazon.com</p></a></div>
               <p class="blog_body_text">Evapolar is a personal air cooler that allows you to create your own micro climate. Evapolar is a 3 in 1 device: it cools, humidifies, and cleans the dust particles from the air making it healthier for you. It doesn't take much time or effort to install Evapolar – just pour water in the tank, plug it in and enjoy. This smart new solution for the cooling market provides a device that actually cools the air,using the size and power consumption of a small fan.</p>
               <!--<p>Promisig Review : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sapiente, eligendi qui modi nemo neque veritatis aspernatur! Voluptates assumenda eius perspiciatis, impedit atque tenetur corrupti, ducimus libero, architecto reiciendis odio.</p> -->
               <a href="http://amzn.to/2z5SI6t" target="_blank", class="button">Learn More Here</a>
            
             
            
               <script type="text/javascript">
                amzn_assoc_placement = "adunit0";
                amzn_assoc_tracking_id = "3628-20";
                amzn_assoc_ad_mode = "search";
                amzn_assoc_ad_type = "smart";
                amzn_assoc_marketplace = "amazon";
                amzn_assoc_region = "US";
                amzn_assoc_default_search_phrase = "with alexa";
                amzn_assoc_default_category = "All";
                amzn_assoc_linkid = "8e4056cd7c49b6d726c657f30e19d527";
                amzn_assoc_search_bar = "true";
                amzn_assoc_search_bar_position = "top";
                amzn_assoc_title = "Shop Related Products";
               </script>
               <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
             </div>
             
             <!-- <div class="blog_footer">
                <h2>Thanks to all my readers:D</h2>
                <p>★ Note ★</p>
                <p> All These products in this website belong to the website owner and the product owner.</p>
                <p>- "Oh,i gotta buy this" acknowledge some content in this process, the aim is to provide for the convenience to the user. By specifying the source, we respect other people`s rights, as well as to provide support for those who own the contents. Please let me know if your writing has been copied in a way that infringes on copyright infringement, and I will try to work hard to resolve this issue.</p>
                <p>- "Oh, i gotta buy this" only want to show the coolest gadgets and best inventions you can find and buy on the website. We`re not interested in spamming any boring or lame products at you. All you need to know is in our website, you are going to find a lot of coolest & awesome items that you are most definitely going to like and perhaps even get tempted to buy some of them, so hang on tight to your wallet. Enjoy!</p>
                <p>- Our website contains affiliate link which means that if you click on one of the product links and buy we’ll receive a small commission. This help supports us and allows us to continue to make good website like this. Thanks</p> 
                <ul class="actions">
									<li><a href="http://0igottabuythis.blogspot.com/" target="_blank", class="button">Read More Magazine</a></li>
									<li><a href="/" class="button">Back To Home</a></li>
								</ul>
             </div>
              -->
             
          
          </div><!-- End class="blog" -->  
				</section>
			</div><!-- End class="inner" -->
		</div><!-- End id="main" -->
	<%= render 'shared/sidebar' %>	
</div><!-- End id="wrapper" -->

<!-- <script>
function myFunction() {
    var x = document.getElementById('sidebar');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
 -->


