<div id="wrapper">
  <div id="main">
    <div class="inner">
      <%= render 'shared/header' %>      
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

      <!-- <div class="flex main">
        <div class="flex-container">
          <a href="/search/quicksearch"><img src="https://i.pinimg.com/564x/dd/12/e5/dd12e5539f4b1455a554c256c6be4eae.jpg" class="flex-container-images" alt="Find Deals">
          <p class="flex-container-heading">Quick Way To Find The Best Deals</p></a>
        </div>
        <div class="flex-container">
          <a href="blogs/blogs_home"><img src="https://i.pinimg.com/564x/22/a1/fc/22a1fcb216d5e4292d8b3388ba5e4a99.jpg" class="flex-container-images" alt="Awesome Blogs">
          <p  class="flex-container-heading">Blogs</p></a>
        </div>
        <div class="flex-container">
          <a href="#"><img src="https://i.pinimg.com/564x/25/99/84/2599841f7d0ff185f851f811c727d8ed.jpg" class="flex-container-images" alt="Save your money">
          <p class="flex-container-heading">Saving Your Money</p></a>
        </div>
        <div class="flex-container">
          <a href="/ecommerces/gadgets"><img src="https://i.pinimg.com/564x/ff/6a/ca/ff6aca78182d5ff9c00eb9efeb04e71c.jpg" class="flex-container-images" alt="Awesome Gadgets">
          <p class="flex-container-heading">Awesome Gadgets</p></a>
        </div>
      </div> -->
        
      <div class="blogs_wrapper">
        
        <main class="main">

         <div class="show_header">


         <!-- <div class="show_header">
           <h1 class="show_main_title">Main_title</h1>
           <ul class="blog_post_date">
            <li class="posted"><p>posted by Oh,i gotta buy this,</p></li>
            <li class="posted_date"><p>Date.Month.2018</p></li>
           </ul>
           <img src="Main_Image" alt="ImageTitle">
           <p>Main_Intro</p>
         </div> -->

          <!-- <div class="show_body">
           <h2 class="show_sub_title"><a target="_blank" href="Site_Link">Sub_Title</a></h2>
           <p>Sub_Intro</p>
           <a target="_blank" href="Site_Link"><img src="Image_URL" alt="Iamge_Title"></a>
           <h5>Source</h5>
           <p class="show_p">Sub_Discription</p>
           <button><a target="_blank" href="Site_Link">Learn More</a></button>
         </div> -->

          <div class="show_header">
           <h1 class="show_main_title">5 Awesome &amp; Useful &quot;BackPack&quot;</h1>
           <ul class="blog_post_date">
            <li class="posted"><p>posted by Oh,i gotta buy this,</p></li>
            <li class="posted_date"><p>Apr.04.2018</p></li>
           </ul>
           <img src="https://i.pinimg.com/564x/d7/b5/33/d7b5337801205257c9737143afab4197.jpg" alt="Awesome &amp; Useful &quot;BackPack&quot;">
           <p>Travel is a part of our daily life. We’ve lugged a lot of stuff, camera or something around with us, whether it’s just for the day, a weekend trip, or a weeklong vacation. And you may concern yourself with someone stealing your belongings, your phone running out of juice, or forgetting where you put certain must-have items within your bag.  If you’re the same way, you know how hard it is to find a practical bag to haul your gear when you’re on the go. This collection has found a way to solve that with these awesome & useful backpacks that will accompany you on your everyday adventures.</p>
         </div>

         <div class="show_body">
           <h2 class="show_sub_title"><a target="_blank" href="https://goo.gl/zAZt6J">1. Airpaq - The Backpack Made From Airbags and Seat Belts.</a></h2>
           <a target="_blank" href="https://goo.gl/zAZt6J"><img src="https://4.bp.blogspot.com/-bPSZL-jqfPg/WfVwbnA25sI/AAAAAAAAAiM/3lK9Cr5_oSUwZDUfx5FbBDFQ5R9Fb-tEQCLcBGAs/s1600/Airpaq1.jpg" alt="Airpaq"></a>
           <h5>via Kickstarter.com</h5>
           <p class="show_p">Airpaq upcycles airbags and seat belts into backpacks. These materials are designed to perform in extreme situations, making Airpaq a sustainable and quality product. By collecting materials from different car models/brands/years we encounter a huge variety of materials, which make each Airpaq through little details unique.</p>
           <button><a target="_blank" href="https://goo.gl/zAZt6J">Learn More</a></button>
         </div>

         <div class="show_body">
           <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2H92h7a">2. ClickPack Pro - A Functional Anti-theft BackPack.</a></h2>
           <a target="_blank" href="https://amzn.to/2H92h7a"><img src="https://4.bp.blogspot.com/-meh7XKr9VPw/WfVx-PUP9tI/AAAAAAAAAiY/n4ceKyrwigA-CIdgfX8Li8B0tlPpMGMQACLcBGAs/s1600/gc2nn5cfjmp9rkm8lgco.webp" alt="ClickPack Pro"></a>
           <h5>via Amazon.com</h5>
           <p class="show_p">Click anti-theft system lets you enjoy the scenery. Triple anti-theft protection. TSA lock, retractable metal wire lock, YKK double layer, explosion proof zipper, special slash resistant fabric.</p>
           <button><a target="_blank" href="https://amzn.to/2H92h7a">Learn More</a></button>
         </div>

         <div class="show_body">
           <h2 class="show_sub_title"><a target="_blank" href="https://goo.gl/eE35nb">3. Bloqbag: The modular backpack and messenger bag.</a></h2>
           <p>It’s a backpack, it’s a messenger bag, it's the last bag you'll ever need. A revolutionary way to be organized and ready for anything.</p>
           <a target="_blank" href="https://goo.gl/eE35nb"><img src="https://ksr-ugc.imgix.net/assets/018/100/667/ba9cf815e96a5673a5c39053449be8d6_original.png?crop=faces&w=1024&h=576&fit=crop&v=1504666200&auto=format&q=92&s=d50c8f803e2c2382c7c06e053d11ac88" alt="loqbag: The modular backpack and messenger bag"></a>
           <h5>via Kickstarter.com</h5>
           <p class="show_p">Our daily demands change on a dime. Our lives are increasingly mobile and having the right stuff, in the right bag, at the right moment requires military-level planning and more than a dash of good luck. Keeping a bag light enough to easily carry, but still packed with what we need, when we need it can be a constant challenge. If you’ve experienced misplaced items, last-minute scrambles, and "I forgot to pack it!” moments, then you get it. Add to that the piles of unused bags, cluttered drawers full of gear, and a sore back from carrying too much, and it’s time for a change.</p>
           <button><a target="_blank" href="https://goo.gl/eE35nb">Learn More</a></button>
         </div>

         <div class="show_body">
           <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2JiMuU3">4. LOCTOTE Flak Sack - The Original Theft-Resistant Drawstring Backpack.</a></h2>
           <a target="_blank" href="https://amzn.to/2JiMuU3"><img src="https://2.bp.blogspot.com/-uYZST0tDakg/WfWDp42pZSI/AAAAAAAAAi0/lVUVmEQaC1Auw0OzQDDkJZVysPj0nG9aACLcBGAs/s1600/ag9lsce0bow9puywgf37.jpg" alt="OCTOTE Flak Sack - The Original Theft-Resistant Drawstring Backpack."></a>
           <h5>via Amazon.com</h5>
           <p class="show_p">The Flak Sack by the Loctote Industrial Bag Co. is the toughest drawstring backpack ever. Made with a double layer of heavy-duty slash-resistant fabric, this lockable bag is like a portable safe for your valuables. Simply lock the bag closed or to any secure object – and leave it without worrying about it being tampered with or stolen.</p>
           <button><a target="_blank" href="https://amzn.to/2JiMuU3">Learn More</a></button>
         </div>

         <div class="show_body">
           <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2GBcTL9">5. UNO II - The First Interchangeable Backpack.</a></h2>
           <a target="_blank" href="https://amzn.to/2GBcTL9"><img src="https://1.bp.blogspot.com/-pr_p0sI6Xa4/WfWmAWIxmHI/AAAAAAAAAkw/kIgWDk1ET1oPc8eYA6oCXDvcwdbuIU07wCLcBGAs/s1600/4cefd65f24d8bd20fbaf5d5c9a35861b_original.jpg" alt="UNO II - The First Interchangeable Backpack."></a>
           <h5>via Amazon.com</h5>
           <p class="show_p">You can easily organize your pack any way you want with UNO II, because it is designed with only ONE water-repellent fabric & one Zipper and can be opened easily and quickly. The other benefit for UNO II is that you won`t need to fumble into the bag to find the tiny things such as a key - just open it and you'll see everything inside.</p>
           <button><a target="_blank" href="https://amzn.to/2GBcTL9">Learn More</a></button>
         </div>

         <!-- <div class="show_body">
           <h2 class="show_sub_title"><a target="_blank" href="Site_Link">Sub_Title</a></h2>
           <p>Sub_Intro</p>
           <a target="_blank" href="Site_Link"><img src="Image_URL" alt="Iamge_Title"></a>
           <h5>Source</h5>
           <p class="show_p">Sub_Discription</p>
           <button><a target="_blank" href="Site_Link">Learn More</a></button>
         </div> -->

        </main>
     
        <aside class="aside">
          <h2>Recent Blog Posts</h2>
          <div class="blog-container">
            
            <div class="widget_container"> <!-- 왼쪽 사이드 탭 -->
              <div class='multitab-section'>
                <ul class='multitab-widget multitab-widget-content-tabs-id'>
                  <li class='multitab-tab'><a href='#multicolumn-widget-id1'>Popular</a></li>
                  <li class='multitab-tab'><a href='#multicolumn-widget-id2'>Tags</a></li>
                  <li class='multitab-tab'><a href='#multicolumn-widget-id3'>Archive</a></li>
                </ul>
                <div class='multitab-widget-content multitab-widget-content-widget-id' id='multicolumn-widget-id1'>
                  <span class='sidebar' id='sidebartab1' preferred='yes'>
                  <p>Phim Captain America: Civil War - Captain America: Nội Chiến Siêu Anh Hùng 2016: Xoay quanh việc Steve Rogers (Captain America) dẫn đầu một nhóm siêu anh hùng với các thành viên của Avengers với mục tiêu tiếp tục nỗ lực để bảo vệ nhân loại. Nhưng sau nhiều vụ việc xảy ra do biệt đội Avengers làm thiệt hại tài sản, chính phủ đã thiết lập cơ quan quản lý và giám sát nhóm. Điều này gây ra sự chia rẽ trong nội bộ nhóm Avengers, tạo nên hai phe đối đầu nhau. Một bên được lãnh đạo bởi Steve Rogers (Captain America) với mong muốn duy trì nhóm để thực hiện mục tiêu bảo vệ nhân loại mà không có sự can thiệp của chính phủ. Phe còn lại là của Tony Stark (Iron Man) luôn hỗ trợ giám sát và có trách nhiệm giải trình mọi việc làm với chính phủ.
                  </p>
                  </span>
                </div>
                <div class='multitab-widget-content multitab-widget-content-widget-id' id='multicolumn-widget-id2'>
                  <span class='sidebar' id='sidebartab2' preferred='yes'>
                  <p>Phim Captain America: Civil War - Captain America: Nội Chiến Siêu Anh Hùng 2016: Xoay quanh việc Steve Rogers (Captain America) dẫn đầu một nhóm siêu anh hùng với các thành viên của Avengers với mục tiêu tiếp tục nỗ lực để bảo vệ nhân loại. Nhưng sau nhiều vụ việc xảy ra do biệt đội Avengers làm thiệt hại tài sản, chính phủ đã thiết lập cơ quan quản lý và giám sát nhóm. Điều này gây ra sự chia rẽ trong nội bộ nhóm Avengers, tạo nên hai phe đối đầu nhau. Một bên được lãnh đạo bởi Steve Rogers (Captain America) với mong muốn duy trì nhóm để thực hiện mục tiêu bảo vệ nhân loại mà không có sự can thiệp của chính phủ. Phe còn lại là của Tony Stark (Iron Man) luôn hỗ trợ giám sát và có trách nhiệm giải trình mọi việc làm với chính phủ.
                  </p>
                  </span>
                </div>
                <div class='-content multitab-widget-content-widget-id' id='multicolumn-widget-id3'>
                  <span class='sidebar' id='sidebartab3' preferred='yes'>
                  <p>Phim Captain America: Civil War - Captain America: Nội Chiến Siêu Anh Hùng 2016: Xoay quanh việc Steve Rogers (Captain America) dẫn đầu một nhóm siêu anh hùng với các thành viên của Avengers với mục tiêu tiếp tục nỗ lực để bảo vệ nhân loại. Nhưng sau nhiều vụ việc xảy ra do biệt đội Avengers làm thiệt hại tài sản, chính phủ đã thiết lập cơ quan quản lý và giám sát nhóm. Điều này gây ra sự chia rẽ trong nội bộ nhóm Avengers, tạo nên hai phe đối đầu nhau. Một bên được lãnh đạo bởi Steve Rogers (Captain America) với mong muốn duy trì nhóm để thực hiện mục tiêu bảo vệ nhân loại mà không có sự can thiệp của chính phủ. Phe còn lại là của Tony Stark (Iron Man) luôn hỗ trợ giám sát và có trách nhiệm giải trình mọi việc làm với chính phủ.
                  </p>
                  </span>
                </div>
              </div><!--/.multitab-section-->
            </div><!--/.widget_container-->
            
            <figure class="blog-post blog-post-1">
              <h3 class="blog-titles">Blog Title 1</h3>
              <div>
                <img src="https://2.bp.blogspot.com/-A6Jv6RpDtIk/UA1ofMnVp6I/AAAAAAAAAHA/CfDFigTK_VM/s1600/vintage-golf-clothing-men1.jpg" />
              </div>
            </figure>
    
            <figure class="blog-post blog-post-2">
              <h3 class="blog-titles">Blog Title 2</h3>
              <div>
                <img src="https://3.bp.blogspot.com/-5rNMDJFfNTY/T9H57b_qAAI/AAAAAAAAEAU/emAx9peuAwM/s640/vintage1.jpg" alt="" />
              </div>
            </figure>
    
            <figure class="blog-post blog-post-3">
              <h3 class="blog-titles">Blog Title 3</h3>
              <div>
                <img src="https://37.media.tumblr.com/tumblr_lkl0f6RKYY1qdyq1bo1_500.jpg" alt="" />
              </div>
            </figure>
    
            <figure class="blog-post blog-post-4">
              <h3 class="blog-titles">Blog Title 4</h3>
              <div>
                <img src="http://nibsblog.files.wordpress.com/2012/09/elementaryschoolkidsbus1979-opt.jpg" alt="" />
              </div>
            </figure>

          </div><!--/.blog-container-->
        </aside>
      </div><!--/.blogs_wrapper-->
            
    </div>
  </div>
</div>
      