<div id="wrapper">
	<div id="main">
		<div class="inner">
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
  		<%= render 'shared/header' %>
  		<% if flash[:message_board] %> 	
       <div id="notice_wrapper">		    
         <h2><%=flash[:message_board]%></h2>		
       </div>
      <% end %>

  		<div class="check_page"><h2> About Us & Contact Us</h2></div>

  		<section id="banner">
  		  
  			<div class="message_content">
  				<div class="message_header">
  				  <h2 class="message_title">About Us</h2>
            <p>- Oh,igottabuythis is a participant in the Amazon Services LLC Associates Program & the Amazon EU Associates Programme, an affiliate advertising program designed to provide a means for us to earn fees by linking to <a href="http://amzn.to/2G5rCxK">Amazon.com<a/>,<a href="http://amzn.to/2pwYBEN">Amazon.ca</a>,<a href="http://amzn.to/2GgHdxF">Amazon.co.uk</a> and affiliated sites.</p>
            
            <p>- "Oh, i gotta buy this" only want to show the best deals, the coolest gadgets and the best inventions you can find and buy on the website. We`re not interested in spamming any boring or lame products at you. All you need to know is in our website, you are going to find a lot of coolest & awesome items that you are most definitely going to like and perhaps even get tempted to buy some of them, so hang on tight to your wallet. Enjoy!</p>
            
            <p>- "Oh,i gotta buy this" acknowledge some content in this process, the aim is to provide for the convenience to the user. By specifying the source, we respect other people`s rights, as well as to provide support for those who own the contents. Please let me know if your writing has been copied in a way that infringes on copyright infringement, and I will try to work hard to resolve this issue.</p>
            
            <p>- All These products in our website belong to the website owner and the product owner.</p>
  					
            <p>-Please remember that we are not an actual webstore. We do not sell anything ourselves, and we do not ship anything ourselves. We cannot assist you with your purchase orders, and we do not know if a product can be shipped internationally.</p>

            <p>- Our website contains affiliate link which means that if you click on one of the product links and buy we’ll receive a small commission. This help supports us and allows us to continue to make good website like this. Thanks :D</p>
  				</div>
  			</div>
  			
  			<span class="image object">
  			  <h2>Get in touch</h2>
  			   <form action="/message/create" method="POST">
  				  <div class="form">
              <input type="text" class="input-form" name="new_name" placeholder="Your Name">
            </div>
            <div class="form">
              <input type="text" class="input-form" name="new_email" placeholder="Your Email">
            </div>
            <div class="form">
              <textarea type="text" class="input-form" name="new_content" rows="5" placeholder="Your Message"></textarea>
            </div><br />
            <ul class="actions">
            <li><button class="button" type="submit"> Send Message</button></li>
            <li><a href="/" class="button">Back To Home</a></li>
           </ul>
           </form>             
  			</span>

  	  </section>

    </div><!-- inner -->
  </div><!-- main -->
  <%= render 'shared/sidebar_gadgets' %>  
</div><!-- wrapper -->
