<div class="dis_slider-wrapper">
 <div class="dis_slider">

    <!--  <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>
 -->
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2PnrLkQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71208Y-o7aL._SX522_.jpg" title="Camping Stoves" alt="Camping Stoves">
     <p>Etekcity Ultralight Portable Outdoor Backpacking Camping Stoves</p>
    </a>
    <div class="dis_daily">
     <p>$11.99</p>
    </div>
    <ul>
      <li>$29.99</li> |
      <li>60% off</li>
    </ul>
   </div>

    <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2N6mtJi"><img src="https://images-na.ssl-images-amazon.com/images/I/61D91ohxrQL._SX679_.jpg" title="Audio Adapter" alt="Audio Adapter">
     <p>Etekcity Wireless Bluetooth 4.0 Receiver Audio Adapter</p>
    </a>
    <div class="dis_daily">
     <p>$20.99</p>
    </div>
    <ul>
      <li>$49.99</li> |
      <li>58% off</li>
    </ul>
   </div>

    <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2PpTtxJ"><img src="https://images-na.ssl-images-amazon.com/images/I/718SX-Gy3WL._SX522_.jpg" title="Sound Bar" alt="Sound Bar">
     <p>Soundbar, TaoTronics Sound Bar Wired and Wireless Bluetooth Audio Speakers </p>
    </a>
    <div class="dis_daily">
     <p>$59.49</p>
    </div>
    <ul>
      <li>$69.99</li> |
      <li>15% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2OQ2gHV"><img src="https://images-na.ssl-images-amazon.com/images/I/81xXCNHyQVL._SL1500_.jpg" title="Food Storage Container" alt="Food Storage Container">
     <p>Rubbermaid 2065351 Easy Find Lids Food Storage Containers, 60 Piece</p>
    </a>
    <div class="dis_daily">
     <p>$20.99</p>
    </div>
    <ul>
      <li>$24.99</li> |
      <li>16% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2OT5Gd9"><img src="https://images-na.ssl-images-amazon.com/images/I/81li464gA9L._SX522_.jpg" title="Fox Print Princess Castle Play Tent" alt="Fox Print Princess Castle Play Tent">
     <p>Fox Print Princess Castle Play Tent</p>
    </a>
    <div class="dis_daily">
     <p>$14.99</p>
    </div>
    <ul>
      <li>$49.99</li> |
      <li>70% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2N2aQTw"><img src="https://images-na.ssl-images-amazon.com/images/I/81PXeVvL3wL._SX522_.jpg" title="Sanitizer" alt="Sanitizer">
     <p>PURELL 3909-09-ECSC Advanced Hand Sanitizer Portable Bottles</p>
    </a>
    <div class="dis_daily">
     <p>$9.85</p>
    </div>
    <ul>
      <li>$24.30</li> |
      <li>59% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2nSm6Hb"><img src="https://images-na.ssl-images-amazon.com/images/I/71U0F9JheeL._SX522_.jpg" title="Nail Clippers" alt="Nail Clippers">
     <p>Tseoa Manicure, Pedicure Kit, Nail Clippers, Professional Grooming Kit, Nail Tools</p>
    </a>
    <div class="dis_daily">
     <p>$9.99</p>
    </div>
    <ul>
      <li>$89.99</li> |
      <li>89% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2MxzE8Z"><img src="https://images-na.ssl-images-amazon.com/images/I/71t1Wp0tcDL._SX522_.jpg" title="Guest Bed Tent Mattress" alt="Guest Bed Tent Mattress">
     <p>Etekcity Camping Portable Air Mattress Inflatable Single High Airbed Blow up Guest Bed Tent Mattress</p>
    </a>
    <div class="dis_daily">
     <p>$59.99</p>
    </div>
    <ul>
      <li>$99.99</li> |
      <li>40% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2vSpW7H"><img src="https://images-na.ssl-images-amazon.com/images/I/31iDARiqMiL.jpg" title="Power Strip" alt="Power Strip">
     <p>Power Strip, Anker PowerPort Cube, 3 Outlets and 3 USB Ports with Switch Control, Overload Protection, 5 ft Cable, Ultra-Compact for Travel and Office</p>
    </a>
    <div class="dis_daily">
     <p>$15.54</p>
    </div>
    <ul>
      <li>$49.99</li> |
      <li>61% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2MxSsos"><img src="https://images-na.ssl-images-amazon.com/images/I/51Mc6HY7nqL._SX679_.jpg" title="Power Bank" alt="Power Bank">
     <p>Anker PowerCore 13000, Compact 13000mAh 2-Port Ultra-Portable Phone Charger Power Bank</p>
    </a>
    <div class="dis_daily">
     <p>$28.59</p>
    </div>
    <ul>
      <li>$55.99</li> |
      <li>49% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2BkFfLl"><img src="https://images-na.ssl-images-amazon.com/images/I/61CaKedXrGL._SX522_.jpg" title="Etekcity Digital Hanging Luggage Scale" alt="Etekcity Digital Hanging Luggage Scale">
     <p>Etekcity Digital Hanging Luggage Scale</p>
    </a>
    <div class="dis_daily">
     <p>$9.99</p>
    </div>
    <ul>
      <li>$21.99</li> |
      <li>55% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2nN8E7a"><img src="https://images-na.ssl-images-amazon.com/images/I/51ycAe7RlBL._SX679_.jpg" title="Night Light" alt="Night Light">
     <p>Etekcity LED Desk Lamp with Flexible Gooseneck Adjustable Brightness Level Night Light</p>
    </a>
    <div class="dis_daily">
     <p>$18.99</p>
    </div>
    <ul>
      <li>$48.99</li> |
      <li>61% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2nKIthx"><img src="https://images-na.ssl-images-amazon.com/images/I/61tLPqeoSkL._SX522_.jpg" title="Etekcity Smart BMI Scale" alt="Etekcity Smart BMI Scale">
     <p>Etekcity Smart BMI Scale</p>
    </a>
    <div class="dis_daily">
     <p>$34.99</p>
    </div>
    <ul>
      <li>$49.99</li> |
      <li>30% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2nMUlzK"><img src="https://images-na.ssl-images-amazon.com/images/I/71J9Ze4PEEL._SX679_.jpg" title="Car Phone Mount" alt="Car Phone Mount">
     <p>Mpow Car Phone Mount,Washable Strong Sticky Gel Pad</p>
    </a>
    <div class="dis_daily">
     <p>$8.49</p>
    </div>
    <ul>
      <li>$16.99</li> |
      <li>50% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2Bn17G0"><img src="https://images-na.ssl-images-amazon.com/images/I/519Vs10f-ML._SX679_.jpg" title="Car Adapter" alt="Car Adapter">
     <p>Quick Charge 3.0 Car Charger RAVPower 40W 3A Car Adapter</p>
    </a>
    <div class="dis_daily">
     <p>$10.99</p>
    </div>
    <ul>
      <li>$18.99</li> |
      <li>42% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2MUJPBp"><img src="https://images-na.ssl-images-amazon.com/images/I/41lufR65beL._SX522_.jpg" title="Fire TV Cube" alt="Fire TV Cube">
     <p>Fire TV Cube | Hands-Free with Alexa and 4K Ultra HD | Streaming Media Player</p>
    </a>
    <div class="dis_daily">
     <p>$89.99</p>
    </div>
    <ul>
      <li>$199.99</li> |
      <li>25% off</li>
    </ul>
   </div>

 </div>
</div>


