<h3>The Hottest Deals</h3>
<div class="dis_slider-wrapper">
 <div class="dis_slider">
   <div class="dis_slider--content">
    <a target="_blank" href="product_link"><img src="https://i.ebayimg.com/images/g/k-cAAOSweVNbYxwU/s-l500.jpg">
     <p>Lorem Ipsum is Lorem Ipsum isLorem Ipsum isLorem Ipsum is</p>
    </a>
    <ul>
      <li>$100.00</li>
      <li>$150.00</li> |
      <li>50% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="product_link"><img src="https://i.ebayimg.com/images/g/ZPQAAOSwPipbcF4Z/s-l1600.jpg">
     <p>Lorem Ipsum is Lorem</p>
    </a>
    <ul>
      <li>$100.00</li>
      <li>$150.00</li> |
      <li>50% off</li>
    </ul>
   </div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
 </div>
</div>
<div class="showall_code">
 <a target="_blank" href="LINK"><p>Show All <i class="fa fa-arrow-right"></i></p></a>
</div>

