<div class="dis_slider-wrapper">
 <div class="dis_slider">
   <div class="dis_slider--content">
    <a target="_blank" href="product_link"><img src="https://i.ebayimg.com/images/g/k-cAAOSweVNbYxwU/s-l500.jpg">
     <p>Lorem Ipsum is Lorem Ipsum isLorem Ipsum isLorem Ipsum is</p>
    </a>
    <div class="dis_daily">
     <p>$100.00</p>
    </div>
    <ul>
      <li>$150.00</li> |
      <li>50% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="product_link"><img src="https://i.ebayimg.com/images/g/XdsAAOSwgsxaXiB8/s-l225.jpg">
     <p>Lorem Ipsum is Lorem Ipsum isLorem Ipsum isLorem Ipsum is</p>
    </a>
    <div class="dis_daily">
     <p>$100.00</p>
    </div>
    <ul>
      <li>$150.00</li> |
      <li>50% off</li>
    </ul>
   </div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
 </div>
</div>


