<div class="dis_slider-wrapper">
 <div class="dis_slider">
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2MxzE8Z"><img src="https://images-na.ssl-images-amazon.com/images/I/71t1Wp0tcDL._SX522_.jpg" title="Guest Bed Tent Mattress" alt="Guest Bed Tent Mattress">
     <p>Etekcity Camping Portable Air Mattress Inflatable Single High Airbed Blow up Guest Bed Tent Mattress</p>
    </a>
    <div class="dis_daily">
     <p>$59.99</p>
    </div>
    <ul>
      <li>$99.99</li> |
      <li>40% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2vSpW7H"><img src="https://images-na.ssl-images-amazon.com/images/I/31iDARiqMiL.jpg" title="Power Strip" alt="Power Strip">
     <p>Power Strip, Anker PowerPort Cube, 3 Outlets and 3 USB Ports with Switch Control, Overload Protection, 5 ft Cable, Ultra-Compact for Travel and Office</p>
    </a>
    <div class="dis_daily">
     <p>$15.54</p>
    </div>
    <ul>
      <li>$49.99</li> |
      <li>61% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2MxSsos"><img src="https://images-na.ssl-images-amazon.com/images/I/51Mc6HY7nqL._SX679_.jpg" title="Power Bank" alt="Power Bank">
     <p>Anker PowerCore 13000, Compact 13000mAh 2-Port Ultra-Portable Phone Charger Power Bank</p>
    </a>
    <div class="dis_daily">
     <p>$28.59</p>
    </div>
    <ul>
      <li>$55.99</li> |
      <li>49% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2BkFfLl"><img src="https://images-na.ssl-images-amazon.com/images/I/61CaKedXrGL._SX522_.jpg" title="Etekcity Digital Hanging Luggage Scale" alt="Etekcity Digital Hanging Luggage Scale">
     <p>Etekcity Digital Hanging Luggage Scale</p>
    </a>
    <div class="dis_daily">
     <p>$9.99</p>
    </div>
    <ul>
      <li>$21.99</li> |
      <li>55% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2nN8E7a"><img src="https://images-na.ssl-images-amazon.com/images/I/51ycAe7RlBL._SX679_.jpg" title="Night Light" alt="Night Light">
     <p>Etekcity LED Desk Lamp with Flexible Gooseneck Adjustable Brightness Level Night Light</p>
    </a>
    <div class="dis_daily">
     <p>$18.99</p>
    </div>
    <ul>
      <li>$48.99</li> |
      <li>61% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2nKIthx"><img src="https://images-na.ssl-images-amazon.com/images/I/61tLPqeoSkL._SX522_.jpg" title="Etekcity Smart BMI Scale" alt="Etekcity Smart BMI Scale">
     <p>Etekcity Smart BMI Scale</p>
    </a>
    <div class="dis_daily">
     <p>$34.99</p>
    </div>
    <ul>
      <li>$49.99</li> |
      <li>30% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2nMUlzK"><img src="https://images-na.ssl-images-amazon.com/images/I/71J9Ze4PEEL._SX679_.jpg" title="Car Phone Mount" alt="Car Phone Mount">
     <p>Mpow Car Phone Mount,Washable Strong Sticky Gel Pad</p>
    </a>
    <div class="dis_daily">
     <p>$8.49</p>
    </div>
    <ul>
      <li>$16.99</li> |
      <li>50% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2Bn17G0"><img src="https://images-na.ssl-images-amazon.com/images/I/519Vs10f-ML._SX679_.jpg" title="Car Adapter" alt="Car Adapter">
     <p>Quick Charge 3.0 Car Charger RAVPower 40W 3A Car Adapter</p>
    </a>
    <div class="dis_daily">
     <p>$10.99</p>
    </div>
    <ul>
      <li>$18.99</li> |
      <li>42% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2MUJPBp"><img src="https://images-na.ssl-images-amazon.com/images/I/41lufR65beL._SX522_.jpg" title="Fire TV Cube" alt="Fire TV Cube">
     <p>Fire TV Cube | Hands-Free with Alexa and 4K Ultra HD | Streaming Media Player</p>
    </a>
    <div class="dis_daily">
     <p>$89.99</p>
    </div>
    <ul>
      <li>$199.99</li> |
      <li>25% off</li>
    </ul>
   </div>

 </div>
</div>


