<div class="dis_slider-wrapper">
 <div class="dis_slider">

    <!--  <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>
 -->

     <!--  <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>
 -->

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2MKVmXW"><img src="https://images-na.ssl-images-amazon.com/images/I/81%2BNJiYvnQL._SL1500_.jpg" title="Fryer" alt="Fryer">
     <p>Big Boss Oil Less Fryer, Graphite</p>
    </a>
    <div class="dis_daily">
     <p>$67.99</p>
    </div>
    <ul>
      <li>$99.99</li> |
      <li>32% off</li>
    </ul>
   </div>


  <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2Nt7YiG"><img src="https://images-na.ssl-images-amazon.com/images/I/61w8bahQ6nL._SY355_.jpg" title="Alexa" alt="Alexa">
     <p>Alexa Voice Remote for Amazon Echo</p>
    </a>
    <div class="dis_daily">
     <p>$19.99</p>
    </div>
    <ul>
      <li>$29.99</li> |
      <li>33% off</li>
    </ul>
   </div>

    <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2MW9JrR"><img src="https://images-na.ssl-images-amazon.com/images/I/61jChbahyKL._SX522_.jpg" title="Fire HD 8" alt="Fire HD 8">
     <p>Fire HD 8 Tablet with Alexa</p>
    </a>
    <div class="dis_daily">
     <p>$79.99</p>
    </div>
    <ul>
      <li>$109.99</li> |
      <li>27% off</li>
    </ul>
   </div>

    <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2wqpQEw"><img src="https://images-na.ssl-images-amazon.com/images/I/71g5OhOdV9L._SL1500_.jpg" title="Fire Alarm" alt="Fire Alarm">
     <p>First Alert SA3210 Dual Sensor Smoke and Fire Alarm </p>
    </a>
    <div class="dis_daily">
     <p>$32.62</p>
    </div>
    <ul>
      <li>$59.99</li> |
      <li>46% off</li>
    </ul>
   </div>

    <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2C1Evv1"><img src="https://images-na.ssl-images-amazon.com/images/I/71XE47JEj8L._SL1000_.jpg" title="Travel Mug" alt="Travel Mug">
     <p>Atlin Tumbler [30 oz. Double Wall Stainless Steel Vacuum Insulation] Travel Mug </p>
    </a>
    <div class="dis_daily">
     <p>$13.79</p>
    </div>
    <ul>
      <li>$29.99</li> |
      <li>54% off</li>
    </ul>
   </div>

    <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2C1YbyP"><img src="https://images-na.ssl-images-amazon.com/images/I/51%2B%2BNJp3KwL.jpg" title="Permanent Markers" alt="Permanent Markers">
     <p>Sharpie 15001 Box of 12 Sharpie Pro King Size Chisel Tip Permanent Markers</p>
    </a>
    <div class="dis_daily">
     <p>$9.82</p>
    </div>
    <ul>
      <li>$24.99</li> |
      <li>61% off</li>
    </ul>
   </div>

  
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2Piif1I"><img src="https://images-na.ssl-images-amazon.com/images/I/81cA64A9BNL._SX679_.jpg" title="Screen Protector Glass" alt="Screen Protector Glass">
     <p>amFilm iPhone 8, 7, 6S, 6 Screen Protector Glass</p>
    </a>
    <div class="dis_daily">
     <p>$7.99</p>
    </div>
    <ul>
      <li>$8.99</li> |
      <li>11% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2LE7IvA"><img src="https://images-na.ssl-images-amazon.com/images/I/81kKAHaf9CL._SX679_.jpg" title="SONGMICS" alt="SONGMICS">
     <p>SONGMICS 6 LEDs Jewelry Cabinet Lockable Wall Door Mounted Jewelry Armoire Organizer</p>
    </a>
    <div class="dis_daily">
     <p>$129.99</p>
    </div>
    <ul>
      <li>$163.18</li> |
      <li>20% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2BYCyPV"><img src="https://images-na.ssl-images-amazon.com/images/I/714OiWawmYL._SX522_.jpg" title="Gillette" alt="Gillette">
     <p>Gillette Fusion Manual Men’s Razor Blade Refills, 12 Count, Mens Razors/Blades</p>
    </a>
    <div class="dis_daily">
     <p>$23.61</p>
    </div>
    <ul>
      <li>$47.99</li> |
      <li>51% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2N1chEV"><img src="https://images-na.ssl-images-amazon.com/images/I/91J78iJn3GL._SX522_.jpg" title="Wipes" alt="Wipes">
     <p>Cottonelle FreshCare Flushable Wipes, 336 Flushable Wet Wipes (Eight 42-Count Resealable Soft Packs)</p>
    </a>
    <div class="dis_daily">
     <p>$12.24</p>
    </div>
    <ul>
      <li>$14.99</li> |
      <li>18% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2LDIn4P"><img src="https://images-na.ssl-images-amazon.com/images/I/71cNAsBSTBL._SX679_.jpg" title="Car Air Vent Mount Holder" alt="Car Air Vent Mount Holder">
     <p>Beam Electronics Universal Smartphone Car Air Vent Mount Holder</p>
    </a>
    <div class="dis_daily">
     <p>$7.99</p>
    </div>
    <ul>
      <li>$29.99</li> |
      <li>73% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2NniY14"><img src="https://images-na.ssl-images-amazon.com/images/I/51u-tOjcyOL._SX679_.jpg" title="NCAA Hoodie" alt="NCAA Hoodie">
     <p>E5 Men's NCAA Hoodie</p>
    </a>
    <div class="dis_daily">
     <p>$24.99</p>
    </div>
    <ul>
      <li>$50.00</li> |
      <li>50% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2P7SNvW"><img src="https://images-na.ssl-images-amazon.com/images/I/31JHhaQfPBL.jpg" title="HP ProDesk 600-G2 Mini Desktop" alt="HP ProDesk 600-G2 Mini Desktop">
     <p>HP ProDesk 600-G2 Mini Desktop</p>
    </a>
    <div class="dis_daily">
     <p>$379.99</p>
    </div>
    <ul>
      <li>$529.99</li> |
      <li>28% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="https://images-na.ssl-images-amazon.com/images/I/51zogHc40sL._SX522_.jpg" title="Fire TV Stick" alt="Fire TV Stick">
     <p>Fire TV Stick with Alexa Voice Remote </p>
    </a>
    <div class="dis_daily">
     <p>$29.99</p>
    </div>
    <ul>
      <li>$39.99</li> |
      <li>25% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2MVdj5d"><img src="https://images-na.ssl-images-amazon.com/images/I/51DlndxsD2L._SY355_.jpg" title="Echo Look" alt="Echo Look">
     <p>Echo Look - Hands-Free Camera and Style Assistant with Alexa</p>
    </a>
    <div class="dis_daily">
     <p>$119.99</p>
    </div>
    <ul>
      <li>$199.99</li> |
      <li>40% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2MR8IRE"><img src="https://images-na.ssl-images-amazon.com/images/I/51FQBzDZ3VL.jpg" title="Echo Show" alt="Echo Show">
     <p>Echo Show - Black</p>
    </a>
    <div class="dis_daily">
     <p>$129.99</p>
    </div>
    <ul>
      <li>$229.99</li> |
      <li>43% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2P60P8p"><img src="https://images-na.ssl-images-amazon.com/images/I/51q3IprynoL.jpg" title="Sanitizing" alt="Sanitizing">
     <p>Purell Hand Sanitizing Wipes - Clean Refreshing Scent, Non-Alcohol Wipes</p>
    </a>
    <div class="dis_daily">
     <p>$11.50</p>
    </div>
    <ul>
      <li>$30.00</li> |
      <li>62% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2LovBXO"><img src="https://images-na.ssl-images-amazon.com/images/I/81QY0Q0NW%2BL._SX425_.jpg" title="Hand Cleaner" alt="Hand Cleaner">
     <p>Gojo 0955 Natural Orange Pumice Hand Cleaner - 1 Gallon</p>
    </a>
    <div class="dis_daily">
     <p>$10.95</p>
    </div>
    <ul>
      <li>$27.84</li> |
      <li>61% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2ofQOdD"><img src="https://images-na.ssl-images-amazon.com/images/I/61vbTUgWKDL._SL1500_.jpg" title="Food Scale" alt="Food Scale">
     <p>Etekcity Digital Food Scale and Multifunction Kitchen Weight Scale with Removable Bowl</p>
    </a>
    <div class="dis_daily">
     <p>$14.99</p>
    </div>
    <ul>
      <li>$21.99</li> |
      <li>32% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2P7pz0b"><img src="https://images-na.ssl-images-amazon.com/images/I/81iDa9AU65L._SX522_.jpg" title="Nintendo Switch" alt="Nintendo Switch">
     <p>amCase Hard Carrying Case for Nintendo Switch</p>
    </a>
    <div class="dis_daily">
     <p>$9.99</p>
    </div>
    <ul>
      <li>$19.99</li> |
      <li>50% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2LqMP78"><img src="https://images-na.ssl-images-amazon.com/images/I/81UmZsgs38L._SX679_.jpg" title="Comb" alt="Comb">
     <p>GoPets Dematting Comb with 2 Sided Professional Grooming Rake for Cats & Dogs</p>
    </a>
    <div class="dis_daily">
     <p>$21.00</p>
    </div>
    <ul>
      <li>$39.99</li> |
      <li>47% off</li>
    </ul>
   </div>


   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2nZJK4s"><img src="https://images-na.ssl-images-amazon.com/images/I/51cRj71%2BSTL._SX522_.jpg" title="Fire TV" alt="Fire TV">
     <p>Fire TV with 4K Ultra HD and Alexa Voice Remote </p>
    </a>
    <div class="dis_daily">
     <p>$39.99</p>
    </div>
    <ul>
      <li>$69.99</li> |
      <li>43% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2o01P2t"><img src="https://images-na.ssl-images-amazon.com/images/I/6171QHeUALL._SX522_.jpg" title="emperature Gun" alt="emperature Gun">
     <p>Etekcity Lasergrip 1080 Non-contact Digital Laser Infrared Thermometer Temperature Gun</p>
    </a>
    <div class="dis_daily">
     <p>$15.99</p>
    </div>
    <ul>
      <li>$20.99</li> |
      <li>24% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2MsVQld"><img src="https://images-na.ssl-images-amazon.com/images/I/610uI9BNYfL._SX679_.jpg" title="Etekcity Remote Control " alt="Etekcity Remote Control ">
     <p>Etekcity Remote Control Outlet Wireless Light Switch </p>
    </a>
    <div class="dis_daily">
     <p>$25.48</p>
    </div>
    <ul>
      <li>$39.98</li> |
      <li>36% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2vZlmED"><img src="https://images-na.ssl-images-amazon.com/images/I/91Tu0v4fNbL._SX522_.jpg" title="Jurassic Park" alt="Jurassic Park">
     <p>Jurassic Park 25th Anniversary Collection [Blu-ray]</p>
    </a>
    <div class="dis_daily">
     <p>$34.99</p>
    </div>
    <ul>
      <li>$79.98</li> |
      <li>56% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2Mqh2Zb"><img src="https://images-na.ssl-images-amazon.com/images/I/71uNBp9WuuL._SX679_.jpg" title="Master Lock Padlock" alt="Master Lock Padlock">
     <p>Master Lock Padlock, Set Your Own Word Combination Lock</p>
    </a>
    <div class="dis_daily">
     <p>$7.12</p>
    </div>
    <ul>
      <li>$10.40</li> |
      <li>32% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2N4pp94"><img src="https://images-na.ssl-images-amazon.com/images/I/61Y8qZdHcyL._SX679_.jpg" title="Wall Light" alt="Wall Light">
     <p>Design House 519504 Mason 1 Light Wall Light, Oil Rubbed Bronze</p>
    </a>
    <div class="dis_daily">
     <p>$27.84</p>
    </div>
    <ul>
      <li>$47.93</li> |
      <li>42% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2BA6iCn"><img src="https://images-na.ssl-images-amazon.com/images/I/81HNKwtkFbL._SX425_.jpg" title="Hand Sanitizer" alt="Hand Sanitizer">
     <p>PURELL 9625-02-EC Advanced Hand Sanitizer Bottle - Hand Sanitizer Gel</p>
    </a>
    <div class="dis_daily">
     <p>$23.11</p>
    </div>
    <ul>
      <li>$52.00</li> |
      <li>56% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2nWH7Ay"><img src="https://images-na.ssl-images-amazon.com/images/I/719IvSaxIzL._SX522_.jpg" title="Cable Modem" alt="Cable Modem">
     <p>TP-Link TC-7620 DOCSIS 3.0 (16x4) Cable Modem</p>
    </a>
    <div class="dis_daily">
     <p>$49.99</p>
    </div>
    <ul>
      <li>$89.99</li> |
      <li>44% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2o1zglc"><img src="https://images-na.ssl-images-amazon.com/images/I/81C9BsLmCXL._SX679_.jpg" title="Galaxy S9 Screen Protector Glass" alt="Galaxy S9 Screen Protector Glass">
     <p>Galaxy S9 Screen Protector Glass</p>
    </a>
    <div class="dis_daily">
     <p>$11.99</p>
    </div>
    <ul>
      <li>$12.99</li> |
      <li>8.0% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2w3Xy2p"><img src="https://images-na.ssl-images-amazon.com/images/I/61HYtLChAvL._SX679_.jpg" title="Mount Holder" alt="Mount Holder">
     <p>Dashboard Mount TechMatte MagGrip Dashboard and Windshield Magnetic Universal Car Mount Holder</p>
    </a>
    <div class="dis_daily">
     <p>$7.99</p>
    </div>
    <ul>
      <li>$29.99</li> |
      <li>73% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2PnrLkQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71208Y-o7aL._SX522_.jpg" title="Camping Stoves" alt="Camping Stoves">
     <p>Etekcity Ultralight Portable Outdoor Backpacking Camping Stoves</p>
    </a>
    <div class="dis_daily">
     <p>$11.99</p>
    </div>
    <ul>
      <li>$29.99</li> |
      <li>60% off</li>
    </ul>
   </div>

    <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2N6mtJi"><img src="https://images-na.ssl-images-amazon.com/images/I/61D91ohxrQL._SX679_.jpg" title="Audio Adapter" alt="Audio Adapter">
     <p>Etekcity Wireless Bluetooth 4.0 Receiver Audio Adapter</p>
    </a>
    <div class="dis_daily">
     <p>$20.99</p>
    </div>
    <ul>
      <li>$49.99</li> |
      <li>58% off</li>
    </ul>
   </div>

    <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2PpTtxJ"><img src="https://images-na.ssl-images-amazon.com/images/I/718SX-Gy3WL._SX522_.jpg" title="Sound Bar" alt="Sound Bar">
     <p>Soundbar, TaoTronics Sound Bar Wired and Wireless Bluetooth Audio Speakers </p>
    </a>
    <div class="dis_daily">
     <p>$59.49</p>
    </div>
    <ul>
      <li>$69.99</li> |
      <li>15% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2OQ2gHV"><img src="https://images-na.ssl-images-amazon.com/images/I/81xXCNHyQVL._SL1500_.jpg" title="Food Storage Container" alt="Food Storage Container">
     <p>Rubbermaid 2065351 Easy Find Lids Food Storage Containers, 60 Piece</p>
    </a>
    <div class="dis_daily">
     <p>$20.99</p>
    </div>
    <ul>
      <li>$24.99</li> |
      <li>16% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2OT5Gd9"><img src="https://images-na.ssl-images-amazon.com/images/I/81li464gA9L._SX522_.jpg" title="Fox Print Princess Castle Play Tent" alt="Fox Print Princess Castle Play Tent">
     <p>Fox Print Princess Castle Play Tent</p>
    </a>
    <div class="dis_daily">
     <p>$14.99</p>
    </div>
    <ul>
      <li>$49.99</li> |
      <li>70% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2N2aQTw"><img src="https://images-na.ssl-images-amazon.com/images/I/81PXeVvL3wL._SX522_.jpg" title="Sanitizer" alt="Sanitizer">
     <p>PURELL 3909-09-ECSC Advanced Hand Sanitizer Portable Bottles</p>
    </a>
    <div class="dis_daily">
     <p>$9.85</p>
    </div>
    <ul>
      <li>$24.30</li> |
      <li>59% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2nSm6Hb"><img src="https://images-na.ssl-images-amazon.com/images/I/71U0F9JheeL._SX522_.jpg" title="Nail Clippers" alt="Nail Clippers">
     <p>Tseoa Manicure, Pedicure Kit, Nail Clippers, Professional Grooming Kit, Nail Tools</p>
    </a>
    <div class="dis_daily">
     <p>$9.99</p>
    </div>
    <ul>
      <li>$89.99</li> |
      <li>89% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2MxzE8Z"><img src="https://images-na.ssl-images-amazon.com/images/I/71t1Wp0tcDL._SX522_.jpg" title="Guest Bed Tent Mattress" alt="Guest Bed Tent Mattress">
     <p>Etekcity Camping Portable Air Mattress Inflatable Single High Airbed Blow up Guest Bed Tent Mattress</p>
    </a>
    <div class="dis_daily">
     <p>$59.99</p>
    </div>
    <ul>
      <li>$99.99</li> |
      <li>40% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2vSpW7H"><img src="https://images-na.ssl-images-amazon.com/images/I/31iDARiqMiL.jpg" title="Power Strip" alt="Power Strip">
     <p>Power Strip, Anker PowerPort Cube, 3 Outlets and 3 USB Ports with Switch Control, Overload Protection, 5 ft Cable, Ultra-Compact for Travel and Office</p>
    </a>
    <div class="dis_daily">
     <p>$15.54</p>
    </div>
    <ul>
      <li>$49.99</li> |
      <li>61% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2MxSsos"><img src="https://images-na.ssl-images-amazon.com/images/I/51Mc6HY7nqL._SX679_.jpg" title="Power Bank" alt="Power Bank">
     <p>Anker PowerCore 13000, Compact 13000mAh 2-Port Ultra-Portable Phone Charger Power Bank</p>
    </a>
    <div class="dis_daily">
     <p>$28.59</p>
    </div>
    <ul>
      <li>$55.99</li> |
      <li>49% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2BkFfLl"><img src="https://images-na.ssl-images-amazon.com/images/I/61CaKedXrGL._SX522_.jpg" title="Etekcity Digital Hanging Luggage Scale" alt="Etekcity Digital Hanging Luggage Scale">
     <p>Etekcity Digital Hanging Luggage Scale</p>
    </a>
    <div class="dis_daily">
     <p>$9.99</p>
    </div>
    <ul>
      <li>$21.99</li> |
      <li>55% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2nN8E7a"><img src="https://images-na.ssl-images-amazon.com/images/I/51ycAe7RlBL._SX679_.jpg" title="Night Light" alt="Night Light">
     <p>Etekcity LED Desk Lamp with Flexible Gooseneck Adjustable Brightness Level Night Light</p>
    </a>
    <div class="dis_daily">
     <p>$18.99</p>
    </div>
    <ul>
      <li>$48.99</li> |
      <li>61% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2nKIthx"><img src="https://images-na.ssl-images-amazon.com/images/I/61tLPqeoSkL._SX522_.jpg" title="Etekcity Smart BMI Scale" alt="Etekcity Smart BMI Scale">
     <p>Etekcity Smart BMI Scale</p>
    </a>
    <div class="dis_daily">
     <p>$34.99</p>
    </div>
    <ul>
      <li>$49.99</li> |
      <li>30% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2nMUlzK"><img src="https://images-na.ssl-images-amazon.com/images/I/71J9Ze4PEEL._SX679_.jpg" title="Car Phone Mount" alt="Car Phone Mount">
     <p>Mpow Car Phone Mount,Washable Strong Sticky Gel Pad</p>
    </a>
    <div class="dis_daily">
     <p>$8.49</p>
    </div>
    <ul>
      <li>$16.99</li> |
      <li>50% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2Bn17G0"><img src="https://images-na.ssl-images-amazon.com/images/I/519Vs10f-ML._SX679_.jpg" title="Car Adapter" alt="Car Adapter">
     <p>Quick Charge 3.0 Car Charger RAVPower 40W 3A Car Adapter</p>
    </a>
    <div class="dis_daily">
     <p>$10.99</p>
    </div>
    <ul>
      <li>$18.99</li> |
      <li>42% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://amzn.to/2MUJPBp"><img src="https://images-na.ssl-images-amazon.com/images/I/41lufR65beL._SX522_.jpg" title="Fire TV Cube" alt="Fire TV Cube">
     <p>Fire TV Cube | Hands-Free with Alexa and 4K Ultra HD | Streaming Media Player</p>
    </a>
    <div class="dis_daily">
     <p>$89.99</p>
    </div>
    <ul>
      <li>$199.99</li> |
      <li>25% off</li>
    </ul>
   </div>

 </div>
</div>


