<section id="-js-id-promodeal">
  <h1 class="promo_main_title" id="promotion">Promotions & Deals July, 2018</h1>
  <section class="card_grid">
    
    <div class="filter_menu">
      <div class="select-filter-group promo_select" id="selectDropdown">
        <select class="filters-select">
          <option value=".amazon_us">Amazon.com</option>
          <!-- <option value=".amazon_ca">Amazon.ca</option>
          <option value=".amazon_uk">amazon.co.uk</option> -->
        </select>
      </div>
        
      <div class="select-filter-group_01" id="selectDropdown">
        <select class="filters-select">
          <option value=".amazon_us">amazon.com</option>
          <!-- <option value=".amazon_ca">amazon.ca</option>
          <option value=".amazon_uk">amazon.co.uk</option> -->
        </select>
      </div>

      <nav class="filter_nav">
        <div class="button-group_promo" data-filter-group="categories">
          <!-- <button class="is-checked_promo" data-filter="*">all categories</button> -->
          <button class="is-checked_promo" data-filter=".amazon_us">amazon.com</button>
         <!--  <button data-filter=".amazon_ca">amazon.ca</button>
          <button data-filter=".amazon_uk">amazon.co.uk</button> -->
        </div>
      </nav>   

    </div>
    
    <div class="card_container">
     <%= render 'shared/amazon_promotion_us' %>  
    </div>

  </section><br><br>
</section>
