<div class="discount_right blog_right_side"> 
  <div class="blog_side_amazon">

    <script type="text/javascript">amzn_assoc_ad_type ="responsive_search_widget"; amzn_assoc_tracking_id ="gary3628-21"; amzn_assoc_marketplace ="amazon"; amzn_assoc_region ="GB"; amzn_assoc_placement =""; amzn_assoc_search_type = "search_widget";amzn_assoc_width ="auto"; amzn_assoc_height ="auto"; amzn_assoc_default_search_category =""; amzn_assoc_default_search_key ="";amzn_assoc_theme ="light"; amzn_assoc_bg_color ="FFFFFF"; </script><script src="//z-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&Marketplace=GB"></script>
    
  </div><br/>

  <div class="promotion_side">
    <h3>Promotions & Deals</h3><br/>
    
   <!--  <div class="promo_card">
      <a target="_blank" href="Promo_LInk"><img src="Image_LINK" alt="title" title="title"/></img></a>
    </div> -->
  

    <div class="promo_card_uk">

      <a target="_blank" href="https://amzn.to/2oOtHGZ"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/associates/Associates_portal._CB1198675309_.png" alt="Alexa" title="Alexa"/></img></a>

      <a target="_blank" href="https://amzn.to/2wPvijp"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/kindle/dp/2017/smarthome/1951620-ass-uk-470x200._CB1198675309_.jpg" alt="Echo" title="Echo"/></img></a>

      <a target="_blank" href="https://amzn.to/2NSK3JT"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/kindle/merch/2017/campaign/1951620/181515/181515-associateTCG-uk-470x200._CB1198675309_.jpg" alt="Echo Spot" title="Echo Spot"/></img></a>

      <a target="_blank" href="https://amzn.to/2NomXh9"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/associates/61GquaDrMWL._CB1198675309_.jpeg" alt="Echo Buttons" title="Echo Buttons"/></img></a>

      <a target="_blank" href="https://amzn.to/2wPJoS9"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/kindle/merch/2018/tablets/1964321/289313/289313_Kar-associates-uk-d-470x200.jpg" alt="Fire HD 8 Tablet" title="Fire HD 8 Tablet"/></img></a>

      <a target="_blank" href="https://amzn.to/2wKaB9B"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/kindle/merch/2018/tablets/1964321/289313/289313_Kar_Bun-associates-uk-d-470x200.jpg" alt="HD 8 Tablet" title="HD 8 Tablet"/></img></a>

      <a target="_blank" href="https://amzn.to/2M4xzx4"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/kindle/merch/2018/tablets/1964321/289313/289313_KKET-associates-uk-d-470x200.jpg" alt="HD 8 Tablet" title="HD 8 Tablet"/></img></a>

      <a target="_blank" href="https://www.amazon.co.uk/gp/video/offers/signup?benefitId=hayu&amp;ref_=as_acph_Video_wkoffrs_0801_1230&amp;tag=AssociateTrackingID&_encoding=UTF8&tag=gary3628-21&linkCode=ur2&linkId=5aabc63125315bc3f7df48d4c97c3ef2&camp=1634&creative=6738"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/associates/KUWTK_Amazon_UK_470x200_Static_Image_R1._CB469985780_.jpg" alt="Kardashians" title="Kardashians"/></img></a>

      <a target="_blank" href="https://amzn.to/2Q9KsZG"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/kindle/ku/associates/1127485_uk_de_kindle_unlimited_associate_470x200._CB473242391_.jpg" alt="Kindle" title="Kindle"/></img></a>

      <a target="_blank" href="https://amzn.to/2wN1i86"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/AmazonBusiness/Eng._CB472378645_.jpg" alt="Amazon Business" title="Amazon Business"/></img></a>

      <a target="_blank" href="https://amzn.to/2wMuJqD"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/vss-m-q2-vendor-graphics/Philipsbreastfeedingassociates._CB1198675309_.jpg" alt="Philips" title="Philips"/></img></a>

      <a target="_blank" href="https://www.amazon.co.uk/gp/video/offers/signup?benefitId=starzplay&amp;ref_=as_acph_Video_wkoffrs_0525_0531&amp;tag=AssociateTrackingID&_encoding=UTF8&tag=gary3628-21&linkCode=ur2&linkId=1c999bda6caef790e3f6307e0b18ab53&camp=1634&creative=6738"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/associates/Starz_Amazon_ChannelLaunch_UK_470x200c2._CB1198675309_.jpg" alt="Prime Video" title="Prime Video"/></img></a>

      <a target="_blank" href="https://amzn.to/2CsklL3"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/AMAZON-FASHION/2018/PRIVATELABEL/05.MAY/IANDL/OUTBOUND/AMZ_Promotion-HUB_470x200._CB476952859_.jpg" alt="Iris & Lilly " title="Iris & Lilly "/></img></a>

      <a target="_blank" href="https://amzn.to/2wNOT3z"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/associates/PR_Associates_470x200._CB1198675309_.png" alt="Amazon home service" title="Amazon home service"/></img></a>

      <a target="_blank" href="https://amzn.to/2oKTnUX"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/associates/DiscoveryKids-Banner._CB1198675309_.jpg" alt="Discovery Kids" title="Discovery Kids"/></img></a>

      <a target="_blank" href="https://amzn.to/2wQj8Yt"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/AMAZON-FASHION/2018/PRIVATELABEL/02.FEB/TANDF/EMAIL/AMZ_PromotionsHUB-_470x200._CB501900653_.jpg" alt="Truth & Fable" title="Truth & Fable"/></img></a>

      <a target="_blank" href="https://amzn.to/2Q4xKeZ"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/AMAZON-FASHION/2018/PRIVATELABEL/03.MAR/MERAKI/OUTBOUND/AMZ_PromotionsHUB-_470x200._CB499824933_.jpg" alt="Meraki" title="Meraki"/></img></a>

      <a target="_blank" href="https://amzn.to/2MPWjy6"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/AMAZON-FASHION/2018/PRIVATELABEL/03.MAR/RW/OUTBOUND/Hub_470x200._CB500900632_.jpg" alt="Red Wagon" title="Red Wagon"/></img></a>

      <a target="_blank" href="https://amzn.to/2Q8fLEe"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/AMAZON-FASHION/2017/PRIVATELABEL/11.NOV/FASHIONSALE/EMAIL/AMZ_Email_Banner_470x200._CB492696331_.jpg" alt="Fashion sale " title="Fashion sale "/></img></a>

      <a target="_blank" href="https://amzn.to/2Qau8YF"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/associates/iulianaa_2017-11-09T13-39_5155db_UK_AMAZONFRESH_ASSOCIATES_BOUNTY_1082898_470x200_v2._CB1198675309_.jpg" alt="AmazonFresh" title="AmazonFresh"/></img></a>

      <a target="_blank" href="https://amzn.to/2M7pfMO"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/kindle/merch/2017/campaign/1951620/974494/tcg-d-uk-470x200.jpg" alt="Kindle Oasis " title="Kindle Oasis "/></img></a>

      <a target="_blank" href="https://amzn.to/2NSdgEH"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/AMAZON-FASHION/3P/FASHION-FIX/FASHION_HUB/FashionHub_470x200._CB514236884_.jpg" alt="Fashion Fix" title="Fashion Fix"/></img></a>

      <a target="_blank" href="https://amzn.to/2NZfySg"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/kindle/merch/2017/campaign/1951620/145541/tcg-d-uk-470x200.jpg" alt="Fire TV" title="Fire TV"/></img></a>

      <a target="_blank" href="https://amzn.to/2NW2gGx"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/kindle/merch/2017/campaign/1951620/192152/xsite/tcg-d-uk-470x200._V516522590_.jpg" alt="Fire HD 10 Tablet" title="Fire HD 10 Tablet"/></img></a>

      <a target="_blank" href="https://amzn.to/2NSDOFQ"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/uk-student/images/Associates/1056921_UK--Amazon-Student_14_07_17--Associates-Graphics_470x200._V520081979_.jpg" alt="Prime Student" title="Prime Student"/></img></a>

      <a target="_blank" href="https://amzn.to/2QbdyIr"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/associates/maitri/banner/UK_ACLaunch_AssociatesFacingPromoBanner_470x200.jpg" alt="Amazon Channels" title="Amazon Channels"/></img></a>

      <a target="_blank" href="https://amzn.to/2QaLLaP"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/handmade/2016/Q3/associates/TCG-470x200_UK._V278079397_.jpg" alt="Handmade" title="Handmade"/></img></a>

      <a target="_blank" href="https://amzn.to/2Cy1o9s"><img src="https://images-eu.ssl-images-amazon.com/images/G/02/associates/mariti/banner/UK_Assoc-mass_best-sellers_470x200_3.png" alt="Kitchen & Home Appliances" title="Kitchen & Home Appliances"/></img></a>

      <!-- <a target="_blank" href="Link"><img src="Image_Url" alt="title" title="title"/></img></a> -->



    </div>

     
  </div>


  <div class="twitter-feed">
   <a class="twitter-timeline" data-height="1000" href="https://twitter.com/OhIgottabuythis?ref_src=twsrc%5Etfw">Tweets by OhIgottabuythis</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

</div>


 





 
   
   
   