<h1 class="codes_main_title" id="quickSearch">Real Time HotDeal Table</h1>
<p>Amazon offers thousands of great deals, but, sifting through the endless pages can be a huge hassle. We have just made your life easier. We offer a quick way to find the best deals on Amazon Simply click on the percentage off next to the category you want to browse. You will be redirected to a new window containing your <a href="http://amzn.to/2GgHdxF">Amazon.co.uk</a> search results.</p>
<section id="section-hottable">


  <div class="tabs">
    <input type="radio" name="tab" id="tab1" checked="checked">
    <label for="tab1">_Amazon.co.uk</label>

    <div class="tab-content-wrapper">
      <div id="tab-content-1" class="tab-content">
       <%= render 'shared/quicksearch_uk' %>
      </div>
    </div>
  </div>
</section>
