<!-- Wrapper -->
<div id="wrapper">

	<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
					<header id="header">
					  <a href="/" class="logo"><strong>Oh,</strong>   I Gotta Buy This</a>
						<ul class="icons">
						  <!--<li><button class="call_sidebar" onclick="myFunction()">Menu</button></li>-->
						  <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>						
							<li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
							<li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>
						</ul>
					</header>
					
					<div class="check_page">
					  <h2> Send Me Message </h2>
					</div>
					
				<!-- Sending Message -->
					<section id="banner">
						<div class="content">
							<header>
							  <h2>About Us</h2>
								<h4>Oh,Igottabuythis is a free online magazine run by a bunch of geeks who partake in way too much online window shopping.
                   Our philosophy is simple: we only want to display the coolest stuff you can find and buy on the web. We are not interested in 
                   spamming any boring or lame products at you – when you visit Oh,Igottabuythis you’ll only see interesting, innovative, and often times very odd products.
                   Many items listed on this site do return a small commission for product referral, however this is not the sole motivation for featuring an item. 
                   Our staff regularly lists products that we receive absolutely no compensation for.
                   We do not carry any of the products listed on the site, nor do we directly sell anything.
               </h4><br />
								<h4>Please remember that we are not an actual webstore. 
						       We do not sell anything ourselves, and we do not ship anything ourselves. We cannot assist you with your purchase orders, 
						       and we do not know if a product can be shipped internationally.
						   </h4>
							</header>
						</div>
					 <!--Sending Email  -->
						<span class="image object">
						  <h2>Get in touch</h2>
  					  <div class="form">
                <input type="text" class="input-form" name="new_title" placeholder="Your Name">
              </div>
              <div class="form">
                <input type="text" class="input-form" name="new_title" placeholder="Your Email">
              </div>
              <div class="form">
                <textarea type="text" class="input-form" name="new_description_05" rows="5" placeholder="Your Message"></textarea>
              </div><br />
              <button class="button" type="submit"> Send Message</button>
						</span>
				  <!--Sending Email  -->
				 </section>

</div><!-- End id="wrapper" -->

<script>
function myFunction() {
    var x = document.getElementById('sidebar');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
