<div id="wrapper">
  <div id="main">
    <div class="inner">
      <%= render 'shared/header' %>      
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        
      <div class="blog_wrapper">
       <div class="blog_left_main">
        
         <div class="show_header">
           <h1 class="show_main_title">5 Awesome &amp; Useful &quot;BackPack&quot;</h1>
            <ul class="blog_post_date">
            <li class="blog_icon"><img src="https://i.pinimg.com/564x/53/f0/aa/53f0aa1d10c1a6bbd381c6f17bd5ac15.jpg"></li>
            <li class="posted"><p>Oh,i gotta buy this</p></li>
            <li class="blog_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"></li>
            <li class="posted_date"><p>April.06.2018</p></li>
           </ul>
           <img src="https://i.pinimg.com/564x/d7/b5/33/d7b5337801205257c9737143afab4197.jpg" alt="Awesome &amp; Useful &quot;BackPack&quot;">
           <p class="main_intro">Travel is a part of our daily life. We’ve lugged a lot of stuff, camera or something around with us, whether it’s just for the day, a weekend trip, or a weeklong vacation. And you may concern yourself with someone stealing your belongings, your phone running out of juice, or forgetting where you put certain must-have items within your bag.  If you’re the same way, you know how hard it is to find a practical bag to haul your gear when you’re on the go. This collection has found a way to solve that with these awesome & useful backpacks that will accompany you on your everyday adventures.</p>
         </div>

         <div class="show_body">
           <h2 class="show_sub_title"><a target="_blank" href="https://goo.gl/zAZt6J">1. Airpaq - The Backpack Made From Airbags and Seat Belts.</a></h2>
           <a target="_blank" href="https://goo.gl/zAZt6J"><img src="https://4.bp.blogspot.com/-bPSZL-jqfPg/WfVwbnA25sI/AAAAAAAAAiM/3lK9Cr5_oSUwZDUfx5FbBDFQ5R9Fb-tEQCLcBGAs/s1600/Airpaq1.jpg" alt="Airpaq"></a>
           <h5>via Kickstarter.com</h5>
           <p class="show_p">Airpaq upcycles airbags and seat belts into backpacks. These materials are designed to perform in extreme situations, making Airpaq a sustainable and quality product. By collecting materials from different car models/brands/years we encounter a huge variety of materials, which make each Airpaq through little details unique.</p>
           <button><a target="_blank" href="https://goo.gl/zAZt6J">Learn More</a></button>
         </div>

         <div class="show_body">
           <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2H92h7a">2. ClickPack Pro - A Functional Anti-theft BackPack.</a></h2>
           <a target="_blank" href="https://amzn.to/2H92h7a"><img src="https://4.bp.blogspot.com/-meh7XKr9VPw/WfVx-PUP9tI/AAAAAAAAAiY/n4ceKyrwigA-CIdgfX8Li8B0tlPpMGMQACLcBGAs/s1600/gc2nn5cfjmp9rkm8lgco.webp" alt="ClickPack Pro"></a>
           <h5>via Amazon.com</h5>
           <p class="show_p">Click anti-theft system lets you enjoy the scenery. Triple anti-theft protection. TSA lock, retractable metal wire lock, YKK double layer, explosion proof zipper, special slash resistant fabric.</p>
           <button><a target="_blank" href="https://amzn.to/2H92h7a">Learn More</a></button>
         </div>

         <div class="show_body">
           <h2 class="show_sub_title"><a target="_blank" href="https://goo.gl/eE35nb">3. Bloqbag: The modular backpack and messenger bag.</a></h2>
           <p>It’s a backpack, it’s a messenger bag, it's the last bag you'll ever need. A revolutionary way to be organized and ready for anything.</p>
           <a target="_blank" href="https://goo.gl/eE35nb"><img src="https://ksr-ugc.imgix.net/assets/018/100/667/ba9cf815e96a5673a5c39053449be8d6_original.png?crop=faces&w=1024&h=576&fit=crop&v=1504666200&auto=format&q=92&s=d50c8f803e2c2382c7c06e053d11ac88" alt="loqbag: The modular backpack and messenger bag"></a>
           <h5>via Kickstarter.com</h5>
           <p class="show_p">Our daily demands change on a dime. Our lives are increasingly mobile and having the right stuff, in the right bag, at the right moment requires military-level planning and more than a dash of good luck. Keeping a bag light enough to easily carry, but still packed with what we need, when we need it can be a constant challenge. If you’ve experienced misplaced items, last-minute scrambles, and "I forgot to pack it!” moments, then you get it. Add to that the piles of unused bags, cluttered drawers full of gear, and a sore back from carrying too much, and it’s time for a change.</p>
           <button><a target="_blank" href="https://goo.gl/eE35nb">Learn More</a></button>
         </div>

         <div class="show_body">
           <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2JiMuU3">4. LOCTOTE Flak Sack - The Original Theft-Resistant Drawstring Backpack.</a></h2>
           <a target="_blank" href="https://amzn.to/2JiMuU3"><img src="https://2.bp.blogspot.com/-uYZST0tDakg/WfWDp42pZSI/AAAAAAAAAi0/lVUVmEQaC1Auw0OzQDDkJZVysPj0nG9aACLcBGAs/s1600/ag9lsce0bow9puywgf37.jpg" alt="OCTOTE Flak Sack - The Original Theft-Resistant Drawstring Backpack."></a>
           <h5>via Amazon.com</h5>
           <p class="show_p">The Flak Sack by the Loctote Industrial Bag Co. is the toughest drawstring backpack ever. Made with a double layer of heavy-duty slash-resistant fabric, this lockable bag is like a portable safe for your valuables. Simply lock the bag closed or to any secure object – and leave it without worrying about it being tampered with or stolen.</p>
           <button><a target="_blank" href="https://amzn.to/2JiMuU3">Learn More</a></button>
         </div>

         <div class="show_body">
           <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2GBcTL9">5. UNO II - The First Interchangeable Backpack.</a></h2>
           <a target="_blank" href="https://amzn.to/2GBcTL9"><img src="https://1.bp.blogspot.com/-pr_p0sI6Xa4/WfWmAWIxmHI/AAAAAAAAAkw/kIgWDk1ET1oPc8eYA6oCXDvcwdbuIU07wCLcBGAs/s1600/4cefd65f24d8bd20fbaf5d5c9a35861b_original.jpg" alt="UNO II - The First Interchangeable Backpack."></a>
           <h5>via Amazon.com</h5>
           <p class="show_p">You can easily organize your pack any way you want with UNO II, because it is designed with only ONE water-repellent fabric & one Zipper and can be opened easily and quickly. The other benefit for UNO II is that you won`t need to fumble into the bag to find the tiny things such as a key - just open it and you'll see everything inside.</p>
           <button><a target="_blank" href="https://amzn.to/2GBcTL9">Learn More</a></button>
         </div>

         </div><!--/.blog_left_main-->
         
         <%= render '/shared/sidebar_posts' %>

      </div><!--/.blog_wrapper-->

            
    </div><!--/.inner-->
  </div><!--/#main-->
</div><!--/#wrapper-->
      