<div id="wrapper">
  <div id="main">
    <div class="inner">
      <%= render 'shared/header' %>      
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        
      <div class="blogs_wrapper">
        
       <div class="blog_left_main">
        <!-- for play youtube video-->
        <div class="overlay-video">
          <div class="videoWrapperExt">
            <div class="videoWrapper">
              <div class="video_close"></div>
                <iframe id="player" width="853" height="480" src="" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>        
         </div>

         <div class="show_header">
           <h1 class="show_main_title">10 Awesome & Portable Coffee Makers </h1>
            <ul class="blog_post_date">
            <li class="blog_icon"><img src="https://i.pinimg.com/564x/53/f0/aa/53f0aa1d10c1a6bbd381c6f17bd5ac15.jpg"></li>
            <li class="posted"><p>Oh,i gotta buy this</p></li>
            <li class="blog_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"></li>
            <li class="posted_date"><p>April.15.2018</p></li>
           </ul>
           <img src="https://i.pinimg.com/564x/eb/19/50/eb19506d43bc49d673d7d14dcdf35513.jpg" alt="10 Awesome & Portable Coffee Makers"></br></br>
           <p>What if you could wake up each morning, DIY make your favorite coffee anywhere anytime, and could brew you the freshest cup of coffee possible? Now You can. With this awesome & portable coffee makers, you can make fresh coffee for yourself or your families with little effort. Perfect gift for a coffee lover for sure. </p>
         </div>

         <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://goo.gl/S5ypXk">1.The Barisieur: Designer Coffee & Tea Alarm Clock</a></h2>
             <p>A beautifully designed alarm clock in high-end materials, waking you with freshly brewed coffee or tea.</p>
             <a target="_blank" href="https://goo.gl/S5ypXk"><img src="https://3.bp.blogspot.com/-Tu6zgSYffIQ/Wg1jDtIAGFI/AAAAAAAABDk/myLGIuSI3-cXtkz5_oU326oHBquYYkfmACLcBGAs/s640/68caa5c9a9c1e8048acaaed0d2545225_original.jpg" alt="The Barisieur"></a>
             <h5>via Kickstarter.com</h5>
             <p class="show_p">The Barisieur is an automatic coffee or tea brewer that eases you into the day with the sound of bubbling water and the smell of freshly brewed coffee or loose leaf tea. It encourages a ritual in order to establish a routine before going to sleep, signalling to the body and mind that it is time to unwind and relax.</p>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://goo.gl/S5ypXk">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/NEdhfdmoPnM?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

           <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://goo.gl/vnFmtZ">2. Leverpresso: All in One Portable Lever Espresso Maker</a></h2>
             <p>We introduce to you, Leverpresso, the first portable Lever espresso maker. Inspired by classical hand operated lever machines, the Leverpresso allows you to make café-quality espressos, using your own recipes, anytime and anywhere. The Leverpresso is small, compact, and easy-to-use.</p>
             <a target="_blank" href="https://goo.gl/vnFmtZ"><img src="https://ksr-ugc.imgix.net/assets/018/123/152/2aa3a4e33428f528fc3144ba0a1a250b_original.jpg?crop=faces&w=1552&h=873&fit=crop&v=1507777886&auto=format&q=92&s=ecc123de60c395de9e888312f3cd02b4" alt=" Leverpresso"></a>
             <h5>via Kickstarter.com</h5>
             <p class="show_p">With Leverpresso, you can achieve maximum pressure with little force. Leverpresso can reach up to 9 bars of pressure, even with its small size. You’ll be able to change the taste of the coffee based on the pressure, amount of water, time of extraction, and all of these aspects can be controlled directly by you!</br>
             The typical extraction time for coffee is between 15 to 30 seconds. If you extract between 1-10 seconds, the coffee will tend to taste more sour. If you extract between 10-20 seconds, the coffee will be on the sweeter side. If you extract between 20-30 seconds, the taste will be richer and a bit bitter. You could control these subtle taste differences by utilizing the lever. For example, if you want to reduce the taste of bitterness in your coffee, lower the pressure at the end of the lever-pressing stage.</p>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://goo.gl/vnFmtZ">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/KEzb9j0zx0E?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>


          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2GUeqzV">3. MiniPresso GR Espresso Maker</a></h2>
             <p>Enjoy a fresh espresso anytime, anywhere with the help of the Mind Reader Hand Held Portable Espresso Maker. This small device requires just your favorite freshly ground coffee beans and hot water</p>
             <a target="_blank" href="https://amzn.to/2GUeqzV"><img src="https://2.bp.blogspot.com/-sKSetKgyggQ/Wg1lp5hQ1nI/AAAAAAAABEI/pT-2zRI46DsolgK8ILwKg6-0wTSb-YOZQCLcBGAs/s640/18364987_minipresso-ns-portable-espresso-maker_t2a5374d1%252C%252C.jpg" alt="MiniPresso GR Espresso Maker"></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">Minipresso GR is the perfect portable espresso machine. Compact, lightweight and versatile, you may use any variety of coffee bean/roast, which will give you more flexibility in trying new flavors. Grinding your own beans will give you more control over your coffee preparation, resulting in a quality espresso shot that will please even the most sophisticated coffee aficionado.</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "420" people found this helpful)</p>
             <p class="show_review_content">DO NOT TAMP! The manual states this, but the instructional video shows the filter basket being tamped using the back of the scoop. This is a very impressive device, and I really enjoy it. But if you tamp the espresso in the filter basket, you will blow out a seal in the pump. I was able to disassemble mine and fix it, but not without nearly breaking it.

              All that being said, if you use the scoop to dump the grounds into the filter without tamping, you will have a great experience. The espresso has decent body and crema for a totally manual brewing method. Its very easy to travel with, and you can brew a shot in only a few seconds longer than it takes to boil the water. Sure, it only really brews 1 to 1.5 shots, but it is easy enough to repeat the process. I would buy this product again. &nbsp;<a target="_blank" href="https://amzn.to/2EH39gJ">By Michael L.</a></p>
              <h3><a target="_blank" href="https://amzn.to/2qrujUo">Your cost could be $39.81 instead of $49.81! Get <span class="show_amazon_card">$10.00</span> off instantly as a gift card upon approval for the Amazon.com Store Card. </h3></a>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2GUeqzV">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/34oA0REW_AY?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2JJEvzI">4. Espro Travel Coffee Press</a></h2>
             <p>The Espro Travel Press is for people who love coffee and tea, and want to take it with them anywhere. Whether you're crossing the Amazon, or just trying to commute across an urban jungle. It’s designed so you can brew their favorite cup, seal it with the travel lid, throw it in your bag, and go.</p>
             <a target="_blank" href="https://amzn.to/2JJEvzI"><img src="https://images-na.ssl-images-amazon.com/images/I/61laQoVp1iL._SL1500_.jpg" alt="Espro Travel Coffee Press"></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">The smell of freshly ground beans. The rising steam. The rich flavor of those first sips. A truly great cup of coffee has the power to transport and inspire. Yet when on the go, we often settle for a convenient cup that falls short, a harried hustle out the door, a crowded commute, a day of back to back meetings, chasing after the kids. At Espro, we love great coffee. So when we could not find a perfect travel brewer for coffee, we invented one that delivers! It’s Easy. Pour coffee grounds in mug, then add hot water. Stir. Wait 4 minutes. Press and Enjoy.</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "45" people found this helpful)</p>
             <p class="show_review_content">I bought this thing looking for an alternative to the aeropress I use at work. I've always preferred the taste of a french press brew to the aeropress, but a full sized press would have been too much to keep around the office. I figured this travel version was a good compromise.</br>
              Overall, it's a pretty good press. The company that makes it likes to talk about their filtration system. They say it gets under the grounds and filters better than a traditional press which is supposed to remove more of the sediment. I haven't noticed any sediment in my coffee so far, but the coffee tastes about the same as coffee made in a regular press, which OK by me because that was the whole reason I bought it.... &nbsp;<a target="_blank" href="https://amzn.to/2JJ0Qx0">By Dan</a></p>
              <h3 class="show_special_offer"><a target="_blank" href="https://amzn.to/2v8lwvt">Special offers: Buy a Used "Espro Travel Coffee Press, Stainless Steel, 12 oz ..." and save 20% off the $34.95 list price.</h3></a>
              <h3><a target="_blank" href="https://amzn.to/2qrujUo">Your cost could be $24.91 instead of $34.91! Get <span class="show_amazon_card">$10.00</span> off instantly as a gift card upon approval for the Amazon.com Store Card. </h3></a>

              <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2JJEvzI">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/Pcutg-jZ4sQ?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
               </li>
              </ul>
             <div class="blog_bottomline"></div>
          </div>

          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2v9iIy6">5. Barsetto Portable Espresso Coffee Maker </a></h2>
             <a target="_blank" href="https://amzn.to/2v9iIy6"><img src="https://3.bp.blogspot.com/-i-80Eb0WJOc/Wg1noSezpTI/AAAAAAAABEs/828M06bbBrc3k-5WMrLBcBfW3dkUlh6XgCLcBGAs/s640/Untitled%2Bdesign.png" alt="Barsetto Portable Espresso Coffee Maker"></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">Barsetto Tripresso is the perfect portable coffee machine compatible with capsule and ground coffee. Manual control, convenient and environmental friendly design with a new double extraction system. The streamlined body suite for home, office, travel, outdoor activities and anywhere, it is more convenient and fun for you to experience coffee.</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "5" people found this helpful)</p>
             <p class="show_review_content">The package is very well packaged the product itself is small/portable and also high quality. I put the nespresso capsule in it and after few pumps the expresso start coming out. I added ice/milk, and I instantly have a small ice latte. I suggest watch the 2 mins YouTube video to understand how to use it. The expresso that it made it’s pretty decent and I think it would be nice to bring the device with me to work when I need a shot of expresso. The only draw back is that you can only make one shot at a time but that the same with my nespresso machine. Cleaning—it’s fairly easy to take apart and clean/dry. &nbsp;<a target="_blank" href="https://amzn.to/2qvKrDk">By Joy</a></p>

             <h3><a target="_blank" href="https://amzn.to/2qrujUo">Your cost could be $49.90 instead of $59.90! Get <span class="show_amazon_card">$10.00</span> off instantly as a gift card upon approval for the Amazon.com Store Card. </h3></a>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2v9iIy6">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/emcy0xCVWdo?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2v6QzaV">6. Pamapic Portable Coffee Maker for Travel (Mini Electric Espresso Machine)</a></h2>
             <p>Pamapic portable coffee machine is elegantly designed and portable for outdoor enthusiasts, enjoying a cup of espresso coffee anytime, a cup of coffee not only solved the fatigue of the journey, but also added a pleasant mood. Whatever traveling around the country, in offices and hotels. A coffee bean, a glass of water into the coffee machine press the top switch, a few minutes to drink delicious coffee, portable coffee machine is a good news for those who love coffee. Coffee machine packaging beautiful, durable, is the best gift to a friend. </p>
             <a target="_blank" href="https://amzn.to/2v6QzaV"><img src="https://images-na.ssl-images-amazon.com/images/I/61dpuRKeEFL._SL1200_.jpg" alt="Pamapic Portable Coffee Maker"></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">The Pamapic Portable Travel Sized Automatic Coffee Maker is a portable coffee maker that is able to go with you wherever you go to ensure that your coffee is always at the ready. The Coffee Maker is a wholly electric portable coffee maker. This coffee maker does not require any manual grinding of coffee beans or manual churning to get it to work. Instead, it is totally operated with electricity and will run with the push of a button. Instead of having to worry about carrying around messy coffee grounds, you can instead enjoy the ease that comes with being able to use K Cups in the machine. This makes it simple to pack a box of your favorite coffee to go and enjoy it anywhere.</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "0" people found this helpful)</p>
             <p class="show_review_content">So this changed my life! I hate the coffee at work and I am very particular about drinking only French Roast from my Keurig. This little portable machine you can take with you anywhere! There are a few tricks to keep in mind. It is best to hold the brewer above the cup and watch it brew so you know when it is done. Initially I closed the cup and thought it would shut off when brewing was done but it doesn't. You have to turn it off. It uses two AAA Batteries that you provide. You must put in hot water. But I just turn the tap to hot, and put it in. You can brew into almost any cup but make sure it holds as much as the water well, or you will have a situation. It is genius! Truly! &nbsp;<a target="_blank" href="https://amzn.to/2qqPHcy">By katherine rogers</a></p>
             <h3><a target="_blank" href="https://amzn.to/2qrujUo">Your cost could be $27.99 instead of $37.99! Get <span class="show_amazon_card">$10.00</span> off instantly as a gift card upon approval for the Amazon.com Store Card. </h3></a>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2v6QzaV">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="YouTube_Link?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <!-- <button><i class="fa fa-play"></i>Watch Video</button> -->
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://goo.gl/ZbRC7s">7. MOKASE: Your mobile phone cover makes even coffee.</a></h2>
             <a target="_blank" href="https://goo.gl/ZbRC7s"><img src="https://ksr-ugc.imgix.net/assets/016/514/262/0ceba2a3543a4b7ee9b122bd23b6f27e_original.jpg?w=680&fit=max&v=1493832381&auto=format&q=92&s=4ee9af6b0b5fb5ab8f417886a3be6bc3" alt="MOKASE"></a>
             <h5>via Kickstarter.com</h5>
             <p class="show_p">Get through the day without a coffee in hand then there's good news, as a new contraption could allow you to pour yourself a cup on the go. The Mokase is a heat-proof phone case which holds a drink inside and allows users to make a coffee via an app.</p>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://goo.gl/ZbRC7s">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/CjXdFlnVRss?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2EKPcyk">8. Coffee Gator -Personal Coffee Brewing Travel Mug</a></h2>
             <p>Coffee Gator gear does what it’s designed for, creates flavor extravaganzas and looks downright sexy while it’s doing it.</p>
             <a target="_blank" href="https://amzn.to/2EKPcyk"><img src="https://images-na.ssl-images-amazon.com/images/I/71K6OuUl9wL._SL1500_.jpg" alt="Coffee Gator"></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">If you can't This all in one solution is the best travel cup you’ll find on the market right now. You’ll never need to buy another paper filter again either. The metal filter guarantees a cleaner taste and saves those poor old trees. So it’s environmentally friendly and easy on the pocket too. Not only is this portable coffee maker ideal for travel, it’s 100% BPA free, dishwasher safe and easy to clean. All this adds up to more smiles per cup.</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "320" people found this helpful)</p>
             <p class="show_review_content">I don't usually write reviews on Amazon, but since most of the reviews so far have come from people who were given the product for free or at a discount I felt I could help some people out by writing a completely non-biased review. I bought this pour over to make coffee at work every morning since the only other option is using a keurig and K-cups which are extremely wasteful, over priced and make watery coffee.... &nbsp;<a target="_blank" href="https://amzn.to/2HxYUHl">By Alex</a></p>
             <h3><a target="_blank" href="https://amzn.to/2qrujUo">Your cost could be $16.97 instead of $26.97! Get <span class="show_amazon_card">$10.00</span> off instantly as a gift card upon approval for the Amazon.com Store Card. </h3></a>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2EKPcyk">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/cRuew6hrDJY?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2qtfmjR">9. Themoemoe Manual Coffee Grinder and Bonus Portable Coffee Brewer.</a></h2>
             <a target="_blank" href="https://amzn.to/2qtfmjR"><img src="https://images-na.ssl-images-amazon.com/images/I/71nu5GLNCaL._SL1500_.jpg" alt="Themoemoe Manual Coffee Grinder and Bonus Portable Coffee Brewer."></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">With the right tools and accessories, you can make barista-quality coffee whenever you like without breaking the bank, waking your sleeping kids, or cluttering your counter. Best of all, your coffee equipment can travel with you so you can maintain your favorite coffee ritual wherever life leads you. </p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "HowMany_People" people found this helpful)</p>
             <p class="show_review_content">The fast delivery of the goods, the packaging is very strong and very beautiful. The product is more than expected, the material is very good, and I like it. The product is the same as the description. You can manually touch coffee beans in the cup, make coffee and taste. Very creative, suitable for driving or outdoor activities, the cup can keep the temperature, really great. Really recommended. &nbsp;<a target="_blank" href="https://amzn.to/2IP8fK1">By Marcus A Souleymane</a></p>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2qtfmjR">Learn More</a></button></li>
              <!--  <li class="posted">
                 <div class="js-overlay-start start" data-url="YouTube_Link?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li> -->
             </ul>
             <div class="blog_bottomline"></div>
          </div>

          <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="https://amzn.to/2EFjqT3">10. JavaPresse Manual Coffee Grinder</a></h2>
             <a target="_blank" href="https://amzn.to/2EFjqT3"><img src="https://images-na.ssl-images-amazon.com/images/I/81cziuPvh8L._SL1500_.jpg" alt="JavaPresse Manual Coffee Grinder"></a>
             <h5>via Amazon.com</h5>
             <p class="show_p">This coffee grinder is not only small enough to fit in a handbag, but can be taken apart to save space as you fly to brazil or backpack through Japan. It requires no batteries, cords, or power to operate allowing you to enjoy fresh ground coffee beans indoors, outdoors, or anywhere in the world. Live your life, and we’ll accommodate.</p>
             <h3 class="show_review_title">Promising Review</h3>
             <p>(as much as over "1000" people found this helpful)</p>
             <p class="show_review_content">I don't normally leave reviews of products I buy on Amazon, but there's a specific reason why I am writing a review for this product that you'll find out about shortly. In the meantime, here's a brief list of pros vs cons on this product!..... &nbsp;<a target="_blank" href="https://amzn.to/2JGAsUJ">By D. Totten</a></p>
             <h3><a target="_blank" href="https://amzn.to/2qrujUo">Your cost could be $13.99 instead of $23.99! Get <span class="show_amazon_card">$10.00</span> off instantly as a gift card upon approval for the Amazon.com Store Card. </h3></a>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="https://amzn.to/2EFjqT3">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="https://www.youtube.com/embed/LN9d6ZaFaWY?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div>

          <!-- <div class="show_body">
             <h2 class="show_sub_title"><a target="_blank" href="Site_Link">Sub_Title</a></h2>
             <a target="_blank" href="Site_Link"><img src="Image_URL" alt="ImageTitle"></a>
             <h5>Source</h5>
             <p class="show_p">Sub_Intro</p>
             <h3 class="show_review_title">Top positive review</h3>
             <p>(as much as over "HowMany_People" people found this helpful)</p>
             <p class="show_review_content">Review &nbsp;<a target="_blank" href="Review_Link">By Reviwer</a></p>
             <h3 class="show_review_title">Top critical review</h3>
             <p>(as much as over "HowMany_People" people found this helpful)</p>
             <p class="show_review_content">Review &nbsp;<a target="_blank" href="Review_Link">By Reviwer</a></p>
             <ul class="blog_post_date">
               <li class="posted"><button><a target="_blank" href="Site_Link">Learn More</a></button></li>
               <li class="posted">
                 <div class="js-overlay-start start" data-url="YouTube_Link?rel=0&amp;showinfo=0&amp;autoplay=1">
                  <button><i class="fa fa-play"></i>Watch Video</button>
                 </div>
              </li>
             </ul>
             <div class="blog_bottomline"></div>
          </div> -->

        </div><!--/.blog_left_main-->

        <%= render '/shared/sidebar_posts' %>

       </div><!--/.blog_right_side-->
      </div><!--/.blog_wrapper-->
            
    </div><!--/.inner-->
  </div><!--/#main-->
</div><!--/#wrapper-->