<div id="wrapper">
  <div id="main">
    <div class="inner">
      <%= render 'shared/header' %>      
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        
      <div class="blog_wrapper">
       <div class="blog_left_main_post">
        
         <div class="show_header">
           <h1 class="show_main_title"><span class="prime_30">Labor Day</span> Sales 2018</h1>
            <ul class="blog_post_date">
            <li class="blog_icon"><img src="https://i.pinimg.com/564x/53/f0/aa/53f0aa1d10c1a6bbd381c6f17bd5ac15.jpg"></li>
            <li class="posted"><p>Oh,i gotta buy this</p></li>
            <li class="blog_icon"><img src="https://i.pinimg.com/564x/a6/e6/e8/a6e6e86d96fdbb7517993e0b7c43b1c4.jpg"></li>
            <li class="posted_date"><p>Sep.01.2018</p></li>
           </ul>
           <img src="https://cdn.pixabay.com/photo/2017/09/21/21/46/tools-2773665__340.png">
           <p class="main_intro"></p>
         </div>

         <div class="show_body">
           <h2 class="show_sub_title">The best hotdeals of Labor Day 2018 benefits include:</h2>
           <ul>
            
            <li><a target="_blank" href="https://amzn.to/2MKope8"><span class="prime_post">Amazon <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Savings & Sales from Across Amazon. $79.99. List: $99.99 (20% off) Save $20 on the Fire 7 Kids Edition and more. </li>

            <li><a target="_blank" href="https://bit.ly/2CiTRLZ"><span class="prime_post">Shopbop <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Shop the sale and save up to 70%! End date TBA. </li>

            <li><a target="_blank" href="https://bit.ly/2PVVUYL"><span class="prime_post">Target <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Save up to 30% sitewide. Valid through 9/3. </li>

            <li><a target="_blank" href="https://bit.ly/2N9PSVS"><span class="prime_post">Macy's  <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Take 20% off at the Labor Day Sale with code WKND. Valid through 9/3. </li>

            <li><a target="_blank" href="https://bit.ly/2N41MRr"><span class="prime_post">Velvet by Graham and Spencer <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Take an extra 40% off sale with code 40VELVETVIP. Valid through 9/4. </li>

            <li><a target="_blank" href="https://bit.ly/2C8t2Kl"><span class="prime_post">Nine West <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Take an extra 30% off everything plus an additional 50% off all sale sandals. Valid through 9/4. </li>

            <li><a target="_blank" href="https://bit.ly/2NChtMG"><span class="prime_post">Backcountry <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Get up to 50% off when you shop the Labor Day Sale. Valid through 9/3. </li>

            <li><a target="_blank" href="https://bit.ly/2wyxJI2"><span class="prime_post">River Island <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Take 20% off sitewide with code LABOR18. Valid through 9/3. </li>

            <li><a target="_blank" href="https://bit.ly/2LM2CgX"><span class="prime_post">Cole Haan <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Take 40% off all sale on sale items. Valid through 9/6. </li>

            <li><a target="_blank" href="https://bit.ly/2PRXVWd"><span class="prime_post">Serena & Lily <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Receive up to 30% off dining room furniture. Valid through 9/4. </li>

            <li><a target="_blank" href="https://bit.ly/2N7kHe8"><span class="prime_post">Good American <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Receive 40% off at the Epic Sale. Valid through 9/12.</li>

            <li><a target="_blank" href="https://bit.ly/2N8T3NJ"><span class="prime_post">Vix Swimwear <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Take up to 70% off at the Warehouse Sale. Valid through 9/6. </li>

            <li><a target="_blank" href="https://bit.ly/2wuOgwI"><span class="prime_post">Maxstudio <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Get $25 off $100, $60 off $200, and $100 off $300 with code SAVEMORE. Valid through 9/3. </li>

            <li><a target="_blank" href="https://bit.ly/2wwwMQm"><span class="prime_post">Urban Outfitters <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Take 30% off all sale items. Valid through 9/4. </li>

            <li><a target="_blank" href="https://bit.ly/2PR7FQi"><span class="prime_post">Saks Fifth Avenue <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Shop the Labor Day flash sale! Select styles up to 80% off. Valid through 9/3. </li>

            <li><a target="_blank" href="https://bit.ly/2NCooW7"><span class="prime_post">Theroy <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Spend $600 or more and get $100 Off. Valid through 9/17. </li>

            <li><a target="_blank" href="https://bit.ly/2LIA7kc"><span class="prime_post">Banana Republic <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Receive 40% off your entire purchase. Valid through 9/2. </li>

            <li><a target="_blank" href="https://bit.ly/2PlE802"><span class="prime_post">Soma Intimates <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Take 25% off everything with code 74578. Valid through 9/3. </li>

            <li><a target="_blank" href="https://bit.ly/2NCIW0N"><span class="prime_post">Kohl's <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Take 20% off sitewide with code GET20. Valid 9/3 only. </li>

            <li><a target="_blank" href="https://bit.ly/2NAhL6z"><span class="prime_post">DVF <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Enjoy an extra 25% off sale items using code ENDOFSUMMER. Valid through 9/4. </li>

            <li><a target="_blank" href="https://bit.ly/2N97txp"><span class="prime_post">Veronica Beard <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Enjoy an extra 10% off sale styles with code SUMMER10. Valid through 9/4. </li>

            <li><a target="_blank" href="https://bit.ly/2NAZ036"><span class="prime_post">JCPenney <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Take an extra 25% off $100 with code 7BIGSALE. Valid through 9/3. </li>

            <li><a target="_blank" href="https://bit.ly/2CelSUy"><span class="prime_post">Forever21 <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Take an extra 50% off sale items. Valid through 9/4. </li>

            <li><a target="_blank" href="https://bit.ly/2N7sKax"><span class="prime_post">Marc Jacobs <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Receive an additional 20% off select sale styles with promo code BYESUMMER. Valid through 9/3. </li>

            <li><a target="_blank" href="https://bit.ly/2N7lRGw"><span class="prime_post">Wayfair <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Receive up to 75% off select styles. Valid through 9/4. </li>

            <li><a target="_blank" href="https://bit.ly/2wy8qWC"><span class="prime_post">Azalea <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Take 15% off your order with code LABORDAY15. End date TBA. </li>

            <li><a target="_blank" href="https://bit.ly/2NDqqW0"><span class="prime_post">Ann Taylor <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Take 40% off full-price styles with code READYSETSALE. Valid through 9/2. </li>

            <li><a target="_blank" href="https://bit.ly/2Pmuhaq"><span class="prime_post">Under Armour <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Receive 20% off select outlet styles. Valid through 9/3. </li>

            <li><a target="_blank" href="https://bit.ly/2C82c4S"><span class="prime_post">Neiman Marcus <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Receive $100 off $400 with code NM100.  Valid through 9/3. </li>

            <li><a target="_blank" href="https://bit.ly/2PTuVx8"><span class="prime_post">Bailey 44 <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Take 20% off all sale items. Valid through 9/3. </li>

            <li><a target="_blank" href="https://bit.ly/2NCVXYb"><span class="prime_post">Shein <i class="fa fa-external-link" aria-hidden="true"></i></span></a> - Take 20% off with code SFX20. Valid through 9/3. </li>
           
           </ul>
         </div>

  
         </div><!--/.blog_left_main-->
         
         <%= render '/shared/sidebar_posts' %>

      </div><!--/.blog_wrapper-->

            
    </div><!--/.inner-->
    <!-- render 'shared/footer'  -->
  </div><!--/#main-->
</div><!--/#wrapper-->
      