<div id="wrapper">
 <div id="main">
  <div class="inner_hotdeals">
   <%= render 'shared/header' %>
   <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

   <div class="eb_nav">
    <a href="#" class="menu-trigger">Menu</a>
    <ul>
      <li><a href="/discounts">Home</a></li>
      <li><a href="/dis_category/electronics">Electronics</a></li>
      <li><a href="/dis_category/homeNgarden">Home & Garden</a></li>
      <li><a href="/dis_category/fashion">Fashion</a></li>
      <li><a href="/dis_category/sportingGoods">Sporting Goods</a></li>
      <li><a href="/dis_category/toyNhobbies">Toy & hobbies</a></li>
      <li><a href="/dis_category/music">Music</a></li>
      <li><a href="/dis_category/motor">Motor</a></li>
    </ul>
   </div>
   
   <%= render 'shared/ebay_ST' %>

  </div><!--/.inner_hotdeals--> 
 </div><!--/#main-->
</div><!--/#wrapper-->