 <div>
  <p class="promocode_title">Amazon promotional codes are online coupons that can be used at checkout to save money on your Amazon purchase. Simply enter the alpha-numeric code on the checkout page at Amazon and the corresponding discount will be reflected in your total.</p>
 </div> 

  <h3 class="discount_category">Category</h3>
  <select id="discount_filter">
    <option value="all">All Departments</option>
    <option value="automotive">Automotive</option>
    <option value="baby">Baby</option>
    <option value="beauty">Beauty</option>
    <!-- <option value="books">Books</option> -->
    <!-- <option value="business">Business, Industrial & Scientific</option> -->
    <!-- <option value="electronics">Electronics</option> -->
    <option value="fashion">Fashion</option>
    <option value="grocery">Grocery</option>
    <!-- <option value="computer">Computer</option> -->
    <!-- <option value="health">Health & Personal Care</option> -->
    <option value="home">Home</option>
    <option value="kitchen">Kitchen</option>
    <!-- <option value="office">Office</option> -->
    <option value="outdoor">Outdoor</option>
    <option value="pets">Pets</option>
    <option value="sports">Sports</option>
    <option value="tools">Tools & Home Improvement</option>
    <option value="toy">Toys & Games</option>
  </select>


<section class="discount_container grid discount_items">

<!--   <article class="item has-notice" rel="Filter">
    <h2 class="item-title">Code_title <span class="code_vaild">Vaild</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : InputYourCodes</p>
    <a target="_blank" href="Link" class="item-link">Use This Code</a>
    <div class="item-notice"><span>CodeTitlee</span></div>
  </article> -->

  <article class="item has-notice" rel="grocery">
    <h2 class="item-title">Save $2 on select Listerine sensitivity mouthwash.<span class="code_vaild">Valid through Apr 16, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 2FBLISTERINE</p>
    <a target="_blank" href="https://amzn.to/2H7DwrY" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Grocery</span></div>
  </article>

  <article class="item has-notice" rel="grocery">
    <h2 class="item-title">Save 20% on select NuGo gluten free protein cookies.<span class="code_vaild">Valid through May 11, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 20COOKIE2018</p>
    <a target="_blank" href="https://amzn.to/2uOx1YG" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Grocery</span></div>
  </article>

  <article class="item has-notice" rel="fashion">
    <h2 class="item-title">Save $20 on select Eastland women's winter boots.<span class="code_vaild"> Valid through Apr 20, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 20DAKOTADT</p>
    <a target="_blank" href="https://amzn.to/2q2HCKW" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Fashion</span></div>
  </article>

  <article class="item has-notice" rel="fashion">
    <h2 class="item-title">Save $10 on select Eastland women's clog shoes.<span class="code_vaild">Valid through Apr 20, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 10ELLODENMAE</p>
    <a target="_blank" href="https://amzn.to/2H65YKN" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Fashion</span></div>
  </article>

  <article class="item has-notice" rel="sports">
    <h2 class="item-title">Save 20% on select EAS recover powder supplement.<span class="code_vaild">Valid through Jul 17, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 20TRICLUBEAS</p>
    <a target="_blank" href="https://amzn.to/2H9FkAG" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Sports</span></div>
  </article>

  <article class="item has-notice" rel="toy">
    <h2 class="item-title">Save $12 on select Peppa Pig's kitchen set toy.<span class="code_vaild">Valid through Apr 15, 2018</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 12PEPPA</p>
    <a target="_blank" href="https://amzn.to/2EiTWeb" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Toys & Games</span></div>
  </article>

    <article class="item has-notice" rel="pets">
    <h2 class="item-title">Save 25% on select SynergyLabs shed control nutritional supplement.<span class="code_vaild">Valid through Apr 12, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 25NOSHED</p>
    <a target="_blank" href="https://amzn.to/2Je3XwZ" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Pets</span></div>
  </article>

    <article class="item has-notice" rel="pets">
    <h2 class="item-title">Save 50% on select Tropical USA fish food.<span class="code_vaild">Valid through Jun 7, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 50TROP</p>
    <a target="_blank" href="https://amzn.to/2GQ50F1" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Pets</span></div>
  </article>

    <article class="item has-notice" rel="Automotive">
    <h2 class="item-title">Save 25% on select Castrol synthetic motorcycle oil.<span class="code_vaild">Valid through May 31, 2018</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 25OFFPOWER1</p>
    <a target="_blank" href="https://amzn.to/2GvtPXb" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Automotive</span></div>
  </article>
    
  <article class="item has-notice" rel="baby">
    <h2 class="item-title">Save 15% on select Clevamama toddler pillow. <span class="code_vaild">Valid through Apr 30, 2018.</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 15TODDLER</p>
    <a target="_blank" href="http://amzn.to/2pCZcF9" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Baby</span></div>
  </article>
  
  <article class="item has-notice" rel="fashion">
    <h2 class="item-title">Save 25% on select Brooklyn Athletics men's fleece jogger pants. <span class="code_vaild">Valid through Jul 14, 2018.</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 25ATHLETICS</p>
    <a target="_blank" href="http://amzn.to/2DOxo4z" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Fashion</span></div>
  </article>
  
  <article class="item has-notice" rel="fashion">
    <h2 class="item-title">Save 25% on select Brooklyn Athletics men's Hawaiian shirts. <span class="code_vaild">Valid through Jul 14, 2018.</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 25HISHIRT</p>
    <a target="_blank" href="http://amzn.to/2uhiW5A" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Fashion</span></div>
  </article>

  <article class="item has-notice" rel="home">
    <h2 class="item-title">Save 16% on select TubShroom shower accessory. <span class="code_vaild">Valid through Apr 3, 2018.</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 16TSSSCH</p>
    <a target="_blank" href="http://amzn.to/2pvgIL5" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Home</span></div>
  </article>

  <article class="item has-notice" rel="tools">
    <h2 class="item-title">Save 20% on select ProTouch caulk. <span class="code_vaild">Valid through Apr 5, 2018.</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 20PROTOUCH</p>
    <a target="_blank" href="http://amzn.to/2u7NHKt" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Tools & Home Improvement</span></div>
  </article>

  <article class="item has-notice" rel="tools">
    <h2 class="item-title">Save 30% on select Sengled smart LED bulbs starter kit. <span class="code_vaild">Valid through Apr 3, 2018.</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 30SENGLPP</p>
    <a target="_blank" href="http://amzn.to/2G6g6oN" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Tools & Home Improvement</span></div>
  </article>

  <article class="item has-notice" rel="outdoor">
    <h2 class="item-title">Save 15% on select camping lantern. <span class="code_vaild">Valid through May 8, 2018.</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 15CAMPLT101</p>
    <a target="_blank" href="http://amzn.to/2GJ6bn9" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Outdoor</span></div>
  </article>

  <article class="item has-notice" rel="home">
    <h2 class="item-title">Save 20% on select Eureka vacuum cleaner. <span class="code_vaild">Valid through Apr 1, 2018.</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 20NES210</p>
    <a target="_blank" href="http://amzn.to/2u3Rsk6" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Home</span></div>
  </article>

  <article class="item has-notice" rel="home">
    <h2 class="item-title">Save $20 on select Vornado air purifier. <span class="code_vaild">Valid through Apr 2, 2018.</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 20OFFAC350</p>
    <a target="_blank" href="http://amzn.to/2G6doQ9" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Home</span></div>
  </article>

  <article class="item has-notice" rel="home">
    <h2 class="item-title">Save $30 on select Steamfast steam cleaner. <span class="code_vaild">Valid through Apr 2, 2018.</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 30OFFSF375</p>
    <a target="_blank" href="http://amzn.to/2GIS55b" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Home</span></div>
  </article>

  <article class="item has-notice" rel="grocery">
    <h2 class="item-title">Save 25% on select goodnessknows grocery products. <span class="code_vaild">Valid through Dec 31, 2018.</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 25GKSNACK</p>
    <a target="_blank" href="http://amzn.to/2FXs8xo" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Grocery</span></div>
  </article>
    
</section>