
  <p class="promocode_title">Amazon promotional codes are online coupons that can be used at checkout to save money on your Amazon purchase. Simply enter the alpha-numeric code on the checkout page at Amazon and the corresponding discount will be reflected in your total.</p>

  <div class="discount_code_info">
    <button class="discount_info_accordion">How do I use my Amazon promo code?</button>
    <div class="panel">
    <div class="how_to_use">
      <p>1.Copy your desired promotional code from the above list of active offers.</p>
      <p class="info_img"><img src="https://i.pinimg.com/564x/5b/cc/d3/5bccd338a30a25bdbb6b139ef2056aa2.jpg"><p>
      <p>2.Add the items you wish to order into your shopping cart by clicking Add to Cart. Ensure coupon conditions are met, including the types of items and the total price of your selected products.</p>
      <p class="info_img"><img src="https://i.pinimg.com/564x/5d/13/57/5d1357a4466ecdb98db05985b201a8f9.jpg"></p>
      <p>3.Click the Proceed to checkout button to continue with your order.</p>
      <p>4.Once you reach checkout, choose your shipping address and payment method.</p>
      <p class="info_img"><img src="https://i.pinimg.com/564x/f7/28/60/f72860dbcb9fde2267baf40c4e524c60.jpg"></p>
      <p>5.Enter the promotional code you wish to use and click Apply. The stated price reductions will then be applied to your checkout total.</p>
      <p class="info_img"><img src="https://i.pinimg.com/564x/b2/d1/55/b2d1559106d9a6c8ca77b56a476076b8.jpg"></p>
      <p>If you've encountered any of these issues, it means your code was used automatically.</p>
      <p class="info_img"><img src="https://i.pinimg.com/564x/59/6e/5c/596e5c63e52a5e512bdb4c17e8dc854f.jpg"></p>
      <p>You can check if your code was used or not on the Shipping & Payment page. OR</p>
      <p class="info_img"><img src="https://i.pinimg.com/564x/64/cd/cd/64cdcdb7de6e75c8116acde03a5ee4dd.jpg"></p>
      <p>You can check on the Place Orer page</p>
      <p>6.Then click Place your order.</p>
     </div>
    </div>

    <button class="discount_info_accordion">Why isn't my code working?</button>
    <div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
   </div>

  <h3 class="discount_category">Category</h3>
  <select id="discount_filter">
    <option value="all">All Departments</option>
    <option value="automotive">Automotive</option>
    <option value="baby">Baby</option>
    <option value="beauty">Beauty</option>
    <option value="books">Books</option>
    <option value="business">Business, Industrial & Scientific</option>
    <option value="cellphones">Cell Phones & Accessories</option>
    <option value="clothing">Clothing & Accessories</option>
    <option value="electronics">Electronics</option>
    <option value="fashion">Fashion</option>
    <option value="furniture">Furniture</option>
    <option value="grocery">Grocery</option>
    <option value="computer">Computer</option>
    <option value="health">Health & Personal Care</option>
    <option value="home">Home</option>
    <option value="kitchen">Kitchen & Housewares</option>
    <option value="miscellaneous">Miscellaneous</option>
    <option value="office">Office</option>
    <option value="pets">Pets</option>
    <option value="patio">Patio, Lawn & Garden</option>
    <option value="outdoor">Sports & Outdoors</option>
    <option value="tools">Tools & Home Improvement</option>
    <option value="toy">Toys & Games</option>
  </select>


<section class="discount_items">

  <ul class="cards discount_list">

<!--     <li class="cards__item" rel="option_value">
      <div class="card">
        <div class="card__image_code"><a href="Prodcut_link"><img src="Image_URL" alt="Image_title"></a></div>
        <p class="code_date">End Date: end_date</p>
        <div class="code_sale">
          <p class="code_p">Save Save_Percentage</p>
        </div>
        <div class="card__content">
          <div class="card__title">Product_title</div>
          <p class="discount_codes">Discount_code</p>
          <div class="discount_botton">
            <a href="Prodcut_link"><p class="use_code">Use This Code</p></a>
            <a href="Full_Product_link"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li> -->

    <li class="cards__item" rel="beauty">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2IS0FPl"><img src="https://images-na.ssl-images-amazon.com/images/I/81zaHRNUz3L._SX522_.jpg" alt="Gillette Fusion ProGlide Bundle"></a></div>          
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">$5.00</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Gillette Fusion ProGlide Bundle</div>
          <p class="discount_codes">5PROGLIDE</p>
          <p class="code_date">End Date: Jun 30 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2IS0FPl"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="health">
      <div class="card">
       <div class="card__image_code"><a href="https://amzn.to/2KYIVCr"><img src="https://images-na.ssl-images-amazon.com/images/I/51DxlQgBewL.jpg" alt="Organic Baby Cough Syrup"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">20%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Mommy's Bliss Organic Baby Cough Syrup & Mucus Relief Day Time Plus Immunity Boost</div>
          <p class="discount_codes">20BCOUGH</p>
          <p class="code_date">End Date: Jun 16 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2KYIVCr"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="beauty">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2xhjcTN"><img src="https://images-na.ssl-images-amazon.com/images/I/41JU7-G7SCL.jpg" alt="Tommy Bahama"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">30%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Tommy Bahama St. Barts Men Cologne,3.4 Fl Oz</div>
          <p class="discount_codes">30DAD2018</p>
          <p class="code_date">End Date: Jun 17 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2xhjcTN"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="home">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2GSWtNA"><img src="https://images-na.ssl-images-amazon.com/images/I/71anbZNNp7L._SL1500_.jpg" alt="Tovantoe Reusable Silicone Drinking"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">80%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Tovantoe Reusable Silicone Drinking 4 Pack +Stainless Steel Straws Smoothie</div>
          <p class="discount_codes">80HAKNWU</p>
          <p class="code_date">End Date: Jun 17 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2GSWtNA"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="beauty">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2J0RS0E"><img src="https://images-na.ssl-images-amazon.com/images/I/81z%2BhP1W%2BeL._SX522_.jpg" alt="Gillette Venus Face Perfection Women's Hair Remover"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">25%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Gillette Venus Face Perfection Women's Hair Remover</div>
          <p class="discount_codes">25OFFVENUS</p>
          <p class="code_date">End Date: Jun 30 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2J0RS0E"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2Ll4uhJ"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="outdoor">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2J41Jmm"><img src="https://images-na.ssl-images-amazon.com/images/I/91zxnckSA4L._SL1500_.jpg" alt="Motus Tape Elastic Cotton Kinesiology Tape"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">50%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Motus Tape Elastic Cotton Kinesiology Tape, Waterproof, Therapeutic Support</div>
          <p class="discount_codes">50TAPE01</p>
          <p class="code_date">End Date: Jun 15 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2J41Jmm"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2x0Ys2t"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="cellphones">
      <div class="card">
        <div class="card__image_code"><a href="Prodcut_link"><img src="https://images-na.ssl-images-amazon.com/images/I/81DZtNwt%2BHL._SL1500_.jpg" alt="Tech Armor"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">50%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Tech Armor Apple MFi Certified 8-pin Lightning Earbuds w/Extra Charge Port, Inline Microphone for Apple iPhone/iPad</div>
          <p class="discount_codes">50LTEAR1</p>
          <p class="code_date">End Date: Jun 15 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2s17AiE"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="home">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2IA0dJf"><img src="https://images-na.ssl-images-amazon.com/images/I/91zKLNPtWkL._SL1500_.jpg" alt="Cal King"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">10%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Cal King 3 Piece Fall Damask Turquoise Reversible Bedspread Quilt Set</div>
          <p class="discount_codes">10TACHE10</p>
          <p class="code_date">End Date: Aug 31 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2IA0dJf"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2ICipy4"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="automotive">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2KIlOvM"><img src="https://images-na.ssl-images-amazon.com/images/I/81GKj5jUfmL._SL1500_.jpg" alt="DieHard 38217 Advanced Gold AGM Battery"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">10%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">DieHard 38217 Advanced Gold AGM Battery</div>
          <p class="discount_codes">10DHBATTERY</p>
          <p class="code_date">End Date: Jun 19 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2KIlOvM"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2Ll1Pof"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="health">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2IXCbaM"><img src="https://images-na.ssl-images-amazon.com/images/I/81uUvIzXbBL._SY679_.jpg" alt="Bodylogix Energizing Pre-Workout Powder"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">$10.00</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Bodylogix Energizing Pre-Workout Powder</div>
          <p class="discount_codes">10PRE</p>
          <p class="code_date">End Date: Jun 30 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2IXCbaM"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2IVCm6f"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="grocery">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2IEbh49"><img src="https://images-na.ssl-images-amazon.com/images/I/71gQVYkVlcL._SX522_.jpg" alt="GURU Organic Energy Drink"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">15%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">GURU Organic Energy Drink</div>
          <p class="discount_codes">15BUCKET</p>
          <p class="code_date">End Date: Aug 31 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2IEbh49"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2Lh8vDA"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="grocery">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2rCGqPb"><img src="https://images-na.ssl-images-amazon.com/images/I/71fn--obJ7L._SX522SX522_SY348_CR,0,0,522,348_PIbundle-12,TopRight,0,0_SX522_SY348_CR,0,0,522,348_SH20_.jpg" alt="CELSIUS Sparkling Orange Fitness Drink"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">30%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">CELSIUS Sparkling Orange Fitness Drink, ZERO Sugar,12oz. Slim Can, 12 Pack</div>
          <p class="discount_codes">3030CELSIUS</p>
          <p class="code_date">End Date: Jul 1 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2rCGqPb"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2rIODAD"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="pet">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2IGacfk"><img src="https://images-na.ssl-images-amazon.com/images/I/91fgGCJ4BML._SL1500_.jpg" alt="Pet 'n Shape Bacon-D Strips with Turkey and Real Bacon - Made in the USA"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">$4.00</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Pet 'n Shape Bacon-D Strips with Turkey and Real Bacon - Made in the USA</div>
          <p class="discount_codes">4BACON</p>
          <p class="code_date">End Date: Aug 30 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2IGacfk"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2rBKiQg"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="furniture">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2jSzVmY"><img src="https://images-na.ssl-images-amazon.com/images/I/71s0H05cPzL._SL1500_.jpg" alt="Dorel Living Moriah Geometric Bookcase"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">15%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Dorel Living Moriah Geometric Bookcase Etagere, Soft Brass</div>
          <p class="discount_codes">15NEON</p>
          <p class="code_date">End Date: Jun 16 , 2018</p>
          <div class="discount_botton">
           <a href="https://amzn.to/2jSzVmY"><p class="use_code">Use This Code</p></a>
           <a href="https://amzn.to/2KUq1O0"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="miscellaneous">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2KSXw38"><img src="https://images-na.ssl-images-amazon.com/images/I/712PGBDw-vL._SL1200_.jpg" alt="Ukulele Solid Mahogany"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">$3.00</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Ukulele Solid Mahogany 23 Inch Concert Uke With Free Online Course 8 Packs Beginner Starter Kit</div>
          <p class="discount_codes">3ASCKI1S8W6</p>
          <p class="code_date">End Date: Aug 27 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2KSXw38"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="grocery">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2G9FxC2"><img src="https://images-na.ssl-images-amazon.com/images/I/51-9bHVFp4L.jpg" alt="Trimino"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">20%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Trimino Protein Infused Water, 3-Flavor Variety Pack</div>
          <p class="discount_codes">20TRIMENOW</p>
          <p class="code_date">End Date: Aug 24 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2G9FxC2"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2I9rOkq"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="grocery">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2wzZItr"><img src="https://images-na.ssl-images-amazon.com/images/I/71il3rCMr3L._SL1500_.jpg" alt="Rip Van Wafels Snack Wafels"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">15%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Rip Van Wafels Snack Wafels, Dutch Caramel & Vanilla</div>
          <p class="discount_codes">15RIPVAN</p>
          <p class="code_date">End Date: Jun 25 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2wzZItr"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2Id3U3v"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="pets">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2wDDOp6"><img src="https://images-na.ssl-images-amazon.com/images/I/41LK9EwAU5L.jpg" alt="Vetericyn FoamCare Pet Shampoo"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">$4.00</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Vetericyn FoamCare Pet Shampoo by Promotes Healthy Skin and Coat</div>
          <p class="discount_codes">4FOAMTIME</p>
          <p class="code_date">End Date: Jun 18 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2wDDOp6"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2rAqU6o"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="outdoor">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2I8yY8p"><img src="https://images-na.ssl-images-amazon.com/images/I/716iZixheKL._SL1080_.jpg" alt="Elimishield HUNT CORE Body Foam"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">50%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Elimishield HUNT CORE Body Foam ~ Scent-Eliminating Sanitizer For Hunters </div>
          <p class="discount_codes">50OFFCORE</p>
          <p class="code_date">End Date: Aug 1 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2I8yY8p"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="health">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2rD7tsC"><img src="https://images-na.ssl-images-amazon.com/images/I/71YhuwGpuML._SX522_.jpg" alt="PowerBar Plant Protein Bar"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">$4.00</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">PowerBar Plant Protein Bar, Dark Chocolate Salted Caramel Cashew</div>
          <p class="discount_codes">4TRYPOWERBAR</p>
          <p class="code_date">End Date: Aug 8 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2rD7tsC"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2G7It27"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="health">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2G9eDtO"><img src="https://images-na.ssl-images-amazon.com/images/I/81CAjZb6zJL._SX522_.jpg" alt="Premier Protein Clear Drink"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">$4.00</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Premier Protein Clear Drink, Raspberry, 16.9 fl oz Bottle</div>
          <p class="discount_codes">4TRYPREMIER</p>
          <p class="code_date">End Date: Aug 8 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2G9eDtO"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2Khze1E"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="health">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2IcgFiG"><img src="https://images-na.ssl-images-amazon.com/images/I/71MWlWjdh%2BL._SX522_.jpg" alt="EAS Myoplex Hydrate Real Food Hydration Powder for Endurance Athletes"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">20%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">EAS Myoplex Hydrate Real Food Hydration Powder for Endurance Athletes, Ocean Side Lemon Lime</div>
          <p class="discount_codes">20TRICLUBEAS</p>
          <p class="code_date">End Date: Jul 18 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2IcgFiG"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2KXcHYX"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="grocery">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2rBQjf3"><img src="https://images-na.ssl-images-amazon.com/images/I/91edxGo6LIL._SY679_.jpg" alt="Zollipops The Clean Teeth Pops"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">$5.00</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Zollipops The Clean Teeth Pops, Anti Cavity Lollipops, Delicious Assorted Flavors</div>
          <p class="discount_codes">54MOM</p>
          <p class="code_date">End Date: Jun 27 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2rBQjf3"><p class="use_code">Use This Code</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="patio">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2rArp0i"><img src="https://images-na.ssl-images-amazon.com/images/I/91xFhdtPIBL._SL1500_.jpg" alt="Belmont Premier Collection"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">20%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Oakland Living Belmont Premier Collection III Matching Patio Sets</div>
          <p class="discount_codes">20BELMONT</p>
          <p class="code_date">End Date: Jul 1 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2rArp0i"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2Kjzf5o"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="patio">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2rCIiXZ"><img src="https://images-na.ssl-images-amazon.com/images/I/817hKyZ7V3L._SL1500_.jpg" alt="Ice Cooler Carts Morocco 9 Piece Dining set with Rectangular Table Stackable Chairs"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">20%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">Ice Cooler Carts Morocco 9 Piece Dining set with Rectangular Table Stackable Chairs</div>
          <p class="discount_codes">20MOROCCO</p>
          <p class="code_date">End Date: Jul 1 , 2018</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2rCIiXZ"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2wA6zmC"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item" rel="grocery">
      <div class="card">
        <div class="card__image_code"><a href="https://amzn.to/2rCJcUn"><img src="https://images-na.ssl-images-amazon.com/images/I/81YoYPtbJ7L._SX522_.jpg" alt="GoodnessKNOWS Cranberry"></a></div>
        <div class="masonry_sale_discount">
          <div class="masonry_sale_wrapper">
            <div class="masonry_sale_howmuch">25%</div>
            <div class="masonry_sale_text">SALE</div>
          </div>
        </div>
        <div class="card__content">
          <div class="card__title">GoodnessKNOWS Cranberry, Almond & Dark Chocolate Gluten Free Snack Square Bars </div>
          <p class="discount_codes">25GKSNACK</p>
          <p class="code_date">End Date: Jan 1 , 2019</p>
          <div class="discount_botton">
            <a href="https://amzn.to/2rCJcUn"><p class="use_code">Use This Code</p></a>
            <a href="https://amzn.to/2IaisVC"><p class="use_code">More Products</p></a>
          </div>
        </div>
      </div>
    </li>

  </ul>

</section>