<div class="coupon_wrapper">
 <div class="coupon_box">
  <h1>Promo Codes</h1>
  <p class="promocode_title">Amazon promotional codes are online coupons that can be used at checkout to save money on your Amazon purchase. Simply enter the alpha-numeric code on the checkout page at Amazon and the corresponding discount will be reflected in your total.</p>
 <ul>
   <li>
    <input type="checkbox" checked>
    <i></i>
    <h2><span class="department">If your code isn’t working</span></h2>
    <p class="coupon_dis">
      <p class="notice_01"><span class="promo_notice">* Check to make sure it hasn’t expired.</span></p>
      <p class="notice_01"><span class="promo_notice">* Check the spelling of your code.(codes oftentimes are case-sensitive)</span></p>
      <p class="notice_01"><span class="promo_notice">* Check the selected items are included in the promotion code proposal.</span></p>
      <p><span class="promo_notice">* Check if promotions are available in your country</span>.</p>
    </p>
   </li>
  </ul></br>
  <select id="filter">
    <option value="all">All Departments</option>
    <option value="automotive">Automotive</option>
    <option value="baby">Baby</option>
    <option value="beauty">Beauty</option>
    <!-- <option value="books">Books</option> -->
    <!-- <option value="business">Business, Industrial & Scientific</option> -->
    <!-- <option value="electronics">Electronics</option> -->
    <option value="fashion">Fashion</option>
    <option value="grocery">Grocery</option>
    <!-- <option value="computer">Computer</option> -->
    <!-- <option value="health">Health & Personal Care</option> -->
    <option value="home">Home</option>
    <option value="kitchen">Kitchen</option>
    <!-- <option value="office">Office</option> -->
    <option value="outdoor">Outdoor</option>
    <!-- <option value="pets">Pets</option> -->
    <!-- <option value="sports">Sports</option> -->
    <option value="tools">Tools & Home Improvement</option>
    <!-- <option value="toy">Toys & Games</option> -->
  </select>

  <ul class="items">

   <!--  <li rel="fillter">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Department</span></br>Title</h2>
      <p class="coupon_dis">Discription</p>
      <p class="coupon_code">Promo Code: PromCode</p>
      <p class="coupon_gap"><a target="_blank" href="Link">Use PromoCode</a></p>
    </li> -->

    <!--  <li rel="fillter">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Department</span></br>Title</h2>
      <p class="coupon_dis">Discription</p>
      <p class="coupon_code">Promo Code: PromCode</p>
      <p class="coupon_gap"><a target="_blank" href="Link">Use PromoCode</a></p>
    </li> -->

     <li rel="baby">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Baby</span></br>Save 15% on select Clevamama toddler pillow, through 4/30 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 15% . Discount applies at checkout. Valid through Apr 30, 2018 </p>
      <p class="coupon_code">Promo Code: 15TODDLER</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2pCZcF9">Use PromoCode</a></p>
    </li>

     <li rel="fashion">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Fashion</span></br>Save 25% on select Brooklyn Athletics men's fleece jogger pants products, through 7/14 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 25% . Discount applies at checkout. Valid through Jul 14, 2018 </p>
      <p class="coupon_code">Promo Code: 25ATHLETICS</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2DOxo4z">Use PromoCode</a></p>
    </li>

     <li rel="fashion">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Fashion</span></br>Save 25% on select Brooklyn Athletics men's Hawaiian shirts products, through 7/14 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 25% . Discount applies at checkout. Valid through Jul 14, 2018 </p>
      <p class="coupon_code">Promo Code: 25HISHIRT</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2uhiW5A">Use PromoCode</a></p>
    </li>

     <li rel="home">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Home</span></br>Save 16% on select TubShroom shower accessory products, through 4/3 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 16% . Discount applies at checkout. Valid through Apr 3, 2018 </p>
      <p class="coupon_code">Promo Code: 16TSSSCH</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2pvgIL5">Use PromoCode</a></p>
    </li>

    <li rel="tools">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Tools & Home Improvement</span></br>Save 20% on select ProTouch caulk products, through 4/5 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 20% . Discount applies at checkout. Valid through Apr 5, 2018</p>
      <p class="coupon_code">Promo Code: 20PROTOUCH</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2u7NHKt">Use PromoCode</a></p>
    </li>

    <li rel="tools">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Tools & Home Improvement</span></br>Save 30% on select Sengled smart LED bulbs starter kit products, through 4/3 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 30% . Discount applies at checkout. Valid through Apr 3, 2018 </p>
      <p class="coupon_code">Promo Code: 30SENGLPP</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2G6g6oN">Use PromoCode</a></p>
    </li>

    <li rel="outdoor">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Outdoor</span></br>Save 15% on select camping lantern products, through 5/8 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 15% . Discount applies at checkout. Valid through May 8, 2018</p>
      <p class="coupon_code">Promo Code: 15CAMPLT101</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2GJ6bn9">Use PromoCode</a></p>
    </li>

    <li rel="kitchen">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Kitchen</span></br>Save 15% on select TeChef wok pan products, through 3/31 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 15% . Discount applies at checkout. Valid through Mar 31, 2018</p>
      <p class="coupon_code">Promo Code: 15SPRING18</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2G6eMSR">Use PromoCode</a></p>
     </li>

     <li rel="home">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Home</span></br>Save 20% on select Eureka vacuum cleaner products, through 4/1 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 20% . Discount applies at checkout. Valid through Apr 1, 2018 </p>
      <p class="coupon_code">Promo Code: 20NES210</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2u3Rsk6">Use PromoCode</a></p>
     </li>

    <li rel="home">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Home</span></br>Save $20 on select Vornado air purifier products, through 4/2 while supplies last.</h2>
      <p class="coupon_dis">Save an additional $20.00 . Discount applies at checkout. Valid through Apr 2, 2018</p>
      <p class="coupon_code">Promo Code: 20OFFAC350</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2G6doQ9">Use PromoCode</a></p>
    </li>

    <li rel="home">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Home</span></br>Save $30 on select Steamfast steam cleaner products, through 4/2 while supplies last.</h2>
      <p class="coupon_dis">Save an additional $30.00 . Discount applies at checkout. Valid through Apr 2, 2018</p>
      <p class="coupon_code">Promo Code: 30OFFSF375</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2GIS55b">Use PromoCode</a></p>
    </li>

    <li rel="fashion">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Fashion</span></br>Save 15% on select Brooklyn Athletics men's athleisure products, through 4/1 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 15% . Discount applies at checkout. Valid through Apr 1, 2018 </p>
      <p class="coupon_code">Promo Code: 15BA0401</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2Gbmxaa">Use PromoCode</a></p>
    </li>

    <li rel="beauty">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Beauty</span></br>Save 15% on select Cuvget skin care products through 3/31 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 15% . Discount applies at checkout. Valid through Mar 31, 2018</p>
      <p class="coupon_code">Promo Code: 15CUVGET</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2prQsAt">Use PromoCode</a></p>
    </li>

    <li rel="grocery"> 
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Grocery</span></br>Save 25% on select goodnessknows grocery products while supplies last.</h2>
      <p class="coupon_dis">Save an additional 25%.Discount applies at checkout. Valid through Dec 31, 2018</p>
      <p class="coupon_code">Promo Code: 25GKSNACK</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2FXs8xo">Use PromoCode</a></p>
    </li>

    <li rel="baby">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Baby</span></br>Save 25% on select LectroFan sleep sound machine & night light products, through 3/31 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 25% . Discount applies at checkout. Valid through Mar 31, 2018 </p>
      <p class="coupon_code">Promo Code: 25OFFKINDER</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2FV8bHy">Use PromoCode</a></p>
    </li>

    <li rel="automotive">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Automative</span></br>Save 15% on select Chemical Guys car wash products, through 3/31 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 15% . Discount applies at checkout. Valid through Mar 31, 2018</p>
      <p class="coupon_code">Promo Code: 15PIZZA</p>
      <p class="coupon_gap"><a target="_blank" href="http://amzn.to/2DCXQye">Use PromoCode</a></p>
    </li>

    <!-- <li rel="filtter">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Department</span></br>Des_01</h2>
      <p class="coupon_dis">Des_02</p>
      <p><label>Promo Code:</label><input type="text" value="PromoCode" id="myCopy">
      <button onclick="myCopycode()">Copy Me :)</button></p>
      <p class="coupon_gap"><span class="md-btn 02">Use PromoCode</span></p>
      
      <section class="modal-area">
        <div class="modal 02">
          <h3>Promocode</br>This promo code can be used on the products below.</h3>

            <div>
              <div class="modal_img"><img src="Image">
              </div>
              <div class="modal_title">
                <p class="modal_p">Title</p>
                <p>Price : Price</p>
                <a target="_blank" href="Link">Use PromoCode</a>
              </div>
            </div> 

          <div class="close"><span>close</span></div>
        </div>
      </section>
    </li> -->

  </ul>
 </div><!--/.coupon_box-->
</div><!--/.coupon_wrapper-->


