<div style="display: flex; flex-flow: column nowrap; margin-top:3em;">
   <h1 class="left_title">Coupons & Deals</h1> 
  
    <div class="card-side">
      <a target="_blank" href="http://amzn.to/2uabn0L" class="card-header" style="background-image: url('https://i.pinimg.com/564x/ce/9a/42/ce9a42f8a346d7e00fe7afe11c75aab5.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3>Amazon Coupons March 2018</h3>
        <p> Enjoy coupon savings without the hassle of clipping. Amazon Coupons showcases coupon discounts from top brands within Grocery, Health & Beauty, Electronics, Home Improvement, Movies, and more.</p>
        <a target="_blank" href="http://amzn.to/2uabn0L"><span>Get Deals</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="http://amzn.to/2HV2Gte" class="card-header" style="background-image: url('https://i.pinimg.com/564x/94/a8/a2/94a8a21499f918ca5e8af3dc88fe7021.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3>All Grocery Subscribe & Save Coupons</h3>
        <p>Save money and time by subscribing to items you buy regularly.</p>
        <a target="_blank" href="http://amzn.to/2HV2Gte"><span>Get Deals</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="http://amzn.to/2pvcT8J" class="card-header" style="background-image: url('https://i.pinimg.com/564x/8a/3e/25/8a3e250e093d5cc7bfce685d892f48b0.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3>Amazon Prime Pantry Coupons</h3>
        <p>Available only to customers with Prime membership</p>
        <a target="_blank" href="http://amzn.to/2pvcT8J"><span>Get Deals</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="http://amzn.to/2py08JP" class="card-header" style="background-image: url('https://i.pinimg.com/564x/ce/9a/42/ce9a42f8a346d7e00fe7afe11c75aab5.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3>You Just Got 70% Off</h3>
        <p>Get an extra 70% (or more!) off select Amazon items</p>
        <a target="_blank" href="http://amzn.to/2py08JP"><span>Get Deals</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="http://amzn.to/2DLZEoC" class="card-header" style="background-image: url('https://i.pinimg.com/564x/94/a8/a2/94a8a21499f918ca5e8af3dc88fe7021.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3>Save up to 50% on Overstock Deals</h3>
        <p>Get an extra 50% off on Overstock Deals</p>
        <a target="_blank" href="http://amzn.to/2DLZEoC"><span>Get Deals</span></a>
      </div>
    </div>

    <!-- <div class="card-side">
      <a target="_blank" href="Link" class="card-header" style="background-image: url('ImageURL'); background-size: 100%;"></a>
      <div class="card-content">
        <h3>Title</h3>
        <p>Description</p>
        <a target="_blank" href="Link"><span>Get Deals</span></a>
      </div>
    </div> -->

    <!-- <div class="card-side">
      <a target="_blank" href="Link" class="card-header" style="background-image: url('ImageURL'); background-size: 100%;"></a>
      <div class="card-content">
        <h3>Title</h3>
        <p>Description</p>
        <a target="_blank" href="Link"><span>Get Deals</span></a>
      </div>
    </div> -->




      
</div>