<!-- <ul id="myUL" class="product-list">

  <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="http://amzn.to/2FWVwnC" title="Family Deals Week">
      <img alt="Family Deals Week" class="product__image" src="https://images-na.ssl-images-amazon.com/images/G/15/img15/x-site/other/x-site_feb4-family-deals-pampers_300x250._V330219206_.gif"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="http://amzn.to/2FWVwnC" title="Family Deals Week">Family Deals Week</a>
      </h3>
    </div>
  </li>

  <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="http://amzn.to/2FNMttj" title="Amazon Prome For Students">
      <img alt="Amazon Prome For Students" class="product__image" src="https://images-na.ssl-images-amazon.com/images/G/15/img14/books/associate/15412_ca_books_textbooks_assoc_300x250_02.png"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="http://amzn.to/2FNMttj" title="Amazon Prome For Students">Amazon Prome For Students</a>
      </h3>
    </div>
  </li>

    <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="http://amzn.to/2poA2tM" title="Join Prime Student">
      <img alt="Join Prime Student" class="product__image" src="https://images-na.ssl-images-amazon.com/images/G/15/img15/amazon-student/associate/25585_student_ca-en_assoc_300x250.gif"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="http://amzn.to/2poA2tM" title="Join Prime Student">Join Prime Student</a>
      </h3>
    </div>
  </li>

  <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="http://amzn.to/2G7yKwF" title="Fashion Sales & Deals Up to 70%">
      <img alt="Fashion Sales & Deals Up to 70%" class="product__image" src="https://images-na.ssl-images-amazon.com/images/G/15/img16/softlines/associates/33048_ca_softlines_evergreen_graphics_associates_300x250.png"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="http://amzn.to/2G7yKwF" title="Fashion Sales & Deals Up to 70%">Fashion Sales & Deals Up to 70%</a>
      </h3>
    </div>
  </li>

  <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="http://amzn.to/2GJy7Y3" title="The New Clothing Stroe">
      <img alt="The New Clothing Stroe" class="product__image" src="https://images-na.ssl-images-amazon.com/images/G/15/img15/amazon-fashion/editorial/launch/clothing-essentials/ca_cl-st_associate_300x250._V307677064_.jpg"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="http://amzn.to/2GJy7Y3" title="The New Clothing Stroe">The New Clothing Stroe</a>
      </h3>
    </div>
  </li>

  <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="http://amzn.to/2HMteN6" title="The New Shoes Stroe">
      <img alt="The New Shoes Stroe" class="product__image" src="https://images-na.ssl-images-amazon.com/images/G/15/img15/amazon-fashion/editorial/launch/shoes/0602_S_associate_300x250._V305718542_.jpg"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="http://amzn.to/2HMteN6" title="The New Shoes Stroe">The New Shoes Stroe</a>
      </h3>
    </div>
  </li>

  <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="http://amzn.to/2FN8VTe" title="Spring Special">
      <img alt="Spring Special" class="product__image" src="https://images-na.ssl-images-amazon.com/images/G/15/img16/softlines/associates/33718_ca_softlines_spring_ahead_associates_300x250.png"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="http://amzn.to/2FN8VTe" title="Spring Special">Spring Ahead - WEDDINGS & SPECIAL OCCASIONS</a>
      </h3>
    </div>
  </li>

  <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="http://amzn.to/2G4KSOW" title="Sales and Specials in the Baby Store">
      <img alt="Sales and Specials in the Baby Store" class="product__image" src="https://images-na.ssl-images-amazon.com/images/G/15/img15/baby/associates/18151_CA_baby_feb26-baby_300x250.gif"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="http://amzn.to/2G4KSOW" title="Sales and Specials in the Baby Store">Sales and Specials in the Baby Store</a>
      </h3>
    </div>
  </li>

  <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="http://amzn.to/2FXa2M0" title="Baby Registry">
      <img alt="Baby Registry" class="product__image" src="https://images-na.ssl-images-amazon.com/images/G/15/img14/baby/0705_amazon-ca-baby_300x250-4._V339650962_.png"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="http://amzn.to/2FXa2M0" title="Baby Registry">Baby Registry</a>
      </h3>
    </div>
  </li>

  <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="http://amzn.to/2FO1efx" title="Back To Business">
      <img alt="Back To Business" class="product__image" src="https://images-na.ssl-images-amazon.com/images/G/15/img16/office-products/associate/31906_ca_back-to-business_associates_300x250_v2-en.png"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="http://amzn.to/2FO1efx" title="Back To Business">Back To Business</a>
      </h3>
    </div>
  </li>

  <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="http://amzn.to/2IFquT8" title="Back to School">
      <img alt="Back to School" class="product__image" src="https://images-na.ssl-images-amazon.com/images/G/15/img15/x-site/associates/22713_xsite_ca-otc_assoc_300x250_A.gif"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="http://amzn.to/2IFquT8" title="Back to School">Back to School</a>
      </h3>
    </div>
  </li>

  <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="http://amzn.to/2ID4iJ3" title="Deals in Beauty & Personal Care">
      <img alt="Deals in Beauty & Personal Care" class="product__image" src="https://images-na.ssl-images-amazon.com/images/G/01/img15/beauty/associates/29294_beauty_gw-hero_assoc_300x250.jpg"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="http://amzn.to/2ID4iJ3" title="Deals in Beauty & Personal Care">Deals in Beauty & Personal Care</a>
      </h3>
    </div>
  </li>

    <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="http://amzn.to/2GaZMTY" title="Save over 20% on new beauty products">
      <img alt="Save over 20% on new beauty products" class="product__image" src="https://images-na.ssl-images-amazon.com/images/G/15/img16/beauty/associate/32807_hpc_p-g-beauty_associate_300x250.png"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="http://amzn.to/2GaZMTY" title="Save over 20% on new beauty products">Save over 20% on new beauty products</a>
      </h3>
    </div>
  </li>

  <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="http://amzn.to/2G83TA0" title="New Brands In Beauty">
      <img alt="New Brands In Beauty" class="product__image" src="https://images-na.ssl-images-amazon.com/images/G/15/img15/beauty/associate/23091_beauty_ca_en_assoc_300x250.jpg%E2%80%8B"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="http://amzn.to/2G83TA0" title="New Brands In Beauty">New Brands In Beauty</a>
      </h3>
    </div>
  </li>

  <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="http://amzn.to/2IDKdCH" title="40th anniversary Amazon.ca First Novel Award">
      <img alt="40th anniversary Amazon.ca First Novel Award" class="product__image" src="https://images-na.ssl-images-amazon.com/images/G/15/img16/books/associate/35341_books_ca_fna_assoc_300x250.gif"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="http://amzn.to/2IDKdCH" title="40th anniversary Amazon.ca First Novel Award">40th anniversary Amazon.ca First Novel Award</a>
      </h3>
    </div>
  </li>

  <!-- <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="Link" title="title">
      <img alt="image_title" class="product__image" src="image_url"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="Link" title="title">Title</a>
      </h3>
    </div>
  </li> -->

  <!-- <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="Link" title="title">
      <img alt="image_title" class="product__image" src="image_url"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="Link" title="title">Title</a>
      </h3>
    </div>
  </li> -->

    <!-- <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="Link" title="title">
      <img alt="image_title" class="product__image" src="image_url"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="Link" title="title">Title</a>
      </h3>
    </div>
  </li> -->

  <!-- <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="Link" title="title">
      <img alt="image_title" class="product__image" src="image_url"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="Link" title="title">Title</a>
      </h3>
    </div>
  </li> -->

  <!-- <li class="product-list__item product">
    <a target="_blank" class="product__image-link" href="Link" title="title">
      <img alt="image_title" class="product__image" src="image_url"/>
    </a>
    <div class="product__info">
      <h3 class="product__title">
       <a target="_blank" class="product__title-link" href="Link" title="title">Title</a>
      </h3>
    </div>
  </li> -->

  

</ul> -->