<div class="coupon_wrapper">
 <div class="coupon_box">
  <h1>Amazon.com Promo Code</h1>
  <ul>

    <!-- <li>
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Department</span></br>Des_01</h2>
      <p class="coupon_dis">Des_02</p>
      <p><label>Promo Code:</label><input type="text" value="PromoCode" id="myCopy">
        <button onclick="myCopycode()">Copy Me :)</button></p>
        <p class="coupon_gap"><span class="md-btn 02">Use PromoCode</span></p>
        
        <section class="modal-area">
          <div class="modal 02">
            <h2>Promocode</br>This promo code can be used on the products below.</h2>

              <div>
                <div class="modal_img"><img src="Image">
                </div>
                <div class="modal_title">
                  <p class="modal_p">Title</p>
                  <p>price : Price</p>
                  <a target="_blank" href="Link">Use PromoCode</a>
                </div>
              </div> 

            <div class="close"><span>close</span></div>
          </div>
        </section>
      </li> -->

       <!-- <li>
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Department</span></br>Des_01</h2>
      <p class="coupon_dis">Des_02</p>
      <p><label>Promo Code:</label><input type="text" value="PromoCode" id="myCopy">
        <button onclick="myCopycode()">Copy Me :)</button></p>
        <p class="coupon_gap"><span class="md-btn 02">Use PromoCode</span></p>
        
        <section class="modal-area">
          <div class="modal 02">
            <h2>Promocode</br>This promo code can be used on the products below.</h2>

              <div>
                <div class="modal_img"><img src="Image">
                </div>
                <div class="modal_title">
                  <p class="modal_p">Title</p>
                  <p>price : Price</p>
                  <a target="_blank" href="Link">Use PromoCode</a>
                </div>
              </div> 

            <div class="close"><span>close</span></div>
          </div>
        </section>
      </li> -->

    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Grocery</span></br>Save 25% on select goodnessknows grocery products while supplies last.</h2>
      <p class="coupon_dis">Save an additional 25% . Discount applies at checkout. Valid through Dec 31, 2018 
      </p>
      <p><label>Promo Code:</label><input type="text" value="25GKSNACK" id="myCopy">
      <button onclick="myCopycode()">Copy Me :)</button></p>
      <p class="coupon_gap"><span class="md-btn 03">Use PromoCode</span></p>
        
      <section class="modal-area">
        <div class="modal 03">
          <h2>25GKSNACK</br>This promo code can be used on the products below.</h2>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/714ElCsiWNL._SX522_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">goodnessKNOWS Cranberry, Almond & Dark Chocolate Gluten Free Snacks Square Bars 12-Count Box </p>
                <p class="modal_price">price : $17.99 ($1.50 / Count) & FREE Shipping on orders over $25.</p>
                <a target="_blank" href="http://amzn.to/2u0eGr9">Use PromoCode</a>
              </div>
            </div>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/71b%2BiJtwyvL._SX522_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">goodnessKNOWS Apple, Almond, Peanut & Dark Chocolate Gluten Free Snacks Square Bars 12-Count Box</p>
                <p class="modal_price">price : $17.99 ($1.25 / Ounce) & FREE Shipping on orders over $25</p>
                <a target="_blank" href="http://amzn.to/2HNJZrj">Use PromoCode</a>
              </div>
            </div>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/71EkF%2BA8DcL._SX522_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">goodnessKNOWS Peach, Cherry, Almond & Dark Chocolate Gluten Free Snacks Square Bars 12-Count Box</p>
                <p class="modal_price">price : $15.13 ($1.05 / Ounce) & FREE Shipping on orders over $25.</p>
                <a target="_blank" href="http://amzn.to/2pnMaei">Use PromoCode</a>
              </div>
            </div>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/71a2dgy1Q2L._SX522_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">goodnessKNOWS Mixed Berries, Almond & Dark Chocolate Gluten Free Snacks Square Bars 12-Count Box</p>
                <p class="modal_price">price : $14.00 ($1.17 / Count) & FREE Shipping on orders over $25.</p>
                <a target="_blank" href="Link">Use PromoCode</a>
              </div>
            </div>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/717Z3fN3VgL._SX522AA522_PIbundle-12,TopRight,0,0_AA522_SH20_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">goodnessKNOWS Blueberry, Almond & Dark Chocolate Gluten Free Snacks Square Bars 12-Count Box</p>
                <p class="modal_price">price : $14.00 ($0.08 / Ounce) & FREE Shipping on orders over $25.</p>
                <a target="_blank" href="http://amzn.to/2G8Rjk3">Use PromoCode</a>
              </div>
            </div>

          <div class="close"><span>close</span></div>
        </div>
      </section>
    </li>

    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Baby</span></br>Save 25% on select LectroFan sleep sound machine & night light products, through 3/31 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 25% . Discount applies at checkout. Valid through Mar 31, 2018 </p>
      <p><label>Promo Code:</label><input type="text" value="25OFFKINDER" id="myCopy">
      <button onclick="myCopycode()">Copy Me :)</button></p>
      <p class="coupon_gap"><span class="md-btn 02">Use PromoCode</span></p>
        
      <section class="modal-area">
        <div class="modal 02">
          <h2>25OFFKINDER</br>This promo code can be used on the products below.</h2>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/613uJSGqWhL._SX522_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">LectroFan Kinder Sleep Sound Machine and Night Light for Infants and Toddlers with Smart Phone Control</p>
                <p class="modal_price">price : $79.95 & FREE Shipping.</p>
                <a target="_blank" href="http://amzn.to/2FV8bHy">Use PromoCode</a>
              </div>
            </div> 

          <div class="close"><span>close</span></div>
        </div>
      </section>
    </li>

    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Automative</span></br>Save 15% on select Chemical Guys car wash products, through 3/31 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 15% . Discount applies at checkout. Valid through Mar 31, 2018</p>
      <p><label>Promo Code:</label><input type="text" value="15PIZZA" id="myCopy">
        <button onclick="myCopycode()">Copy Me :)</button></p>
        <p class="coupon_gap"><span class="md-btn 01">Use PromoCode</span></p>
        
        <section class="modal-area">
          <!-- First modal named "one" -->
          <div class="modal 01">
            <h2>15PIZZA</br>This promo code can be used on the products below.</h2>

              <div>
                <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/61cJY1sZgdL._SL1000_.jpg">
                </div>
                <div class="modal_title">
                  <p class="modal_p">Chemical Guys CWS_110 Honeydew Snow Foam Car Wash Soap and Cleanser (1 Gal)</p>
                  <p>price : $34.95 & FREE Shipping</p>
                  <a target="_blank" href="http://amzn.to/2DCXQye">Use PromoCode</a>
                </div>
              </div> 

            <div class="close"><span>close</span></div>
          </div>
        </section>
      </li>

  </ul>
 </div><!--/.coupon_box-->
</div><!--/.coupon_wrapper-->


