<h1 class="left_title">Coupons & Deals</h1> 


<!-- <div class="block">
  <a target="_blank" href="CouponLink">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">CouponTitle</p>
            <p class="totem-bd" title="Discription">CoponDiscription</p>
            <a target="_blank" href="CouponLink"><p class="totem-ft">Get Deals/Coupon</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="ImageURL" alt="ImageTitle" />
        </div>
      </div>
    </div>
  </a>
</div> -->

<div class="block">
  <a target="_blank" href="https://amzn.to/2G0RCOG">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Today`s Deals</p>
            <p class="totem-bd" title="A single item or small set of closely related items discounted for one day only.">A single item or small set of closely related items discounted for one day only.</p>
            <a target="_blank" href="https://amzn.to/2G0RCOG"><p class="totem-ft">Get Coupons</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/b1/86/84/b18684445d9fed840b8ffb14af5f0c5b.jpg" alt="Today`s Deals" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->

<div class="block">
  <a target="_blank" href="https://amzn.to/2I1y5KC">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Lightning Deals</p>
            <p class="totem-bd" title="Since Lightning Deals are time-sensitive, it's important to complete your order as soon as possible.">Since Lightning Deals are time-sensitive, it's important to complete your order as soon as possible.</p>
            <a target="_blank" href="https://amzn.to/2I1y5KC"><p class="totem-ft">Get Coupons</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/ad/b2/e5/adb2e5229cd52b18b0aa6fe0f407c413.jpg" alt="Lightning Deals" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->

<div class="block">
  <a target="_blank" href="https://amzn.to/2IMadeW">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Savings & Sales</p>
            <p class="totem-bd" title="A selection of discounted items and ongoing promotions from across Amazon.">A selection of discounted items and ongoing promotions from across Amazon.</p>
            <a target="_blank" href="https://amzn.to/2IMadeW"><p class="totem-ft">Get Coupons</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/56/24/12/562412c082167db22a8afe84d47013da.jpg" alt="Savings & Sales" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->


<div class="block">
  <a target="_blank" href="http://amzn.to/2uabn0L">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd" >Amazon Coupons April 2018</p>
            <p class="totem-bd" title="Enjoy coupon savings without the hassle of clipping. Amazon Coupons showcases coupon discounts from top brands within Grocery, Health & Beauty, Electronics, Home Improvement, Movies, and more.">Enjoy coupon savings without the hassle of clipping. Amazon Coupons showcases coupon discounts from top brands within Grocery, Health & Beauty, Electronics, Home Improvement, Movies, and more.</p>
            <a target="_blank" href="http://amzn.to/2uabn0L"><p class="totem-ft">Get Coupons</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/6f/74/1d/6f741df0bec3d4144a459f1f9c67d6bb.jpg" alt="Amazon Coupons April 2018" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->

<div class="block">
  <a target="_blank" href="http://amzn.to/2HV2Gte">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Grocery Subscribe Coupons</p>
            <p class="totem-bd" title="Save money and time by subscribing to items you buy regularly.">Save money and time by subscribing to items you buy regularly.</p>
            <a target="_blank" href="http://amzn.to/2HV2Gte"><p class="totem-ft">Get Coupons</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/85/78/f1/8578f1c03639e159ab9d4f2070edb9ea.jpg" alt="Grocery Subscribe & Save Coupons" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->

<div class="block">
  <a target="_blank" href="https://amzn.to/2pAX9ky">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd" title="Discription">Beauty Subscribe Coupons</p>
            <p class="totem-bd" title="Save money and time by subscribing to items you buy regularly.">Save money and time by subscribing to items you buy regularly.</p>
            <a target="_blank" href="https://amzn.to/2pAX9ky"><p class="totem-ft">Get Coupons</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/85/78/f1/8578f1c03639e159ab9d4f2070edb9ea.jpg" alt="Beauty Subscribe & Save Coupons" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->

<div class="block">
  <a target="_blank" href="https://amzn.to/2pB090i">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Household Supplies Coupons</p>
            <p class="totem-bd" title="Save money and time by subscribing to items you buy regularly.">Save money and time by subscribing to items you buy regularly.</p>
            <a target="_blank" href="https://amzn.to/2pB090i"><p class="totem-ft">Get Coupons</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/5b/9d/0c/5b9d0cd158588beabb44f39202272c9d.jpg" alt="Household Supplies Subscribe & Save Coupons" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->

<div class="block">
  <a target="_blank" href="https://amzn.to/2IR040D">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Pet Subscribe Coupons</p>
            <p class="totem-bd" title="Save money and time by subscribing to items you buy regularly.">Save money and time by subscribing to items you buy regularly.</p>
            <a target="_blank" href="https://amzn.to/2IR040D"><p class="totem-ft">Get Coupons</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/5b/9d/0c/5b9d0cd158588beabb44f39202272c9d.jpg" alt="Pet Subscribe & Save Coupons" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->

<div class="block">
  <a target="_blank" href="http://amzn.to/2pvcT8J">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Amazon Prime Pantry Coupons</p>
            <p class="totem-bd" title="Available only to customers with Prime membership.">Available only to customers with Prime membership.</p>
            <a target="_blank" href="http://amzn.to/2pvcT8J"><p class="totem-ft">Get Coupon</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/85/78/f1/8578f1c03639e159ab9d4f2070edb9ea.jpg" alt="Amazon Prime Pantry Coupons" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->

<div class="block">
  <a target="_blank" href="https://amzn.to/2DRSgI">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Amazon Electronics Coupons</p>
            <p class="totem-bd" title="save on select products">save on select products.</p>
            <a target="_blank" href="https://amzn.to/2DRSgI"><p class="totem-ft">Get Coupons</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/5b/9d/0c/5b9d0cd158588beabb44f39202272c9d.jpg" alt="Amazon Electronics Coupons" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->

<div class="block">
  <a target="_blank" href="https://amzn.to/2pByQmz">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Coupons For Families</p>
            <p class="totem-bd" title="You'll find items such as Babies, Health & Personal, Kitchen, Beauty, and more.">You'll find items such as Babies, Health & Personal, Kitchen, Beauty, and more.</p>
            <a target="_blank" href="https://amzn.to/2pByQmz"><p class="totem-ft">Get Coupons</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/d9/d1/b2/d9d1b23fc87dbdc3555c1ffcb24fcc51.jpg" alt="Coupons For Families" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->

<div class="block">
  <a target="_blank" href="https://amzn.to/2pBlmY1">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Just for Prime</p>
            <p class="totem-bd" title="Prime early access deals">Prime early access deals.</p>
            <a target="_blank" href="https://amzn.to/2pBlmY1"><p class="totem-ft">Get Deals</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/70/24/bb/7024bbc7ddf623ed8f41d1010c5a005a.jpg" alt="Just for Prime" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->

<div class="block">
  <a target="_blank" href="http://amzn.to/2py08JP">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">You Just Got 70% Off</p>
            <p class="totem-bd" title="Get an extra 70% (or more!) off select Amazon items">Get an extra 70% (or more!) off select Amazon items.</p>
            <a target="_blank" href="http://amzn.to/2py08JP"><p class="totem-ft">Get Deals</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/59/33/79/59337902eef139a7acee4f389689f04b.jpg" alt="You Just Got 70% Off" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->

<div class="block">
  <a target="_blank" href="http://amzn.to/2DLZEoC">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Overstock Deals</p>
            <p class="totem-bd" title="Get an extra 50% off on Overstock Deal">Get an extra 50% off on Overstock Deal.</p>
            <a target="_blank" href="http://amzn.to/2DLZEoC"><p class="totem-ft">Get Deals</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/70/24/bb/7024bbc7ddf623ed8f41d1010c5a005a.jpg" alt="Overstock Deals"/>
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->

<div class="block">
  <a target="_blank" href="https://amzn.to/2G4onKL">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Amazon Fashion Sales</p>
            <p class="totem-bd" title="Save on select clothing, shoes, & accessories (more 80% off)">Save on select clothing, shoes, & accessories (more 80% off).</p>
            <a target="_blank" href="https://amzn.to/2G4onKL"><p class="totem-ft">Get Deals</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/29/55/15/295515ebc0d98d7be6eebff73a04b0db.jpg" alt="Amazon Fashion Sales" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->


<div class="block">
  <a target="_blank" href="https://amzn.to/2ujn5pX">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Outlet Deals</p>
            <p class="totem-bd" title="If you love great deals and bargain hunting, you have to get thsi deals.(more 80% off)">If you love great deals and bargain hunting, you have to get thsi deals.(more 80% off).</p>
            <a target="_blank" href="https://amzn.to/2ujn5pX"><p class="totem-ft">Get Deals</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/29/55/15/295515ebc0d98d7be6eebff73a04b0db.jpg" alt="Outlet Deals" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->

<div class="block">
  <a target="_blank" href="https://amzn.to/2DS4z7w">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Makers Event Deal</p>
            <p class="totem-bd" title="Save up to 30% on select tools for the makers who have a passion for making great projects.">Save up to 30% on select tools for the makers who have a passion for making great projects.</p>
            <a target="_blank" href="https://amzn.to/2DS4z7w"><p class="totem-ft">Get Deals</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/21/3e/fe/213efe1e6a9c65a35aeff96f7307d699.jpg" alt="Makers Event Deal" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->

<div class="block">
  <a target="_blank" href="https://amzn.to/2DV6sAw">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Try it first with samples</p>
            <p class="totem-bd" title="Buy a sample box, get an equal credit back for a future purchase.">Buy a sample box, get an equal credit back for a future purchase.</p>
            <a target="_blank" href="https://amzn.to/2DV6sAw"><p class="totem-ft">Get Deals/Coupon</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/2a/08/04/2a08043ae3e88669359d105ebc4605d9.jpg" alt="Try if first with samples" />
        </div>
      </div>
    </div><!-- end box -->
  </a>
</div><!-- end block -->


