<div class="coupon_wrapper">
 <div class="coupon_box">
  <h1>Amazon.com Promo Code</h1>
  <select id="filter">
    <option value="all">All Departments</option>
    <option value="automotive">Automotive</option>
    <option value="baby">Baby</option>
    <option value="beauty">Beauty</option>
    <!-- <option value="books">Books</option> -->
    <!-- <option value="business">Business, Industrial & Scientific</option> -->
    <!-- <option value="electronics">Electronics</option> -->
    <option value="fashion">Fashion</option>
    <option value="grocery">Grocery</option>
    <!-- <option value="computer">Computer</option> -->
    <!-- <option value="health">Health & Personal Care</option> -->
    <option value="home">Home</option>
    <option value="kitchen">Kitchen</option>
    <!-- <option value="office">Office</option> -->
    <option value="outdoor">Outdoor</option>
    <!-- <option value="pets">Pets</option> -->
    <!-- <option value="sports">Sports</option> -->
    <option value="tools">Tools & Home Improvement</option>
    <!-- <option value="toy">Toys & Games</option> -->
  </select>

  <ul class="items">

      <!-- <li rel="filtter">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Department</span></br>Des_01</h2>
      <p class="coupon_dis">Des_02</p>
      <p><label>Promo Code:</label><input type="text" value="PromoCode" id="myCopy">
      <button onclick="myCopycode()">Copy Me :)</button></p>
      <p class="coupon_gap"><span class="md-btn 02">Use PromoCode</span></p>
      
      <section class="modal-area">
        <div class="modal 02">
          <h3>Promocode</br>This promo code can be used on the products below.</h3>

            <div>
              <div class="modal_img"><img src="Image">
              </div>
              <div class="modal_title">
                <p class="modal_p">Title</p>
                <p>Price : Price</p>
                <a target="_blank" href="Link">Use PromoCode</a>
              </div>
            </div> 

          <div class="close"><span>close</span></div>
        </div>
      </section>
    </li> -->

    <!-- <li rel="filtter">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Department</span></br>Des_01</h2>
      <p class="coupon_dis">Des_02</p>
      <p><label>Promo Code:</label><input type="text" value="PromoCode" id="myCopy">
      <button onclick="myCopycode()">Copy Me :)</button></p>
      <p class="coupon_gap"><span class="md-btn 02">Use PromoCode</span></p>
      
      <section class="modal-area">
        <div class="modal 02">
          <h3>Promocode</br>This promo code can be used on the products below.</h3>

            <div>
              <div class="modal_img"><img src="Image">
              </div>
              <div class="modal_title">
                <p class="modal_p">Title</p>
                <p>Price : Price</p>
                <a target="_blank" href="Link">Use PromoCode</a>
              </div>
            </div> 

          <div class="close"><span>close</span></div>
        </div>
      </section>
    </li> -->

    <li rel="tools">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Tools & Home Improvement</span></br>Save 20% on select ProTouch caulk products, through 4/5 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 20% . Discount applies at checkout. Valid through Apr 5, 2018</p>
      <p><label>Promo Code:</label><input type="text" value="20PROTOUCH" id="myCopy">
      <button onclick="myCopycode()">Copy Me :)</button></p>
      <p class="coupon_gap"><span class="md-btn 12">Use PromoCode</span></p>
      
      <section class="modal-area">
        <div class="modal 12">
          <h3>20PROTOUCH</br>This promo code can be used on the products below.</h3>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/717uVw-p59L._SL1374_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">ProTouch 0574 Caulk Kit A Better Caulking System For Homeowners, White Silicone</p>
                <p>Price : $18.21 & FREE Shipping on orders over $25.</p>
                <a target="_blank" href="http://amzn.to/2pp608V">Use PromoCode</a>
              </div>
            </div> 

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/51hmAuZ63SL.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">ProTouch 9041 Kitchen & Bath Silicone Caulk, Clear</p>
                <p>Price : $5.66 & FREE Shipping on orders over $25.</p>
                <a target="_blank" href="http://amzn.to/2u3VIA6">Use PromoCode</a>
              </div>
            </div> 

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/51DBMd8EFjL.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">ProTouch 9040 Caulk Refill Silicone Caulk, White</p>
                <p>Price : $5.00 & FREE Shipping on orders over $25.</p>
                <a target="_blank" href="http://amzn.to/2G8GVc4">Use PromoCode</a>
              </div>
            </div> 

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/716lRFg5DhL._SL1500_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">ProTouch 9032 Paintable Acrylic Caulk Windows, Doors & Trim</p>
                <p>Price : $6.24 & FREE Shipping on orders over $25.</p>
                <a target="_blank" href="http://amzn.to/2u7u9Ga">Use PromoCode</a>
              </div>
            </div> 

          <div class="close"><span>close</span></div>
        </div>
      </section>
    </li>

    <li rel="tools">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Tools & Home Improvement</span></br>Save 30% on select Sengled smart LED bulbs starter kit products, through 4/3 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 30% . Discount applies at checkout. Valid through Apr 3, 2018 </p>
      <p><label>Promo Code:</label><input type="text" value="30SENGLPP" id="myCopy">
      <button onclick="myCopycode()">Copy Me :)</button></p>
      <p class="coupon_gap"><span class="md-btn 11">Use PromoCode</span></p>
      
      <section class="modal-area">
        <div class="modal 11">
          <h3>30SENGLPP</br>This promo code can be used on the products below.</h3>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/61-AJhdy98L._SL1500_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">Element Plus by Sengled - Starter Kit (2 A19 bulbs + hub) - 60W Equivalent Tunable White (2700-6500K) Smart LED Bulbs, Zigbee, Compatible with Amazon Alexa, Google Assistant and SmartThings</p>
                <p>Price : $59.99 & FREE Shipping.</p>
                <a target="_blank" href="http://amzn.to/2G6g6oN">Use PromoCode</a>
              </div>
            </div> 

          <div class="close"><span>close</span></div>
        </div>
      </section>
    </li>

    <li rel="outdoor">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Outdoor</span></br>Save 15% on select camping lantern products, through 5/8 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 15% . Discount applies at checkout. Valid through May 8, 2018</p>
      <p><label>Promo Code:</label><input type="text" value="15CAMPLT101" id="myCopy">
      <button onclick="myCopycode()">Copy Me :)</button></p>
      <p class="coupon_gap"><span class="md-btn 10">Use PromoCode</span></p>
      
      <section class="modal-area">
        <div class="modal 10">
          <h3>15CAMPLT101</br>This promo code can be used on the products below.</h3>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/519xaxXwaJL._SL1000_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">Camping Lanterns Portable LED with Ceiling Fan Tent</p>
                <p>Price : $14.99 & FREE Shipping on orders over $25.</p>
                <a target="_blank" href="http://amzn.to/2GJ6bn9">Use PromoCode</a>
              </div>
            </div> 

          <div class="close"><span>close</span></div>
        </div>
      </section>
    </li>

      <li rel="kitchen">
        <input type="checkbox" checked>
        <i></i>
        <h2><span class="department">Department: Kitchen</span></br>Save 15% on select TeChef wok pan products, through 3/31 while supplies last.</h2>
        <p class="coupon_dis">Save an additional 15% . Discount applies at checkout. Valid through Mar 31, 2018</p>
        <p><label>Promo Code:</label><input type="text" value="15SPRING18" id="myCopy">
        <button onclick="myCopycode()">Copy Me :)</button></p>
        <p class="coupon_gap"><span class="md-btn 09">Use PromoCode</span></p>
        
        <section class="modal-area">
          <div class="modal 09">
            <h3>15SPRING18</br>This promo code can be used on the products below.</h3>

              <div>
                <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/8119hMJzRiL._SL1500_.jpg">
                </div>
                <div class="modal_title">
                  <p class="modal_p">TeChef - Art Pan 12" Wok / Stir-Fry Pan, Coated 5 times with Teflon Select Non-Stick Coating (PFOA Free) - 12 IN (30cm)</p>
                  <p>Price : $40.99 & FREE Shipping.</p>
                  <a target="_blank" href="http://amzn.to/2G6eMSR">Use PromoCode</a>
                </div>
              </div> 

            <div class="close"><span>close</span></div>
          </div>
        </section>
     </li>

      <li rel="home">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Home</span></br>Save 20% on select Eureka vacuum cleaner products, through 4/1 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 20% . Discount applies at checkout. Valid through Apr 1, 2018 </p>
      <p><label>Promo Code:</label><input type="text" value="20NES210" id="myCopy">
      <button onclick="myCopycode()">Copy Me :)</button></p>
      <p class="coupon_gap"><span class="md-btn 08">Use PromoCode</span></p>
      
      <section class="modal-area">
        <div class="modal 08">
          <h3>20NES210</br>This promo code can be used on the products below.</h3>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/81ISATTzHXL._SL1500_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">Eureka Blaze 3-in-1 Swivel Lightweight Stick Vacuum Cleaner, Handheld Vacuum Corded, NES210</p>
                <p>price : $24.99 & FREE Shipping on orders over $25.</p>
                <a target="_blank" href="http://amzn.to/2u3Rsk6">Use PromoCode</a>
              </div>
            </div> 

          <div class="close"><span>close</span></div>
        </div>
      </section>
      </li>

    <li rel="home">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Home</span></br>Save $20 on select Vornado air purifier products, through 4/2 while supplies last.</h2>
      <p class="coupon_dis">Save an additional $20.00 . Discount applies at checkout. Valid through Apr 2, 2018</p>
      <p><label>Promo Code:</label><input type="text" value="20OFFAC350" id="myCopy">
      <button onclick="myCopycode()">Copy Me :)</button></p>
      <p class="coupon_gap"><span class="md-btn 07">Use PromoCode</span></p>
      
      <section class="modal-area">
        <div class="modal 07">
          <h3>20OFFAC350</br>This promo code can be used on the products below.</h3>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/71lfaSKH6tL._SL1500_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">Vornado AC1-0038-43 AC350 True HEPA Air Purifier</p>
                <p>price : $99.00 & FREE Shipping.</p>
                <a target="_blank" href="http://amzn.to/2G6doQ9">Use PromoCode</a>
              </div>
            </div> 

          <div class="close"><span>close</span></div>
        </div>
      </section>
    </li>

    <li rel="home">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Home</span></br>Save $30 on select Steamfast steam cleaner products, through 4/2 while supplies last.</h2>
      <p class="coupon_dis">Save an additional $30.00 . Discount applies at checkout. Valid through Apr 2, 2018</p>
      <p><label>Promo Code:</label><input type="text" value="30OFFSF375" id="myCopy">
      <button onclick="myCopycode()">Copy Me :)</button></p>
      <p class="coupon_gap"><span class="md-btn 06">Use PromoCode</span></p>
      
      <section class="modal-area">
        <div class="modal 06">
          <h3>30OFFSF375</br>This promo code can be used on the products below.</h3>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/81a5z2y20NL._SL1500_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">Steamfast SF-375 Deluxe Canister Steam Cleaner with Onboard Storage</p>
                <p>price : $179.99 & FREE Shipping.</p>
                <a target="_blank" href="http://amzn.to/2GIS55b">Use PromoCode</a>
              </div>
            </div> 

          <div class="close"><span>close</span></div>
        </div>
      </section>
    </li>

    <li rel="fashion">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Fashion</span></br>Save 15% on select Brooklyn Athletics men's athleisure products, through 4/1 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 15% . Discount applies at checkout. Valid through Apr 1, 2018 </p>
      <p><label>Promo Code:</label><input type="text" value="15BA0401" id="myCopy">
        <button onclick="myCopycode()">Copy Me :)</button></p>
        <p class="coupon_gap"><span class="md-btn 05">Use PromoCode</span></p>
        
        <section class="modal-area">
          <div class="modal 05">
            <h3>15BA0401</br>This promo code can be used on the products below.</h3>

              <div>
                <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/81-ub%2BDKCNL._UX569_.jpg">
                </div>
                <div class="modal_title">
                  <p class="modal_p">Brooklyn Athletics Men's Twill Jogger Pants Soft Stretch Slim Fit Trousers</p>
                  <p class="modal_price">Price : $15.75 - $16.99 & FREE Returns</p>
                  <a target="_blank" href="http://amzn.to/2GawNPW">Use PromoCode</a>
                </div>
              </div> 

              <div>
                <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/81yqVEUb8YL._UX342_.jpg">
                </div>
                <div class="modal_title">
                  <p class="modal_p">Brooklyn Athletics Men's Cargo Shorts Slim Fit Multi Pocket Stretch Twill Short(Charcoal Grey)</p>
                  <p class="modal_price">Price : $14.99 & FREE Returns</p>
                  <a target="_blank" href="http://amzn.to/2pr9O94">Use PromoCode</a>
                </div>
              </div> 

              <div>
                <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/81KP66%2B4PJL._UX569_.jpg">
                </div>
                <div class="modal_title">
                  <p class="modal_p">Brooklyn Athletics Men's Cargo Shorts Slim Fit Multi Pocket Stretch Twill Short(Khaki)</p>
                  <p class="modal_price">Price : $14.99 & FREE Returns</p>
                  <a target="_blank" href="http://amzn.to/2ppHW67">Use PromoCode</a>
                </div>
              </div> 

              <div>
                <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/91kv5wae1lL._UX679_.jpg">
                </div>
                <div class="modal_title">
                  <p class="modal_p">Brooklyn Athletics Men's Varsity Stripe Applique Short Sleeve Hoodie</p>
                  <p class="modal_price">Price : $12.70 - $16.99 & FREE Returns</p>
                  <a target="_blank" href="http://amzn.to/2HMMXfI">Use PromoCode</a>
                </div>
              </div> 

              <div>
                <div class="modal_img"><img src="http://image.11st.my/h/5/1/5/7/0/9/51515709_B_V1.jpg">
                </div>
                <div class="modal_title">
                  <p class="modal_p">Brooklyn Athletics Men's Full Zip Fleece Hoodie Sweatshirt</p>
                  <p class="modal_price">Price : $16.99 & FREE Returns</p>
                  <a target="_blank" href="http://amzn.to/2IDohHB">Use PromoCode</a>
                </div>
              </div> 

            <div class="close"><span>close</span></div>
          </div>
        </section>
      </li>

    <li rel="beauty">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Beauty</span></br>Save 15% on select Cuvget skin care products through 3/31 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 15% . Discount applies at checkout. Valid through Mar 31, 2018</p>
      <p><label>Promo Code:</label><input type="text" value="15CUVGET" id="myCopy">
      <button onclick="myCopycode()">Copy Me :)</button></p>
      <p class="coupon_gap"><span class="md-btn 04">Use PromoCode</span></p>
      
      <section class="modal-area">
        <div class="modal 04">
          <h3>15CUVGET</br>This promo code can be used on the products below.</h3>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/61qt1YcZPsL._SY679_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">Cuvget Protective Day Cream, 1.7 fl. oz.</p>
                <p class="modal_price">Price : $90.00 & FREE Shipping.</p>
                <a target="_blank" href="http://amzn.to/2FSEU0o">Use PromoCode</a>
              </div>
            </div> 

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/61nl2jOgfaL._SY679_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">Cuvget Renewal Night Cream, 1.7 fl. oz.</p>
                <p class="modal_price">Price : $95.00 & FREE Shipping.</p>
                <a target="_blank" href="http://amzn.to/2pnruTA">Use PromoCode</a>
              </div>
            </div> 

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/61ZxVlXcgYL._SY679_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">Cuvget Enzyme Foaming Cleanser, 6.76 fl. oz.</p>
                <p class="modal_price">Price : $60.00 & FREE Shipping.</p>
                <a target="_blank" href="http://amzn.to/2HMzBjq">Use PromoCode</a>
              </div>
            </div> 

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/61kYW3WVgzL._SY679_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">Cuvget Collagen Stimulating Serum, 1 fl. oz.</p>
                <p class="modal_price">Price : $135.00 & FREE Shipping.</p>
                <a target="_blank" href="http://amzn.to/2DFcAwu">Use PromoCode</a>
              </div>
            </div> 

          <div class="close"><span>close</span></div>
        </div>
      </section>
    </li>

    <li rel="grocery"> 
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Grocery</span></br>Save 25% on select goodnessknows grocery products while supplies last.</h2>
      <p class="coupon_dis">Save an additional 25% . Discount applies at checkout. Valid through Dec 31, 2018 
      </p>
      <p><label>Promo Code:</label><input type="text" value="25GKSNACK" id="myCopy">
      <button onclick="myCopycode()">Copy Me :)</button></p>
      <p class="coupon_gap"><span class="md-btn 03">Use PromoCode</span></p>
        
      <section class="modal-area">
        <div class="modal 03">
          <h3>25GKSNACK</br>This promo code can be used on the products below.</h3>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/714ElCsiWNL._SX522_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">goodnessKNOWS Cranberry, Almond & Dark Chocolate Gluten Free Snacks Square Bars 12-Count Box </p>
                <p class="modal_price">Price : $17.99 ($1.50 / Count) & FREE Shipping on orders over $25.</p>
                <a target="_blank" href="http://amzn.to/2u0eGr9">Use PromoCode</a>
              </div>
            </div>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/71b%2BiJtwyvL._SX522_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">goodnessKNOWS Apple, Almond, Peanut & Dark Chocolate Gluten Free Snacks Square Bars 12-Count Box</p>
                <p class="modal_price">Price : $17.99 ($1.25 / Ounce) & FREE Shipping on orders over $25</p>
                <a target="_blank" href="http://amzn.to/2HNJZrj">Use PromoCode</a>
              </div>
            </div>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/71EkF%2BA8DcL._SX522_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">goodnessKNOWS Peach, Cherry, Almond & Dark Chocolate Gluten Free Snacks Square Bars 12-Count Box</p>
                <p class="modal_price">Price : $15.13 ($1.05 / Ounce) & FREE Shipping on orders over $25.</p>
                <a target="_blank" href="http://amzn.to/2pnMaei">Use PromoCode</a>
              </div>
            </div>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/71a2dgy1Q2L._SX522_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">goodnessKNOWS Mixed Berries, Almond & Dark Chocolate Gluten Free Snacks Square Bars 12-Count Box</p>
                <p class="modal_price">Price : $14.00 ($1.17 / Count) & FREE Shipping on orders over $25.</p>
                <a target="_blank" href="Link">Use PromoCode</a>
              </div>
            </div>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/717Z3fN3VgL._SX522AA522_PIbundle-12,TopRight,0,0_AA522_SH20_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">goodnessKNOWS Blueberry, Almond & Dark Chocolate Gluten Free Snacks Square Bars 12-Count Box</p>
                <p class="modal_price">Price : $14.00 ($0.08 / Ounce) & FREE Shipping on orders over $25.</p>
                <a target="_blank" href="http://amzn.to/2G8Rjk3">Use PromoCode</a>
              </div>
            </div>

          <div class="close"><span>close</span></div>
        </div>
      </section>
    </li>

    <li rel="baby">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Baby</span></br>Save 25% on select LectroFan sleep sound machine & night light products, through 3/31 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 25% . Discount applies at checkout. Valid through Mar 31, 2018 </p>
      <p><label>Promo Code:</label><input type="text" value="25OFFKINDER" id="myCopy">
      <button onclick="myCopycode()">Copy Me :)</button></p>
      <p class="coupon_gap"><span class="md-btn 02">Use PromoCode</span></p>
        
      <section class="modal-area">
        <div class="modal 02">
          <h3>25OFFKINDER</br>This promo code can be used on the products below.</h3>

            <div>
              <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/613uJSGqWhL._SX522_.jpg">
              </div>
              <div class="modal_title">
                <p class="modal_p">LectroFan Kinder Sleep Sound Machine and Night Light for Infants and Toddlers with Smart Phone Control</p>
                <p class="modal_price">Price : $79.95 & FREE Shipping.</p>
                <a target="_blank" href="http://amzn.to/2FV8bHy">Use PromoCode</a>
              </div>
            </div> 

          <div class="close"><span>close</span></div>
        </div>
      </section>
    </li>

    <li rel="automotive">
      <input type="checkbox" checked>
      <i></i>
      <h2><span class="department">Department: Automative</span></br>Save 15% on select Chemical Guys car wash products, through 3/31 while supplies last.</h2>
      <p class="coupon_dis">Save an additional 15% . Discount applies at checkout. Valid through Mar 31, 2018</p>
      <p><label>Promo Code:</label><input type="text" value="15PIZZA" id="myCopy">
        <button onclick="myCopycode()">Copy Me :)</button></p>
        <p class="coupon_gap"><span class="md-btn 01">Use PromoCode</span></p>
        
        <section class="modal-area">
          <!-- First modal named "one" -->
          <div class="modal 01">
            <h3>15PIZZA</br>This promo code can be used on the products below.</h3>

              <div>
                <div class="modal_img"><img src="https://images-na.ssl-images-amazon.com/images/I/61cJY1sZgdL._SL1000_.jpg">
                </div>
                <div class="modal_title">
                  <p class="modal_p">Chemical Guys CWS_110 Honeydew Snow Foam Car Wash Soap and Cleanser (1 Gal)</p>
                  <p>Price : $34.95 & FREE Shipping</p>
                  <a target="_blank" href="http://amzn.to/2DCXQye">Use PromoCode</a>
                </div>
              </div> 

            <div class="close"><span>close</span></div>
          </div>
        </section>
      </li>

  </ul>
 </div><!--/.coupon_box-->
</div><!--/.coupon_wrapper-->


