<div style="display: flex; flex-flow: column nowrap; margin-top:3em;">
   <h1 class="left_title">Coupons & Deals</h1> 

   <div class="card-side">
      <a target="_blank" href="https://amzn.to/2G0RCOG" class="card-header" style="background-image: url('https://i.pinimg.com/564x/03/23/39/0323396de4cdfa12215b579f8f8ee8db.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="https://amzn.to/2G0RCOG">Today`s Deals</a></h3>
        <p>A single item or small set of closely related items discounted for one day only.</p>
        <a target="_blank" href="https://amzn.to/2G0RCOG"><span>Get Deals</span></a>
      </div>
    </div>

     <div class="card-side">
      <a target="_blank" href="https://amzn.to/2I1y5KC" class="card-header" style="background-image: url('https://i.pinimg.com/564x/8b/a1/22/8ba122cf89fd2eddebd68af26cb8fedd.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="https://amzn.to/2I1y5KC">Lightning Deals</a></h3>
        <p>Since Lightning Deals are time-sensitive, it's important to complete your order as soon as possible.</p>
        <a target="_blank" href="https://amzn.to/2I1y5KC"><span>Get Deals</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="https://amzn.to/2IMadeW" class="card-header" style="background-image: url('https://i.pinimg.com/564x/1b/1a/ab/1b1aabdc6ca8089359f936408cac105f.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="https://amzn.to/2IMadeW">Savings & Sales</a></h3>
        <p>A selection of discounted items and ongoing promotions from across Amazon</p>
        <a target="_blank" href="https://amzn.to/2IMadeW"><span>Get Deals</span></a>
      </div>
    </div>
  
    <div class="card-side">
      <a target="_blank" href="http://amzn.to/2uabn0L" class="card-header" style="background-image: url('https://i.pinimg.com/564x/ce/9a/42/ce9a42f8a346d7e00fe7afe11c75aab5.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="http://amzn.to/2uabn0L">Amazon Coupons April 2018</a></h3>
        <p>Enjoy coupon savings without the hassle of clipping. Amazon Coupons showcases coupon discounts from top brands within Grocery, Health & Beauty, Electronics, Home Improvement, Movies, and more.</p>
        <a target="_blank" href="http://amzn.to/2uabn0L"><span>Get Coupons</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="http://amzn.to/2HV2Gte" class="card-header" style="background-image: url('https://i.pinimg.com/564x/92/da/71/92da71f747449311a4bd863d5d13c1db.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="http://amzn.to/2HV2Gte">Grocery Subscribe & Save Coupons</a></h3>
        <p>Save money and time by subscribing to items you buy regularly.</p>
        <a target="_blank" href="http://amzn.to/2HV2Gte"><span>Get Coupons</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="https://amzn.to/2pAX9ky" class="card-header" style="background-image: url('https://i.pinimg.com/564x/f6/f7/2a/f6f72a280bf1fd9f6c83bb1826279a91.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="https://amzn.to/2pAX9ky">Beauty Subscribe & Save Coupons</a></h3>
        <p>Save money and time by subscribing to items you buy regularly.</p>
        <a target="_blank" href="https://amzn.to/2pAX9ky"><span>Get Coupons</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="https://amzn.to/2pB090i" class="card-header" style="background-image: url('https://i.pinimg.com/564x/8a/3e/25/8a3e250e093d5cc7bfce685d892f48b0.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="https://amzn.to/2pB090i">Household Supplies Subscribe & Save Coupons</a></h3>
        <p>Save money and time by subscribing to items you buy regularly.</p>
        <a target="_blank" href="https://amzn.to/2pB090i"><span>Get Coupons</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="https://amzn.to/2IR040D" class="card-header" style="background-image: url('https://i.pinimg.com/564x/8a/3e/25/8a3e250e093d5cc7bfce685d892f48b0.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="https://amzn.to/2IR040D">Pet Subscribe & Save Coupons</a></h3>
        <p>Save money and time by subscribing to items you buy regularly.</p>
        <a target="_blank" href="https://amzn.to/2IR040D"><span>Get Coupons</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="http://amzn.to/2pvcT8J" class="card-header" style="background-image: url('https://i.pinimg.com/564x/8a/3e/25/8a3e250e093d5cc7bfce685d892f48b0.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="http://amzn.to/2pvcT8J">Amazon Prime Pantry Coupons</a></h3>
        <p>Available only to customers with Prime membership</p>
        <a target="_blank" href="http://amzn.to/2pvcT8J"><span>Get Coupons</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="https://amzn.to/2DRSgIh" class="card-header" style="background-image: url('https://i.pinimg.com/564x/8a/3e/25/8a3e250e093d5cc7bfce685d892f48b0.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="https://amzn.to/2DRSgIh">Amazon Electronics Coupons</a></h3>
        <p>save on select products</p>
        <a target="_blank" href="https://amzn.to/2DRSgIh"><span>Get Coupons</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="https://amzn.to/2pByQmz" class="card-header" style="background-image: url('https://i.pinimg.com/564x/7d/f8/52/7df852203c91c4ab7de8715557b41a95.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="https://amzn.to/2pByQmz">Coupons For Families</a></h3>
        <p>You'll find items such as Babies, Health & Personal, Kitchen, Beauty, and more</p>
        <a target="_blank" href="https://amzn.to/2pByQmz"><span>Get Coupons</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="https://amzn.to/2pBlmY1" class="card-header" style="background-image: url('https://i.pinimg.com/564x/94/a8/a2/94a8a21499f918ca5e8af3dc88fe7021.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="https://amzn.to/2pBlmY1">Just for Prime</a></h3>
        <p>Prime early access deals</p>
        <a target="_blank" href="https://amzn.to/2pBlmY1"><span>Get Deals</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="http://amzn.to/2py08JP" class="card-header" style="background-image: url('https://i.pinimg.com/564x/ce/9a/42/ce9a42f8a346d7e00fe7afe11c75aab5.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="http://amzn.to/2py08JP">You Just Got 70% Off</a></h3>
        <p>Get an extra 70% (or more!) off select Amazon items</p>
        <a target="_blank" href="http://amzn.to/2py08JP"><span>Get Deals</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="http://amzn.to/2DLZEoC" class="card-header" style="background-image: url('https://i.pinimg.com/564x/94/a8/a2/94a8a21499f918ca5e8af3dc88fe7021.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="http://amzn.to/2DLZEoC">Save up to 50% on Overstock Deals</a></h3>
        <p>Get an extra 50% off on Overstock Deals</p>
        <a target="_blank" href="http://amzn.to/2DLZEoC"><span>Get Deals</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="https://amzn.to/2G4onKL" class="card-header" style="background-image: url('https://i.pinimg.com/564x/e1/c7/f7/e1c7f78c8bd4f7b6b9c4da2b403bca71.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="Link">Amazon Fashion Sales & Deals</a></h3>
        <p>Save on select clothing, shoes, & accessories (more 80% off)</p>
        <a target="https://amzn.to/2G4onKL" href="https://amzn.to/2G4onKL"><span>Get Deals</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="https://amzn.to/2ujn5pX" class="card-header" style="background-image: url('https://i.pinimg.com/564x/e1/c7/f7/e1c7f78c8bd4f7b6b9c4da2b403bca71.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="https://amzn.to/2IOnMe3">Outlet Deals</a></h3>
        <p>If you love great deals and bargain hunting, you have to get thsi deals.(more 80% off)</p>
        <a target="_blank" href="https://amzn.to/2IOnMe3"><span>Get Deals</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="https://amzn.to/2DS4z7w" class="card-header" style="background-image: url('https://i.pinimg.com/564x/92/da/71/92da71f747449311a4bd863d5d13c1db.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="https://amzn.to/2DS4z7w">Makers Event Deals</a></h3>
        <p>Save up to 30% on select tools for the makers who have a passion for making great projects. </p>
        <a target="_blank" href="https://amzn.to/2DS4z7w"><span>Get Deals</span></a>
      </div>
    </div>

    <div class="card-side">
      <a target="_blank" href="https://amzn.to/2DV6sAw" class="card-header" style="background-image: url('https://i.pinimg.com/564x/7b/f6/78/7bf6785afc86113f809e4d2a6a338677.jpg'); background-size: 100%;"></a>
      <div class="card-content">
        <h3><a target="_blank" href="https://amzn.to/2DV6sAw">Try if first with samples</a></h3>
        <p>Buy a sample box, get an equal credit back for a future purchase</p>
        <a target="_blank" href="https://amzn.to/2DV6sAw"><span>Get Deals</span></a>
      </div>
    </div>

    <!-- <div class="card-side">
      <a target="_blank" href="Link" class="card-header" style="background-image: url('ImageURL'); background-size: 100%;"></a>
      <div class="card-content">
        <h3>Title</h3>
        <p>Description</p>
        <a target="_blank" href="Link"><span>Get Deals</span></a>
      </div>
    </div> -->

    <!-- <div class="card-side">
      <a target="_blank" href="Link" class="card-header" style="background-image: url('ImageURL'); background-size: 100%;"></a>
      <div class="card-content">
        <h3>Title</h3>
        <p>Description</p>
        <a target="_blank" href="Link"><span>Get Deals</span></a>
      </div>
    </div> -->
     
</div>