 <div>
  <p class="promocode_title">Amazon promotional codes are online coupons that can be used at checkout to save money on your Amazon purchase. Simply enter the alpha-numeric code on the checkout page at Amazon and the corresponding discount will be reflected in your total.</p>
 </div> 

  <h3 class="discount_category">Category</h3>
  <select id="discount_filter">
    <option value="all">All Departments</option>
    <option value="automotive">Automotive</option>
    <option value="baby">Baby</option>
    <option value="beauty">Beauty</option>
    <option value="books">Books</option>
    <option value="business">Business, Industrial & Scientific</option>
    <option value="electronics">Electronics</option>
    <option value="fashion">Fashion</option>
    <option value="furniture">Furniture</option>
    <option value="grocery">Grocery</option>
    <option value="computer">Computer</option>
    <option value="health">Health & Personal Care</option>
    <option value="home">Home</option>
    <option value="kitchen">Kitchen</option>
    <option value="office">Office</option>
    <option value="outdoor">Outdoor</option>
    <option value="pets">Pets</option>
    <option value="sports">Sports</option>
    <option value="tools">Tools & Home Improvement</option>
    <option value="toy">Toys & Games</option>
  </select>


<section class="discount_container grid discount_items">

<!--   <article class="item has-notice" rel="Filter">
    <h2 class="item-title">Code_title <span class="code_vaild">Vaild</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : InputYourCodes</p>
    <a target="_blank" href="Link" class="item-link">Use This Code</a>
    <div class="item-notice"><span>CodeTitlee</span></div>
  </article> -->

  <article class="item has-notice" rel="sports">
    <h2 class="item-title">Save 50% on select Elimishield scent-eliminating sanitizer for hunters.<span class="code_vaild"> Valid through Jul 31, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 50OFFCORE</p>
    <a target="_blank" href="https://amzn.to/2KQslFs" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Sports</span></div>
  </article>

  <article class="item has-notice" rel="pets">
    <h2 class="item-title">Save $4 on select Vetericyn pet shampo.<span class="code_vaild"> Valid through Jun 17, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 4FOAMTIME</p>
    <a target="_blank" href="https://amzn.to/2ryc8vM" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Pets</span></div>
  </article>

  <article class="item has-notice" rel="pets">
    <h2 class="item-title">Save $4 on select Pet 'n Shape Bacon-D strips dog treats.<span class="code_vaild">Valid through Aug 29, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 4BACON</p>
    <a target="_blank" href="https://amzn.to/2ruEsQE" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Pets</span></div>
  </article>

  <article class="item has-notice" rel="kitchen">
    <h2 class="item-title">Save 10% on select Tuxton Home sous vide stockpot.<span class="code_vaild">Valid through May 31, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 10SOUSVIDE</p>
    <a target="_blank" href="https://amzn.to/2rv9eZO" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Kitchen</span></div>
  </article>

  <article class="item has-notice" rel="kitchen">
    <h2 class="item-title">Save 15% on select Cosori programmable pressure cooker. <span class="code_vaild"> Valid through May 25, 2018</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 15COSORICOOK</p>
    <a target="_blank" href="https://amzn.to/2IuQSC0" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Kitchen</span></div>
  </article>

  <article class="item has-notice" rel="home">
    <h2 class="item-title">Save 10% on select Elrene Home Fashions drape curtains.<span class="code_vaild">Valid through Jul 10, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 10OUTDOOR</p>
    <a target="_blank" href="https://amzn.to/2ItL3EL" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Home</span></div>
  </article>

  <article class="item has-notice" rel="home">
    <h2 class="item-title">Save $30 on select Eureka cordless vacuum.<span class="code_vaild">Valid through May 31, 2018</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 30NEC122A</p>
    <a target="_blank" href="https://amzn.to/2rxew62" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Home</span></div>
  </article>

  <article class="item has-notice" rel="home">
    <h2 class="item-title">Save $10 on select Major-Q geometric pendant light.<span class="code_vaild">Valid through Jun 1, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 1031228BK20</p>
    <a target="_blank" href="https://amzn.to/2ruOlOl" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Home</span></div>
  </article>

  <article class="item has-notice" rel="home">
    <h2 class="item-title">Save $20 on select Major-Q floor lamp.<span class="code_vaild"> Valid through May 31, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 20LAMP20OFF</p>
    <a target="_blank" href="https://amzn.to/2I5LHJ5" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Home</span></div>
  </article>

  <article class="item has-notice" rel="home">
    <h2 class="item-title">Save $20 on select SH Lighting steel arching floor lamp.<span class="code_vaild">Valid through Jun 30, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 206931BK20</p>
    <a target="_blank" href="https://amzn.to/2KKIH2q" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Home</span></div>
  </article>

  <article class="item has-notice" rel="home">
    <h2 class="item-title">Save $20 on select SH Lighting arching floor lamp.<span class="code_vaild">Valid through Jun 30, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 20693820FF</p>
    <a target="_blank" href="https://amzn.to/2I1rp3u" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Home</span></div>
  </article>

  <article class="item has-notice" rel="health">
    <h2 class="item-title">Save 15% on select Braun women's hair removal systems.<span class="code_vaild">Valid through Jun 30, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 15BRJINFLAMJ</p>
    <a target="_blank" href="https://amzn.to/2rqLgij" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Health & Personal Care</span></div>
  </article>

  <article class="item has-notice" rel="health">
    <h2 class="item-title">Save $13 on select Modvel orthopedic pillow for lower back. <span class="code_vaild">Valid through May 31, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 13OFFMV101</p>
    <a target="_blank" href="https://amzn.to/2IuR7Nr" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Health & Personal Care</span></div>
  </article>

  <article class="item has-notice" rel="health">
    <h2 class="item-title">Save 75% on select ClearPop rapid earache relief. <span class="code_vaild">Valid through Jun 1, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 75OFF</p>
    <a target="_blank" href="https://amzn.to/2jHXTRA" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Health & Personal Care</span></div>
  </article>

  <article class="item has-notice" rel="grocery">
    <h2 class="item-title">Save 15% on select Rip Van Wafels snack wafels.<span class="code_vaild">Valid through Jun 24, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 15RIPVAN</p>
    <a target="_blank" href="https://amzn.to/2jIkqxG" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Grocery</span></div>
  </article>

  <article class="item has-notice" rel="grocery">
    <h2 class="item-title">Save 20% on select Trimino protein infused water.<span class="code_vaild">Valid through Aug 23, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 20TRIMENOW</p>
    <a target="_blank" href="https://amzn.to/2rxBlqt" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Grocery</span></div>
  </article>

  <article class="item has-notice" rel="grocery">
    <h2 class="item-title">Save 30% on select Miss Jones Baking organic buttercream frosting. <span class="code_vaild"> Valid through May 31, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 30FROSTING</p>
    <a target="_blank" href="https://amzn.to/2rvMjgN" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Grocery</span></div>
  </article>

  <article class="item has-notice" rel="grocery">
    <h2 class="item-title">Save 30% on select CELSIUS sparkling fitness drinks.<span class="code_vaild">Valid through Jun 30, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 3030CELSIUS</p>
    <a target="_blank" href="https://amzn.to/2I72U0I" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Grocery</span></div>
  </article>

  <article class="item has-notice" rel="furniture">
    <h2 class="item-title">Save 15% on select Dorel Living modern furniture.<span class="code_vaild">Valid through Jun 15, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 15NEON</p>
    <a target="_blank" href="https://amzn.to/2jKUlOs" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Furniture</span></div>
  </article>

  <article class="item has-notice" rel="beauty">
    <h2 class="item-title">Save 15% on select California Tan tanning products.<span class="code_vaild">Valid through May 24, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 15JAMESBROWN</p>
    <a target="_blank" href="https://amzn.to/2FZd2qo" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Beauty</span></div>
  </article>

  <article class="item has-notice" rel="beauty">
    <h2 class="item-title">Save 25% on select Pantene Pro-V hair care for curly and textured hair. <span class="code_vaild">Valid through May 31, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 25GOLDSERIES</p>
    <a target="_blank" href="https://amzn.to/2I8PxgC" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Beauty</span></div>
  </article>

  <article class="item has-notice" rel="baby">
    <h2 class="item-title">Save 15% on select Cloud b stuffed animals.<span class="code_vaild">Valid through Jun 1, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 15MAYPROMO</p>
    <a target="_blank" href="https://amzn.to/2rx4QIK" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Baby</span></div>
  </article>

  <article class="item has-notice" rel="automotive">
    <h2 class="item-title">Save 25% on select Castrol synthetic motorcycle oil.<span class="code_vaild">Valid through May 31, 2018</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 25OFFPOWER1</p>
    <a target="_blank" href="https://amzn.to/2jKjGIn" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Automotive</span></div>
  </article>

  <article class="item has-notice" rel="health">
    <h2 class="item-title">Save 15% on select Braun women's hair removal systems.<span class="code_vaild">Valid through Jun 30, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 15BRJINFLAMJ</p>
    <a target="_blank" href="https://amzn.to/2EzrpBc" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Health & Personal Care</span></div>
  </article>

  <article class="item has-notice" rel="grocery">
    <h2 class="item-title">Save 20% on select NuGo gluten free protein cookies.<span class="code_vaild">Valid through May 11, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 20COOKIE2018</p>
    <a target="_blank" href="https://amzn.to/2uOx1YG" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Grocery</span></div>
  </article>

  <article class="item has-notice" rel="sports">
    <h2 class="item-title">Save 20% on select EAS recover powder supplement.<span class="code_vaild">Valid through Jul 17, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 20TRICLUBEAS</p>
    <a target="_blank" href="https://amzn.to/2H9FkAG" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Sports</span></div>
  </article>

  <article class="item has-notice" rel="pets">
    <h2 class="item-title">Save 50% on select Tropical USA fish food.<span class="code_vaild">Valid through Jun 7, 2018 </span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 50TROP</p>
    <a target="_blank" href="https://amzn.to/2GQ50F1" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Pets</span></div>
  </article>

  <article class="item has-notice" rel="fashion">
    <h2 class="item-title">Save 25% on select Brooklyn Athletics men's fleece jogger pants. <span class="code_vaild">Valid through Jul 14, 2018.</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 25ATHLETICS</p>
    <a target="_blank" href="http://amzn.to/2DOxo4z" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Fashion</span></div>
  </article>
  
  <article class="item has-notice" rel="fashion">
    <h2 class="item-title">Save 25% on select Brooklyn Athletics men's Hawaiian shirts. <span class="code_vaild">Valid through Jul 14, 2018.</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 25HISHIRT</p>
    <a target="_blank" href="http://amzn.to/2uhiW5A" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Fashion</span></div>
  </article>

  <article class="item has-notice" rel="grocery">
    <h2 class="item-title">Save 25% on select goodnessknows grocery products. <span class="code_vaild">Valid through Dec 31, 2018.</span></h2>
    <span class="item-subtitle">Discount Code</span>
    <p class="item-description">CODE : 25GKSNACK</p>
    <a target="_blank" href="http://amzn.to/2FXs8xo" class="item-link">Use This Code</a>
    <div class="item-notice"><span>Grocery</span></div>
  </article>
    
</section>