<div class="block">
  <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Fdeals%3FrmvSB%3Dtrue">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Daily Deals on eBay</p>
            <p class="totem-bd" title="Discription">Best deals and Free Shipping on eBay.Discounts up to 90% off</p>
            <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Fdeals%3FrmvSB%3Dtrue"><p class="totem-ft">Get Deals</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/originals/9a/72/ec/9a72ecdb96aeb1b0d2e6e71b97fabe1e.jpg" alt="Daily Deals on eBay" />
        </div>
      </div>
    </div>
  </a>
</div>

<div class="block">
  <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Frpp%2Fdailydealevents%2FDeals-Staff-Picks%3FrmvSB%3Dtrue">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Deals Staff Picks</p>
            <p class="totem-bd" title="Discription">Check out daily staff picks deals</p>
            <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Frpp%2Fdailydealevents%2FDeals-Staff-Picks%3FrmvSB%3Dtrue"><p class="totem-ft">Get Deals</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/f9/12/b6/f912b67c8a4478ce4eb80486f0f868de.jpg" alt="Deals Staff Picks" />
        </div>
      </div>
    </div>
  </a>
</div>

<div class="block">
  <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=http%3A%2F%2Fpages.ebay.com%2Febay-money-back-guarantee%2F%3FrmvSB%3Dtrue">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">eBay Money Back Guarantee</p>
            <p class="totem-bd" title="Discription">Get the Item you Ordered or Get your Money Back</p>
            <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=http%3A%2F%2Fpages.ebay.com%2Febay-money-back-guarantee%2F%3FrmvSB%3Dtrue"><p class="totem-ft">Get Deals</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/1e/1a/e9/1e1ae961c07bc053d3b7aa530ac6f9fa.jpg" alt="eBay Money Back Guarantee" />
        </div>
      </div>
    </div>
  </a>
</div>

<div class="block">
  <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Fb%2FUnder-10%2Fbn_7001623770%3F_trkparms%3D%2526clkid%253D2268405032070923710%26rmvSB%3Dtrue">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Under $10 sale</p>
            <p class="totem-bd" title="Discription">Save more when you shop at eBay! Click here to shop $10</p>
            <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Fb%2FUnder-10%2Fbn_7001623770%3F_trkparms%3D%2526clkid%253D2268405032070923710%26rmvSB%3Dtrue"><p class="totem-ft">Get Deals</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/originals/dc/9a/0c/dc9a0c81c5bc32dd86f7a47aae0873b8.jpg" alt="Under $10 sale" />
        </div>
      </div>
    </div>
  </a>
</div>

<div class="block">
  <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Fb%2FHome-Garden%2F11700%2Fbn_1853126">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">The best Home & Garden deals</p>
            <p class="totem-bd" title="Discription">Check out the best home & garden delas</p>
            <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Fb%2FHome-Garden%2F11700%2Fbn_1853126"><p class="totem-ft">Get Deals</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/8a/b3/01/8ab301397967f91d22cbf7d65f9274a8.jpg" alt="The best Home & Garden deals" />
        </div>
      </div>
    </div>
  </a>
</div>

<div class="block">
  <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Fb%2FComputers-Tablets-Network-Hardware%2F58058%2Fbn_1865247">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Deals on Computers, Tablets & more</p>
            <p class="totem-bd" title="Discription">Your one-stop-shop for all your computing needs.</p>
            <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Fb%2FComputers-Tablets-Network-Hardware%2F58058%2Fbn_1865247"><p class="totem-ft">Get Deals</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/originals/39/f1/06/39f106efec821d592781e978e85fa06f.jpg" alt="Deals on Computers, Tablets & more" />
        </div>
      </div>
    </div>
  </a>
</div>

<div class="block">
  <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Frpp%2Ffashion-events%2FAdidas-031918%3FrmvSB%3Dtrue">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Healthcare & Beauty</p>
            <p class="totem-bd" title="Discription">Up to 50% off Health Care & Beauty</p>
            <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Frpp%2Ffashion-events%2FAdidas-031918%3FrmvSB%3Dtrue"><p class="totem-ft">Get Deals</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/c1/7c/f7/c17cf7fdfb80c36da91e8051db8c6d05.jpg" alt="Healthcare & Beauty" />
        </div>
      </div>
    </div>
  </a>
</div>

<div class="block">
  <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Frpp%2Ffootball%3F_trkparms%3D%2526clkid%253D7033266076558402999%26rmvSB%3Dtrue">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Football - NFL Apparel, Trading Cards, Ticket</p>
            <p class="totem-bd" title="Discription">All football everything! Find the best deals on all official NFL gear, tailgating treats, TV accessories</p>
            <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Frpp%2Ffootball%3F_trkparms%3D%2526clkid%253D7033266076558402999%26rmvSB%3Dtrue"><p class="totem-ft">Get Deals</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/c4/da/df/c4dadfac009c55a6f1ee995fe3dbb16f.jpg" alt="Football - NFL " />
        </div>
      </div>
    </div>
  </a>
</div>

<div class="block">
  <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Fdeals%2Fother-deals%2Ftravel">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">Travel Deals on eBay</p>
            <p class="totem-bd" title="Discription">Planning a trip this year? Save up to 80% off travel Accessories </p>
            <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Fdeals%2Fother-deals%2Ftravel"><p class="totem-ft">Get Deals</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="https://i.pinimg.com/564x/05/90/bf/0590bf41e07f4770f118fc3ec06dd85f.jpg" alt="Travel Deals on eBay" />
        </div>
      </div>
    </div>
  </a>
</div>

<!-- <div class="block">
  <a target="_blank" href="CouponLink">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">CouponTitle</p>
            <p class="totem-bd" title="Discription">CoponDiscription</p>
            <a target="_blank" href="CouponLink"><p class="totem-ft">Get Deals/Coupon</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="ImageURL" alt="ImageTitle" />
        </div>
      </div>
    </div>
  </a>
</div> -->

<!-- <div class="block">
  <a target="_blank" href="CouponLink">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">CouponTitle</p>
            <p class="totem-bd" title="Discription">CoponDiscription</p>
            <a target="_blank" href="CouponLink"><p class="totem-ft">Get Deals/Coupon</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="ImageURL" alt="ImageTitle" />
        </div>
      </div>
    </div>
  </a>
</div> -->

<!-- <div class="block">
  <a target="_blank" href="CouponLink">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">CouponTitle</p>
            <p class="totem-bd" title="Discription">CoponDiscription</p>
            <a target="_blank" href="CouponLink"><p class="totem-ft">Get Deals/Coupon</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="ImageURL" alt="ImageTitle" />
        </div>
      </div>
    </div>
  </a>
</div> -->

<!-- <div class="block">
  <a target="_blank" href="CouponLink">
    <div class="box box_bowShadow">
      <div class="split">
        <div class="split-left">
          <div class="totem">
            <p class="totem-hd">CouponTitle</p>
            <p class="totem-bd" title="Discription">CoponDiscription</p>
            <a target="_blank" href="CouponLink"><p class="totem-ft">Get Deals/Coupon</p></a>
          </div>
        </div>
        <div class="split-right">
          <img src="ImageURL" alt="ImageTitle" />
        </div>
      </div>
    </div>
  </a>
</div> -->