<div class="error_container">
  <h1>Coming Soon</h1>
  <!-- <h1>Performing page repair ...</h1>
  <p>We apologize for the inconvenience :(</p>
  <a href="/search/quicksearch"><p>Go to Amazon QuickSearch</p></a>
  <a href="/"><p>Back to Home</p></a> -->
  <!-- <div class="line">
    <p class="read-more"><i class="fa fa-diamond"></i></p>
  </div> -->
</div>