 <footer class="flex-rw">
  
  <ul class="footer-list-top footer_know">
    <li><h4 class="footer-list-header">Get to Know Us</h4></li>
    <li><a href='/message/contact_us' class="generic-anchor footer-list-anchor" itemprop="significantLink">About Us</a></li>
    <li><a href="/message/contact_us"><img src="<%=asset_path 'logo.jpg'%>" alt="ohigottabuythis.net"></img></a></li>   

<!--     <li><a href='/message/contact_us' class="generic-anchor footer-list-anchor" itemprop="significantLink">Contact Us</a></li> -->
    <!-- <li><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Subtitle</a></li>
    <li><a href='#' itemprop="significantLink" class="generic-anchor footer-list-anchor">Subtitle</a></li>
    <li><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Subtitle</a></li> -->
  </ul>
  
  <!-- <ul class="footer-list-top footer_menu">


    <li><h4 class="footer-list-header">Menu</h4></li>
    <li><a href='/' class="generic-anchor footer-list-anchor">Home</a></li>
    <li><a href='/search/quicksearch' class="generic-anchor footer-list-anchor">HotDeal Quick Search on Amazon</a></li>
    <li><a href='/shoes' class="generic-anchor footer-list-anchor">Save Yor Money - Shoes</a></li>
    <li><a href='/bags' class="generic-anchor footer-list-anchor">Save Yor Money - Bags</a></li>
    <li><a href='/clothes' class="generic-anchor footer-list-anchor">Save Yor Money - Clothing</a></li>
    <li><a href='/ccessories' class="generic-anchor footer-list-anchor">Save Yor Money - Accessories</a></li>
    <li><a href='/blogs' class="generic-anchor footer-list-anchor">Blog</a></li>
  </ul> -->
  
  <ul class="footer_message">
    <% if flash[:message_board] %>  
       <h2 class="footer_flash"><%=flash[:message_board]%></h2>   
    <% end %>
    
    <h4 class="footer-list-header">Get in touch</h4>
     <form action="/message/create" method="POST">
      <div class="form">
        <input type="text" class="input-form" name="new_name" placeholder="Your Name">
      </div>
      <div class="form">
        <input type="text" class="input-form" name="new_email" placeholder="Your Email">
      </div>
      <div class="form">
       <textarea type="text" class="input-form" name="new_content" rows="5" placeholder="Your Message"></textarea>
      </div><br />
      <ul class="footer_btn">
        <li><button class="button message_btn" type="submit"> Send Message</button></li>
        <li><a href="/" class="button">Back To Home</a></li>
      </ul>
     </form>             
  </ul>



<!--   <section class="footer-social-section flex-rw">
    <span class="footer-social-overlap footer-social-connect">
      CONNECT <span class="footer-social-small">with</span> US
    </span>
    <span class="footer-social-overlap footer-social-icons-wrapper">
      <a href="#" class="generic-anchor" target="_blank" title="Pinterest" itemprop="significantLink"><i class="fa fa-pinterest"></i></a>
      <a href="#" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fa fa-facebook"></i></a>
      <a href="#" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fa fa-twitter"></i></a>
      <a href="#" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
      <a href="#" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
      <a href="#" class="generic-anchor" target="_blank" title="Google Plus" itemprop="significantLink"><i class="fa fa-google-plus"></i></a>
    </span>
  </section> -->
</footer>