<header class="page-header">
  <div class="nav_container">
    <div class="logo logo--page-header">
      <a href="/">Oh,i gotta buy this</a>
    </div>
    <button class="nav-btn">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav class="nav nav--page-header">
      <a href="/" class="nav__link">Home</a>
      <a href="/search/quicksearch" class="nav__link">Hot Deals by Amazon </a>
      <a href="/discounts" class="nav__link">Hot Deals by eBay</a>
      <a href="/blogs" class="nav__link">Blog</a>
    </nav>
  </div>
</header>