<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="/">Oh,i gotta buy this</a>
    </div>
    <nav class="header_nav">
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
     
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <!-- <li><a href="#!">Deals</a></li> -->
        <li><a href="#!">Amazon</a>
          <ul class="nav-dropdown">

            <li><a href="#!">Deals of Amazon(US)</a>
            </li>

            <li><a href="/search/discountCode"><i class="fa fa-arrow-right"></i> Discount Codes</a></li>
            <li><a href="/search/quicksearchUk">Deals of Amazon(UK)</a></li>
            <li><a href="/search/bestDeal"><i class="fa fa-arrow-right"></i> The Best Deals</a></li>
            <!-- <li><a href="#!">Graphic Design</a></li> -->
          </ul>
        </li>
        <!-- <li><a href="#!">Pricing</a></li> -->
        <!-- <li>
          <a href="#!">eBay</a>
          <ul class="nav-dropdown">
            <li><a href="/discounts">Deals of eBay</a></li>
            <li><a href="/search/bestDeal">The Best Deals</a></li>
            <li><a href="/dis_category/electronics">Free Shipping Table</a></li>
          </ul>
        </li> -->
        <li><a href="/blogs">Blog</a></li>
        <li><a href="/message/contact_us">About Us</a></li>
      </ul>
    
    </nav>
  </div>
</section>