<div id="columns" class="columns_4">

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address" alt="img_title"></a>
    <h4 class="hotdeal_source">via store_title <span class="new_neon">New</span></h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <figure>
    <a href="http://shopstyle.it/l/CJYK" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/d4/13/d4130fd220a2acb8e93e1086f0f6ab31_best.jpg" alt="img_title"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack <span class="new_neon">New</span></h4>
    <figcaption>Steve Madden Patched Corduroy Backpack</figcaption>
    <span class="price"><span class="offsale">$60.00 </span>&nbsp;$29.97 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/CJYK" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/CJW0" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/e6/04/e604aac45b79759e526aca027197b67f_best.jpg" alt="img_title"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack <span class="new_neon">New</span></h4>
    <figcaption>Incase Designs Incase Via Backpack</figcaption>
    <span class="price"><span class="offsale">$199.95 </span>&nbsp;$99.97 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/CJW0" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/CJWJ" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/7d/91/7d919aafa4fbb92117e9611c263741a9_best.jpg" alt="img_title"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack<span class="new_neon">New</span></h4>
    <figcaption>Original Penguin Odell Backpack</figcaption>
    <span class="price"><span class="offsale">$200.00 </span>&nbsp;$39.97 (80% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/CJWJ" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/CJUs" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/83/c9/83c942561463b50ab9fafbe3767d9bcc_best.jpg" alt="img_title"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack <span class="new_neon">New</span></h4>
    <figcaption>Original Penguin Odell Backpack</figcaption>
    <span class="price"><span class="offsale">$200.00 </span>&nbsp;$39.97 (80% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/CJUs" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FTravelon-Anti-Theft-Classic-Backpack-Exclusive-Colors-Everyday-Backpack-NEW%2F362193766986%3F_trkparms%3D5079%253A5000006566&campid=5338273158&toolid=20008" target="_blank"><img src="https://cdn1.ebags.com/is/image/im7/151227_7_1?resmode=4&op_usm=1%2C1%2C1%2C&qlt=95%2C1&hei=1000&wid=1000" alt="img_title"></a>
    <h4 class="hotdeal_source">via eBay</h4>
    <figcaption>Travelon Anti-Theft Classic Backpack - Exclusive Colors Everyday Backpack NEW</figcaption>
    <span class="price"><span class="offsale">$79.99 </span>&nbsp;$49.99 (38% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FTravelon-Anti-Theft-Classic-Backpack-Exclusive-Colors-Everyday-Backpack-NEW%2F362193766986%3F_trkparms%3D5079%253A5000006566&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FSamsonite-UBX-Commuter-Backpack%2F122759903249%3F_trkparms%3D5373%253A5000006547%257C5374%253AOther%2BDeals%257C5079%253A5000006547&campid=5338273158&toolid=20008" target="_blank"><img src="https://i.ebayimg.com/images/g/eukAAOSwB3BZ5zvS/s-l1600.jpg" alt="img_title"></a>
    <h4 class="hotdeal_source">via eBay</h4>
    <figcaption>Samsonite UBX Commuter Backpack</figcaption>
    <span class="price"><span class="offsale">$100.00 </span>&nbsp;$29.99 (70% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FSamsonite-UBX-Commuter-Backpack%2F122759903249%3F_trkparms%3D5373%253A5000006547%257C5374%253AOther%2BDeals%257C5079%253A5000006547&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFy8" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/69/ee/69eeb54e68aa93c297b06023cc8b3224_best.jpg"></a>
    <h4 class="hotdeal_source">via Jet</h4>
    <figcaption>Wilsons Leather Mens Canvas Backpack W/ Leather Trim</figcaption>
    <span class="price"><span class="offsale">$89.99 </span>&nbsp;$31.49 (65% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFy8" target="_blank">Check it Out</a>
  </figure>

 <figure>
    <a href="http://shopstyle.it/l/BFxe" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/4f/d8/4fd8078a610c13c207b9c506e818f865_best.jpg"></a>
    <h4 class="hotdeal_source">via 6pm</h4>
    <figcaption>Tommy Hilfiger Elijah Backpack Canvas</figcaption>
    <span class="price"><span class="offsale">$108.00 </span>&nbsp;$39.99 (63% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFxe" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFyI" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/84/cb/84cb51c324e3380989f355e9b2ee02a5_best.jpg"></a>
    <h4 class="hotdeal_source">via Jet</h4>
    <figcaption>Wilsons Leather Mens Canvas Backpack W/ Leather Details</figcaption>
    <span class="price"><span class="offsale">$149.99 </span>&nbsp;$79.99 (47% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFyI" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFyv" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/0a/25/0a25cd1b2ecc40c17101c9100be34486_best.jpg"></a>
    <h4 class="hotdeal_source">via LuckyBrand</h4>
    <figcaption>Waxed Canvas Backpack</figcaption>
    <span class="price"><span class="offsale">$128.00 </span>&nbsp;$41.98 (61% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFyv" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFwR" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/2a/1f/2a1f2140e5df96b13172d94585b4f6bf_best.jpg"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack</h4>
    <figcaption>ITC Denim Backpack</figcaption>
    <span class="price"><span class="offsale">$79.95 </span>&nbsp;$29.97 (63% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFwR" target="_blank">Check it Out</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/BivP" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/0e/49/0e49ec37a70b26aa4654d6aa8bd44b54_best.jpg"></a>
    <h4 class="hotdeal_source">via Asos</h4>
    <figcaption>ASOS Flight Bag In Blue Fleece</figcaption>
    <span class="price"><span class="offsale">$19.00 </span>&nbsp;$5.50 (71% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BivP" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BivJ" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/eb/f3/ebf334c8b3f1f3bc6189133ef8ef2911_best.jpg"></a>
    <h4 class="hotdeal_source">via Backcountry</h4>
    <figcaption>Mystery Ranch Kletterwerks Market 11L Backpack</figcaption>
    <span class="price"><span class="offsale">$138.95 </span>&nbsp;$41.68 (70% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BivJ" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/Biw1" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/48/37/48379bb0e903f3d3486b1548d2d67b94_best.jpg"></a>
    <h4 class="hotdeal_source">via Yoox</h4>
    <figcaption>BORSETTERIA Napoli 1985 Backpacks & Fanny packs</figcaption>
    <span class="price"><span class="offsale">$224.00 </span>&nbsp;$64.00 (71% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/Biw1" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/Bit8" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/11/2b/112b16f1a239f31d35bcb67f15afdb9c_best.jpg"></a>
    <h4 class="hotdeal_source">via 6pm</h4>
    <figcaption>Herschel Supply Co. Mammoth Medium</figcaption>
    <span class="price"><span class="offsale">$99.99 </span>&nbsp;$27.99 (72% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/Bit8" target="_blank">Check it Out</a>
  </figure>
  
</div>