<div id="columns" class="columns_4">
  
  <figure>
    <a href="http://shopstyle.it/l/BivP" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/0e/49/0e49ec37a70b26aa4654d6aa8bd44b54_best.jpg"></a>
    <h4 class="hotdeal_source">via Asos <span class="new_neon">New</span></h4>
    <figcaption>ASOS Flight Bag In Blue Fleece</figcaption>
    <span class="price"><span class="offsale">$19.00 </span>&nbsp;$5.50 (71% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BivP" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BivJ" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/eb/f3/ebf334c8b3f1f3bc6189133ef8ef2911_best.jpg"></a>
    <h4 class="hotdeal_source">via store_title <span class="new_neon">New</span></h4>
    <figcaption>Mystery Ranch Kletterwerks Market 11L Backpack</figcaption>
    <span class="price"><span class="offsale">$138.95 </span>&nbsp;$41.68 (70% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BivJ" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/Biw1" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/48/37/48379bb0e903f3d3486b1548d2d67b94_best.jpg"></a>
    <h4 class="hotdeal_source">via yoox <span class="new_neon">New</span></h4>
    <figcaption>BORSETTERIA Napoli 1985 Backpacks & Fanny packs</figcaption>
    <span class="price"><span class="offsale">$224.00 </span>&nbsp;$64.00 (71% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/Biw1" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/Bit8" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/11/2b/112b16f1a239f31d35bcb67f15afdb9c_best.jpg"></a>
    <h4 class="hotdeal_source">via 6pm <span class="new_neon">New</span></h4>
    <figcaption>Herschel Supply Co. Mammoth Medium</figcaption>
    <span class="price"><span class="offsale">$99.99 </span>&nbsp;$27.99 (72% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/Bit8" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6nJ" target="_blank"><img src="https://goo.gl/zayDQD"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>Ben Sherman Patch-A-Bello Road Distressed Backpack</figcaption>
    <span class="price"><span class="offsale">$240.00 </span>&nbsp;$69.97 (71% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6nJ" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6GT" target="_blank"><img src="https://goo.gl/L96Eig"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>M.R.K.T. Mateo Mini Backpack</figcaption>
    <span class="price"><span class="offsale">$105.00 </span>&nbsp;$36.75 (65% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6GT" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6H7" target="_blank"><img src="https://goo.gl/G9aS5Q"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>M.R.K.T. Kendrick Backpack</figcaption>
    <span class="price"><span class="offsale">$125.00 </span>&nbsp;$43.75 (65% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6H7" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6Io" target="_blank"><img src="https://goo.gl/vki3UC"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>M.R.K.T. Jerry Backpack</figcaption>
    <span class="price"><span class="offsale">$59.00 </span>&nbsp;$20.65 (65% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6Io" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6IL" target="_blank"><img src="https://goo.gl/3Ef7S6"></a>
    <h4 class="hotdeal_source">via Michael Kors </h4>
    <figcaption>Michael Kors Travis Camouflage Nylon Backpack</figcaption>
    <span class="price"><span class="offsale">$325.00 </span>&nbsp;$97.50 (70% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6IL" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6M7" target="_blank"><img src="https://goo.gl/vgozAK"></a>
    <h4 class="hotdeal_source">via Lucky Brand </h4>
    <figcaption>Lucky Brand Waxed Canvas Backpack</figcaption>
    <span class="price"><span class="offsale">$128.00 </span>&nbsp;$41.98 (67% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6M7" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6Jz" target="_blank"><img src="https://goo.gl/2gpAvn"></a>
    <h4 class="hotdeal_source">via 6pm </h4>
    <figcaption>Herschel Supply Co. Pop Quiz</figcaption>
    <span class="price"><span class="offsale">$84.99 </span>&nbsp;$35.99 (58% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6Jz" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6JG" target="_blank"><img src="https://goo.gl/RzE6j1"></a>
    <h4 class="hotdeal_source">via 6pm </h4>
    <figcaption>Herschel Supply Co. Mammoth Medium</figcaption>
    <span class="price"><span class="offsale">$99.99 </span>&nbsp;$39.99 (60% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6JG" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6LX" target="_blank"><img src="https://goo.gl/q2uiA9"></a>
    <h4 class="hotdeal_source">via East Dane </h4>
    <figcaption>Nixon Range Backpack</figcaption>
    <span class="price"><span class="offsale">$70.00 </span>&nbsp;$35.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6LX" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6Mj" target="_blank"><img src="https://goo.gl/p77K5o"></a>
    <h4 class="hotdeal_source">via GILT </h4>
    <figcaption>1 Voice Sidewinder Charging Backpack</figcaption>
    <span class="price"><span class="offsale">$139.00 </span>&nbsp;$39.00 (72% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6Mj" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6MN" target="_blank"><img src="https://goo.gl/PvJevx"></a>
    <h4 class="hotdeal_source">via 6pm </h4>
    <figcaption>Tommy Hilfiger Icon Backpack Canvas</figcaption>
    <span class="price"><span class="offsale">$118.00 </span>&nbsp;$54.99 (53% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6MN" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6Nw" target="_blank"><img src="https://goo.gl/eS8nnY"></a>
    <h4 class="hotdeal_source">via Fossil </h4>
    <figcaption>Summit Dome Backpack</figcaption>
    <span class="price"><span class="offsale">$128.00 </span>&nbsp;$68.00 (47% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6Nw" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6I0" target="_blank"><img src="https://goo.gl/LWbTkL"></a>
    <h4 class="hotdeal_source">via OFF 5TH </h4>
    <figcaption>Timbuk2 Facet Hitch Backpack</figcaption>
    <span class="price"><span class="offsale">$129.00 </span>&nbsp;$54.99 (57% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6I0" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6P8" target="_blank"><img src="https://goo.gl/ALCnCj"></a>
    <h4 class="hotdeal_source">via Puma </h4>
    <figcaption>Puma PUMA x Daily Paper Backpack</figcaption>
    <span class="price"><span class="offsale">$120.00 </span>&nbsp;$59.99 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6P8" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6RA" target="_blank"><img src="https://goo.gl/M3Tr2Y"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>Fossil Summit Canvas Backpack</figcaption>
    <span class="price"><span class="offsale">$128.00 </span>&nbsp;$59.97 (53% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6RA" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6Oc" target="_blank"><img src="https://goo.gl/CVY15t"></a>
    <h4 class="hotdeal_source">via Giglio </h4>
    <figcaption>FRED PERRY Bags Bags Men Fred Perry</figcaption>
    <span class="price"><span class="offsale">$98.00 </span>&nbsp;$49.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6Oc" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6QM" target="_blank"><img src="https://goo.gl/iKFo9c"></a>
    <h4 class="hotdeal_source">via italist </h4>
    <figcaption>Herschel Backpack Little America</figcaption>
    <span class="price"><span class="offsale">$115.00 </span>&nbsp;$52.00 (55% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6QM" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6Q8" target="_blank"><img src="https://goo.gl/zCGSQ7"></a>
    <h4 class="hotdeal_source">via italist </h4>
    <figcaption>Adidas Originals Night Backpack</figcaption>
    <span class="price"><span class="offsale">$157.00 </span>&nbsp;$71.00 (55% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6Q8" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6Pk" target="_blank"><img src="https://goo.gl/6HdSAj"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>Dickies Olive Backpack</figcaption>
    <span class="price"><span class="offsale">$68.00 </span>&nbsp;$23.80 (65% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6Pk" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6R6" target="_blank"><img src="https://goo.gl/RfE2Te"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>Dickies Hudson Canvas Backpack</figcaption>
    <span class="price"><span class="offsale">$48.00 </span>&nbsp;$20.16 (58% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6R6" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6St" target="_blank"><img src="https://goo.gl/131N4p"></a>
    <h4 class="hotdeal_source">via GILT </h4>
    <figcaption>1 Voice Wooly Messenger Bag</figcaption>
    <span class="price"><span class="offsale">$159.00 </span>&nbsp;$55.00 (65% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6St" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6S4" target="_blank"><img src="https://goo.gl/DntEsn"></a>
    <h4 class="hotdeal_source">via GILT </h4>
    <figcaption>1 Voice Jax Charging Messenger Bag</figcaption>
    <span class="price"><span class="offsale">$149.00 </span>&nbsp;$39.00 (74% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6S4" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6Tl" target="_blank"><img src="https://goo.gl/TfsW5Y"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>Ben Sherman Patched Messenger Bag</figcaption>
    <span class="price"><span class="offsale">$200.00 </span>&nbsp;$59.97 (70% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6Tl" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6Vo" target="_blank"><img src="https://goo.gl/2wzQtL"></a>
    <h4 class="hotdeal_source">via 6pm </h4>
    <figcaption>Tommy Hilfiger Essentials Messenger</figcaption>
    <span class="price"><span class="offsale">$128.00 </span>&nbsp;$44.99 (65% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6Vo" target="_blank">Check it Out</a>
  </figure>

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->



  




  
</div>