<div id="columns" class="columns_4">


  <figure>
    <a href="http://shopstyle.it/l/zcyA" target="_blank"><img src="https://goo.gl/fv9X2X"></a>
    <h4 class="hotdeal_source">via Rue La La </h4>
    <figcaption>Burberry Men's Touch 3.3Oz Eau De Toilette Spray</figcaption>
    <span class="price"><span class="offsale">$76.00 </span>&nbsp;$34.99 (54% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcyA" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcCf" target="_blank"><img src="https://goo.gl/is1Nxs"></a>
    <h4 class="hotdeal_source">via Zulily </h4>
    <figcaption>VersaceMan 3.4-Oz. Eau de Toilette - Men</figcaption>
    <span class="price"><span class="offsale">$72.00 </span>&nbsp;$28.99 (60% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcCf" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcEv" target="_blank"><img src="https://goo.gl/dDvcxG"></a>
    <h4 class="hotdeal_source">via Rue La La  </h4>
    <figcaption>NICOLE MILLER NEW YORK Nicole Miller Men's 4.2Oz Eau De Toilette Spray</figcaption>
    <span class="price"><span class="offsale">$75.00 </span>&nbsp;$19.99 (73% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcEv" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcE6" target="_blank"><img src="https://goo.gl/1JQxXj"></a>
    <h4 class="hotdeal_source">via Rue La La </h4>
    <figcaption>Hanae Mori Men's For Men 3.4Oz Eau De Toilette Spray</figcaption>
    <span class="price"><span class="offsale">$81.00 </span>&nbsp;$39.99 (51% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcE6" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcFu" target="_blank"><img src="https://goo.gl/THTn3u"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>Timberland Core Canvas Travel Kit</figcaption>
    <span class="price"><span class="offsale">$48.00 </span>&nbsp;$14.97 (69% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcFu" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcAW" target="_blank"><img src="https://goo.gl/VCBNvh"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>Ben Sherman Travel Kit</figcaption>
    <span class="price"><span class="offsale">$60.00 </span>&nbsp;$17.97 (70% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcAW" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcGk" target="_blank"><img src="https://goo.gl/WJeoip"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>Ben Sherman Double Zip Travel Kit</figcaption>
    <span class="price"><span class="offsale">$50.00 </span>&nbsp;$14.97 (70% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcGk" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcGP" target="_blank"><img src="https://goo.gl/qRJCxM"></a>
    <h4 class="hotdeal_source">via Walgreens </h4>
    <figcaption>No7 Men On The Go Set</figcaption>
    <span class="price"><span class="offsale">$28.00 </span>&nbsp;$14.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcGP" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcHd" target="_blank"><img src="https://goo.gl/PS9614"></a>
    <h4 class="hotdeal_source">via The BodyShop </h4>
    <figcaption>For Men Maca Root Face Wash</figcaption>
    <span class="price"><span class="offsale">$12.00 </span>&nbsp;$6.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcHd" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcBf" target="_blank"><img src="https://goo.gl/zbru1K"></a>
    <h4 class="hotdeal_source">via The BodyShop </h4>
    <figcaption>For Men Maca Root Balancing Face Protector</figcaption>
    <span class="price"><span class="offsale">$18.00 </span>&nbsp;$9.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcBf" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcHW" target="_blank"><img src="https://goo.gl/BGfmS1"></a>
    <h4 class="hotdeal_source">via Forever21 </h4>
    <figcaption>21 MEN Men Evolution Man Moisturizer</figcaption>
    <span class="price"><span class="offsale">$34.00 </span>&nbsp;$12.00 (65% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcHW" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcBw" target="_blank"><img src="https://goo.gl/PWh97d"></a>
    <h4 class="hotdeal_source">via Smallflower </h4>
    <figcaption>Face Wash Bergamot + Amber by Bath House (100ml Wash)</figcaption>
    <span class="price"><span class="offsale">$15.50 </span>&nbsp;$7.75 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcBw" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcKt" target="_blank"><img src="https://goo.gl/jqtAKQ"></a>
    <h4 class="hotdeal_source">via The BodyShop </h4>
    <figcaption>Mini For Men Maca Root Shave Cream</figcaption>
    <span class="price"><span class="offsale">$10.00 </span>&nbsp;$5.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcKt" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcK3" target="_blank"><img src="https://goo.gl/wgmWr7"></a>
    <h4 class="hotdeal_source">via The BodyShop </h4>
    <figcaption>For Men Maca Root Razor Relief</figcaption>
    <span class="price"><span class="offsale">$14.00 </span>&nbsp;$7.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcK3" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcKe" target="_blank"><img src="https://goo.gl/LgJqsG"></a>
    <h4 class="hotdeal_source">via The BodyShop </h4>
    <figcaption>For Men Maca Root Shave Cream</figcaption>
    <span class="price"><span class="offsale">$16.00 </span>&nbsp;$8.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcKe" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcL3" target="_blank"><img src="https://goo.gl/NRj4w9"></a>
    <h4 class="hotdeal_source">via American Eagle </h4>
    <figcaption>Aeo Men's Society Jingle My Bells Kit</figcaption>
    <span class="price"><span class="offsale">$35.00 </span>&nbsp;$17.50 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcL3" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/zcOX" target="_blank"><img src="https://goo.gl/QTxGJZ"></a>
    <h4 class="hotdeal_source">via American Eagle </h4>
    <figcaption>Aeo Men's Society Glitter Beard Kit</figcaption>
    <span class="price"><span class="offsale">$20.00 </span>&nbsp;$10.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/zcOX" target="_blank">Check it Out</a>
  </figure>

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->



  




  
</div>