<div id="columns" class="columns_4">

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <figure>
    <a href="http://shopstyle.it/l/BFKt" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/97/32/973289f92fc2d7a7cdc8c62ad8e484db_best.jpg"></a>
    <h4 class="hotdeal_source">via Hautelook  <span class="new_neon">New</span></h4>
    <figcaption>Skin Chemists Wrinkle Killer Pour Homme</figcaption>
    <span class="price"><span class="offsale">$109.90 </span>&nbsp;$16.97 (85% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFKt" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFNq" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/fd/e8/fde8cfd12702d0534cec2f357f81e6cd_best.jpg"></a>
    <h4 class="hotdeal_source">via Hautelook  <span class="new_neon">New</span></h4>
    <figcaption>Skin Chemists Men Quick-Fix Hydrating Balm & Moisturiser</figcaption>
    <span class="price"><span class="offsale">$109.90 </span>&nbsp;$16.97 (85% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFNq" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFKa" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/ad/0e/ad0e81a176a719d6209c499b705bcf7b_best.jpg"></a>
    <h4 class="hotdeal_source">via Hautelook  <span class="new_neon">New</span></h4>
    <figcaption>Skin Chemists WKSS Men-Fix Face Rescue - Medium</figcaption>
    <span class="price"><span class="offsale">$109.90 </span>&nbsp;$16.97 (85% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFKa" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFJ1" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/67/86/678674c15d5cd279b94b4efd42acd3f6_best.jpg"></a>
    <h4 class="hotdeal_source">via Century21  <span class="new_neon">New</span></h4>
    <figcaption>halloween Man Eau De Toilette 4.2 oz. Spray</figcaption>
    <span class="price"><span class="offsale">$79.00 </span>&nbsp;$29.99 (62% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFJ1" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFLQ" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/53/54/5354741b6bdd62ed44e8510d0accc1e0_best.jpg"></a>
    <h4 class="hotdeal_source">via Century21  <span class="new_neon">New</span></h4>
    <figcaption>bentley Intense For Men Eau De Parfum 3.4 oz. Spray</figcaption>
    <span class="price"><span class="offsale">$109.00 </span>&nbsp;$29.99 (72% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFLQ" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFLA" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/12/5e/125e323d14704c376a5189f0ca9193a9_best.jpg"></a>
    <h4 class="hotdeal_source">via Gilt  <span class="new_neon">New</span></h4>
    <figcaption>Floris No.89 Eau De Toilette (100 ML)</figcaption>
    <span class="price"><span class="offsale">$135.00 </span>&nbsp;$27.00 (80% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFLA" target="_blank">Check it Out</a>
  </figure>
  
</div>