<div id="columns" class="columns_4">

  <figure>
    <a href="http://shopstyle.it/l/y6iq" target="_blank"><img src="https://goo.gl/yRDHs7"></a>
    <h4 class="hotdeal_source">via Century 21  </h4>
    <figcaption>g-star raw Decline Zip Overshirt Jacket</figcaption>
    <span class="price"><span class="offsale">$220.00 </span>&nbsp;$49.90 (77% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6iq" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6iV" target="_blank"><img src="https://goo.gl/DmzGk3"></a>
    <h4 class="hotdeal_source">via yoox </h4>
    <figcaption>ARMANI JEANS Sweatshirts</figcaption>
    <span class="price"><span class="offsale">$135.00 </span>&nbsp;$40.00 (70% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6iV" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6kH" target="_blank"><img src="https://goo.gl/AqUvmz"></a>
    <h4 class="hotdeal_source">via OFF 5TH </h4>
    <figcaption>Inlay Icon Cotton Hoodie</figcaption>
    <span class="price"><span class="offsale">$98.00 </span>&nbsp;$29.99 (69% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6kH" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6jq" target="_blank"><img src="https://goo.gl/uotLQF"></a>
    <h4 class="hotdeal_source">via Macy`s </h4>
    <figcaption>Champion Men's Wisconsin Badgers Arch Logo Hoodie</figcaption>
    <span class="price"><span class="offsale">$49.99 </span>&nbsp;$24.99 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6jq" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6d1" target="_blank"><img src="https://goo.gl/qsPgXD"></a>
    <h4 class="hotdeal_source">via East Dane </h4>
    <figcaption>Velva Sheen Pigment Pocket Tee</figcaption>
    <span class="price"><span class="offsale">$52.00 </span>&nbsp;$26.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6d1" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6ef" target="_blank"><img src="https://goo.gl/cAgXRw"></a>
    <h4 class="hotdeal_source">via OFF 5TH </h4>
    <figcaption>Dev Micro Printed Shirt</figcaption>
    <span class="price"><span class="offsale">$178.00 </span>&nbsp;$39.99 (76% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6ef" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6eF" target="_blank"><img src="https://goo.gl/99zcCf"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>ROBERT BARAKETT Kentville Short Sleeve Tee</figcaption>
    <span class="price"><span class="offsale">$59.50 </span>&nbsp;$19.97 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6eF" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6eI" target="_blank"><img src="https://goo.gl/2pQ4Pc"></a>
    <h4 class="hotdeal_source">via Stylebop </h4>
    <figcaption>Adidas Originals X by O Cotton Sweatshirt</figcaption>
    <span class="price"><span class="offsale">$79.00 </span>&nbsp;$39.00 (51% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6eI" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6gh" target="_blank"><img src="https://goo.gl/Sd8uNC"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>American Stitch Twill Front Cargo Pants</figcaption>
    <span class="price"><span class="offsale">$115.00 </span>&nbsp;$39.97 (65% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6gh" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6fN" target="_blank"><img src="https://goo.gl/JcDPBu"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>TRAVIS MATHEW Bridgetown Short Fancy Pants</figcaption>
    <span class="price"><span class="offsale">$84.95 </span>&nbsp;$39.97 (53% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6fN" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6g7" target="_blank"><img src="https://goo.gl/Xsr514"></a>
    <h4 class="hotdeal_source">via OFF 5TH </h4>
    <figcaption>Cargo Jogger Pants</figcaption>
    <span class="price"><span class="offsale">$116.00 </span>&nbsp;$24.97 (78% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6g7" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6f5" target="_blank"><img src="https://goo.gl/RQneYU"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>TRAVIS MATHEW Port O Fancy Pants</figcaption>
    <span class="price"><span class="offsale">$84.95 </span>&nbsp;$39.97 (53% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6f5" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6gR" target="_blank"><img src="https://goo.gl/MGqKMh"></a>
    <h4 class="hotdeal_source">via gap </h4>
    <figcaption>Washwell Vintage Wash Khakis in Skinny Fit with GapFlex</figcaption>
    <span class="price"><span class="offsale">$59.95 </span>&nbsp;$24.99 (58% off)</span>
    <a class="button_prodcuts" href="link" target="http://shopstyle.it/l/y6gR">Buy Now</a>
  </figure>

    <figure>
    <a href="http://shopstyle.it/l/y6go" target="_blank"><img src="https://goo.gl/45YN7J"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>Zanerobe Blockshot Chino Pants</figcaption>
    <span class="price"><span class="offsale">$119.00 </span>&nbsp;$46.97 (61% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6go" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6jw" target="_blank"><img src="https://goo.gl/dksjQU"></a>
    <h4 class="hotdeal_source">via HBX </h4>
    <figcaption>Stussy 8 Ball Pigment Dyed T-Shirt</figcaption>
    <span class="price"><span class="offsale">$38.00 </span>&nbsp;$19.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6jw" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6h6" target="_blank"><img src="https://goo.gl/UFJkVR"></a>
    <h4 class="hotdeal_source">via Lord & Taylor </h4>
    <figcaption>Black Brown Merino Wool Turtleneck</figcaption>
    <span class="price"><span class="offsale">$89.00 </span>&nbsp;$19.99 (78% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6h6" target="_blank">Buy Now</a>
  </figure>

  
  <figure>
    <a href="http://shopstyle.it/l/y6lI" target="_blank"><img src="https://goo.gl/NFhyxc"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>Perry Ellis Basketweave Knit Pullover</figcaption>
    <span class="price"><span class="offsale">$89.50 </span>&nbsp;$22.97 (74% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6lI" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6ng" target="_blank"><img src="https://goo.gl/MknkTj"></a>
    <h4 class="hotdeal_source">via Hautelook </h4>
    <figcaption>Lucky Brand Solid Shorts</figcaption>
    <span class="price"><span class="offsale">$59.50 </span>&nbsp;$26.97 (55% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6ng" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6l0" target="_blank"><img src="https://goo.gl/ULFKQs"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>Slate & Stone Solid V-Neck Tee</figcaption>
    <span class="price"><span class="offsale">$58.00 </span>&nbsp;$19.97 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6l0" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y6l7" target="_blank"><img src="https://goo.gl/oATZ9e"></a>
    <h4 class="hotdeal_source">via Nordstromrack </h4>
    <figcaption>Slate & Stone Marled V-Neck Tee</figcaption>
    <span class="price"><span class="offsale">$58.00 </span>&nbsp;$19.97 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y6l7" target="_blank">Buy Now</a>
  </figure>

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Buy Now</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Buy Now</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Buy Now</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Buy Now</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Buy Now</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Buy Now</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Buy Now</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Buy Now</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Buy Now</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Buy Now</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Buy Now</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Buy Now</a>
  </figure> -->







  




  
</div>