<div id="columns" class="columns_4">
  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address" alt="img_title"></a>
    <h4 class="hotdeal_source">via store_title <span class="new_neon">New</span></h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address" alt="img_title"></a>
    <h4 class="hotdeal_source">via store_title <span class="new_neon">New</span></h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <figure>
    <a href="http://shopstyle.it/l/CJVe" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/aa/1e/aa1ed9adee8f332221d27e812e947caf_best.jpg" alt="img_title"></a>
    <h4 class="hotdeal_source">via Reiss <span class="new_neon">New</span></h4>
    <figcaption>Joker Slub V-Neck T-Shirt</figcaption>
    <span class="price"><span class="offsale">$70.00 </span>&nbsp;$35.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/CJVe" target="_blank">Check it Out</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/CJUT" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/60/12/6012c93205a12f2cd86e6fb1f25aad59_best.jpg" alt="img_title"></a>
    <h4 class="hotdeal_source">via Reiss <span class="new_neon">New</span></h4>
    <figcaption>Braga Stripe Pocket T-Shirt</figcaption>
    <span class="price"><span class="offsale">$80.00 </span>&nbsp;$40.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/CJUT" target="_blank">Check it Out</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/CJTd" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/7c/1e/7c1e8b58361caa09539a832e638508ed_best.jpg" alt="img_title"></a>
    <h4 class="hotdeal_source">via Reiss <span class="new_neon">New</span></h4>
    <figcaption>Barnington Flecked Crew-Neck T-Shirt</figcaption>
    <span class="price"><span class="offsale">$70.00 </span>&nbsp;$35.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/CJTd" target="_blank">Check it Out</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/CJQK" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/32/01/32017c9ee903e22c03c65757e710fe69_best.jpg" alt="img_title"></a>
    <h4 class="hotdeal_source">via Reiss <span class="new_neon">New</span></h4>
    <figcaption>Twister Multi Yarn Jumper</figcaption>
    <span class="price"><span class="offsale">$180.00 </span>&nbsp;$80.00 (56% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/CJQK" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2Fadidas-Post-Game-Pullover-Mens%2F152919094046%3F_trkparms%3D5079%253A5000006496&campid=5338273158&toolid=20008" target="_blank"><img src="https://i.ebayimg.com/images/g/c3cAAOSwFUlaj2cE/s-l500.jpg"></a>
    <h4 class="hotdeal_source">via eBay</h4>
    <figcaption>adidas Post-Game Pullover Men's</figcaption>
    <span class="price"><span class="offsale">$55.00 </span>&nbsp;$26.50 (52% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2Fadidas-Post-Game-Pullover-Mens%2F152919094046%3F_trkparms%3D5079%253A5000006496&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FPUMA-T7-Oversized-Hoodie%2F282730204506%3F_trkparms%3D5079%253A5000006496&campid=5338273158&toolid=20008" target="_blank"><img src="https://i.ebayimg.com/images/g/VXsAAOSwb6daiy5O/s-l1600.jpg"></a>
    <h4 class="hotdeal_source">via eBay</h4>
    <figcaption>PUMA T7 Oversized Hoodie</figcaption>
    <span class="price"><span class="offsale">$60.00 </span>&nbsp;$34.99 (42% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FPUMA-T7-Oversized-Hoodie%2F282730204506%3F_trkparms%3D5079%253A5000006496&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FNew-With-Tags-Mens-Under-Armour-Storm-Fleece-Hooded-Sweatshirt-Hoodie-Jacket%2F312086648961%3F_trkparms%3D5079%253A5000006496&campid=5338273158&toolid=20008" target="_blank"><img src="https://i.ebayimg.com/images/g/xqEAAOSwjqVZMwhd/s-l1600.jpg"></a>
    <h4 class="hotdeal_source">via eBay</h4>
    <figcaption>New With Tags Mens Under Armour Storm Fleece Hooded Sweatshirt Hoodie</figcaption>
    <span class="price"><span class="offsale">$60.00 </span>&nbsp;$31.99 (47% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FNew-With-Tags-Mens-Under-Armour-Storm-Fleece-Hooded-Sweatshirt-Hoodie-Jacket%2F312086648961%3F_trkparms%3D5079%253A5000006496&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FNEW-STANZINO-MENS-SHERPA-LINED-EXTRA-THICK-WARM-HOODIE-SWEATER-JACKET-S-XXL%2F332363004896%3F_trkparms%3D5079%253A5000006496&campid=5338273158&toolid=20008" target="_blank"><img src="https://i.ebayimg.com/images/g/tkQAAOSwxbtZpwS3/s-l1600.jpg"></a>
    <h4 class="hotdeal_source">via eBay<h4>
    <figcaption>NEW STANZINO MEN'S SHERPA LINED EXTRA THICK WARM HOODIE</figcaption>
    <span class="price"><span class="offsale">$39.98 </span>&nbsp;$15.99 (60% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FNEW-STANZINO-MENS-SHERPA-LINED-EXTRA-THICK-WARM-HOODIE-SWEATER-JACKET-S-XXL%2F332363004896%3F_trkparms%3D5079%253A5000006496&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFvF" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/01/a2/01a2d72f9ec661f5d11a70f090c1e273_best.jpg"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>Burnside Short Sleeve Hooded Pullover</figcaption>
    <span class="price"><span class="offsale">$40.00 </span>&nbsp;$14.95 (63% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFvF" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFvb" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/29/6b/296bb6411324a73262d6c1761d8d58fd_best.jpg"></a>
    <h4 class="hotdeal_source">via Macy`s </h4>
    <figcaption>Tommy Hilfiger Denim Men's Slim Fit Logan Polo</figcaption>
    <span class="price"><span class="offsale">$59.50 </span>&nbsp;$23.73 (60% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFvb" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFuM" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/af/93/af934b5cd51a07a97784952ecd66b2cb_best.jpg"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack </h4>
    <figcaption>Unsimply Stitched Woven Trim Fit Shirt</figcaption>
    <span class="price"><span class="offsale">$225.00 </span>&nbsp;$49.97 (78% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFuM" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFsS" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/aa/35/aa3546a50a38ea29a58aaa74b9e7d0e7_best.jpg"></a>
    <h4 class="hotdeal_source">via OFF 5TH </h4>
    <figcaption>Slim-Fit Cotton Button-Down Shirt</figcaption>
    <span class="price"><span class="offsale">$198.00 </span>&nbsp;$69.99 (65% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFsS" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFsG" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/aa/2b/aa2b83428a634d016ffb2a49da0ceb5c_best.jpg"></a>
    <h4 class="hotdeal_source">via Top Man </h4>
    <figcaption>Gray And White Ribbed Knit 2 Pack*</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$26.00 (60% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFsG" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/Bish" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/9c/50/9c503154d776fd36f3408bc8a80393c1_best.jpg"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack  </h4>
    <figcaption>Slvdr Elevation Long Sleeve Woven Top</figcaption>
    <span class="price"><span class="offsale">$120.00 </span>&nbsp;$34.97 (71% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/Bish" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BisL" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/8b/3c/8b3c64bc1f3b3de97294e5d247732dad_best.jpg"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack </h4>
    <figcaption>Slvdr Long Sleeve Woven Top</figcaption>
    <span class="price"><span class="offsale">$120.00 </span>&nbsp;$34.97 (71% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BisL" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/Bis0" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/ca/e7/cae7eabd75e9a3105db903d430a10820_best.jpg"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack </h4>
    <figcaption>James Tattersall Long Sleeve Classic Fit Solid Shirt</figcaption>
    <span class="price"><span class="offsale">$125.00 </span>&nbsp;$34.97 (72% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/Bis0" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/Birs" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/ff/99/ff99afaf8368d300a08bd890e58ad2d1_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily </h4>
    <figcaption>Tarmac Patch & Rips 'Save the World' Tee</figcaption>
    <span class="price"><span class="offsale">$50.00 </span>&nbsp;$9.99 (80% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/Birs" target="_blank">Check it Out</a>
  </figure>
  
</div>