<div id="sidebar">
  <div class="inner">

    <!-- Menu -->
      <nav id="menu">
        <header class="major">
          <h2>Menu</h2>
        </header>
        <ul class="icons">
          <% if user_signed_in? %>
            <li><span class="hello">Hello,</span><br /> <%= current_user.name %></li><br /><br />
          <% else %>
            <li class="login"><%= link_to "Log in", new_user_session_path %></li>
            <li class="signup"><%= link_to "Sign up", new_user_registration_path %></li><br /><br />
          <% end %>
        </ul>

        <div class="expanded row" data-equalizer data-equalize-on="medium" id="test-eq">
          <div class="large-6 medium-24 small-24 columns filter-wrap" data-equalizer-watch>
            <div id="filters" class="combo-filters">

              <div class="ui-group">
                <h3>Category:</h3>
                <div class="button-group filter option-set" data-filter-group="category">
                  <button class="button is-checked allfilter" data-filter="">All</button>
                  <button class="button" data-filter=".Men">Men</button>
                  <button class="button" data-filter=".Women">Women</button>
                  <!-- <button class="button" data-filter=".Fiction">Fiction</button>
                  <button class="button" data-filter=".Kids">Kids</button>
                  <button class="button" data-filter=".Travel">Travel</button> -->
                </div>
              </div>
              <div class="ui-group">
                <h3>Brand:</h3>
                <div class="button-group filter option-set" data-filter-group="brand">
                  <button class="button is-checked allfilter" data-filter="">All</button>
                  <button class="button" data-filter=".Nike" title="Nike">Nike</button>
                  <button class="button" data-filter=".Adidas" title="Adidas">Adidas</button>
                  <button class="button" data-filter=".New_balance" title="New_balance">New balance</button>
                  <button class="button" data-filter=".Asics" title="Asics">Asics</button>
                </div>
              </div>
              <div class="ui-group">
                <h3>seller:</h3>
                <div class="button-group filter option-set" data-filter-group="seller">
                  <button class="button is-checked allfilter" data-filter="">All</button>
                  <button class="button" data-filter=".Amazon" title="Amazon">Amazon</button>
                  <button class="button" data-filter=".eBay" title="eBay">eBay</button>
                  <button class="button" data-filter=".6pm" title="6pm">6pm</button>
                </div>
              </div><!--end option-combo-->
              <div class="ui-group">
                <h3>price:</h3>
                <div class="button-group filter option-set" data-filter-group="price">
                  <button class="button is-checked allfilter" data-filter="">All</button>
                  <button class="button" data-filter=".twenty" title="0-10">Less than $25</button>
                  <button class="button" data-filter=".fifty" title="10-20">$25 to $50 </button>
                  <button class="button" data-filter=".hundred" title="20 plus">$50 to $100</button>
                  <button class="button" data-filter=".hundred-fifty" title="20 plus">$100 to $150</button>
                  <button class="button" data-filter=".above" title="20 plus">Above $150</button>
                </div>
              </div><!--end option-combo-->

            </div><!--end filters-->
          </div><!--end col-->
        </div><!--row-->

  </div><!-- class="inner" -->
</div><!-- id="sidebar" -->