<div class="sticky_wrapper">
 <nav id="sticky_nav">
  <div class="menu-icon">
    <i class="fa fa-bars fa-2x"></i>
  </div>
  <div class="sticky_logo">
    Oh,i gotta buy this
  </div>
  <div class="menu">
    <ul>
      <li><a href="/curations">Home</a></li>
      <li><a href="/search/quicksearch">Deals of Amazon</a></li>
      <li><a href="/discounts">Deals of eBay</a></li>
      <li><a href="/blogs">Blog</a></li>
    </ul>
  </div>
 </div>
</div>


