<table class="tg">
  <tr>
    <th class="tg-s6z2">Department</th>
    <th class="tg-s6z2" colspan="6">Hot Deal</th>
  </tr>

  <tr>
    <td class="tg-s6z2">Title</td>
    <td class="tg-s6z2">70</td>
    <td class="tg-s6z2">50</td>
    <td class="tg-s6z2">20</td>
    <td class="tg-s6z2">10</td>
    <td class="tg-s6z2">New</td>
    <td class="tg-s6z2">Best</td>
  </tr><tr>
    <td class="tg-spn1">Title</td>
    <td class="tg-spn1">70</td>
    <td class="tg-spn1">50</td>
    <td class="tg-spn1">20</td>
    <td class="tg-spn1">10</td>
    <td class="tg-spn1">New</td>
    <td class="tg-spn1">Best</td>
  </tr>
  <tr>
    <td class="tg-s6z2">Title</td>
    <td class="tg-s6z2">70</td>
    <td class="tg-s6z2">50</td>
    <td class="tg-s6z2">20</td>
    <td class="tg-s6z2">10</td>
    <td class="tg-s6z2">New</td>
    <td class="tg-s6z2">Best</td>
  </tr><tr>
    <td class="tg-spn1">Title</td>
    <td class="tg-spn1">70</td>
    <td class="tg-spn1">50</td>
    <td class="tg-spn1">20</td>
    <td class="tg-spn1">10</td>
    <td class="tg-spn1">New</td>
    <td class="tg-spn1">Best</td>
  </tr>
  <tr>
    <td class="tg-s6z2">Title</td>
    <td class="tg-s6z2">70</td>
    <td class="tg-s6z2">50</td>
    <td class="tg-s6z2">20</td>
    <td class="tg-s6z2">10</td>
    <td class="tg-s6z2">New</td>
    <td class="tg-s6z2">Best</td>
  </tr><tr>
    <td class="tg-spn1">Title</td>
    <td class="tg-spn1">70</td>
    <td class="tg-spn1">50</td>
    <td class="tg-spn1">20</td>
    <td class="tg-spn1">10</td>
    <td class="tg-spn1">New</td>
    <td class="tg-spn1">Best</td>
  </tr>
  <tr>
    <td class="tg-s6z2">Title</td>
    <td class="tg-s6z2">70</td>
    <td class="tg-s6z2">50</td>
    <td class="tg-s6z2">20</td>
    <td class="tg-s6z2">10</td>
    <td class="tg-s6z2">New</td>
    <td class="tg-s6z2">Best</td>
  </tr><tr>
    <td class="tg-spn1">Title</td>
    <td class="tg-spn1">70</td>
    <td class="tg-spn1">50</td>
    <td class="tg-spn1">20</td>
    <td class="tg-spn1">10</td>
    <td class="tg-spn1">New</td>
    <td class="tg-spn1">Best</td>
  </tr>
  <tr>
    <td class="tg-s6z2">Title</td>
    <td class="tg-s6z2">70</td>
    <td class="tg-s6z2">50</td>
    <td class="tg-s6z2">20</td>
    <td class="tg-s6z2">10</td>
    <td class="tg-s6z2">New</td>
    <td class="tg-s6z2">Best</td>
  </tr><tr>
    <td class="tg-spn1">Title</td>
    <td class="tg-spn1">70</td>
    <td class="tg-spn1">50</td>
    <td class="tg-spn1">20</td>
    <td class="tg-spn1">10</td>
    <td class="tg-spn1">New</td>
    <td class="tg-spn1">Best</td>
  </tr>
  <tr>
    <td class="tg-s6z2">Title</td>
    <td class="tg-s6z2">70</td>
    <td class="tg-s6z2">50</td>
    <td class="tg-s6z2">20</td>
    <td class="tg-s6z2">10</td>
    <td class="tg-s6z2">New</td>
    <td class="tg-s6z2">Best</td>
  </tr><tr>
    <td class="tg-spn1">Title</td>
    <td class="tg-spn1">70</td>
    <td class="tg-spn1">50</td>
    <td class="tg-spn1">20</td>
    <td class="tg-spn1">10</td>
    <td class="tg-spn1">New</td>
    <td class="tg-spn1">Best</td>
  </tr>
  <tr>
    <td class="tg-s6z2">Title</td>
    <td class="tg-s6z2">70</td>
    <td class="tg-s6z2">50</td>
    <td class="tg-s6z2">20</td>
    <td class="tg-s6z2">10</td>
    <td class="tg-s6z2">New</td>
    <td class="tg-s6z2">Best</td>
  </tr><tr>
    <td class="tg-spn1">Title</td>
    <td class="tg-spn1">70</td>
    <td class="tg-spn1">50</td>
    <td class="tg-spn1">20</td>
    <td class="tg-spn1">10</td>
    <td class="tg-spn1">New</td>
    <td class="tg-spn1">Best</td>
  </tr>
  <tr>
    <td class="tg-s6z2">Title</td>
    <td class="tg-s6z2">70</td>
    <td class="tg-s6z2">50</td>
    <td class="tg-s6z2">20</td>
    <td class="tg-s6z2">10</td>
    <td class="tg-s6z2">New</td>
    <td class="tg-s6z2">Best</td>
  </tr><tr>
    <td class="tg-spn1">Title</td>
    <td class="tg-spn1">70</td>
    <td class="tg-spn1">50</td>
    <td class="tg-spn1">20</td>
    <td class="tg-spn1">10</td>
    <td class="tg-spn1">New</td>
    <td class="tg-spn1">Best</td>
  </tr>
  <tr>
    <td class="tg-s6z2">Title</td>
    <td class="tg-s6z2">70</td>
    <td class="tg-s6z2">50</td>
    <td class="tg-s6z2">20</td>
    <td class="tg-s6z2">10</td>
    <td class="tg-s6z2">New</td>
    <td class="tg-s6z2">Best</td>
  </tr>
   
</table>