<table class="tg">
  <tr>
    <th class="tg-s6z2">Department</th>
    <th class="tg-s6z2" colspan="6">Hot Deal</th>
  </tr>
  <tr>
    <td class="tg-spn1">Appliances</td>
    <td class="tg-spn1"><a target="_blank" href="https://www.amazon.com/s?rh=n%3A2619525011%2Cp_75%3A70-&amp;ie=UTF8&_encoding=UTF8&tag=3628-20&linkCode=ur2&linkId=b7dc35381a17b8aabb0d08d5d0ce55b7&camp=1789&creative=9325">70%</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=3628-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></td>
    <td class="tg-spn1"><a target="_blank" href="https://www.amazon.com/s?rh=n%3A2619525011%2Cp_75%3A50-&amp;ie=UTF8&_encoding=UTF8&tag=3628-20&linkCode=ur2&linkId=8bdc3846d724ca46fefdaf5b55ec3437&camp=1789&creative=9325">50%</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=3628-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></td>
    <td class="tg-spn1"><a target="_blank" href="https://www.amazon.com/s?rh=n%3A2619525011%2Cp_75%3A20-&amp;ie=UTF8&_encoding=UTF8&tag=3628-20&linkCode=ur2&linkId=4a9b4e30de4681607b0b83c838c36a06&camp=1789&creative=9325">20%</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=3628-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></td>
    <td class="tg-spn1"><a target="_blank" href="https://www.amazon.com/s?rh=n%3A2619525011%2Cp_75%3A20-&amp;ie=UTF8&_encoding=UTF8&tag=3628-20&linkCode=ur2&linkId=4a9b4e30de4681607b0b83c838c36a06&camp=1789&creative=9325">10%</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=3628-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></td>
    <td class="tg-spn1"><a target="_blank" href="https://www.amazon.com/gp/new-releases/hi/13397451/ref=zg_bsnr_nav_hi_1_hi?&_encoding=UTF8&tag=3628-20&linkCode=ur2&linkId=0803b6ccf0530980ad59da52c307753b&camp=1789&creative=9325">New</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=3628-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></td>
    <td class="tg-spn1"><a target="_blank" href="https://www.amazon.com/Best-Sellers-Home-Improvement-Appliances/zgbs/hi/13397451/ref=zg_bs_nav_hi_1_hi?&_encoding=UTF8&tag=3628-20&linkCode=ur2&linkId=a00fc62e1b7f0e00133535959f398a37&camp=1789&creative=9325">Best</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=3628-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></td>
  </tr>
  <tr>
    <td class="tg-s6z2">Arts, Crafts & Sewing</td>
    <td class="tg-s6z2"><a target="_blank" href="https://www.amazon.com/s?rh=n%3A2617941011%2Cp_75%3A70-&amp;ie=UTF8&_encoding=UTF8&tag=3628-20&linkCode=ur2&linkId=59a395c8e0b1d73b1584d4687992480d&camp=1789&creative=9325">70%</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=3628-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></td>
    <td class="tg-s6z2"><a target="_blank" href="https://www.amazon.com/s?rh=n%3A2617941011%2Cp_75%3A50-&amp;ie=UTF8&_encoding=UTF8&tag=3628-20&linkCode=ur2&linkId=1523e5d229aa5476f3955f4606dd35b2&camp=1789&creative=9325">50%</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=3628-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></td>
    <td class="tg-s6z2"><a target="_blank" href="https://www.amazon.com/s?rh=n%3A2617941011%2Cp_75%3A20-&amp;ie=UTF8&_encoding=UTF8&tag=3628-20&linkCode=ur2&linkId=dc3f0907e74528565f91c6c3f6859565&camp=1789&creative=9325">20%</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=3628-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></td>
    <td class="tg-s6z2"><a target="_blank" href="https://www.amazon.com/s?rh=n%3A2617941011%2Cp_75%3A10-&amp;ie=UTF8&_encoding=UTF8&tag=3628-20&linkCode=ur2&linkId=ed8ce9917acdc608a80de69d82aac8ab&camp=1789&creative=9325">10%</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=3628-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></td>
    <td class="tg-s6z2"><a target="_blank" href="https://www.amazon.com/gp/new-releases/office-products/ref=as_li_ss_tl?ie=UTF8&amp;linkCode=sl2&amp;tag=ye0b-20&amp;linkId=9b1b23b4c07a2c73ae15b131ff6a174c&_encoding=UTF8&tag=3628-20&linkCode=ur2&linkId=7090927f4874ebbd75be7c706efa99ba&camp=1789&creative=9325">New</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=3628-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></td>
    <td class="tg-s6z2"><a target="_blank" href="https://www.amazon.com/Best-Sellers-Office-Products/zgbs/office-products/ref=as_li_ss_tl?ie=UTF8&amp;linkCode=sl2&amp;tag=ye0b-20&amp;linkId=1ac45c04816c31061de0e772e84e40b6&_encoding=UTF8&tag=3628-20&linkCode=ur2&linkId=f72afbb3bb010a4efc319201aa421441&camp=1789&creative=9325">Best</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=3628-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></td>
  </tr>
  <tr>
    <td class="tg-spn1">title</td>
    <td class="tg-spn1">75%</td>
    <td class="tg-spn1">50%</td>
    <td class="tg-spn1">25%</td>
    <td class="tg-spn1">10%</td>
    <td class="tg-spn1">New</td>
    <td class="tg-spn1">Best</td>
  </tr>
  <tr>
    <td class="tg-s6z2">title</td>
    <td class="tg-s6z2">75%</td>
    <td class="tg-s6z2">50%</td>
    <td class="tg-s6z2">25%</td>
    <td class="tg-s6z2">10%</td>
    <td class="tg-s6z2">New</td>
    <td class="tg-s6z2">Best</td>
  </tr>
</table>