<table class="tg">
  <tr>
    <th class="tg-s6z2">Department</th>
    <th class="tg-s6z2" colspan="5">Hot Deal</th>
  </tr>
  <tr>
    <td class="tg-spn1">title</td>
    <td class="tg-spn1">$0 - $20</td>
    <td class="tg-spn1">$20 - $50</td>
    <td class="tg-spn1">$50 -  $100</td>
    <td class="tg-spn1">$100 - $200</td>
    <td class="tg-spn1">$200 & above</td>
  </tr>
  <tr>
    <td class="tg-s6z2">title</td>
    <td class="tg-s6z2">$0 - $20</td>
    <td class="tg-s6z2">$20 - $50</td>
    <td class="tg-s6z2">$50 -  $100</td>
    <td class="tg-s6z2">$100 - $200</td>
    <td class="tg-s6z2">$200 & above</td>
  </tr>
  <tr>
    <td class="tg-spn1">title</td>
    <td class="tg-spn1">$0 - $20</td>
    <td class="tg-spn1">$20 - $50</td>
    <td class="tg-spn1">$50 -  $100</td>
    <td class="tg-spn1">$100 - $200</td>
    <td class="tg-spn1">$200 & above</td>
  </tr>
  <tr>
    <td class="tg-s6z2">title</td>
    <td class="tg-s6z2">$0 - $20</td>
    <td class="tg-s6z2">$20 - $50</td>
    <td class="tg-s6z2">$50 -  $100</td>
    <td class="tg-s6z2">$100 - $200</td>
    <td class="tg-s6z2">$200 & above</td>
  </tr>
</table>