<div id="columns" class="columns_4">

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <figure>
    <a href="http://shopstyle.it/l/BiAZ" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/93/58/93584513a2de3d26e856d85a293652b1_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Turquoise & Pink Flamingo Backpack - Girls</figcaption>
    <span class="price"><span class="offsale">$45.00 </span>&nbsp;$12.99 (71% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BiAZ" target="_blank">Check it Out</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/BbI0" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/d2/a6/d2a670e1566a5190c1a07e2f3b220578_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Dean Russo 'Make Our Lives Whole' Tote</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$21.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbI0" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BbI6" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/6c/bb/6cbb5c60b0a833c838ba54a55a09240c_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Dean Russo The Bulldog Tote Bag</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$21.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbI6" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BbLh" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/3b/96/3b96775c4aec4a57c319c932f60e69b8_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Dean Russo In A Perfect World Tote Bag</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$21.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbLh" target="_blank">Check it Out</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/BbKI" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/b9/d2/b9d2b90610f23a4a27b86f8fcaf39588_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Dean Russo 'My Therapist Has a Wagging Tail' Tote</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$21.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbKI" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BbMg" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/f1/c0/f1c09215451684e14ae3416808789c53_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Dean Russo 'Happiness Is a Warm Puppy' Tote</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$21.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbMg" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BbMG" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/82/dc/82dc6bc1c7413d893f8099281a3795ef_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Dean Russo Vintage Maya Tote Bag</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$21.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbMG" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BbOx" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/b6/13/b613b8e37eb47166ea6900106ae9d611_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Dean Russo Abyssinian Tote</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$21.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbOx" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/AXfl" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/99/ac/99acbebbe47bee7822b491b46070f153_best.jpg"></a>
    <h4 class="hotdeal_source">via Backcountry </h4>
    <figcaption>Seafolly Carried Away Mirror Tote Bag</figcaption>
    <span class="price"><span class="offsale">$151.95 </span>&nbsp;$37.99 (75% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/AXfl" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/AXgH" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/87/41/874144083ee8b8fb6ce5c6bebf3f56cf_best.jpg"></a>
    <h4 class="hotdeal_source">via saksoff5th </h4>
    <figcaption>Leather Hobo Bag</figcaption>
    <span class="price"><span class="offsale">$358.00 </span>&nbsp;$99.99 (72% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/AXgH" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yAOS" target="_blank"><img src="https://goo.gl/W3Dcuz"></a>
    <h4 class="hotdeal_source">via Nordstromrack</h4>
    <figcaption>SAKROOTS Artist Circle Crossbody Bag</figcaption>
    <span class="price"><span class="offsale">$59.00</span>&nbsp;$29.97 (49% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yAOS" target="_blank">Check it Out</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/yAOI" target="_blank"><img src="https://goo.gl/aFFgkd"></a>
    <h4 class="hotdeal_source">via Express</h4>
    <figcaption>Express round straw crossbody bag</figcaption>
    <span class="price"><span class="offsale">$39.90</span>&nbsp;$23.94 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yAOI" target="_blank">Check it Out</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/yAOV" target="_blank"><img src="https://goo.gl/Gr1GTb"></a>
    <h4 class="hotdeal_source">via Nordstromrack</h4>
    <figcaption>Elliott Lucca Jules Tote Bag</figcaption>
    <span class="price"><span class="offsale">$158.00</span>&nbsp;$49.97(72% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yAOV" target="_blank">Check it Out</a>
  </figure> 

  <figure>
    <a href="http://shopstyle.it/l/yOgY" target="_blank"><img src="https://goo.gl/foiJ9F"></a>
    <h4 class="hotdeal_source">via michael kors </h4>
    <figcaption>Michael Kors Selma 3-In-1 Striped Leather Reversible Jacket</figcaption>
    <span class="price"><span class="offsale">$168.00 </span>&nbsp;$73.50 (56% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOgY" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOiG" target="_blank"><img src="https://goo.gl/gWgKgx"></a>
    <h4 class="hotdeal_source">via macys </h4>
    <figcaption>Steve Madden Zada Small Clutch</figcaption>
    <span class="price"><span class="offsale">$74.00 </span>&nbsp;$45.00 (39% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOiG" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOjg" target="_blank"><img src="https://goo.gl/oKbZbh"></a>
    <h4 class="hotdeal_source">via macys </h4>
    <figcaption>Patricia Nash Provencal Escape Marotta Card Holder</figcaption>
    <span class="price"><span class="offsale">$49.00 </span>&nbsp;$29.40 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOjg" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOkx" target="_blank"><img src="https://goo.gl/Z8trXN"></a>
    <h4 class="hotdeal_source">via GILT </h4>
    <figcaption>Marc Jacobs Women's Metallic Leather Crossbody</figcaption>
    <span class="price"><span class="offsale">$215.00 </span>&nbsp;$99.00 (54% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOkx" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOl1" target="_blank"><img src="https://goo.gl/hgLKJp"></a>
    <h4 class="hotdeal_source">via macys </h4>
    <figcaption>Guess Huntley Small Cali Satchel</figcaption>
    <span class="price"><span class="offsale">$98.00 </span>&nbsp;$58.80 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOl1" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOmk" target="_blank"><img src="https://goo.gl/8SQZpW"></a>
    <h4 class="hotdeal_source">via macys </h4>
    <figcaption>Guess Huntley Top-Handle Flap-Front Satchel</figcaption>
    <span class="price"><span class="offsale">$118.00 </span>&nbsp;$70.80 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOmk" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOoB" target="_blank"><img src="https://goo.gl/KMPZZY"></a>
    <h4 class="hotdeal_source">via lord & taylor </h4>
    <figcaption>MICHAEL MICHAEL KORS Wythe Iridescent Backpack</figcaption>
    <span class="price"><span class="offsale">$328.00 </span>&nbsp;$98.40 (70% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOoB" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOp2" target="_blank"><img src="https://goo.gl/e4VY3S"></a>
    <h4 class="hotdeal_source">via nordstrom rack </h4>
    <figcaption>Liebeskind Berlin Santa Clara Sporty Leather Shoulder Bag</figcaption>
    <span class="price"><span class="offsale">$228.00 </span>&nbsp;$79.97 (65% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOp2" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOql" target="_blank"><img src="https://goo.gl/J1s4es"></a>
    <h4 class="hotdeal_source">via GILT </h4>
    <figcaption>Marc Jacobs Women's Crossbody Bag</figcaption>
    <span class="price"><span class="offsale">$180.00 </span>&nbsp;$89.00 (51% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOql" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOqY" target="_blank"><img src="https://goo.gl/AVTygz"></a>
    <h4 class="hotdeal_source">via OFF 5TH </h4>
    <figcaption>Logo Embossed Hobo Bag</figcaption>
    <span class="price"><span class="offsale">$248.00 </span>&nbsp;$84.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOqY" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOtb" target="_blank"><img src="https://goo.gl/E4gnJ4"></a>
    <h4 class="hotdeal_source">via ordstrom rack </h4>
    <figcaption>Liebeskind Berlin Kindamba Woven Shoulder Bag</figcaption>
    <span class="price"><span class="offsale">$398.00 </span>&nbsp;$79.60 (80% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOtb" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOuV" target="_blank"><img src="https://goo.gl/d7kbYw"></a>
    <h4 class="hotdeal_source">via macys </h4>
    <figcaption>Nine West Devonna Small Top-Handle Circle Crossbody</figcaption>
    <span class="price"><span class="offsale">$59.00 </span>&nbsp;$35.40 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOuV" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOvG" target="_blank"><img src="https://goo.gl/enmMyA"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>Dooney & Bourke Westerly Mini Waverly</figcaption>
    <span class="price"><span class="offsale">$188.00 </span>&nbsp;$94.00 (48% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOvG" target="_blank">Check it Out</a>
  </figure>

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->
</div>