<div id="columns" class="columns_4">

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address" alt="img_title"></a>
    <h4 class="hotdeal_source">via store_title <span class="new_neon">New</span></h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FThe-North-Face-Womens-Apex-Chromium-Softshell-Jacket%2F332509100913%3F_trkparms%3D5079%253A5000006498&campid=5338273158&toolid=20008" target="_blank"><img src="https://d3d71ba2asa5oz.cloudfront.net/12012433/images/888656823194.jpg"></a>
    <h4 class="hotdeal_source">via eBay <span class="new_neon">New</span></h4>
    <figcaption>The North Face Women's Apex Chromium Softshell Jacket</figcaption>
    <span class="price"><span class="offsale">$160.00 </span>&nbsp;$64.00 (60% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FThe-North-Face-Womens-Apex-Chromium-Softshell-Jacket%2F332509100913%3F_trkparms%3D5079%253A5000006498&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure> 

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2Fadidas-S2S-Pullover-Hoodie-Womens%2F152905687792%3F_trkparms%3D5079%253A5000006498&campid=5338273158&toolid=20008" target="_blank"><img src="https://www.adidas.com/dis/dw/image/v2/aaqx_prd/on/demandware.static/-/Sites-adidas-products/en_US/dw1ad515f2/zoom/CF0251_000_plp_model.jpg?sw=2000&sm=fit"></a>
    <h4 class="hotdeal_source">via eBay <span class="new_neon">New</span></h4>
    <figcaption>adidas S2S Pullover Hoodie Women's</figcaption>
    <span class="price"><span class="offsale">$55.00 </span>&nbsp;$26.99 (51% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2Fadidas-S2S-Pullover-Hoodie-Womens%2F152905687792%3F_trkparms%3D5079%253A5000006498&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2Fadidas-Trefoil-Leggings-Womens%2F152905684496%3F_trkparms%3D5079%253A5000006498&campid=5338273158&toolid=20008" target="_blank"><img src="https://www.adidas.com/dis/dw/image/v2/aaqx_prd/on/demandware.static/-/Sites-adidas-products/en_US/dw1ad515f2/zoom/AJ8150_21_model.jpg?sw=2000&sm=fit"></a>
    <h4 class="hotdeal_source">via eBay <span class="new_neon">New</span></h4>
    <figcaption>adidas Trefoil Leggings Women's</figcaption>
    <span class="price"><span class="offsale">$35.00 </span>&nbsp;$19.00 (43% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2Fadidas-Trefoil-Leggings-Womens%2F152905684496%3F_trkparms%3D5079%253A5000006498&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2Fadidas-Design-2-Move-3-4-Tights-Womens%2F152909382229%3F_trkparms%3D5079%253A5000006498&campid=5338273158&toolid=20008" target="_blank"><img src="https://www.adidas.com/dis/dw/image/v2/aaqx_prd/on/demandware.static/-/Sites-adidas-products/en_US/dw1ad515f2/zoom/BQ7366_21_model.jpg?sw=2000&sm=fit&"></a>
    <h4 class="hotdeal_source">via eBay <span class="new_neon">New</span></h4>
    <figcaption>adidas Design 2 Move 3/4 Tights Women's</figcaption>
    <span class="price"><span class="offsale">$50.00 </span>&nbsp;$17.99 (64% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2Fadidas-Design-2-Move-3-4-Tights-Womens%2F152909382229%3F_trkparms%3D5079%253A5000006498&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FReebok-Womens-Linear-High-Rise-Legging%2F173147337457%3F_trkparms%3D5079%253A5000006498&campid=5338273158&toolid=20008" target="_blank"><img src="https://i.ebayimg.com/images/g/HW4AAOSwkV5afeIQ/s-l1600.jpg"></a>
    <h4 class="hotdeal_source">via eBay <span class="new_neon">New</span></h4>
    <figcaption>Reebok Women's Linear High Rise Legging</figcaption>
    <span class="price"><span class="offsale">$85.00 </span>&nbsp;$27.00 (68% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FReebok-Womens-Linear-High-Rise-Legging%2F173147337457%3F_trkparms%3D5079%253A5000006498&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2Fadidas-Firebird-Track-Jacket-Womens%2F152905687509%3F_trkparms%3D5079%253A5000006498&campid=5338273158&toolid=20008" target="_blank"><img src="https://www.adidas.com/dis/dw/image/v2/aaqx_prd/on/demandware.static/-/Sites-adidas-products/en_US/dw1ad515f2/zoom/BR9313_000_plp_model.jpg?sw=2000&sm=fit"></a>
    <h4 class="hotdeal_source">via eBay <span class="new_neon">New</span></h4>
    <figcaption>adidas Firebird Track Jacket Women's</figcaption>
    <span class="price"><span class="offsale">$75.00 </span>&nbsp;$33.50 (55%% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2Fadidas-Firebird-Track-Jacket-Womens%2F152905687509%3F_trkparms%3D5079%253A5000006498&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BDW7" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/cf/1f/cf1f1f15298fc4b0697a941b5b6f6fc1_best.jpg"></a>
    <h4 class="hotdeal_source">via Century 21 </h4>
    <figcaption>ocean drive Burnout Joggers</figcaption>
    <span class="price"><span class="offsale">$92.00 </span>&nbsp;$29.99 (67% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BDW7" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BEO4" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/0a/fe/0afee5f473bc01545e2effd8a81a0fc2_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily </h4>
    <figcaption>Black & Mint Floral Mesh Side Panel Joggers</figcaption>
    <span class="price"><span class="offsale">$53.00 </span>&nbsp;$24.99 (53% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BEO4" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BENU" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/87/97/87976a605a07fdbc7dfb0e9f035b719a_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily </h4>
    <figcaption>Charcoal 'Day Drinker' V-Neck Tee</figcaption>
    <span class="price"><span class="offsale">$30.00 </span>&nbsp;$9.99 (67% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BENU" target="_blank">Check it Out</a>
  </figure> 

  <figure>
    <a href="http://shopstyle.it/l/BENZ" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/71/69/7169fe12ac47d168a7060d473b1763fb_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily</h4>
    <figcaption>Heather Charcoal 'Memories Are Made In Flip Flops' Dress</figcaption>
    <span class="price"><span class="offsale">$35.00 </span>&nbsp;$12.79 (63% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BENZ" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/Bbre" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/f0/f4/f0f4cd548de8c6bc87cac827fa98b8df_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily</h4>
    <figcaption>Black & Ivory Stripe Knot-Hem Tee</figcaption>
    <span class="price"><span class="offsale">$85.00 </span>&nbsp;$19.99 (76% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/Bbre" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BbtH" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/07/1d/071dde36ec8ca0ce250c97199d975685_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily</h4> 
    <figcaption>Sage Cold-Shoulder Blouson Top</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$24.99 (61% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbtH" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/Bbvg" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/8b/4c/8b4cf6c9f8e70aeca4783cf58b9558d0_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily</h4>
    <figcaption>Black Cross-Front Hi-Low Tunic</figcaption>
    <span class="price"><span class="offsale">$100.00 </span>&nbsp;$19.99 (80% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/Bbvg" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BbvQ" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/9f/d6/9fd65cf9dadb128e3124d537faeda52d_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily</h4>
    <figcaption>Orchid Mesh-Accent Ruffle-Accent Top - Plus Too</figcaption>
    <span class="price"><span class="offsale">$90.00 </span>&nbsp;$17.99 (80% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbvQ" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/Bbd2" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/bf/9a/bf9afcb5d5813dbfa9f1cadc093425fb_best.jpg"></a>
    <h4 class="hotdeal_source">via TopShop</h4>
    <figcaption>Ivy park Full length logo leggings</figcaption>
    <span class="price"><span class="offsale">$40.00 </span>&nbsp;$15.00 (63% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/Bbd2" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BEFh" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/ae/6a/ae6a8aba2c7ee18b9a2d367882ba4f2d_best.jpg"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack </h4>
    <figcaption>Eileen Fisher Open Front Cardigan</figcaption>
    <span class="price"><span class="offsale">$298.00 </span>&nbsp;$74.50 (75% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BEFh" target="_blank">Check it Out</a>
  </figure>

</div>