<div id="columns" class="columns_4">

  <figure>
    <a href="http://shopstyle.it/l/Bbre" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/f0/f4/f0f4cd548de8c6bc87cac827fa98b8df_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Black & Ivory Stripe Knot-Hem Tee</figcaption>
    <span class="price"><span class="offsale">$85.00 </span>&nbsp;$19.99 (76% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/Bbre" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BbtH" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/07/1d/071dde36ec8ca0ce250c97199d975685_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4> 
    <figcaption>Sage Cold-Shoulder Blouson Top</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$24.99 (61% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbtH" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/Bbvg" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/8b/4c/8b4cf6c9f8e70aeca4783cf58b9558d0_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Black Cross-Front Hi-Low Tunic</figcaption>
    <span class="price"><span class="offsale">$100.00 </span>&nbsp;$19.99 (80% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/Bbvg" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BbvQ" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/9f/d6/9fd65cf9dadb128e3124d537faeda52d_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Orchid Mesh-Accent Ruffle-Accent Top - Plus Too</figcaption>
    <span class="price"><span class="offsale">$90.00 </span>&nbsp;$17.99 (80% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbvQ" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/Bbd2" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/bf/9a/bf9afcb5d5813dbfa9f1cadc093425fb_best.jpg"></a>
    <h4 class="hotdeal_source">via TopShop <span class="new_neon">New</span></h4>
    <figcaption>Ivy park Full length logo leggings</figcaption>
    <span class="price"><span class="offsale">$40.00 </span>&nbsp;$15.00 (63% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/Bbd2" target="_blank">Check it Out</a>
  </figure>

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <figure>
    <a href="http://shopstyle.it/l/AU3Y" target="_blank"><img src="https://goo.gl/vRB1eb"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack </h4>
    <figcaption>Eileen Fisher Open Front Cardigan</figcaption>
    <span class="price"><span class="offsale">$298.00 </span>&nbsp;$74.50 (75% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/AU3Y" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/AU5C" target="_blank"><img src="https://goo.gl/fqjsq6"></a>
    <h4 class="hotdeal_source">via NeimanNmarcus </h4>
    <figcaption>Eileen Fisher Long-Sleeve Lightweight Viscose Jersey Tunic</figcaption>
    <span class="price"><span class="offsale">$158.00 </span>&nbsp;$63.20 (60% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/AU5C" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/ytef" target="_blank"><img src="https://goo.gl/nV6akF"></a>
    <h4 class="hotdeal_source">via Nordstrom</h4>
	  <figcaption>Lush Perfect Roll Tab Sleeve Tunic</figcaption>
    <span class="price"><span class="offsale">$42.00</span>&nbsp;$27.90 (33% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/ytef" target="_blank">Check it Out</a>
	</figure>
	
	<figure>
    <a href="http://shopstyle.it/l/yANs" target="_blank"><img src="https://goo.gl/A211dK"></a>
    <h4 class="hotdeal_source">via Nordstrom</h4>
    <figcaption>Mineral Wash Ruffle Hem Tee</figcaption>
    <span class="price"><span class="offsale">$29.00</span>&nbsp;$17.40 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yANs" target="_blank">Check it Out</a>
  </figure>
	
  <figure>
    <a href="http://shopstyle.it/l/yGZM" target="_blank"><img src="https://goo.gl/jpWYRy"></a>
    <h4 class="hotdeal_source">via nordstromrack</h4>
    <figcaption>Rock Revival Distressed Straight Leg Jeans</figcaption>
    <span class="price"><span class="offsale">$139.00</span>&nbsp;$59.97.00 (57% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yGZM" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yG0n" target="_blank"><img src="https://goo.gl/DvesW8"></a>
    <h4 class="hotdeal_source">via nordstrom </h4>
    <figcaption>Mock Neck Tunic Sweater</figcaption>
    <span class="price"><span class="offsale">$39.00 </span>&nbsp;$23.40 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yG0n" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yG0C" target="_blank"><img src="https://goo.gl/qtyY5x"></a>
    <h4 class="hotdeal_source">via revolve </h4>
    <figcaption>Wilt Ruffle Scoopy Tee</figcaption>
    <span class="price"><span class="offsale">$125.00 </span>&nbsp;$62.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yG0C" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yG01" target="_blank"><img src="https://goo.gl/CDZm4T"></a>
    <h4 class="hotdeal_source">via revolve </h4>
    <figcaption>BLANKNYC Star Sign Jean</figcaption>
    <span class="price"><span class="offsale">$108.00 </span>&nbsp;$58.00 (46% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yG01" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yG3a" target="_blank"><img src="https://goo.gl/NUEohh"></a>
    <h4 class="hotdeal_source">via nordstromrack </h4>
    <figcaption>Rock Revival Fleur Rhinestone Accented Skinny Jeans</figcaption>
    <span class="price"><span class="offsale">$164.00 </span>&nbsp;$59.97 (63% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yG3a" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yNyY" target="_blank"><img src="https://goo.gl/C9gy64"></a>
    <h4 class="hotdeal_source">via nordstrom </h4>
    <figcaption>BP. Plaid Cotton Blend Shirt</figcaption>
    <span class="price"><span class="offsale">$49.00 </span>&nbsp;$29.40 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yNyY" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yNAH" target="_blank"><img src="https://goo.gl/EEPSkH"></a>
    <h4 class="hotdeal_source">via nordstrom </h4>
    <figcaption>Barefoot Dreams Essential Cardigan</figcaption>
    <span class="price"><span class="offsale">$122.00 </span>&nbsp;$79.99 (33% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yNAH" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yNBq" target="_blank"><img src="https://goo.gl/PrJ3J1"></a>
    <h4 class="hotdeal_source">via michael kors </h4>
    <figcaption>Michael Kors Floral-Print Peekaboo Tie-Neck Dress</figcaption>
    <span class="price"><span class="offsale">$175.00 </span>&nbsp;$39.38 (77% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yNBq" target="_blank">Check it Out</a>
  </figure>

  <!-- 10 items -->

  <figure>
    <a href="http://shopstyle.it/l/yNE4" target="_blank"><img src="https://goo.gl/mXJLZ3"></a>
    <h4 class="hotdeal_source">via neimanmarcus </h4>
    <figcaption>Eileen Fisher Striped Organic Linen Gauze V-Neck Tunic, Chambray</figcaption>
    <span class="price"><span class="offsale">$248.00 </span>&nbsp;$74.00 (70% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yNE4" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yNDj" target="_blank"><img src="https://goo.gl/aaeYRY"></a>
    <h4 class="hotdeal_source">via nordstromrack </h4>
    <figcaption>Rock Revival Distressed Skinny Jeans</figcaption>
    <span class="price"><span class="offsale">$159.00 </span>&nbsp;$59.97 (62% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yNDj" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yNFK" target="_blank"><img src="https://goo.gl/6r2hja"></a>
    <h4 class="hotdeal_source">via revolve </h4>
    <figcaption>Endless Rose Strappy Maxi Dress</figcaption>
    <span class="price"><span class="offsale">$185.00 </span>&nbsp;$45.00 (76% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yNFK" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yNJ5" target="_blank"><img src="https://goo.gl/dZYtbY"></a>
    <h4 class="hotdeal_source">via Nasty Gal </h4>
    <figcaption>nastygal Ain't Nothin' But a Houndstooth Jacket</figcaption>
    <span class="price"><span class="offsale">$80.00 </span>&nbsp;$52.00 (35% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yNJ5" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yNJe" target="_blank"><img src="https://goo.gl/dybS3T"></a>
    <h4 class="hotdeal_source">via macys </h4>
    <figcaption>London Fog Hooded Belted Trench Coat</figcaption>
    <span class="price"><span class="offsale">$180.00 </span>&nbsp;$94.99 (47% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yNJe" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yNLq" target="_blank"><img src="https://goo.gl/bfAmW9"></a>
    <h4 class="hotdeal_source">via bloomingdales </h4>
    <figcaption>C by Bloomingdale's Cashmere Turtleneck Sweater </figcaption>
    <span class="price"><span class="offsale">$158.00 </span>&nbsp;$59.00 (63% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yNLq" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yNLZ" target="_blank"><img src="https://goo.gl/Stp7Yo"></a>
    <h4 class="hotdeal_source">via italist </h4>
    <figcaption>Moschino Cotton T-shirt</figcaption>
    <span class="price"><span class="offsale">$164.00 </span>&nbsp;$74.00 (55% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yNLZ" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yNMq" target="_blank"><img src="https://goo.gl/nEr9CA"></a>
    <h4 class="hotdeal_source">via matchesfashion </h4>
    <figcaption>VINCE Striped silk-blend long-sleeved T-shirt</figcaption>
    <span class="price"><span class="offsale">$135.00 </span>&nbsp;$81.00 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yNMq" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yNQB" target="_blank"><img src="https://goo.gl/t7f7g9"></a>
    <h4 class="hotdeal_source">via nordstromrack </h4>
    <figcaption>WOLFORD Luxe Long Sleeve Tee</figcaption>
    <span class="price"><span class="offsale">$240.00 </span>&nbsp;$59.97 (75% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yNQB" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yNP2" target="_blank"><img src="https://goo.gl/ehGppe"></a>
    <h4 class="hotdeal_source">via nordstrom </h4>
    <figcaption>Thread & Supply Double Breasted Peacoat</figcaption>
    <span class="price"><span class="offsale">$58.00 </span>&nbsp;$37.90 (35% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yNP2" target="_blank">Check it Out</a>
  </figure>

  <!-- 20 items -->

  

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->




  




  
</div>