<div id="columns" class="columns_4">

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address" alt="img_title"></a>
    <h4 class="hotdeal_source">via store_title <span class="new_neon">New</span></h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <figure>
    <a href="http://shopstyle.it/l/DhEJ" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/d2/c2/d2c21df9559e7d99623db4b3911c63b4_best.jpg" alt="Rose Gold Ankle-Strap Reform Sandal"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Rose Gold Ankle-Strap Reform Sandal</figcaption>
    <span class="price"><span class="offsale">$35.00 </span>&nbsp;$16.99 (51% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/DhEJ" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/DhED" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/91/00/910046424f5a3d9a0ac70c4cfd0e93d4_best.jpg" alt="Dearfoams"></a>
    <h4 class="hotdeal_source">via Dearfoams <span class="new_neon">New</span></h4>
    <figcaption>Black & White Plaid Bow Thong Slipper</figcaption>
    <span class="price"><span class="offsale">$26.00 </span>&nbsp;$12.99 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/DhED" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/DhEq" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/2c/17/2c17fed0440bddc96daabbf3e9e4ad0a_best.jpg" alt="Gray & Gold Rhinestone Link-Accent Sandal"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Gray & Gold Rhinestone Link-Accent Sandal</figcaption>
    <span class="price"><span class="offsale">$55.00 </span>&nbsp;$21.99 (60% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/DhEq" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/CJ7L" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/a5/cf/a5cfa42c30da79cd35ae1824f4c6d458_best.jpg" alt="img_title"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack</h4>
    <figcaption>Teva 4th of July Universal Flatform Sandal</figcaption>
    <span class="price"><span class="offsale">$60.00 </span>&nbsp;$14.97 (75% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/CJ7L" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/CJ5G" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/1a/61/1a61bc906bffd05bdd732ee74c8ee996_best.jpg" alt="img_title"></a>
    <h4 class="hotdeal_source">via Zulily</h4>
    <figcaption>Light Blue Coast Clarita Slip-On Sneaker</figcaption>
    <span class="price"><span class="offsale">$44.95 </span>&nbsp;$19.99 (56% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/CJ5G" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/CJ4H" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/3a/0d/3a0dbf1cbb3b913213a2718d0ec34592_best.jpg" alt="img_title"></a>
    <h4 class="hotdeal_source">via Jet</h4>
    <figcaption>Vince Camuto Women's Breyda Suede Rose Quartz Ankle-High Leather Flat Shoe</figcaption>
    <span class="price"><span class="offsale">$78.99 </span>&nbsp;$35.49 (55% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/CJ4H" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BZ8q" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/23/9c/239ca6cda4952ed6ed3acd9a76517671_best.jpg"></a>
    <h4 class="hotdeal_source">via NimanMarcus</h4>
    <figcaption>Adidas Stan Smith Primeknit Sneaker, White/Red</figcaption>
    <span class="price"><span class="offsale">$110.00 </span>&nbsp;$55.00 (persent% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BZ8q" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BZ78" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/35/a2/35a2d1587d996027b2ba13a015ff0225_best.jpg"></a>
    <h4 class="hotdeal_source">via NimanMarcus</h4>
    <figcaption>Adidas Superstar Lace-Up Sneaker</figcaption>
    <span class="price"><span class="offsale">$85.00 </span>&nbsp;$42.00 (51% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BZ78" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FReebok-Womens-Trainfusion-Nine-2-0-LMT-Shoes%2F173147336716%3F_trkparms%3D5079%253A5000006490" target="_blank"><img src="https://i.ebayimg.com/images/g/YWEAAOSwlFdafeIE/s-l1600.jpg"></a>
    <h4 class="hotdeal_source">via eBay</h4>
    <figcaption>Reebok Women's Trainfusion Nine 2.0 LMT Shoes</figcaption>
    <span class="price"><span class="offsale">$55.00 </span>&nbsp;$24.00 (56% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FReebok-Womens-Trainfusion-Nine-2-0-LMT-Shoes%2F173147336716%3F_trkparms%3D5079%253A5000006490" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BEUB" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/02/6b/026b6d906c92a2308c050a12cd33ce01_best.jpg"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack </h4>
    <figcaption>Converse Chuck Taylor All Star Madison Metallic Low Top Sneaker (Women)</figcaption>
    <span class="price"><span class="offsale">$60.00 </span>&nbsp;$29.97 (30% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BEUB" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BEVt" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/e9/95/e995dc0864d6c5e4ec68cb5c706405d5_best.jpg"></a>
    <h4 class="hotdeal_source">via Athleta</h4>
    <figcaption>Athleta Satin Sneaker by Superga</figcaption>
    <span class="price"><span class="offsale">$99.00 </span>&nbsp;$41.99 (58% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BEVt" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BiGe" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/bf/84/bf84e263d0374c6e206187205d7d1e42_best.jpg"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack </h4>
    <figcaption>Kelsi Dagger Brooklyn Linden Buckle Sandal</figcaption>
    <span class="price"><span class="offsale">$140.00 </span>&nbsp;$39.97 (71% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BiGe" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BiFs" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/02/03/02039843d1b315f32527e1b1209356b1_best.jpg"></a>
    <h4 class="hotdeal_source">via Off 5TH </h4>
    <figcaption>Fabric Slides</figcaption>
    <span class="price"><span class="offsale">$245.00 </span>&nbsp;$69.99 (71% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BiFs" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BiDo" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/e5/af/e5af8455cff4457bf32048edc9dcdace_best.jpg"></a>
    <h4 class="hotdeal_source">via 6pm </h4>
    <figcaption>Esprit Francis</figcaption>
    <span class="price"><span class="offsale">$70.00 </span>&nbsp;$24.99 (64% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BiDo" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BiDj" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/bb/20/bb20bdf88d744509f88142d4cac51c6a_best.jpg"></a>
    <h4 class="hotdeal_source">via Saks Fifth Avenue</h4>
    <figcaption>Pom-Pom Leather Thong Sandals</figcaption>
    <span class="price"><span class="offsale">$225.00 </span>&nbsp;$49.99 (78% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BiDj" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y418" target="_blank"><img src="https://i.pinimg.com/564x/2a/29/af/2a29af3e282cdd6664c6cbd560e2c0a6.jpg"></a>
    <h4 class="hotdeal_source">via Saks Fifth Avenue </h4>
    <figcaption>Soludos Leather Lace-Up Espadrilles</figcaption>
    <span class="price"><span class="offsale">$89.00 </span>&nbsp;$35.60 (60% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y418" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/AU8B" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/05/af/05afacf9df4c15e8ea3f6c40b2806f66_best.jpg"></a>
    <h4 class="hotdeal_source">via Saks Fifth Avenue </h4>
    <figcaption>Soludos Ghillie Suede Platform Espadrille Sandals</figcaption>
    <span class="price"><span class="offsale">$149.00 </span>&nbsp;$59.60 (60% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/AU8B" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/AU7W" target="_blank"><img src="https://i.pinimg.com/564x/50/96/17/509617ed16b43cc9216d1399ea9287e8.jpg"></a>
    <h4 class="hotdeal_source">via Saks Fifth Avenue </h4>
    <figcaption>Schutz Marlie Braided Leather Block Heel Sandals</figcaption>
    <span class="price"><span class="offsale">$200.00 </span>&nbsp;$80.00 (60% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/AU7W" target="_blank">Check it Out</a>
  </figure>
 
  <figure>
    <a href="http://shopstyle.it/l/yYrb" target="_blank"><img src="https://i.pinimg.com/564x/ee/ea/81/eeea811e813535a78fdd31226d015f6f.jpg"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack </h4>
    <figcaption>Sperry Sky Sail Metallic Twill Sneaker</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$31.92 (39% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yYrb" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y41q" target="_blank"><img src="https://i.pinimg.com/564x/d5/01/7a/d5017a0e099550ee8b4fcd820953d6be.jpg"></a>
    <h4 class="hotdeal_source">via DVF </h4>
    <figcaption>Eilat Sandal</figcaption>
    <span class="price"><span class="offsale">$198.00 </span>&nbsp;$69.30 (65% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y41q" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/y41N" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/c6/d2/c6d2b54b2576201c334b6afd2626462c_best.jpg"></a>
    <h4 class="hotdeal_source">via QVC </h4>
    <figcaption>Dansko Sandals with Adjustable Straps - Sonnet</figcaption>
    <span class="price"><span class="offsale">$120.00 </span>&nbsp;$53.65 (55% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/y41N" target="_blank">Check it Out</a>
  </figure>

</div>