<div id="columns" class="columns_4">

  <figure>
    <a href="http://shopstyle.it/l/yAOS" target="_blank"><img src="https://goo.gl/W3Dcuz"></a>
    <h4 class="hotdeal_source">via Nordstromrack</h4>
    <figcaption>SAKROOTS Artist Circle Crossbody Bag</figcaption>
    <span class="price"><span class="offsale">$59.00</span>&nbsp;$29.97 (49% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yAOS" target="_blank">Buy Now</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/yAOI" target="_blank"><img src="https://goo.gl/aFFgkd"></a>
    <h4 class="hotdeal_source">via Express</h4>
    <figcaption>Express round straw crossbody bag</figcaption>
    <span class="price"><span class="offsale">$39.90</span>&nbsp;$23.94 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yAOI" target="_blank">Buy Now</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/yAOV" target="_blank"><img src="https://goo.gl/Gr1GTb"></a>
    <h4 class="hotdeal_source">via Nordstromrack</h4>
    <figcaption>Elliott Lucca Jules Tote Bag</figcaption>
    <span class="price"><span class="offsale">$158.00</span>&nbsp;$49.97(72% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yAOV" target="_blank">Buy Now</a>
  </figure> 

  <figure>
    <a href="http://shopstyle.it/l/yOgY" target="_blank"><img src="https://goo.gl/foiJ9F"></a>
    <h4 class="hotdeal_source">via michael kors </h4>
    <figcaption>Michael Kors Selma 3-In-1 Striped Leather Reversible Jacket</figcaption>
    <span class="price"><span class="offsale">$168.00 </span>&nbsp;$73.50 (56% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOgY" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOiG" target="_blank"><img src="https://goo.gl/gWgKgx"></a>
    <h4 class="hotdeal_source">via macys </h4>
    <figcaption>Steve Madden Zada Small Clutch</figcaption>
    <span class="price"><span class="offsale">$74.00 </span>&nbsp;$45.00 (39% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOiG" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOjg" target="_blank"><img src="https://goo.gl/oKbZbh"></a>
    <h4 class="hotdeal_source">via macys </h4>
    <figcaption>Patricia Nash Provencal Escape Marotta Card Holder</figcaption>
    <span class="price"><span class="offsale">$49.00 </span>&nbsp;$29.40 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOjg" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOkx" target="_blank"><img src="https://goo.gl/Z8trXN"></a>
    <h4 class="hotdeal_source">via GILT </h4>
    <figcaption>Marc Jacobs Women's Metallic Leather Crossbody</figcaption>
    <span class="price"><span class="offsale">$215.00 </span>&nbsp;$99.00 (54% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOkx" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOl1" target="_blank"><img src="https://goo.gl/hgLKJp"></a>
    <h4 class="hotdeal_source">via macys </h4>
    <figcaption>Guess Huntley Small Cali Satchel</figcaption>
    <span class="price"><span class="offsale">$98.00 </span>&nbsp;$58.80 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOl1" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOmk" target="_blank"><img src="https://goo.gl/8SQZpW"></a>
    <h4 class="hotdeal_source">via macys </h4>
    <figcaption>Guess Huntley Top-Handle Flap-Front Satchel</figcaption>
    <span class="price"><span class="offsale">$118.00 </span>&nbsp;$70.80 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOmk" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOoB" target="_blank"><img src="https://goo.gl/KMPZZY"></a>
    <h4 class="hotdeal_source">via lord & taylor </h4>
    <figcaption>MICHAEL MICHAEL KORS Wythe Iridescent Backpack</figcaption>
    <span class="price"><span class="offsale">$328.00 </span>&nbsp;$98.40 (70% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOoB" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOp2" target="_blank"><img src="https://goo.gl/e4VY3S"></a>
    <h4 class="hotdeal_source">via nordstrom rack </h4>
    <figcaption>Liebeskind Berlin Santa Clara Sporty Leather Shoulder Bag</figcaption>
    <span class="price"><span class="offsale">$228.00 </span>&nbsp;$79.97 (65% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOp2" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOql" target="_blank"><img src="https://goo.gl/J1s4es"></a>
    <h4 class="hotdeal_source">via GILT </h4>
    <figcaption>Marc Jacobs Women's Crossbody Bag</figcaption>
    <span class="price"><span class="offsale">$180.00 </span>&nbsp;$89.00 (51% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOql" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOqY" target="_blank"><img src="https://goo.gl/AVTygz"></a>
    <h4 class="hotdeal_source">via OFF 5TH </h4>
    <figcaption>Logo Embossed Hobo Bag</figcaption>
    <span class="price"><span class="offsale">$248.00 </span>&nbsp;$84.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOqY" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOtb" target="_blank"><img src="https://goo.gl/E4gnJ4"></a>
    <h4 class="hotdeal_source">via ordstrom rack </h4>
    <figcaption>Liebeskind Berlin Kindamba Woven Shoulder Bag</figcaption>
    <span class="price"><span class="offsale">$398.00 </span>&nbsp;$79.60 (80% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOtb" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOuV" target="_blank"><img src="https://goo.gl/d7kbYw"></a>
    <h4 class="hotdeal_source">via macys </h4>
    <figcaption>Nine West Devonna Small Top-Handle Circle Crossbody</figcaption>
    <span class="price"><span class="offsale">$59.00 </span>&nbsp;$35.40 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOuV" target="_blank">Buy Now</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOvG" target="_blank"><img src="https://goo.gl/enmMyA"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>Dooney & Bourke Westerly Mini Waverly</figcaption>
    <span class="price"><span class="offsale">$188.00 </span>&nbsp;$94.00 (48% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOvG" target="_blank">Buy Now</a>
  </figure>

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Buy Now</a>
  </figure> -->
</div>