<div id="columns" class="columns_4">

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address" alt="img_title"></a>
    <h4 class="hotdeal_source">via store_title <span class="new_neon">New</span></h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FCasio-G-Shock-Womens-Quartz-S-Series-Analog-Digital-Resin-Sport-46mm-Watch%2F112703903720%3F_trkparms%3D5079%253A5000006437&campid=5338273158&toolid=20008" target="_blank"><img src="https://i.ebayimg.com/images/g/nJQAAOSwEEBaPBgG/s-l1600.png"></a>
    <h4 class="hotdeal_source">via eBay <span class="new_neon">New</span></h4>
    <figcaption>Casio G-Shock Women's Quartz S-Series Analog-Digital Resin Sport 46mm Watch</figcaption>
    <span class="price"><span class="offsale">$130.00 </span>&nbsp;$41.99 (68% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FCasio-G-Shock-Womens-Quartz-S-Series-Analog-Digital-Resin-Sport-46mm-Watch%2F112703903720%3F_trkparms%3D5079%253A5000006437&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2F925-Sterling-Silver-Diamond-Accent-Infinity-Necklace%2F1241493933%3Fiid%3D231397645827%26_trkparms%3D5079%253A5000006485&campid=5338273158&toolid=20008" target="_blank"><img src="https://i.ebayimg.com/images/g/GjgAAOSwu4BV22BJ/s-l500.jpg"></a>
    <h4 class="hotdeal_source">via eBay <span class="new_neon">New</span></h4>
    <figcaption>Sterling Silver Diamond Accent Infinity Necklace</figcaption>
    <span class="price"><span class="offsale">$69.99 </span>&nbsp;$19.99 (71% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2F925-Sterling-Silver-Diamond-Accent-Infinity-Necklace%2F1241493933%3Fiid%3D231397645827%26_trkparms%3D5079%253A5000006485&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FShamrock-Clover-Pendant-Necklace-With-Green-Cubic-Zirconia-in-Sterling-Silver%2F697311894%3Fiid%3D263105155037%26_trkparms%3D5079%253A5000006485&campid=5338273158&toolid=20008" target="_blank"><img src="https://i.ebayimg.com/00/s/MTYwMFgxNjAw/z/E8wAAOSwH-daAjzb/$_58.JPG"></a>
    <h4 class="hotdeal_source">via eBay <span class="new_neon">New</span></h4>
    <figcaption>Shamrock Clover Pendant Necklace With Green Cubic Zirconia in Sterling Silver</figcaption>
    <span class="price"><span class="offsale">$109.00 </span>&nbsp;$17.99 (83% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FShamrock-Clover-Pendant-Necklace-With-Green-Cubic-Zirconia-in-Sterling-Silver%2F697311894%3Fiid%3D263105155037%26_trkparms%3D5079%253A5000006485&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2F925-Silver-Hourglass-Pendant-with-0-50-Ct-Diamond-Dust-18-Chain%2F361306422628%3F_trkparms%3D5079%253A5000006485&campid=5338273158&toolid=20008" target="_blank"><img src="https://i.ebayimg.com/images/g/GPEAAOSwHEhaAcXt/s-l1600.jpg"></a>
    <h4 class="hotdeal_source">via eBay <span class="new_neon">New</span></h4>
    <figcaption>Silver Hourglass Pendant with 0.50 Ct Diamond Dust & 18" Chain</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$45.01 (69% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2F925-Silver-Hourglass-Pendant-with-0-50-Ct-Diamond-Dust-18-Chain%2F361306422628%3F_trkparms%3D5079%253A5000006485&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/BEWg" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/09/b6/09b651aec01a9c8427d672efc83712c4_best.jpg"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack</h4>
    <figcaption>AQS Women's Fox Sunglasses</figcaption>
    <span class="price"><span class="offsale">$149.00 </span>&nbsp;$39.97 (73% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BEWg" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFiu" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/9e/eb/9eebc9bb0805d8ae220e6afbfcc5f997_best.jpg"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack </h4>
    <figcaption>AQS Women's Fox Sunglasses</figcaption>
    <span class="price"><span class="offsale">$149.00 </span>&nbsp;$39.97 (73% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFiu" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFgF" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/7f/c8/7fc8f0632fb55893c089050724c6096b_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily </h4>
    <figcaption>Green Crystal Clover Purse Charm</figcaption>
    <span class="price"><span class="offsale">$19.00 </span>&nbsp;$6.99 (63% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFgF" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFi6" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/32/e7/32e73be7a3cb6984a0e184f637dc9173_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily </h4>
    <figcaption>Crystal & Silvertone 'M' Purse Charm</figcaption>
    <span class="price"><span class="offsale">$17.00 </span>&nbsp;$6.99 (59% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFi6" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFjp" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/cf/6a/cf6a7ee8e4a2942d75487420083c51d6_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily</h4>
    <figcaption>Crystal & Ivory Rhinestone Crab Purse Charm</figcaption>
    <span class="price"><span class="offsale">$19.00 </span>&nbsp;$6.99 (63% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFjp" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFjJ" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/70/ae/70aeab6461eef396088e06cc82f56d60_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily </h4>
    <figcaption>Crystal Eiffel Tower Purse Charm</figcaption>
    <span class="price"><span class="offsale">$19.00 </span>&nbsp;$6.99 (63% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFjJ" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFjU" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/d4/f3/d4f39c65d75ca7485648cd292a551bd4_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily </h4>
    <figcaption>Crystal & Ivory Rhinestone Clover Purse Charm</figcaption>
    <span class="price"><span class="offsale">$19.00 </span>&nbsp;$6.99 (63% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFjU" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFkc" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/76/78/767850af327c26919c5e5bd031066632_best.jpg"></a>
    <h4 class="hotdeal_source">via Jcpenney </h4>
    <figcaption>MONET JEWELRY Monet Jewelry Key Chain</figcaption>
    <span class="price"><span class="offsale">$26.00 </span>&nbsp;$12.99 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFkc" target="_blank">Check it Out</a>
  </figure>  
  
  <figure>
    <a href="http://shopstyle.it/l/BFkq" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/02/6d/026dc2e9c6c06cbd7719ff246fef2387_best.jpg"></a>
    <h4 class="hotdeal_source">via Yoox </h4>
    <figcaption>RALPH LAUREN Belts</figcaption>
    <span class="price"><span class="offsale">$124.00 </span>&nbsp;$50.00 (60% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFkq" target="_blank">Check it Out</a>
  </figure>
  
</div>