<div id="columns" class="columns_4">
  <figure>
    <a href="http://shopstyle.it/l/yBhp" target="_blank"><img src="https://goo.gl/xnUvH8"></a>
    <h4 class="hotdeal_source">via GILT</h4>
    <figcaption>James Reflective Aviator Frame</figcaption>
    <span class="price"><span class="offsale">$295.00</span>&nbsp;$59.00 (77% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yBhp" target="_blank">Check it Out</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/yBgB" target="_blank"><img src="https://goo.gl/7z4U2Y"></a>
    <h4 class="hotdeal_source">via GILT</h4>
    <figcaption>Oliver Mirrored Aviator Frame</figcaption>
    <span class="price"><span class="offsale">$295.00</span>&nbsp;$59.00 (77% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yBgB" target="_blank">Check it Out</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/yBhy" target="_blank"><img src="https://goo.gl/SFTeig"></a>
    <h4 class="hotdeal_source">via GILT</h4>
    <figcaption>James Reflective Metal Aviator Frame</figcaption>
    <span class="price"><span class="offsale">$295.00</span>&nbsp;$59.00 (77% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yBhy" target="_blank">Check it Out</a>
  </figure> 

  <figure>
    <a href="http://shopstyle.it/l/yBhy" target="_blank"><img src="https://goo.gl/SFTeig"></a>
    <h4 class="hotdeal_source">via GILT</h4>
    <figcaption>James Reflective Metal Aviator Frame</figcaption>
    <span class="price"><span class="offsale">$295.00</span>&nbsp;$59.00 (77% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yBhy" target="_blank">Check it Out</a>
  </figure> 

  <figure>
    <a href="http://shopstyle.it/l/yOy0" target="_blank"><img src="https://goo.gl/TgvGQY"></a>
    <h4 class="hotdeal_source">via GILT </h4>
    <figcaption>Helen Kaminski Women's Stitched Sun Hat</figcaption>
    <span class="price"><span class="offsale">$295.00 </span>&nbsp;$67.97 (77% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOy0" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOGT" target="_blank"><img src="https://goo.gl/AFGTgV"></a>
    <h4 class="hotdeal_source">via GILT </h4>
    <figcaption>White + Warren Women's Fringe Tassel Scarf</figcaption>
    <span class="price"><span class="offsale">$160.00 </span>&nbsp;$79.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOGT" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOHv" target="_blank"><img src="https://goo.gl/72e8re"></a>
    <h4 class="hotdeal_source">via nordstrom rack </h4>
    <figcaption>ERIC JAVITS Lily Packable Squishee(R) Fedora</figcaption>
    <span class="price"><span class="offsale">$295.00 </span>&nbsp;$59.00 (80% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOHv" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOJq" target="_blank"><img src="https://goo.gl/eQnM6B"></a>
    <h4 class="hotdeal_source">via bloomingdales </h4>
    <figcaption>Kyi Kyi Cuffed Knit Fox Fur Pom-Pom Beanie</figcaption>
    <span class="price"><span class="offsale">$98.00 </span>&nbsp;$49.00 (50% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOJq" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOIV" target="_blank"><img src="https://goo.gl/Nnw5ob"></a>
    <h4 class="hotdeal_source">via bloomingdales </h4>
    <figcaption>Yarnz Solid Lightweight Wool Scarf</figcaption>
    <span class="price"><span class="offsale">$138.00 </span>&nbsp;$55.20 (60% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOIV" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOLh" target="_blank"><img src="https://goo.gl/uoPJNt"></a>
    <h4 class="hotdeal_source">via nordstrom rack </h4>
    <figcaption>Frye Ombre Virgin Wool Blend Infinity Scarf</figcaption>
    <span class="price"><span class="offsale">$128.00 </span>&nbsp;$25.60 (80% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOLh" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yOLF" target="_blank"><img src="https://goo.gl/3wqGuj"></a>
    <h4 class="hotdeal_source">via nordstrom rack </h4>
    <figcaption>Portolano Genuine Dyed Fox Fur Pompom Cashmere Beanie</figcaption>
    <span class="price"><span class="offsale">$310.00 </span>&nbsp;$77.50 (75% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOLF" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yXL6" target="_blank"><img src="https://goo.gl/kwy4XK"></a>
    <h4 class="hotdeal_source">via nordstrom </h4>
    <figcaption>Anne Klein Hinge Case Watch, 32mm</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$48.75 (25% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yXL6" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yXVt" target="_blank"><img src="https://goo.gl/rtA2mE"></a>
    <h4 class="hotdeal_source">via nordstrom rack</h4>
    <figcaption>Kate Spade New York Jazz Things Up Boom Box Ring</figcaption>
    <span class="price"><span class="offsale">$98.00 </span>&nbsp;$29.01 (70% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yXVt" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yXUX" target="_blank"><img src="https://goo.gl/d3FMhi"></a>
    <h4 class="hotdeal_source">via HBX </h4>
    <figcaption>Komono Winston Regal Watch</figcaption>
    <span class="price"><span class="offsale">$100.00 </span>&nbsp;$60.00 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yXUX" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yXMn" target="_blank"><img src="https://goo.gl/jYqB72"></a>
    <h4 class="hotdeal_source">via GILT </h4>
    <figcaption>Unode50 Women's Aurora Borealis Ring</figcaption>
    <span class="price"><span class="offsale">$125.00 </span>&nbsp;$35.00 (72% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yXMn" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yXUG" target="_blank"><img src="https://goo.gl/XDK3Sg"></a>
    <h4 class="hotdeal_source">via GILT </h4>
    <figcaption>Unode50 Women's Keep Watch Ring</figcaption>
    <span class="price"><span class="offsale">$99.00 </span>&nbsp;$29.00 (76% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yXUG" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yXQJ" target="_blank"><img src="https://goo.gl/Lj8VQ7"></a>
    <h4 class="hotdeal_source">via michael kors </h4>
    <figcaption>Michael Kors Pave Rose Gold-Tone Pendant Necklace</figcaption>
    <span class="price"><span class="offsale">$95.00 </span>&nbsp;$49.88 (47% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yXQJ" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yXZC" target="_blank"><img src="https://goo.gl/AUagqq"></a>
    <h4 class="hotdeal_source">via nordstrom rack </h4>
    <figcaption>Uno De 50 And Love Necklace</figcaption>
    <span class="price"><span class="offsale">$145.00 </span>&nbsp;$69.97 (52% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yXZC" target="_blank">Check it Out</a>
  </figure>


  <figure>
    <a href="http://shopstyle.it/l/yXVY" target="_blank"><img src="https://goo.gl/La4YP4"></a>
    <h4 class="hotdeal_source">via ZULLY </h4>
    <figcaption>Blue & Goldtone Cruise Jellyfish Silicone-Strap Watch</figcaption>
    <span class="price"><span class="offsale">$280.00 </span>&nbsp;$49.99 (82% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yXVY" target="_blank">Check it Out</a>
  </figure>


  <figure>
    <a href="http://shopstyle.it/l/yXXx" target="_blank"><img src="https://goo.gl/zUL5Me"></a>
    <h4 class="hotdeal_source">via OFF 5TH </h4>
    <figcaption>Two-Tone Stainless Steel Bracelet Watch</figcaption>
    <span class="price"><span class="offsale">$240.00 </span>&nbsp;$96.00 (60% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yXXx" target="_blank">Check it Out</a>
  </figure>

  
  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

</div>