<div id="columns" class="columns_4">

   <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

   <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

   <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

   <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

   <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

   <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

   <!-- <figure>
    <a href="link" target="_blank"><img src="image_address"></a>
    <h4 class="hotdeal_source">via store_title </h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <figure>
    <a href="http://shopstyle.it/l/BFk3" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/7c/26/7c26eaf89585b970894587c29da817e6_best.jpg"></a>
    <h4 class="hotdeal_source">via Origins <span class="new_neon">New</span></h4>
    <figcaption>Winter Skincare Set Delete Dullness & Energize</figcaption>
    <span class="price"><span class="offsale">$93.00 </span>&nbsp;$44.00 (53% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFk3" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFhI" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/68/7d/687d1234527fab13843ef318044df2af_best.jpg"></a>
    <h4 class="hotdeal_source">via Origins <span class="new_neon">New</span></h4>
    <figcaption>Holiday Gift Set Superstar Minis</figcaption>
    <span class="price"><span class="offsale">$93.00 </span>&nbsp;$35.00 (63% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFhI" target="_blank">Check it Out</a>
  </figure>

 <figure>
    <a href="http://shopstyle.it/l/BFlr" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/e6/f7/e6f70f0f403b624c285f8378600e113e_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>L€TMInstant de Guerlain 1.7-Oz. eau de Toilette €“ Women</figcaption>
    <span class="price"><span class="offsale">$75.00 </span>&nbsp;$30.99 (59% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFlr" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFlG" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/ac/26/ac264b1c7a36c5ecc46df514af4e49a9_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>L.12.12Pour Elle Elegant 3-Oz. Eau de Toilette - Women</figcaption>
    <span class="price"><span class="offsale">$78.00 </span>&nbsp;$34.99 (55% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFlG" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFlT" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/65/79/657982e134b9663c88e7534074df1c76_best.jpg"></a>
    <h4 class="hotdeal_source">via HSN <span class="new_neon">New</span></h4>
    <figcaption>Serious Skincare Reverse Lift & Correct SuperSize Kit</figcaption>
    <span class="price"><span class="offsale">$417.00 </span>&nbsp;$89.50 (78% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFlT" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFmV" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/b1/9f/b19fc9b2bde64b6a189e2fe9ebb3a775_best.jpg"></a>
    <h4 class="hotdeal_source">via Hautelook <span class="new_neon">New</span></h4>
    <figcaption>Royale USA Purple Vapor Styling Iron with Hydrating Argan Oil Infusion</figcaption>
    <span class="price"><span class="offsale">$400.00 </span>&nbsp;$84.97 (79% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFmV" target="_blank">Check it Out</a>
  </figure>

 <figure>
    <a href="http://shopstyle.it/l/BFmn" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/91/5f/915ff479026e280ab9bd1f6021b8d0f3_best.jpg"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack <span class="new_neon">New</span></h4>
    <figcaption>Bobbi Brown Rich Lip Color</figcaption>
    <span class="price"><span class="offsale">$29.00 </span>&nbsp;$11.97 (59% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFmn" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFnd" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/db/12/db1248198bb0a409bf26c74ff8fa674a_best.jpg"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack <span class="new_neon">New</span></h4>
    <figcaption>Urban Decay Sheer Revolution Lipstick - Sheer F-Bomb</figcaption>
    <span class="price"><span class="offsale">$22.00 </span>&nbsp;$9.75 (57% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFnd" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFmD" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/42/8e/428e644303f9a24c475cbdaa4d440615_best.jpg"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack <span class="new_neon">New</span></h4>
    <figcaption>LORAC Live Color: The Festival Essentials 4-Piece Kit</figcaption>
    <span class="price"><span class="offsale">$36.00 </span>&nbsp;$14.97 (58% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFmD" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BFoz" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/1d/51/1d5114385eb339d86db1411c5dcbe225_best.jpg"></a>
    <h4 class="hotdeal_source">via Nordstrom Rack <span class="new_neon">New</span></h4>
    <figcaption>MAC Cosmetics Prep + Prime BB Beauty Balm SPF 35</figcaption>
    <span class="price"><span class="offsale">$31.00 </span>&nbsp;$14.97 (52% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BFoz" target="_blank">Check it Out</a>
  </figure>






</div>