<div id="columns" class="columns_4">

    <!-- <figure>
    <a href="link" target="_blank"><img src="image_address" alt="img_title"></a>
    <h4 class="hotdeal_source">via store_title <span class="new_neon">New</span></h4>
    <figcaption>products_title</figcaption>
    <span class="price"><span class="offsale">$original </span>&nbsp;$offer (persent% off)</span>
    <a class="button_prodcuts" href="link" target="_blank">Check it Out</a>
  </figure> -->

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FVera-Bradley-Factory-Exclusive-Large-Duffel-Travel-Bag%2F202101776255%3F_trkparms%3D5079%253A5000006445&campid=5338273158&toolid=20008" target="_blank"><img src="https://s7d2.scene7.com/is/image/VeraBradley/15826339-V1"></a>
    <h4 class="hotdeal_source">via eBay <span class="new_neon">New</span></h4>
    <figcaption>Vera Bradley Factory Exclusive Large Duffel Travel Bag</figcaption>
    <span class="price"><span class="offsale">$85.00 </span>&nbsp;$34.99 (59% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FVera-Bradley-Factory-Exclusive-Large-Duffel-Travel-Bag%2F202101776255%3F_trkparms%3D5079%253A5000006445&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FVera-Bradley-Factory-Exclusive-Hipster-Crossbody-Bag%2F202101777681%3F_trkparms%3D5079%253A5000006445&campid=5338273158&toolid=20008" target="_blank"><img src="https://i.ebayimg.com/images/g/JL0AAOSw~4tagznz/s-l1600.jpg"></a>
    <h4 class="hotdeal_source">via eBay <span class="new_neon">New</span></h4>
    <figcaption>Vera Bradley Factory Exclusive Hipster Crossbody Bag</figcaption>
    <span class="price"><span class="offsale">$60.00 </span>&nbsp;$42.01 (70% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FVera-Bradley-Factory-Exclusive-Hipster-Crossbody-Bag%2F202101777681%3F_trkparms%3D5079%253A5000006445&campid=5338273158&toolid=20008" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FNew-Women-Bags-Purse-Shoulder-Handbag-Tote-Messenger-Hobo-Satchel-Bag-Cross-Body%2F302376737752%3F_trkparms%3D5079%253A5000006445" target="_blank"><img src="https://i.ebayimg.com/images/g/gbcAAOSw329Z1ShM/s-l1600.jpg"></a>
    <h4 class="hotdeal_source">via eBay <span class="new_neon">New</span></h4>
    <figcaption>New Women Bags Purse Shoulder Handbag Tote Messenger Hobo Satchel Bag Cross Body</figcaption>
    <span class="price"><span class="offsale">$29.99 </span>&nbsp;$8.99 (70%% off)</span>
    <a class="button_prodcuts" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?ff3=4&toolid=11800&pub=5575348567&campid=5338273158&mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FNew-Women-Bags-Purse-Shoulder-Handbag-Tote-Messenger-Hobo-Satchel-Bag-Cross-Body%2F302376737752%3F_trkparms%3D5079%253A5000006445" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BESP" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/e4/c6/e4c6e752f500781c6445f30fcf84f801_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Blue & Gray Medallion Embroidered Crossbody Bag</figcaption>
    <span class="price"><span class="offsale">$99.00 </span>&nbsp;$24.99 (75% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BESP" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BiAZ" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/93/58/93584513a2de3d26e856d85a293652b1_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Turquoise & Pink Flamingo Backpack - Girls</figcaption>
    <span class="price"><span class="offsale">$45.00 </span>&nbsp;$12.99 (71% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BiAZ" target="_blank">Check it Out</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/BbI0" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/d2/a6/d2a670e1566a5190c1a07e2f3b220578_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Dean Russo 'Make Our Lives Whole' Tote</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$21.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbI0" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BbI6" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/6c/bb/6cbb5c60b0a833c838ba54a55a09240c_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Dean Russo The Bulldog Tote Bag</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$21.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbI6" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BbLh" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/3b/96/3b96775c4aec4a57c319c932f60e69b8_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Dean Russo In A Perfect World Tote Bag</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$21.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbLh" target="_blank">Check it Out</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/BbKI" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/b9/d2/b9d2b90610f23a4a27b86f8fcaf39588_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Dean Russo 'My Therapist Has a Wagging Tail' Tote</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$21.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbKI" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BbMg" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/f1/c0/f1c09215451684e14ae3416808789c53_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Dean Russo 'Happiness Is a Warm Puppy' Tote</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$21.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbMg" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BbMG" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/82/dc/82dc6bc1c7413d893f8099281a3795ef_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Dean Russo Vintage Maya Tote Bag</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$21.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbMG" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/BbOx" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/b6/13/b613b8e37eb47166ea6900106ae9d611_best.jpg"></a>
    <h4 class="hotdeal_source">via Zulily <span class="new_neon">New</span></h4>
    <figcaption>Dean Russo Abyssinian Tote</figcaption>
    <span class="price"><span class="offsale">$65.00 </span>&nbsp;$21.99 (66% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/BbOx" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/AXfl" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/99/ac/99acbebbe47bee7822b491b46070f153_best.jpg"></a>
    <h4 class="hotdeal_source">via Backcountry </h4>
    <figcaption>Seafolly Carried Away Mirror Tote Bag</figcaption>
    <span class="price"><span class="offsale">$151.95 </span>&nbsp;$37.99 (75% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/AXfl" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/AXgH" target="_blank"><img src="https://img.shopstyle-cdn.com/pim/87/41/874144083ee8b8fb6ce5c6bebf3f56cf_best.jpg"></a>
    <h4 class="hotdeal_source">via saksoff5th </h4>
    <figcaption>Leather Hobo Bag</figcaption>
    <span class="price"><span class="offsale">$358.00 </span>&nbsp;$99.99 (72% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/AXgH" target="_blank">Check it Out</a>
  </figure>

  <figure>
    <a href="http://shopstyle.it/l/yAOS" target="_blank"><img src="https://i.pinimg.com/564x/f1/c0/d5/f1c0d5a7738d9a0fec04a43ad31766b6.jpg"></a>
    <h4 class="hotdeal_source">via Nordstromrack</h4>
    <figcaption>SAKROOTS Artist Circle Crossbody Bag</figcaption>
    <span class="price"><span class="offsale">$59.00</span>&nbsp;$29.97 (49% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yAOS" target="_blank">Check it Out</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/yAOI" target="_blank"><img src="https://i.pinimg.com/564x/ed/a1/8f/eda18f9a231e4abe566b3a34389fe367.jpg"></a>
    <h4 class="hotdeal_source">via Express</h4>
    <figcaption>Express round straw crossbody bag</figcaption>
    <span class="price"><span class="offsale">$39.90</span>&nbsp;$23.94 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yAOI" target="_blank">Check it Out</a>
  </figure>
  
  <figure>
    <a href="http://shopstyle.it/l/yAOV" target="_blank"><img src="https://i.pinimg.com/564x/91/30/fe/9130fe5a56c69d29a7a751de50e0f7da.jpg"></a>
    <h4 class="hotdeal_source">via Nordstromrack</h4>
    <figcaption>Elliott Lucca Jules Tote Bag</figcaption>
    <span class="price"><span class="offsale">$158.00</span>&nbsp;$49.97(72% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yAOV" target="_blank">Check it Out</a>
  </figure> 

  <figure>
    <a href="http://shopstyle.it/l/yOl1" target="_blank"><img src="https://i.pinimg.com/564x/10/19/4b/10194b8daaa3e9643eaa3118006aa1d4.jpg"></a>
    <h4 class="hotdeal_source">via macys </h4>
    <figcaption>Guess Huntley Small Cali Satchel</figcaption>
    <span class="price"><span class="offsale">$98.00 </span>&nbsp;$58.80 (40% off)</span>
    <a class="button_prodcuts" href="http://shopstyle.it/l/yOl1" target="_blank">Check it Out</a>
  </figure>

</div>