<div id="wrapper">
  <!-- Main -->
    <div id="main">
      <div class="inner_hotdeals">

        <%= render 'shared/header' %>

        <ul class="icons">
         <li><h1 class="hotdeals_h1">Coupons & Promo Codes</h1></li>
        </ul>

        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

        <div class="topnav" id="myMenu">
          <a href="/search/quicksearch">Hotdeals Quick Search</a>
          <a href="/hotdeals/promotion">Promotions & Events</a>
          <a href="/hotdeals/hotdeals_women">Hotdeals Women</a>
          <a href="/hotdeals/hotdeals_men">Hotdeals Men</a>
          <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myQuickmenu()">&#9776;</a>
        </div>
        
        
        <div class="wrap">
      
          <h2 class="hotdeals_h2">Hi, Everyone :D</h2>
          <p>We have just made your life easier. We offer a quick way to find the best deals.</p>

          <p>Oh,igottabuythis is a participant in the Amazon Services LLC Associates Program & the Amazon EU Associates Programme, an affiliate advertising program designed to provide a means for us to earn fees by linking to <a href="http://amzn.to/2G5rCxK">Amazon.com<a/>,<a href="http://amzn.to/2pwYBEN">Amazon.ca</a>,<a href="http://amzn.to/2GgHdxF">Amazon.co.uk</a> and affiliated sites.</p>

        
          <div class="tabs">
            <input type="radio" name="tab" id="tab1" checked="checked">
            <label for="tab1">Amazon</label>
            <!-- <input type="radio" name="tab" id="tab2">
            <label for="tab2">None</label> -->
            
            <div class="tab-content-wrapper">
              
              <div id="tab-content-1" class="tab-content">
               <div class="col-7">
                <%= render 'shared/amazon_promo_codes' %>
               </div>
               <div class="col-5 coupon_left">
                <%= render 'shared/amazon_coupons' %>
               </div>
              </div>

              <!-- <div id="tab-content-2" class="tab-content">
                <h1>None</h1>
              </div> -->
        
            </div>
           </div><!--/.tabs -->
          </div><!--/.wrap-->

    </div>
  </div>
  <%= render 'shared/sidebar' %>  
</div>



