<div id="wrapper">
  <!-- Main -->
    <div id="main">
      <div class="inner_hotdeals">

        <%= render 'shared/header' %>

        <ul class="icons">
         <li><h1 class="hotdeals_h1">Coupons & Promo Codes</h1></li>
        </ul>

        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

        <div class="topnav" id="myMenu">
          <a href="/search/quicksearch">Hotdeals Quick Search</a>
          <a href="/hotdeals/promotion">Promotions & Events</a>
          <a href="/hotdeals/hotdeals_women">Hotdeals Women</a>
          <a href="/hotdeals/hotdeals_men">Hotdeals Men</a>
          <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myQuickmenu()">&#9776;</a>
        </div>
        
        
        <%= render 'shared/amazon_coupons' %>

    </div>
  </div>
  <%= render 'shared/sidebar' %>  
</div>



