<div id="wrapper">
 <div id="main">
  <div class="inner_hotdeals">
  <%= render 'shared/header' %>
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

  <h1 class="codes_main_title">Promotions & Deals 2018</h1>


          
   <section class="card_grid">
  
    <div class="filter_menu">
      <div class="select-filter-group promo_select" id="selectDropdown">
        <select class="filters-select">
          <option value="">All Markets</option>
          <option value=".amazon_us">Amazon.com</option>
          <option value=".amazon_ca">Amazon.ca</option>
          <option value=".amazon_uk">amazon.co.uk</option>
        </select>
      </div>
      
      <div class="select-filter-group_01" id="selectDropdown">
        <select class="filters-select">
          <option value="">All Departments</option>
          <option value=".new">New</option>
          <option value=".amazon_us">amazon.com</option>
          <option value=".amazon_ca">amazon.ca</option>
          <option value=".amazon_uk">amazon.co.uk</option>
        </select>
      </div>

      <nav class="filter_nav">
        <div class="button-group_promo" data-filter-group="categories">
          <button class="is-checked_promo" data-filter="*">all categories</button>
          <button data-filter=".new">New</button>
          <button data-filter=".amazon_us">amazon.com</button>
          <button data-filter=".amazon_ca">amazon.ca</button>
          <button data-filter=".amazon_uk">amazon.co.uk</button>
        </div>
      </nav>   

    </div>
  
    <div class="card_container">
     <%= render 'shared/promo_amazon_us' %>       
    </div>
   </section>

  </div>
 </div>
</div>

<!--  <div class="business_card [_Departments_] [_Markets_]">
  <div class="card_image">
    <img src="Image_URL" />
  </div>
  <div class="masonry_sale">
    <div class="masonry_sale_wrapper">
      <div class="masonry_sale_howmuch">Howmuch_Save?</div>
      <div class="masonry_sale_text">SALE</div>
    </div>
  </div>
  <div class="business_info">
    <h4 class="discount_title_index">Product_Title</h4>
    <a href="#"><p class="discount_get_code">Get A Code</p></a>
    <p>Offer</p>
  </div>
</div> -->

