<div id="wrapper">
  <div id="main">
    <div class="inner_hotdeals">

      <%= render 'shared/header' %>

      <ul class="icons">
       <li title="Promotions & Events"><h1 class="hotdeals_h1">Promotions & Events</h1></li>
      </ul>

      <div class="topnav" id="myMenu">
        <a href="/search/quicksearch">Hotdeals Quick Search</a>
        <a href="/hotdeals/coupons">Coupons & Prom Codes</a>
        <a href="/hotdeals/hotdeals_women">Hotdeals Women</a>
        <a href="/hotdeals/hotdeals_men">Hotdeals Men</a>
        <a href="javascript:void(0);" style="font-size:16px;" class="icon" onclick="myQuickmenu()">&#9776;</a>
      </div>
      
      <div class="wrap">
          <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

          <h2 class="hotdeals_h2">Hi, Everyone :D</h2>
          <p class="notice_01">*We have just made your life easier. We offer a quick way to find the best deals. You'll find what you're looking for at a great price.</p>
          <p>* We've put together a list of events and special offers to give you a simple way to take advantage of promotions across our website.</p>

          <p>Oh,igottabuythis is a participant in the Amazon Services LLC Associates Program & the Amazon EU Associates Programme, an affiliate advertising program designed to provide a means for us to earn fees by linking to <a href="http://amzn.to/2G5rCxK">Amazon.com<a/>,<a href="http://amzn.to/2pwYBEN">Amazon.ca</a>,<a href="http://amzn.to/2GgHdxF">Amazon.co.uk</a> and affiliated sites.</p>
          
          <!-- <h1 class="fancy-heading">Promotions & Deals</h1> -->
          <h2>Featured Promotions & Events</h2>

          <div class="tabs">
            <input type="radio" name="tab" id="tab1" checked="checked">
            <label for="tab1">Amazon(USA)</label>
            <!-- <input type="radio" name="tab" id="tab2">
            <label for="tab2">Amazon(CANADA)</label> -->


            <div class="tab-content-wrapper"></br>
              
              <div id="tab-content-1" class="tab-content">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for promotions.." title="Type in a name">
               <%= render 'shared/amazon_promotion_usa' %>
              </div>
              <!-- <div id="tab-content-2" class="tab-content">
               <%= render 'shared/amazon_promotion_ca' %>
              </div> -->
            </div>
          </div><!-- tabs -->
        
      </div><!-- wrap -->
    </div><!-- inner_hotdeals -->
  </div><!-- main -->
  <%= render 'shared/sidebar' %>  
</div><!-- wrapper -->
