<div id="wrapper">
  <div id="main">
    <div class="inner_hotdeals">
    <%= render 'shared/header' %>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

      <div class="savings_wrapper">
        <label for="shark">
          <input id="shark" type="radio" name="tab" value="shark" checked>
          <div class="label left-label"><a href="/hotdeals/savings_percentage_50" class="shark">% Percentage Deals</a></div>
          <div class="content">

            <div class="savings_tabs">
              <nav role='navigation' class="responsive-tab">
                <ul>
                  <li><a href="/hotdeals/savings_percentage_70">70%</a></li>
                  <li><a href="/hotdeals/savings_percentage_50" class="active">50%</a></li>
                  <li><a href="/hotdeals/savings_percentage_20">20%</a></li>
                  <li><a href="/hotdeals/savings_percentage_10">10%</a></li>
                </ul>
              </nav>

              <div class="active">
                <h1>50%</h1>
               <h2 class="tabs_tag">Women __Clothing(Top)</h2>
               <div class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225aca200e4df128fea192a1b9%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D"> <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523190813837?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225aca200e4df128fea192a1b9%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;"></iframe> 
               </div>
              </div>      
            </div><!--/.savings_tabs-->

          </div><!--/.content-->
        </label>

        <label for="train">
          <input id="shark" type="radio" name="tab" value="shark">
          <div class="label right-label"><a href="/hotdeals/savings_price_25" class="train">$ Price Deals</a></div>
        </label>

      </div><!--/.savings_wrapper-->

      <div class="about">
      <h1>
        CSS Only - Material Design Tabs
      </h1>
        <p>
        The trick is to use radio inputs to give a state to the elements, which can be used to hide or show siblings via the '~' sibling selector.
        </p>
        <p>
          One quick drawback is a lack of keyboard accessibility.  Currently a user can focus on the label but pressing enter or space bar won't activate the radio button and fire off the change. To see for yourself add "tabindex='0'" to the .label div.
        </p>
        <p>
          Want to make it for 3 tabs? Just duplicate the label block and add / rewrite a few of the left-label / right-label styles.  Probably will need to add your own center style, etc.
        </p>
      </div>


    </div><!--/.inner_hotdeals-->
  </div><!--/#main-->
</div><!--/#wrapper-->