<div id="wrapper">
  <div id="main">
    <div class="inner_hotdeals">
    <%= render 'shared/header' %>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      <form>
        <label for="shark">
          <input id="shark" type="radio" name="tab" value="shark" checked>
          <div class="label left-label">% Percentage Deals</div>
          <div class="content">

            <div class="savings_tabs">
              <nav role='navigation' class="responsive-tab">
                <ul>
                  <li><a href="#70-tab" class="active">70%</a></li>
                  <li><a href="#50-tab" >50%</a></li>
                  <li><a href="#20-items-tab">20%</a></li>
                  <li><a href="#10-tab">10%</a></li>
                </ul>
              </nav>

              <div id="70-tab" class="active">

               <h2 class="tabs_tag">Women __Clothing(Top)</h2>
               <div class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225aca200e4df128fea192a1b9%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D"> <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523190813837?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225aca200e4df128fea192a1b9%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;"></iframe> 
               </div>

               <h2 class="tabs_tag">Women __Shoes</h2>
               <div class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225aca151a61d1dda20769d41b%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D"> 
               <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523190813837?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); 
               </script> 
               <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225aca151a61d1dda20769d41b%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                </iframe> 
               </div> 

               <h2 class="tabs_tag">Women __Bags & Accessories</h2>
               <div class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225aca1a74be7a44eb4addac96%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D"> 
                 <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523190813837?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); 
                 </script>
                 <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225aca1a74be7a44eb4addac96%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                 </iframe> 
               </div>

               
        
        



              </div>

              <div id="50-tab">
                <h2 class="tabs_tag">Women __Shoes</h2>
                <div class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225aca17c6dd4edb3aaa301063%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D"> 
                <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523190813837?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); 
                 </script> 
                 <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225aca17c6dd4edb3aaa301063%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                 </iframe> 
                </div>

                
        
              </div>
              <div id="20-items-tab">
                <h2>20%</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores numquam cupiditate aliquam quisquam repellendus fugit eaque asperiores voluptatem ut accusamus soluta corporis in facere quae provident itaque magni eum repellat ducimus dolore. Beatae aperiam accusamus at voluptatem ad sunt mollitia perspiciatis tempora numquam rerum aliquam deserunt illum necessitatibus nisi omnis.
              </div>
              <div id="10-tab">
                <h2>10%</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste officiis impedit ut culpa quaerat error pariatur voluptatum sapiente alias quasi itaque voluptas expedita necessitatibus odio dolorem totam veniam quisquam nulla vero placeat corporis cupiditate assumenda amet inventore mollitia quidem similique laudantium maxime aperiam ea reprehenderit iusto a ad tempora harum.
              </div>        
            </div><!--/.savings_tabs-->

          </div>
        </label>

        <label for="train">
          <input id="train" type="radio" name="tab" value="train">
          <div class="label right-label">$ Price Deals</div>
          <div class="content">

            <div class="savings_tabs">
              <nav role='navigation' class="responsive-tab">
                <ul>
                  <li><a href="#25-tab" class="active">$25</a></li>
                  <li><a href="#50-tab" >$50</a></li>
                  <li><a href="#100-items-tab">$100</a></li>
                  <li><a href="#200-tab">$200</a></li>
                  <li><a href="#300-tab">$300</a></li>
                </ul>
              </nav>

              <div id="25-tab" class="active">
                <h2>$25</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cum non iure magnam dolores earum nemo quo tempora ab unde! Nesciunt ea iste impedit suscipit cupiditate quam earum explicabo quas veniam doloribus sed aut aliquam repellendus deleniti laudantium molestias fuga nihil quidem voluptatum atque sapiente perferendis facilis. Tempora mollitia odio?
              </div>
              <div id="50-tab">
                <h2>$50</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur est natus esse minima nihil quidem tenetur alias pariatur. Obcaecati repudiandae temporibus provident sapiente iure doloribus praesentium voluptates dolores quia eos velit fugit cum ipsam. Deleniti fugiat maxime vel tempore illum esse illo fugit quam recusandae aut aperiam omnis at quaerat!
              </div>
              <div id="100-items-tab">
                <h2>$100</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores numquam cupiditate aliquam quisquam repellendus fugit eaque asperiores voluptatem ut accusamus soluta corporis in facere quae provident itaque magni eum repellat ducimus dolore. Beatae aperiam accusamus at voluptatem ad sunt mollitia perspiciatis tempora numquam rerum aliquam deserunt illum necessitatibus nisi omnis.
              </div>
              <div id="200-tab">
                <h2>$200</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste officiis impedit ut culpa quaerat error pariatur voluptatum sapiente alias quasi itaque voluptas expedita necessitatibus odio dolorem totam veniam quisquam nulla vero placeat corporis cupiditate assumenda amet inventore mollitia quidem similique laudantium maxime aperiam ea reprehenderit iusto a ad tempora harum.
              </div>  
              <div id="300-tab">
                <h2>$300</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste officiis impedit ut culpa quaerat error pariatur voluptatum sapiente alias quasi itaque voluptas expedita necessitatibus odio dolorem totam veniam quisquam nulla vero placeat corporis cupiditate assumenda amet inventore mollitia quidem similique laudantium maxime aperiam ea reprehenderit iusto a ad tempora harum.
              </div>        
            </div><!--/.savings_tabs-->
            
          </div>
        </label>

      </form>

      <div class="about">
      <h1>
        CSS Only - Material Design Tabs
      </h1>
        <p>
        The trick is to use radio inputs to give a state to the elements, which can be used to hide or show siblings via the '~' sibling selector.
        </p>
        <p>
          One quick drawback is a lack of keyboard accessibility.  Currently a user can focus on the label but pressing enter or space bar won't activate the radio button and fire off the change. To see for yourself add "tabindex='0'" to the .label div.
        </p>
        <p>
          Want to make it for 3 tabs? Just duplicate the label block and add / rewrite a few of the left-label / right-label styles.  Probably will need to add your own center style, etc.
        </p>
      </div>


    </div><!--/.inner_hotdeals-->
  </div><!--/#main-->
</div><!--/#wrapper-->