<div id="wrapper">
  <div id="main">
    <div class="inner_hotdeals">
    <%= render 'shared/header' %>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <div class="savings_wrapper">
      <label for="shark">
        <input id="shark" type="radio" name="tab" value="shark">
        <div class="label left-label"><a href="/hotdeals/savings_percentage_70" class="train">% Percentage Deals</a></div>
      </label>

        <label for="train">
          <input id="shark" type="radio" name="tab" value="shark" checked>
          <div class="label right-label"><a href="/hotdeals/savings_price_25" class="shark">$ Price Deals</a></div>

          <div class="content">

          <div class="savings_tabs">
            <nav role='navigation' class="responsive-tab">
              <ul>
                <li><a href="/hotdeals/savings_price_25" class="active">$25</a></li>
                <li><a href="/hotdeals/savings_price_50">$50</a></li>
                <!-- <li><a href="/hotdeals/savings_price_100">$100</a></li>
                <li><a href="/hotdeals/savings_price_200">$200</a></li> -->
              </ul>
            </nav>
            <h2 class="savings_sub">Everyday Savings Your Money</h2>
            <h1 class="savings_title">under $25</h1>
            <h2 class="savings_sub">Quick way to find the best deals</h2>

            <h3 class="discount_category">Category</h3>
            <select id="shop_filter">
              <option value="all">All Departments</option>
              <option value="women">Women</option>
              <option value="men">Men</option>
              <!-- <option value="kids">Kids</option> -->
              <option value="home">Home</option>
            </select>

            <div class="active shop_items">

              <div rel="women" class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225aca9b05be7a44eb4a0c907a%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D"> 
                <div class="savings_subtitle"><h2 class="tabs_tag">Women __Clothing(Top)</h2></div>
                <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523200355639?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225aca9b05be7a44eb4a0c907a%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                </iframe> 
              </div> 
        

              <div rel="women" class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225acaa2864df128fea1c2d976%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D"> 
                <div class="savings_subtitle"><h2 class="tabs_tag">Women __Clothing(Pants)</h2></div>
                <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523200355639?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225acaa2864df128fea1c2d976%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;"> 
                </iframe> 
              </div>

              <div rel="women" class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225acaa7244df128fea1c47340%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D">
                <div class="savings_subtitle"><h2 class="tabs_tag">Women __Shoes</h2></div> 
                <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523200355639?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225acaa7244df128fea1c47340%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                </iframe> 
              </div>

              <div rel="women" class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225acaa8fb4df128fea1c5123e%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D">
                <div class="savings_subtitle"><h2 class="tabs_tag">Women __Bags</h2></div>  
                <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523200355639?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225acaa8fb4df128fea1c5123e%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                </iframe> 
              </div> 

              <div rel="women" class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225acaab482391f3c357481350%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D">
                <div class="savings_subtitle"><h2 class="tabs_tag">Women __Accessories</h2></div> 
                <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523200355639?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225acaab482391f3c357481350%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                </iframe> 
              </div>

              <div rel="men" class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225acaacc8e7055a0e81b45a52%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D">
                <div class="savings_subtitle"><h2 class="tabs_tag">Men __Clothing(Top)</h2></div>  
                <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523200355639?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225acaacc8e7055a0e81b45a52%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                </iframe> 
              </div>
     
              <div rel="men" class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225acab039be7a44eb4a13b712%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D">
                <div class="savings_subtitle"><h2 class="tabs_tag">Men __Clothing(Pants)</h2></div> 
                <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523200355639?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225acab039be7a44eb4a13b712%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                </iframe> 
              </div> 

              <div rel="men" class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225acab154be7a44eb4a141787%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D"> 
                <div class="savings_subtitle"><h2 class="tabs_tag">Men __Shoes</h2></div>
                <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523200355639?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225acab154be7a44eb4a141787%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                </iframe> 
              </div> 

              <div rel="men" class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225acab37b61d1dda207a6e602%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D">
                <div class="savings_subtitle"><h2 class="tabs_tag">Men __Bags</h2></div>
                <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523200355639?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225acab37b61d1dda207a6e602%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                </iframe> 
              </div>

              <div rel="men" class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225acab4bee7055a0e81b70689%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D"> 
                <div class="savings_subtitle"><h2 class="tabs_tag">Men __Accessories</h2></div> 
                <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523200355639?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225acab4bee7055a0e81b70689%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                </iframe> 
              </div> 

               <div rel="kids" class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225acaca1161d1dda207af6327%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D">
                <div class="savings_subtitle"><h2 class="tabs_tag">Kids</h2></div> 
                <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523239251995?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225acaca1161d1dda207af6327%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                </iframe> 
              </div> 

              <div rel="home" class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225acacb1abe7a44eb4a1d218f%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D"> 
                <div class="savings_subtitle"><h2 class="tabs_tag">Home __Kitchen</h2></div>
                <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523239251995?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225acacb1abe7a44eb4a1d218f%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                </iframe> 
              </div> 

              <div rel="home" class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225acacc1061d1dda207b01f25%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D"> 
                <div class="savings_subtitle"><h2 class="tabs_tag">Home __Bath</h2></div>
                <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523239251995?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225acacc1061d1dda207b01f25%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                </iframe> 
              </div> 

              <div rel="home" class="shopsense-widget" style="text-align:center" data-mobile-optimize="true" data-options="%7B%22widgetId%22%3A%225acacd08be7a44eb4a1dcbfd%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D"> 
                <div class="savings_subtitle"><h2 class="tabs_tag">Home __Bedding</h2></div>
                <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1523239251995?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); </script> <iframe src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%225acacd08be7a44eb4a1dcbfd%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid8649-40531157-73%22%2C%22size%22%3A200%2C%22columns%22%3A4%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A275%2C%22iframeWidth%22%3A920%7D" height="275px" width="920px" frameborder="0" seamless style="border: 0;">
                </iframe> 
              </div> 
             
            </div><!--/.active-->      
          </div><!--/.savings_tabs-->
         </div><!--/.content-->
        </label>

      </div><!--/.savings_wrapper-->

      <div class="about">
        <h1>Oh,i gotta buy this</br><h3>Thanks you for visit our website</h3></h1>
        <p>Our website contains affiliate link which means that if you click on one of the product links and buy we’ll receive a small commission. This help supports us and allows us to continue to make good website like this. Thanks :D</p>
      </div>

    </div><!--/.inner_hotdeals-->
  </div><!--/#main-->
</div><!--/#wrapper-->