<div id="wrapper">
  <div id="main">
    <div class="inner_hotdeals">
    <%= render 'shared/header' %>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      <div class="expanded row" data-equalizer data-equalize-on="medium" id="test-eq">
        <div class="large-18" data-equalizer-watch>
          <div class="grids">
          
            <div class="grid-item Biography French moretwenty ten">
              <img src="http://pds1.ngoods.com/goods_img_new/nike/shoes/72/631635-102_01.jpg">
              <p class="shop_product_title">Title book 1 Title book 1 Title book 1 Title book 1</p>
              <p class="shop_brand">Brand via Seller</p>
              <ul class="shop_price_wrapper">
                <li><p class="shop_original_price">$500.00</p></li>
                <li><p class="shop_sale_price">$100.00</p></li>
                <li><p class="shop_sale_percentage">50% off</p></li>
              </ul>
              <a class="shop_link" href="#"><p>Check it Out</p></a>
            </div>
            <!--end grid-item-->
            
            <div class="grid-item Travel English zeroten">
              <img src="http://image.hnsmall.com/images/goods/315/12089315_g.jpg">
              <p class="shop_product_title">Title book 1 Title book 1 Title book 1 Title book 1</p>
              <p class="shop_brand">Brand via Seller</p>
              <ul class="shop_price_wrapper">
                <li><p class="shop_original_price">$50.00</p></li>
                <li><p class="shop_sale_price">$100.00</p></li>
                <li><p class="shop_sale_percentage">50% off</p></li>
              </ul>
              <a class="shop_link" href="#"><p>Check it Out</p></a>
            </div>
            <!--end grid-item-->
            
            <div class="grid-item Cooking Spanish tentwenty">
                <img src="https://png.pngtree.com/element_origin_min_pic/16/10/02/1257f09215e3930.jpg">
              <p class="shop_product_title">Title book 1 Title book 1 Title book 1 Title book 1</p>
              <p class="shop_brand">Brand via Seller</p>
              <ul class="shop_price_wrapper">
                <li><p class="shop_original_price">$50.00</p></li>
                <li><p class="shop_sale_price">$100.00</p></li>
                <li><p class="shop_sale_percentage">50% off</p></li>
              </ul>
              <a class="shop_link" href="#"><p>Check it Out</p></a>
            </div>
            <!--end grid-item-->
            
            <div class="grid-item Fiction German moretwenty">
                <img src="http://image.musinsa.com/mfile_s01/2017/10/08/cbc1ef111ad1844b8eb5fa53c3529662195847.jpg">
              <p class="shop_product_title">Title book 1 Title book 1 Title book 1 Title book 1</p>
              <p class="shop_brand">Brand via Seller</p>
              <ul class="shop_price_wrapper">
                <li><p class="shop_original_price">$50.00</p></li>
                <li><p class="shop_sale_price">$100.00</p></li>
                <li><p class="shop_sale_percentage">50% off</p></li>
              </ul>
              <a class="shop_link" href="#"><p>Check it Out</p></a>
            </div>
            <!--end grid-item-->

            <div class="grid-item Biography French moretwenty">
                <img src="https://img.shopstyle-cdn.com/pim/9f/ad/9fadc8100899205818143cd64bb12f46_best.jpg">
              <p class="title">Title book 1</p>
              <p class="category">Biography</p>
              <p class="language">English</p>
              <p class="price">&pound;45</p>
            </div>
            <!--end grid-item-->
            
            <div class="grid-item Travel English zeroten">
                <img src="http://cfile22.uf.tistory.com/image/1127CB3B512F35A93E1577">
              <p class="title">Title book 1</p>
              <p class="category">Biography</p>
              <p class="language">English</p>
              <p class="price">&pound;45</p>
            </div>
            <!--end grid-item-->
            
            <div class="grid-item Cooking Spanish tentwenty">
                <img src="http://cfile22.uf.tistory.com/image/1127CB3B512F35A93E1577">
              <p class="title">Title book 1</p>
              <p class="category">Biography</p>
              <p class="language">English</p>
              <p class="price">&pound;45</p>
            </div>
            <!--end grid-item-->
            
            <div class="grid-item Fiction German moretwenty">
                <img src="http://cfile22.uf.tistory.com/image/1127CB3B512F35A93E1577">
              <p class="title">Title book 1</p>
              <p class="category">Biography</p>
              <p class="language">English</p>
              <p class="price">&pound;45</p>
            </div>
            <!--end grid-item-->

            <div class="grid-item Biography French moretwenty">
              <img src="http://pds1.ngoods.com/goods_img_new/nike/shoes/72/631635-102_01.jpg">
              <p class="shop_product_title">Title book 1 Title book 1 Title book 1 Title book 1</p>
              <p class="shop_brand">Brand via Seller</p>
              <ul class="shop_price_wrapper">
                <li><p class="shop_original_price">$50.00</p></li>
                <li><p class="shop_sale_price">$100.00</p></li>
                <li><p class="shop_sale_percentage">50% off</p></li>
              </ul>
              <a class="shop_link" href="#"><p>Check it Out</p></a>
            </div>
            <!--end grid-item-->
            
            <div class="grid-item Travel English zeroten">
              <img src="http://image.hnsmall.com/images/goods/315/12089315_g.jpg">
              <p class="shop_product_title">Title book 1 Title book 1 Title book 1 Title book 1</p>
              <p class="shop_brand">Brand via Seller</p>
              <ul class="shop_price_wrapper">
                <li><p class="shop_original_price">$50.00</p></li>
                <li><p class="shop_sale_price">$100.00</p></li>
                <li><p class="shop_sale_percentage">50% off</p></li>
              </ul>
              <a class="shop_link" href="#"><p>Check it Out</p></a>
            </div>
            <!--end grid-item-->
            
            <div class="grid-item Cooking Spanish tentwenty">
                <img src="https://png.pngtree.com/element_origin_min_pic/16/10/02/1257f09215e3930.jpg">
              <p class="shop_product_title">Title book 1 Title book 1 Title book 1 Title book 1</p>
              <p class="shop_brand">Brand via Seller</p>
              <ul class="shop_price_wrapper">
                <li><p class="shop_original_price">$50.00</p></li>
                <li><p class="shop_sale_price">$100.00</p></li>
                <li><p class="shop_sale_percentage">50% off</p></li>
              </ul>
              <a class="shop_link" href="#"><p>Check it Out</p></a>
            </div>
            <!--end grid-item-->
            
            <div class="grid-item Fiction German moretwenty">
                <img src="http://image.musinsa.com/mfile_s01/2017/10/08/cbc1ef111ad1844b8eb5fa53c3529662195847.jpg">
              <p class="shop_product_title">Title book 1 Title book 1 Title book 1 Title book 1</p>
              <p class="shop_brand">Brand via Seller</p>
              <ul class="shop_price_wrapper">
                <li><p class="shop_original_price">$50.00</p></li>
                <li><p class="shop_sale_price">$100.00</p></li>
                <li><p class="shop_sale_percentage">50% off</p></li>
              </ul>
              <a class="shop_link" href="#"><p>Check it Out</p></a>
            </div>
            <!--end grid-item-->
                    
          </div><!-- end grid-->
        </div><!--end col-->
      </div><!--end row-->

     
        
    </div><!--/.inner_hotdeals-->
  </div><!--/#main-->
  <%= render 'shared/sidebar_shoes' %>  
</div><!--/#wrapper-->