<ul>
 <li><div class="dis_container"><h1>Best Featured Events</h1></div></li>
</ul>

 <div class="bd_img"><a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Frpp%2F66159%3F_trkparms%3D%2526clkid%253D6036046237621738265&campid=5338273158&toolid=20008"><img src="<%=asset_path 'banner_01.png'%>" alt="coupon on ebay" title="coupon on ebay"></a></div>

 <div class="bd_img"><a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fb%2FFeatured-Sale%2Fbn_7006482159%3F_trkparms%3D%2526clkid%253D6036046240574528273&campid=5338273158&toolid=20008"><img src="<%=asset_path 'banner_02.png'%>" alt="summer sales" title="summer sales"></a></div>

 <!-- <div class="bd_img"><img src="<%=asset_path 'test_box.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></div>
  <div class="bd_img"><img src="<%=asset_path 'test_box.png'%>" alt="Planning a shopping on amazon?" title="Planning a shopping on amazon?"></div>
 -->

 <a target="_black" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Frpp%2Fsale-events%3F_trkparms%3Dpageci%253A13073cd3-9d3c-11e8-9736-74dbd1802a68%257Cparentrq%253A27fcb5d91650aa4799f0d153fffe93ca%257Ciid%253A1&campid=5338273158&toolid=20008"><p>View All</p></a>



