<ul>
 <li><div class="dis_container"><h1>Best Featured Events</h1></div></li>
</ul>

<div class="dis_slider-wrapper">
 <div class="dis_slider">
   <div class="dis_slider--bestdeal"><a target="_black" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fb%2FFeatured-Sale%2Fbn_7006482159%3F_trkparms%3D%2526clkid%253D6036046240574528273&campid=5338273158&toolid=20008"><img src="https://static1.squarespace.com/static/57e2f3c8be6594e38848d565/5b6da01e1ae6cfee2bae88a2/5b6da0bd03ce64f6bd69c86c/1533911290888/300x250.jpg?format=500w"></a></div>

   <div class="dis_slider--bestdeal"><a target="_black" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fdeals%2Ftech&campid=5338273158&toolid=20008"><img src="https://static1.squarespace.com/static/57e2f3c8be6594e38848d565/595d18f73e00be98e38a9ee9/595d19033a04118d34a8b047/1499274066017/12859_NA_EPN_Q2_Affiliate_Creative_Electronics_300x250.jpg?format=500w"></a></div>

   <div class="dis_slider--bestdeal"><a target="_black" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fdeals%2Ffashion&campid=5338273158&toolid=20008"><img src="https://static1.squarespace.com/static/57e2f3c8be6594e38848d565/595d1ba49f74561fce06f860/595d1bb72e69cf67b39bc852/1499274199872/12859_NA_EPN_Q2_Affiliate_Creative_Fashion_300x250.jpg?format=500w"></a></div>

   <div class="dis_slider--bestdeal"><a target="_black" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fdeals%2Fhome-garden&campid=5338273158&toolid=20008"><img src="https://static1.squarespace.com/static/57e2f3c8be6594e38848d565/595d1dd73e00be8de85b64f1/595d1de3440243545949699b/1499274755313/12859_NA_EPN_Q2_Affiliate_Creative_Home_and_Garden_300x250.jpg?format=500w"></a></div>

   <div class="dis_slider--bestdeal"><a target="_black" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fdeals%2Fsporting-goods&campid=5338273158&toolid=20008"><img src="https://static1.squarespace.com/static/57e2f3c8be6594e38848d565/595d1ed746c3c483871b00f6/595d1ee4e3df28124131fed3/1499275102899/12859_NA_EPN_Q2_Affiliate_Creative_SportingGoods_300x250.jpg?format=500w"></a></div>

   <div class="dis_slider--bestdeal"><a target="_black" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fdeals%2Fautomotive&campid=5338273158&toolid=20008"><img src="https://static1.squarespace.com/static/57e2f3c8be6594e38848d565/595d1e73d482e940948dfb63/595d1e7fd1758e924e8ceac4/1499274913842/12859_NA_EPN_Q2_Affiliate_Creative_Motors_Parts_Accessories_300x250.jpg?format=500w"></a></div>

   <div class="dis_slider--bestdeal"><a target="_black" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Frpp%2Ffill-your-cart-with-color&campid=5338273158&toolid=20008"><img src="https://static1.squarespace.com/static/57e2f3c8be6594e38848d565/595186153e00beffb8e92a7c/59518688725e25da05ee7ce0/1498515113810/FYCWC_300x250.jpg?format=500w"></a></div>

   <!-- <div class="dis_slider--bestdeal"><a target="_black" href="Url"><img src="link"></a></div> -->
 </div>
</div>

 <a target="_black" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Frpp%2Fsale-events%3F_trkparms%3Dpageci%253A13073cd3-9d3c-11e8-9736-74dbd1802a68%257Cparentrq%253A27fcb5d91650aa4799f0d153fffe93ca%257Ciid%253A1&campid=5338273158&toolid=20008"><p>See All <i class="fa fa-arrow-right"></i></p></a>



