<div class="dis_slider-wrapper">
 <div class="dis_slider">

  <!--  <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>
 -->

  <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FApple-Watch-Series-3-42mm-Space-Gray-Aluminium-Case-with-Black-Sport-Band-GPS-MQL12LL-A%2F239099627%3Fiid%3D112617958465%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/LNUAAOSwwcRaga3e/s-l640.jpg" title="Apple Watch Series 3" alt="Apple Watch Series 3">
     <p>Apple Watch Series 3 42mm Space Gray Aluminium Case with Black Sport Band </p>
    </a>
    <div class="dis_daily">
     <p>$299.99</p>
    </div>
    <ul>
      <li>$359.99</li> |
      <li>16% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FKitchenAid-Stand-Mixer-tilt-5-QT-rrk150-Refurb-Of-Ksm150ps-Artisan-Tilt-ALLMetal%2F361100492861%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/RkQAAMXQKQhRHUhA/s-l500.jpg" title="KitchenAid Stand Mixer" alt="KitchenAid Stand Mixer">
     <p>KitchenAid Stand Mixer tilt 5-QT rrk150 Refurb Of Ksm150ps Artisan Tilt ALLMetal</p>
    </a>
    <div class="dis_daily">
     <p>$199.99</p>
    </div>
    <ul>
      <li>$349.99</li> |
      <li>43% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FApple-iPad-2-16GB-Wi-Fi-9-7in-Black%2F103127916%3Fiid%3D292610078154%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/tPIAAOSwGVJbWLld/s-l640.jpg" title="Apple iPad 2" alt="Apple iPad 2">
     <p>Apple iPad 2 16GB, Wi-Fi, 9.7in</p>
    </a>
    <div class="dis_daily">
     <p>$71.99</p>
    </div>
    <ul>
      <li>$299.99</li> |
      <li>76% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FPORTER-CABLE-C2002R-UMC-Pancake-Compressor%2F12015172090%3Fiid%3D282765083474%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/tckAAOSwxwRauckH/s-l640.jpg" title="Compressor" alt="Compressor">
     <p>PORTER-CABLE C2002R UMC Pancake Compressor</p>
    </a>
    <div class="dis_daily">
     <p>$74.99</p>
    </div>
    <ul>
      <li>$199.99</li> |
      <li>62% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FNew-Lenovo-ThinkCentre-M710q-Desktop-i5-6500T-8GB-256GB-Win7-upgradable-to-W10P%2F273429962035%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://d3d71ba2asa5oz.cloudfront.net/12021409/images/10mr0047us_01.jpg" title="Lenovo" alt="Lenovo">
     <p>New Lenovo ThinkCentre M710q Desktop</p>
    </a>
    <div class="dis_daily">
     <p>$639.99</p>
    </div>
    <ul>
      <li>$799.99</li> |
      <li>20% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FPUMA-Astro-Sala-Mens-Sneaker-Men-Shoe-Basics-New%2F282975448757%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://pumaimages.azureedge.net/images/362361/07/fnd/PNA/" title="PUMA" alt="PUMA">
     <p>PUMA Astro Sala Men's Sneaker Men Shoe Basics New</p>
    </a>
    <div class="dis_daily">
     <p>$29.99</p>
    </div>
    <ul>
      <li>$55.00</li> |
      <li>45% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FWolfgang-Puck-Pressure-Oven-With-Pizza-Screen-1700W-Silver%2F840816735%3Fiid%3D302305575806%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/nPgAAOSwX61ZC2Bg/s-l640.jpg" title="Oven" alt="Oven">
     <p>Wolfgang Puck Pressure Oven With Pizza Screen 1700W</p>
    </a>
    <div class="dis_daily">
     <p>$75.99</p>
    </div>
    <ul>
      <li>$107.74</li> |
      <li>29% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FStuhrling-Mens-3998-classic-Minimalist-Design-Japan-Movmnt-Mesh-Bracelet-Watch%2F283064046541%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/5bEAAOSwcVZbUOJ3/s-l1600.jpg" title="Bracelet Watch" alt="Bracelet Watch">
     <p>Stuhrling Men's 3998 classic Minimalist Design Japan Movmnt Mesh Bracelet Watch</p>
    </a>
    <div class="dis_daily">
     <p>$49.99</p>
    </div>
    <ul>
      <li>$159.00</li> |
      <li>69% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2F1800-Count-4-Piece-Deep-Pocket-Bed-Sheet-Set-Exclusive-Spring-Collection%2F111634181825%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/r2MAAOSwywFajxht/s-l1600.jpg" title="Bed Sheet" alt="Bed Sheet">
     <p>1800 Count 4 Piece Deep Pocket Bed Sheet Set</p>
    </a>
    <div class="dis_daily">
     <p>$12.99</p>
    </div>
    <ul>
      <li>$79.99</li> |
      <li>84% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FParrot-Bebop-Quadcopter-Drone-with-14MP-Full-HD-1080p-Wide-Angle-Camera%2F152353729448%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://techrabbit.com/media/catalog/product/p/a/par-bebop1-rd_01.jpg" title="Drone" alt="Drone">
     <p>Parrot Bebop Quadcopter Drone </p>
    </a>
    <div class="dis_daily">
     <p>$119.99</p>
    </div>
    <ul>
      <li>$399.99</li> |
      <li>70% off</li>
    </ul>
   </div>


   

 </div>
</div>


