<div class="dis_slider-wrapper">
 <div class="dis_slider">

  <!--  <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>
 -->

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FMilwaukee-M18-18v-Li-ion-2-tool-Combo-Kit-2691-22-Reconditioned%2F662803001%3Fiid%3D202402969274%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/AkMAAOSw4SRbcvxu/s-l640.jpg" title="tool kit" alt="tool kit">
     <p>Milwaukee M18 18v Li-ion 2-tool Combo Kit 2691-22 Reconditioned</p>
    </a>
    <div class="dis_daily">
     <p>$129.00</p>
    </div>
    <ul>
      <li>$186.25</li> |
      <li>30% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FAuthentic-Ray-Ban-Wayfarer-Sunglasses-Pink-Cosmo-Jupiter-Green-Flash-Rb2140%2F1029481130%3Fiid%3D332715912600%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/VRAAAOSwc~NbRNPw/s-l640.jpg" title="Sunglasses" alt="Sunglasses">
     <p>Authentic Ray-Ban Wayfarer Sunglasses</p>
    </a>
    <div class="dis_daily">
     <p>$69.99</p>
    </div>
    <ul>
      <li>$160.00</li> |
      <li>56% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FFila-Mens-Madison-Boot%2F192608732851%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/m4kAAOSwfSJbWHOz/s-l1600.jpg" title="Madison Boot" alt="Madison Boot">
     <p>Fila Men's Madison Boot</p>
    </a>
    <div class="dis_daily">
     <p>$39.99</p>
    </div>
    <ul>
      <li>$70.00</li> |
      <li>43% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FGoogle-Home-Mini-Chalk-with-Google-Home-White%2F332708146103%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/SicAAOSwCBtbejk5/s-l1600.gif" title="Google Home" alt="Google Home">
     <p>Google Home Mini Chalk with Google Home White</p>
    </a>
    <div class="dis_daily">
     <p>$113.00</p>
    </div>
    <ul>
      <li>$178.00</li> |
      <li>36% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FLego-Harry-Potter-Collectible-Series-Sealed-Box-Case-of-60-Minifigures-71022%2F192588077832%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/lX4AAOSwBn9bUmTY/s-l1600.jpg" title="Harry Potter" alt="Harry Potter">
     <p>Lego Harry Potter Collectible Series Sealed Box Case of 60 Minifigures</p>
    </a>
    <div class="dis_daily">
     <p>$249.99</p>
    </div>
    <ul>
      <li>$399.99</li> |
      <li>37% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FNEW-AMD-Ryzen-5-2600X-6-Core-3-6GHz-Socket-AM4-95W-YD260XBCAFBOX-Desktop-CPU%2F273199629348%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/mX4AAOSwRWVa8MeA/s-l1600.jpg" title="AMD" alt="AMD">
     <p>NEW AMD Ryzen 5 2600X 6-Core 3.6GHz Socket AM4 95W YD260XBCAFBOX Desktop CPU</p>
    </a>
    <div class="dis_daily">
     <p>$219.99</p>
    </div>
    <ul>
      <li>$399.99</li> |
      <li>45% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FLG-OLED55B8PUA-55-2160p-4K-HDR-OLED-Smart-TV%2F27021554950%3Fiid%3D253806434649%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/B-YAAOSwjYdbbHrH/s-l640.jpg" title="OLED Smart TV" alt="OLED Smart TV">
     <p>LG OLED55B8PUA 55" 2160p 4K HDR OLED Smart TV</p>
    </a>
    <div class="dis_daily">
     <p>$1,499.00</p>
    </div>
    <ul>
      <li>$3,499.00</li> |
      <li>57% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2Fadidas-Mens-BIG-DEAL-Tech-Tee-Short-Sleeve-Athletic-Training-Polyester-T-Shirt%2F323409315508%3F_trkparms%3D5079%253A0&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/COQAAOSwnRJbfaxe/s-l1600.jpg" title="adidas" alt="adidas">
     <p>adidas Men's BIG DEAL Tech Tee Short Sleeve Athletic Training Polyester T-Shirt</p>
    </a>
    <div class="dis_daily">
     <p>$8.99</p>
    </div>
    <ul>
      <li>$13.75</li> |
      <li>35% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FLegend-of-Zelda-Breath-of-the-Wild-Nintendo-Switch-2017%2F235193344%3Fiid%3D323179572132%26_trkparms%3D5079%253A0&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/00/s/MjY2WDE2Mw==/z/-V4AAOSwDKtY078T/$_35.JPG?set_id=89040003C1" title="Zelda" alt="Zelda">
     <p>Legend of Zelda: Breath of the Wild</p>
    </a>
    <div class="dis_daily">
     <p>$44.99</p>
    </div>
    <ul>
      <li>$59.99</li> |
      <li>25% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FNew-Balance-Mens-247-Luxe-Shoes-Navy-with-Navy-Grey%2F192595845819%3F_trkparms%3D5079%253A0&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/L~sAAOSw7mpbRkM8/s-l1600.jpg" title="New Balance" alt="New Balance">
     <p>New Balance Men's 247 Luxe Shoes Navy with Navy & Grey</p>
    </a>
    <div class="dis_daily">
     <p>$35.99</p>
    </div>
    <ul>
      <li>$119.99</li> |
      <li>70% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FApple-iPhone-6S-64GB-Unlocked-GSM-iOS-Smartphone%2F252877458487%3F_trkparms%3D5079%253A0&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/fKYAAOSwD99axp9y/s-l500.jpg" title="Apple iPhone 6S" alt="Apple iPhone 6S">
     <p>Apple iPhone 6S 64GB Unlocked GSM iOS Smartphone</p>
    </a>
    <div class="dis_daily">
     <p>$209.99</p>
    </div>
    <ul>
      <li>$699.99</li> |
      <li>70% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FSamsung-Galaxy-S7-32GB-SM-G930T-Unlocked-GSM-T-Mobile-4G-LTE-Android-Smartphone%2F362263873166%3F_trkparms%3D5079%253A0&campid=5338273158&toolid=20008"><img src="https://d3d71ba2asa5oz.cloudfront.net/12003181/images/samg930t32gbgoldunb_735__1.jpg" title="Samsung Galaxy S7" alt="Samsung Galaxy S7">
     <p>Samsung Galaxy S7 32GB SM-G930T Unlocked GSM T-Mobile 4G LTE Android Smartphone</p>
    </a>
    <div class="dis_daily">
     <p>$159.99</p>
    </div>
    <ul>
      <li>$649.99</li> |
      <li>75% off</li>
    </ul>
   </div>

 </div>
</div>


