<div class="dis_slider-wrapper">
 <div class="dis_slider">

  <!--  <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>
 -->

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FInspiron-17-5000-17-3-Laptop-Intel-8th-Gen-i5-1TB-HDD-8-GB-RAM-Win-10%2F223076783172%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/lXAAAOSw97xbWfTR/s-l400.jpg" title="nspiron" alt="nspiron">
     <p>nspiron 17 5000 - 17.3" Laptop - Intel 8th Gen i5- 1TB HDD- 8 GB RAM - Win 10</p>
    </a>
    <div class="dis_daily">
     <p>$587.99</p>
    </div>
    <ul>
      <li>$799.99</li> |
      <li>26% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FTerre-DHermes-By-Hermes-200ml-6-7-oz-EDT-Eau-De-Toilet-Spray-for-Men-Brand-New%2F113167928116%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/RGkAAOSwYSBbWI8y/s-l500.jpg" title="Terre D'Hermes" alt="Terre D'Hermes">
     <p>Terre D'Hermes By Hermes 200ml 6.7 oz EDT Eau De Toilet Spray for Men Brand New</p>
    </a>
    <div class="dis_daily">
     <p>$74.99</p>
    </div>
    <ul>
      <li>$149.99</li> |
      <li>50% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FRing-Video-Doorbell-Pro%2F5017377120%3Fiid%3D382502277572%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/LIcAAOSwgw9bMYu~/s-l640.jpg" title="Ring Video Doorbell Pro" alt="Ring Video Doorbell Pro">
     <p>Ring Video Doorbell Pro</p>
    </a>
    <div class="dis_daily">
     <p>$199.95</p>
    </div>
    <ul>
      <li>$649.99</li> |
      <li>69% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FNikon-1-S1-10-1MP-Digital-Camera-Red-Kit-w-11-27-5mm-Lens%2F140321392%3Fiid%3D332700903930%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/HkoAAOSwfttbcG2c/s-l640.jpg" title="Nikon" alt="Nikon">
     <p>Nikon 1 S1 10.1MP Digital Camera - Red</p>
    </a>
    <div class="dis_daily">
     <p>$139.00</p>
    </div>
    <ul>
      <li>$499.95</li> |
      <li>72% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FDirt-Devil-UD20010-Upright-Vacuum-Cleaner-Red%2F93554893%3Fiid%3D273335300922%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/00/s/MTYwMFg4MDc=/z/jnEAAOSwjNZbaYOF/$_35.JPG?set_id=89040003C1" title="Vacuum Cleaner" alt="Vacuum Cleaner">
     <p>Dirt Devil UD20010 Upright Vacuum Cleaner -Red</p>
    </a>
    <div class="dis_daily">
     <p>$39.99</p>
    </div>
    <ul>
      <li>$79.99</li> |
      <li>50% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2Fadidas-Trefoil-Sweatshirt-Mens%2F153148056581%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/JeUAAOSwiIRbjBEs/s-l1600.jpg" title="adidas" alt="adidas">
     <p>adidas-Trefoil-Sweatshirt-Mens</p>
    </a>
    <div class="dis_daily">
     <p>$30.00</p>
    </div>
    <ul>
      <li>$60.00</li> |
      <li>50% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FSony-SP700N-Wireless-Noise-Canceling-Sports-In-Ear-Headphones-Black-WF-SP700N%2F273362503196%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://graphics.secondipity.com/gr/images/nw/4315577_2.jpg" title="Sony" alt="Sony">
     <p>Sony SP700N Wireless Noise Canceling Sports In-Ear Headphones</p>
    </a>
    <div class="dis_daily">
     <p>$79.99</p>
    </div>
    <ul>
      <li>$249.99</li> |
      <li>68% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FNintendo-Entertainment-System-NES-Classic-Edition%2F224836664%3Fiid%3D361855006360%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/oRgAAOSw0exaA7iZ/s-l640.jpg" title="Nintendo" alt="Nintendo">
     <p>Nintendo Entertainment System: NES Classic Edition</p>
    </a>
    <div class="dis_daily">
     <p>$89.99</p>
    </div>
    <ul>
      <li>$249.99</li> |
      <li>64% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FMK-Michael-Kors-Womens-Analog-Quartz-Watch-Green-Suede-Lug-Band-MK2024%2F24009645321%3Fiid%3D152623179710%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/mp4AAOSwd3dZaAve/s-l640.jpg" title="MK Michael Kors" alt="MK Michael Kors">
     <p>MK Michael Kors Womens Analog Quartz Watch Green Suede Lug Band</p>
    </a>
    <div class="dis_daily">
     <p>$57.99</p>
    </div>
    <ul>
      <li>$150.00</li> |
      <li>61% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FNatural-Argan-Oil-Shampoo-Conditioner-Collection-for-All-Hair-Types-16-oz%2F253596711181%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/DVUAAOSwHXtbhZUD/s-l1600.jpg" title="Shampoo & Conditioner" alt="Shampoo & Conditioner">
     <p>Natural Argan Oil Shampoo & Conditioner Collection</p>
    </a>
    <div class="dis_daily">
     <p>$10.95</p>
    </div>
    <ul>
      <li>$26.00</li> |
      <li>58% off</li>
    </ul>
   </div>

 </div>
</div>


