<div class="dis_slider-wrapper">
 <div class="dis_slider">

  <!--  <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>
 -->

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FASUS-VivoBook-R510IK-LHFX-15-6-Full-HD-Gaming-Notebook-AMD-FX-9830P-3-0GHz%2F372413122152&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/3Q4AAOSwrORbgBCH/s-l500.jpg" title="ASUS" alt="ASUS">
    <p>ASUS VivoBook R510IK-LHFX 15.6" Full HD Gaming Notebook AMD FX-9830P 3.0GHz</p>
    </a>
    <div class="dis_daily">
     <p>$547.50</p>
    </div>
    <ul>
      <li>$699.99</li> |
      <li>21% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FGillette-Fusion-Proglide-Power-Refill-Razor-Blade-Cartridges-8-Ct%2F322145573204&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/JGAAAOSw0GJZoELI/s-l500.jpg" title="Gillette" alt="Gillette">
    <p>Gillette Fusion Proglide Power Refill Razor Blade Cartridges, 8 Ct.</p>
    </a>
    <div class="dis_daily">
     <p>$24.99</p>
    </div>
    <ul>
      <li>$36.99</li> |
      <li>32% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FTREBLAB-N8-Wireless-Neckband-Sport-Headphones-Running-Bluetooth-Earbuds-Magnetic%2F273228145550&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/NaMAAOSwL~hbM3fs/s-l1600.jpg" title="Wireless Neckband Sport Headphones" alt="Wireless Neckband Sport Headphones">
     <p>TREBLAB N8 Wireless Neckband Sport Headphones Running Bluetooth Earbuds Magnetic</p>
    </a>
    <div class="dis_daily">
     <p>$29.95</p>
    </div>
    <ul>
      <li>$89.99</li> |
      <li>67% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FWG545-1-WORX-20V-Max-Lithium-Blower-Sweeper-FREE-Gutter-Kit-Included%2F253825325500&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/5IoAAOxylpNTTXYj/s-l1600.jpg" title="Blower/Sweeper" alt="Blower/Sweeper">
     <p>WG545.1 WORX 20V Max Lithium Blower/Sweeper</p>
    </a>
    <div class="dis_daily">
     <p>$79.99</p>
    </div>
    <ul>
      <li>$169.98</li> |
      <li>52% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2F1-5-8-ct-Natural-Sky-Blue-Topaz-Hoop-Earrings-w-Diamonds-in-Platinum-over-Brass%2F262956563014&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/bx0AAOSwc6paAehg/s-l1600.jpg" title="Earrings" alt="Earrings">
     <p>1 5/8 ct Natural Sky Blue Topaz Hoop Earrings w/ Diamonds in Platinum over Brass</p>
    </a>
    <div class="dis_daily">
     <p>$18.99</p>
    </div>
    <ul>
      <li>$129.00</li> |
      <li>85% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FRay-Ban-Polarized-Unisex-Sunglasses%2F263701827189&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/q9MAAOSwPqRazQie/s-l1600.jpg" title="Sunglasses" alt="Sunglasses">
     <p>Ray-Ban Polarized Unisex Sunglasses</p>
    </a>
    <div class="dis_daily">
     <p>$69.99</p>
    </div>
    <ul>
      <li>$200.00</li> |
      <li>65% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FG-H-Bass-Co-Mens-Wright-Genuine-Leather-Casual-Driver-Slip-on-Loafer-Shoe%2F253571844696&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/YM8AAOSwKT9a3ffj/s-l1600.jpg" title="G.H. Bass & Co." alt="G.H. Bass & Co.">
     <p>G.H. Bass & Co. Mens Wright Genuine Leather Casual Driver Slip-on Loafer Shoe</p>
    </a>
    <div class="dis_daily">
     <p>$39.99</p>
    </div>
    <ul>
      <li>$100.00</li> |
      <li>60% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FUnder-Armour-Mens-Heatgear-Big-Logo-T-Shirt%2F332773098576&campid=5338273158&toolid=20008"><img src="https://d3d71ba2asa5oz.cloudfront.net/12012433/images/685248501627.jpg" title="Under Armour" alt="Under Armour">
     <p>Under Armour Men's Heatgear Big Logo T-Shirt</p>
    </a>
    <div class="dis_daily">
     <p>$13.99</p>
    </div>
    <ul>
      <li>$29.99</li> |
      <li>53% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FLG-OLED65C8P-65-HDR-UHD-Smart-OLED-TV%2F253660266411&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/obsAAOSw8StbEBMN/s-l1600.jpg" title="Title" alt="Title">
     <p>LG OLED65C8P 65" HDR UHD Smart OLED TV</p>
    </a>
    <div class="dis_daily">
     <p>$2,249.00</p>
    </div>
    <ul>
      <li>$4,995.00</li> |
      <li>54% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FSamsung-Gear-S3-Frontier-Dark-Grey-Bluetooth-Smartwatch-SM-R760NDAAXAR%2F132408676105&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/fJUAAOSwdjdaFh3A/s-l1600.jpg" title="Samsung Gear S3" alt="Samsung Gear S3">
     <p>Samsung Gear S3 Frontier Dark Grey Bluetooth Smartwatch</p>
    </a>
    <div class="dis_daily">
     <p>$219.99</p>
    </div>
    <ul>
      <li>$399.99</li> |
      <li>45% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FApple-Watch-Series-3-38mm-Gold-Aluminium-Case-with-Pink-Sand-Sport-Band-GPS-MQKW2LL-A%2F238941751%3Fiid%3D132473523580%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/JBsAAOSwVLRaXsz4/s-l640.png" title="Apple Watch" alt="Apple Watch">
     <p>Apple Watch Series 3 38mm Gold Aluminium Case with Pink Sand Sport Band</p>
    </a>
    <div class="dis_daily">
     <p>$269.99</p>
    </div>
    <ul>
      <li>$329.00</li> |
      <li>18% off</li>
    </ul>
   </div>

   
     
 </div>
</div>


