<div class="dis_slider-wrapper">
 <div class="dis_slider">

  <!--  <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>
 -->

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FApple-Watch-Series-3-38mm-Gold-Aluminium-Case-with-Pink-Sand-Sport-Band-GPS-MQKW2LL-A%2F238941751%3Fiid%3D132473523580%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/JBsAAOSwVLRaXsz4/s-l640.png" title="Apple Watch" alt="Apple Watch">
     <p>Apple Watch Series 3 38mm Gold Aluminium Case with Pink Sand Sport Band</p>
    </a>
    <div class="dis_daily">
     <p>$269.99</p>
    </div>
    <ul>
      <li>$329.00</li> |
      <li>18% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FGoPro-Hero-5-Black-Edition-Action-Camera%2F230153482%3Fiid%3D272457458714%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/00/s/NTAwWDUwMA==/z/Y74AAOSwHvpbEVK2/$_35.JPG?set_id=89040003C1" title="GoPro" alt="GoPro">
     <p>GoPro Hero 5 Black Edition Action Camera</p>
    </a>
    <div class="dis_daily">
     <p>$297.99</p>
    </div>
    <ul>
      <li>$399.99</li> |
      <li>30% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FNautica-Womens-Eastwind-Tote-Bone-Bali-Blue-Stripe%2F22020229777%3Fiid%3D123178861045%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://s7d9.scene7.com/is/image/NauticaBrand/xxlarge/0731516000016_CH7056_B67N_145_A.jpg" title="Bone & Bali Blue Stripe" alt="Bone & Bali Blue Stripe">
     <p>Nautica Womens Eastwind Tote - Bone & Bali Blue Stripe</p>
    </a>
    <div class="dis_daily">
     <p>$24.99</p>
    </div>
    <ul>
      <li>$89.00</li> |
      <li>71% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FOfficial-2018-Samsung-Galaxy-Note-9-Super-Fast-Wireless-Charger-Duo-Qi-NEW%2F113206274563%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/S7IAAOSwQq1bdiCK/s-l1600.jpg" title="amsung Galaxy Note 9" alt="amsung Galaxy Note 9">
     <p>Official 2018 Samsung Galaxy Note 9 Super Fast Wireless Charger Duo Qi</p>
    </a>
    <div class="dis_daily">
     <p>$99.99</p>
    </div>
    <ul>
      <li>$119.00</li> |
      <li>15% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FSamsung-Chromebook-XE303C12-11-6in-16GB-Samsung-Exynos-5-Dual-1-7GHz-2GB-Notebook-Laptop-Silver%2F134437984%3Fiid%3D391990840152%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/4YYAAOSwJsla~eAw/s-l640.jpg" title="Chromebook" alt="Chromebook">
     <p>Samsung Chromebook XE303C12 11.6in.</p>
    </a>
    <div class="dis_daily">
     <p>$84.99</p>
    </div>
    <ul>
      <li>$249.99</li> |
      <li>66% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FSamsung-3-11-6-Chromebook-Intel-Celeron-4gb-Memory-32gb-eMMC-Flash-Memory%2F27021106764%3Fiid%3D202386941615%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/0l8AAOSwIphbO~fM/s-l640.jpg" title="Chromebook" alt="Chromebook">
     <p>Samsung 3 11.6" Chromebook - Intel Celeron 4gb Memory 32gb eMMC Flash Memory</p>
    </a>
    <div class="dis_daily">
     <p>$159.00</p>
    </div>
    <ul>
      <li>$259.00</li> |
      <li>38% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FNew-Balance-Mens-247-Luxe-Shoes-Navy-with-Navy-Grey%2F192595845819%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/L~sAAOSw7mpbRkM8/s-l1600.jpg" title="New Balance" alt="New Balance">
     <p>New Balance Men's 247 Luxe Shoes Navy with Navy & Grey</p>
    </a>
    <div class="dis_daily">
     <p>$35.99</p>
    </div>
    <ul>
      <li>$119.99</li> |
      <li>70% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FIntex-15-x-48-Metal-Frame-Above-Ground-Swimming-Pool-Set-w-1000-GPH-Pump%2F231650061517%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/67YAAOSw~CFY5VO9/s-l1600.jpg" title="Swimming Pool" alt="Swimming Pool">
     <p>Intex 15' x 48" Metal Frame Above Ground Swimming Pool Set</p>
    </a>
    <div class="dis_daily">
     <p>$389.99</p>
    </div>
    <ul>
      <li>$699.99</li> |
      <li>44% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FTitanium-One-Portable-SSD-120GB-3D-NAND-Performance-External-SSD-USB3-0%2F401559130891%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/4F4AAOSwFuZbNC7k/s-l1600.jpg" title="SSD" alt="SSD">
     <p>Titanium One Portable SSD - 120GB 3D NAND Performance External SSD USB3.0</p>
    </a>
    <div class="dis_daily">
     <p>$44.99</p>
    </div>
    <ul>
      <li>$69.99</li> |
      <li>35% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FBulova-Womens-97P116-Stainless-Steel-and-Gold-Dress-Watch%2F28012066406%3Fiid%3D263780763694%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/lW0AAOSw86JaXQEb/s-l640.jpg" title="Bulova" alt="Bulova">
     <p>Bulova Women's 97P116 Stainless Steel and Gold Dress Watch</p>
    </a>
    <div class="dis_daily">
     <p>$99.99</p>
    </div>
    <ul>
      <li>$350.00</li> |
      <li>71% off</li>
    </ul>
   </div>
     
 </div>
</div>


