<div class="dis_slider-wrapper">
 <div class="dis_slider">

  <!--  <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>
 -->
   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FBeats-Solo2-On-Ear-Wired-Headphones-Luxe-Edition-ML9E2AM-A-Black%2F332594194327%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/A0AAAOSw1r5bYLSO/s-l500.jpg" title="Wired Headphones" alt="Wired Headphones">
     <p>Beats Solo2 On-Ear Wired Headphones Luxe Edition</p>
    </a>
    <div class="dis_daily">
     <p>$80.99</p>
    </div>
    <ul>
      <li>$199.00</li> |
      <li>59% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FNew-With-Tags-Under-Armour-Hustle-UA-Storm-3-0-Backpack-Laptop-School-Bag%2F352422767271%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/fnsAAOSwkXRbZMkB/s-l500.jpg" title="Under Armour Backpack" alt="Under Armour Backpack">
     <p>New With Tags Under Armour Hustle UA Storm 3.0 Backpack Laptop School Bag</p>
    </a>
    <div class="dis_daily">
     <p>$48.90</p>
    </div>
    <ul>
      <li>$100.00</li> |
      <li>51% off</li>
    </ul>
   </div>
   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FApple-iPhone-X-64GB-Silver-Verizon-A1865-CDMA-GSM%2F239160983%3Fiid%3D362367819833%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/LEQAAOSwl~ZbMx9q/s-l640.jpg" title="Apple iPhone X" alt="Apple iPhone X">
     <p>Apple iPhone X - 64GB - Silver (Verizon) A1865 (CDMA + GSM)</p>
    </a>
    <div class="dis_daily">
     <p>$799.00</p>
    </div>
    <ul>
      <li>$1,049.99</li> |
      <li>23% off</li>
    </ul>
   </div>
  
  <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FMasterbuilt-Outdoor-Barbecue-30-Digital-Electric-BBQ-Meat-Smoker-Grill-Black%2F391937854921&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/4csAAOSwU1Naw510/s-l640.jpg" title="Digital Electric Smoker" alt="Digital Electric Smoker">
     <p>Masterbuilt 20071117 30" Digital Electric Smoker</p>
    </a>
    <div class="dis_daily">
     <p>$159.99</p>
    </div>
    <ul>
      <li>$299.99</li> |
      <li>46% off</li>
    </ul>
   </div>

    <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FSamsung-Galaxy-Note-8-SM-N950F-DS-64GB-FACTORY-UNLOCKED-Black-Gold-Gray-Pink%2F192307502828%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/nkgAAOSwsIZZpFa7/s-l1600.jpg" title="Samsung Galaxy Note 8" alt="Samsung Galaxy Note 8">
     <p>Samsung Galaxy Note 8 SM-N950F/DS 64GB</p>
    </a>
    <div class="dis_daily">
     <p>$517.99</p>
    </div>
    <ul>
      <li>$899.99</li> |
      <li>42% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FDanby-DMW11A4SDB-1-1-Cu-Ft-Countertop-Microwave%2F19004454519%3Fiid%3D192602161652%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/00/s/MjEzWDQwMA==/z/ahIAAOSwUZhbOJFk/$_35.JPG" title="Microwave" alt="Microwave">
     <p>Danby DMW11A4SDB 1.1 Cu-Ft. Countertop Microwave</p>
    </a>
    <div class="dis_daily">
     <p>$69.99</p>
    </div>
    <ul>
      <li>$149.99</li> |
      <li>53% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FASICS-Womens-GEL-Flux-4-Running-Shoes-T764N%2F113148431934%3F_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/eaYAAOSwwR5bd9id/s-l1600.jpg" title="ASICS" alt="ASICS">
     <p>ASICS Women's GEL-Flux 4 Running Shoes T764N</p>
    </a>
    <div class="dis_daily">
     <p>$37.99</p>
    </div>
    <ul>
      <li>$100.00</li> |
      <li>62% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FSamsonite-Omni-PC-3-Piece-Hardside-Spinner-Set-Teal%2F2154433491%3Fiid%3D311571925941%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/O14AAOSws4JW72j~/s-l640.jpg" title="Samsonite" alt="Samsonite">
     <p>Samsonite Omni PC 3 Piece Hardside Spinner Set Teal</p>
    </a>
    <div class="dis_daily">
     <p>$219.00</p>
    </div>
    <ul>
      <li>$469.97</li> |
      <li>53% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FNutri-Ninja-Pro-900W-Professional-Blender-BL450-Silver-Black%2F2164621195%3Fiid%3D232423916951%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/TwIAAOSw6n5XuyeD/s-l640.jpg" title="Blender" alt="Blender">
     <p>Nutri Ninja Pro 900W Professional Blender</p>
    </a>
    <div class="dis_daily">
     <p>$42.99</p>
    </div>
    <ul>
      <li>$83.99</li> |
      <li>48% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FBest-Choice-Products-7pc-Outdoor-Patio-Sectional-PE-Wicker-Furniture-Sofa-Set%2F1573233895%3Fiid%3D362227839090%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/00/s/MTYwMFgxNjAw/z/48oAAOSw65xZn0U5/$_35.JPG" title="Sofa" alt="Sofa">
     <p>7pc Outdoor Patio Sectional PE Wicker Furniture Sofa Set</p>
    </a>
    <div class="dis_daily">
     <p>$674.99</p>
    </div>
    <ul>
      <li>$1,999.99</li> |
      <li>66% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FLG-OLED65C8PUA-65-2160p-4K-HDR-OLED-Internet-TV%2F7016892725%3Fiid%3D253711240202%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/00/s/ODE2WDEyODg=/z/MDQAAOSwD~BbMgGW/$_35.JPG" title="OLED Internet TV" alt="OLED Internet TV">
     <p>LG OLED65C8PUA 65" 2160p 4K HDR OLED Internet TV</p>
    </a>
    <div class="dis_daily">
     <p>$2,249.00</p>
    </div>
    <ul>
      <li>$3,799.99</li> |
      <li>40% off</li>
    </ul>
   </div>
   
   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FCrayola-200ct-Classpack-Washable-Fine-Markers-10-Colors%2F691321810%3Fiid%3D283089527395%26_trkparms%3D5373%253A0%257C5374%253AFeatured&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/9OAAAOSwbb9bLUGk/s-l640.jpg" title="Crayola" alt="Crayola">
     <p>Crayola 200ct Classpack Washable Fine Markers 10 Colors</p>
    </a>
    <div class="dis_daily">
     <p>$29.99</p>
    </div>
    <ul>
      <li>$100.49</li> |
      <li>70% off</li>
    </ul>
   </div>
   
 </div>
</div>


