<div class="dis_slider-wrapper">
 <div class="dis_slider">

  <!--  <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>
 -->

  <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>

 </div>
</div>


