<div class="dis_slider-wrapper">
 <div class="dis_slider">
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
   <div class="dis_slider--content"></div>
 </div>
</div>