<div class="dis_slider-wrapper">
 <div class="dis_slider">

    <!--  <div class="dis_slider--content">
    <a target="_blank" href="Product_link"><img src="imgae_link" title="Title" alt="Title">
     <p>Product_title</p>
    </a>
    <div class="dis_daily">
     <p>$Current_price</p>
    </div>
    <ul>
      <li>$Original_price</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>
 -->

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FJabra-Elite-65t-True-Wireless-Earbuds-manufacturer%2F26019470441%3Fiid%3D163043748526%26_trkparms%3D5373%253A0%257C5374%253AFeatured%257C5079%253A6000003158&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/5o0AAOSwEnZa6zz2/s-l640.jpg" title="abra" alt="abra">
     <p>abra Elite 65t True Wireless Earbuds</p>
    </a>
    <div class="dis_daily">
     <p>$119.99</p>
    </div>
    <ul>
      <li>$169.99</li> |
      <li>29% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FNEW-HP-Stream-11-6-HD-Intel-N3060-2-48GHz-4GB-32GB-Windows-10-Office-365-1-YR%2F282991212485%3F_trkparms%3D5079%253A6000003158&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/wScAAOSwqYZbFUJ0/s-l225.jpg" title="Title" alt="Title">
     <p>NEW HP Stream 11.6" HD Intel N3060 2.48GHz 4GB 32GB</p>
    </a>
    <div class="dis_daily">
     <p>$139.99</p>
    </div>
    <ul>
      <li>$299.99</li> |
      <li>53% off</li>
    </ul>
   </div>

   <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FDyson-DC58-Purple-Silver-Handheld-Cleaner%2F219540209%3Fiid%3D273012714968%26_trkparms%3D5079%253A6000003158&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/00/s/NTY4WDEwMDA=/z/TDEAAOSwJQdW-mXz/$_35.JPG?set_id=89040003C1" title="Dyson" alt="Dyson">
     <p>Dyson DC58 - Purple/Silver - Handheld Cleaner</p>
    </a>
    <div class="dis_daily">
     <p>$109.99</p>
    </div>
    <ul>
      <li>$199.99</li> |
      <li>45% off</li>
    </ul>
   </div>
    <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FHover-Way-E-BIKE-Electric-Bike-with-Kick-Stand-Sprinter-Black-Blue-or-White%2F332762635795%3F_trkparms%3D5373%253A0%257C5374%253AFeatured%257C5079%253A6000003158&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/QuIAAOSwAtFbce~A/s-l1600.jpg" title="Electric Bike" alt="Electric Bike">
     <p>Hover-Way E BIKE- Electric Bike with Kick Stand</p>
    </a>
    <div class="dis_daily">
     <p>$279.00</p>
    </div>
    <ul>
      <li>$379.00</li> |
      <li>26% off</li>
    </ul>
   </div>
    <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FCanon-EOS-6D-Mark-II-Digital-SLR-Camera-Body-Only%2F202228992361%3F_trkparms%3D5079%253A6000003158&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/H80AAOSw-5RZkfXg/s-l500.jpg" title="Canon EOS" alt="Canon EOS">
     <p>Canon EOS 6D Mark II Digital SLR Camera (Body Only)</p>
    </a>
    <div class="dis_daily">
     <p>$869.01</p>
    </div>
    <ul>
      <li>$1,999.00</li> |
      <li>43% off</li>
    </ul>
   </div>
    <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FNinja-CF085Z-1400-W-Coffee-Maker%2F1549032225%3Fiid%3D312151693478%26_trkparms%3D5079%253A6000003158&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/00/s/NDY5WDM1Mw==/z/YoUAAOSwhmtbMgFm/$_35.JPG" title="Coffee Maker" alt="Coffee Maker">
     <p>Ninja CF085Z 1400 W Coffee Maker</p>
    </a>
    <div class="dis_daily">
     <p>$99.99</p>
    </div>
    <ul>
      <li>$199.99</li> |
      <li>50% off</li>
    </ul>
   </div>
    <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2Fadidas-Essentials-3-Stripes-Tricot-Jacket-Mens%2F153109501263%3F_trkparms%3D5079%253A6000003158&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/pu0AAOSwXclbVCtp/s-l1600.jpg" title="adidas" alt="adidas">
     <p>adidas Essentials 3-Stripes Tricot Jacket Men's</p>
    </a>
    <div class="dis_daily">
     <p>$33.01</p>
    </div>
    <ul>
      <li>$60.00</li> |
      <li>Howmuch_sale% off</li>
    </ul>
   </div>
    <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FPUMA-PUMA-Spirit-FG-Firm-Ground-Men-s-Soccer-Cleats-Men-Shoe-Football-New%2F273174147961%3F_trkparms%3D5079%253A6000003158&campid=5338273158&toolid=20008"><img src="https://pumaimages.azureedge.net/images/104492/03/fnd/PNA/" title="PUMA" alt="PUMA">
     <p>PUMA Spirit FG Firm Ground Men’s Soccer Cleats Men Shoe Football New</p>
    </a>
    <div class="dis_daily">
     <p>$19.99</p>
    </div>
    <ul>
      <li>$40.00</li> |
      <li>50% off</li>
    </ul>
   </div>
    <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FTribest-Humio-HU-1020-B-Ultrasonic-Cool-Mist-Humidifier-and-Night-Lamp-White%2F2238129107%3Fiid%3D253013422791%26_trkparms%3D5079%253A6000003158&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/00/s/MTAwMFg3MjE=/z/UM8AAOSwjR5axIYe/$_35.JPG" title="Mist Humidifier" alt="Mist Humidifier">
     <p>Tribest Humio HU-1020-B Ultrasonic Cool Mist Humidifier and Night Lamp</p>
    </a>
    <div class="dis_daily">
     <p>$53.99</p>
    </div>
    <ul>
      <li>$179.99</li> |
      <li>70% off</li>
    </ul>
   </div>
    <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FNEW-Microsoft-Surface-Go-8GB-RAM-128GB-SSD-1800-x-1200-Resolution%2F123286320274%3F_trkparms%3D5079%253A6000003158&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/Kp0AAOSwPxVbYnsY/s-l500.jpg" title="Microsoft Surface Go" alt="Microsoft Surface Go">
     <p>NEW Microsoft Surface Go -8GB RAM - 128GB SSD - 1800 x 1200 Resolution</p>
    </a>
    <div class="dis_daily">
     <p>$549.00</p>
    </div>
    <ul>
      <li>$699.00</li> |
      <li>21% off</li>
    </ul>
   </div>
    <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FBeats-by-Dr-Dre-Tour-2-0-In-Ear-Headphones-White%2F253425029035%3F_trkparms%3D5079%253A6000003158&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/0n0AAOSwVttbBvBj/s-l1600.jpg" title="Dr. Dr" alt="Dr. Dr">
     <p>Beats by Dr. Dre Tour 2.0 In Ear Headphones</p>
    </a>
    <div class="dis_daily">
     <p>$84.99</p>
    </div>
    <ul>
      <li>$149.99</li> |
      <li>43% off</li>
    </ul>
   </div>
    <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FApple-MacBook-Pro-A1278-13-3-Laptop-MD101LL-A-June-2012%2F115174685%3Fiid%3D391845235845%26_trkparms%3D5079%253A6000003158&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/00/s/MTAwMFgxMDAw/z/a2sAAOSwiDFYLaVD/$_35.JPG?set_id=89040003C1" title="MacBook Pro" alt="MacBook Pro">
     <p>Apple MacBook Pro A1278 13.3" Laptop</p>
    </a>
    <div class="dis_daily">
     <p>$369.00</p>
    </div>
    <ul>
      <li>$1199.99</li> |
      <li>69% off</li>
    </ul>
   </div>
    <div class="dis_slider--content">
    <a target="_blank" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?mpre=https%3A%2F%2Fwww.ebay.com%2Fp%2FSamsung-8-Series-UN55MU8000-55-2160p-UHD-LED-Internet-TV%2F239236195%3Fiid%3D273067022622%26_trkparms%3D5079%253A6000003158&campid=5338273158&toolid=20008"><img src="https://i.ebayimg.com/images/g/GiIAAOSw5VNaghX~/s-l1600.jpg" title="Samsung" alt="Samsung">
     <p>Samsung 8 Series UN55MU8000 55" 2160p UHD LED Internet TV</p>
    </a>
    <div class="dis_daily">
     <p>$599.99</p>
    </div>
    <ul>
      <li>$1499.99</li> |
      <li>60% off</li>
    </ul>
   </div>

  
 </div>
</div>


