/*------------------------------
 For desktop
--------------------------------*/
@media only screen and (max-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/*------------------------------
 For tablets
--------------------------------*/

@media only screen and (min-width: 600px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
/*------------------------------
 For mobile
--------------------------------*/
 [class*="col-"] {
    width: 100%;
}



/***************************************** Coupons & Deals Part *****************************************/
/*------------------------------
split styles
-------------------------------*/
.split {
  height: 100%;
  width: 100%;
  display: table;
}

.split > * {
  display: table-cell;
  vertical-align: middle;
}

.split-right {
  text-align: right;
  width: 9em;
  height: 7em;
}

/*------------------------------
box styles as a container item
-------------------------------*/
.box {
  padding: 10px;
  border: 3px dotted #d9d9d9;
  margin: 20px 1px;
  background: #ffffff;
  /* position for box-shadow */
  position: relative;
  margin-bottom: -1.5em;
}

.box_bowShadow:before,
.box_bowShadow:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 12px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #808080;
  box-shadow: 0 15px 5px #808080;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.box_bowShadow:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/*------------------------------
 totem styles
-------------------------------*/
.totem {
  padding: 0 5px;
  line-height: 1.2;
  text-align: center;
}

.totem > * {
  margin-bottom: 10px;
}

.totem-hd {
  color: #ea0f6b;
  font-weight: bold;
  margin: 0 0 0.2em 0;
}

.totem-bd {
  width: 15em;
  color: #000000;
  font-weight: bold;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 2; 
  -webkit-line-clamp: 2; /* number of line */ 
  -ms-line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
}

.totem-ft {
  margin-bottom: -0.5em;
}

.tab_title_checked {
  background: #f56a6a;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  padding-left: 1em;
  padding-right: 0.75em;
  position: relative;
  cursor: pointer;
  width: 20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  line-height: 3em;
  margin-bottom: 0em;
}

.tab_title{
  background: #FFFFFF;
  color: #f56a6a;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  padding-left: 1em;
  padding-right: 0.75em;
  position: relative;
  cursor: pointer;
  width: 20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  line-height: 3em;
  margin-bottom: 0em;
}



/*------------------------------
 media query for larger screens
--------------------------------*/
@media screen and (min-width: 600px) {
  .block {
    width: calc(50% - 5px);
    display: inline-block;
  }
}
@media screen and (min-width: 850px) {
  .block {
    width: calc(33% - 5px);
    display: inline-block;
  }
}
