/*------------------------------
 For desktop
--------------------------------*/
@media only screen and (max-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/*------------------------------
 For tablets
--------------------------------*/

@media only screen and (min-width: 600px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}
/*------------------------------
 For mobile
--------------------------------*/
 [class*="col-"] {
    width: 100%;
}

/***************************************** Discount Code Part *****************************************/
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 2em;
  padding: 0;
}

.cards__item {
  width: 25%;
  display: flex;
  padding: 0.5em;
}
.cards__item_main {
  width: 33%;
  display: flex;
  padding: 0.5em;
}
.cards__item a, 
.cards__item_main a {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

.card {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
  white-space: normal;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 15px;
  text-align: center;
}
.card__content ul {
  margin-top: 0.5em;
  margin-bottom: -1em;
}
.card__content ul li {
  list-style: none;
  display: inline-block;
}
.card__content ul li:nth-child(1) {
  font-size: 1.5em;
  color: black;
}
.card__content ul li:nth-child(2) {
  /*text-decoration: line-through;*/
  color: red;
}
.am_card_price ul {
  margin-bottom: 0.5em;
  border: 2px dotted;
}
.am_card_price ul li {
  font-size: 1.5em;
}
.card__image {
  border-top-left-radius: 0.1em;
  border-top-right-radius: 0.1em;
  overflow: hidden;
  position: relative;
  max-width: 28em;
  max-height: 15em;
}

.card__image_code {
  border-top-left-radius: 0.1em;
  border-top-right-radius: 0.1em;
  overflow: hidden;
  position: relative;
  max-width: 28em;
  max-height: 20em;
}

.cards__item img,
.cards__item_main img {
  height: 17em;
  width: 100%;
  vertical-align: middle;
  object-fit: contain;
}
.card__image img {
  width:100%;
  height:100%;
}
.code_end {
  display: flex;
  /*position: absolute;*/
  position: inline-block;
  padding: 6px 8px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background: red;
  color: white;
}
.code_end_hidden {
  display: none;
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 0;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 0.6%;
  }
}

.card__title {
  font-size: 1em;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #696969;
}

.card__text {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
  flex: 1 1 auto;
  margin-bottom: 1.25rem;
  color: #4B4F56;
  height: 3em;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 2; 
  -webkit-line-clamp: 2;  /*number of line*/  
  -ms-line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
}

.gadgets_price_after {
  margin-bottom: -0.4em;
}

.gadgets_intro, .card__title {
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 2; 
  -webkit-line-clamp: 2;  /*number of line*/  
  -ms-line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
  height: 3em;
}

.discount_codes {
  margin: 1em 0 0 0;
  border: 3px dotted #fed006;
  border-radius: 0.5em;
  padding: 0.2em;
  font-size: 1.5em;
  color: #fed006;
}

.code_date {
  margin-bottom: 0.5em;
}

.discount_botton a {
  color: white;
}

.use_code {
 margin-bottom: 0.5em; 
 border-radius: 0.3em;
 padding: 0.3em 0;
 background-color: #2ebfac;
}

.masonry_sale_discount {
  display: flex;
  /*position: absolute;*/
  position: inline-block;
  padding: 6px 8px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background: #fed006;
  color: white;
}

.discount_more {
  text-align: center;
  border: 1px solid;
  border-radius: 0.5em;
  padding: 0.5em;
  width: 30%;
  margin: 0 auto;
  background-color: #fed006;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
}

/*.discount_shared_box a {
  color: white;
}*/

.quick_discount_main {
  width: 35%;
  float: left;
}
.quick_discount_des {
  width: 64%;
  float: left;
  margin-left: 1%;
  padding: 1em;
}

@media screen and (max-width: 500px) {
  .cards__item,
  .cards__item_main {
    width: 100%;
  } 
  .discount_more {
    width: 100%;
  }
}
@media only screen
and (min-width : 501px)  
and (max-width : 750px) {
  .cards__item,
  .cards__item_main {
    width: 50%;
  } 
}

@media only screen
and (min-width : 751px)  
and (max-width : 1023px) {
  .cards__item,
  .cards__item_main {
    width: 50%;
  } 
}

@media screen 
and (min-width: 1024px)
and (max-width : 1200px) {
  .cards__item,
  .cards__item_main {
    width: 50%;
  } 
}




/***************************************** Coupons & Deals Part *****************************************/
/*------------------------------
split styles
-------------------------------*/
.split {
  height: 100%;
  width: 100%;
  display: table;
}

.split > * {
  display: table-cell;
  vertical-align: middle;
}

.split-right {
  text-align: right;
  width: 9em;
  height: 7em;
}

.split-right img {
  width: 100%;
}

/*------------------------------
box styles as a container item
-------------------------------*/
.box {
  padding: 10px;
  border: 3px dotted #d9d9d9;
  margin: 20px 1px;
  background: #ffffff;
  /* position for box-shadow */
  position: relative;
  margin-bottom: -1.5em;
}

.box_bowShadow:before,
.box_bowShadow:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 12px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #808080;
  box-shadow: 0 15px 5px #808080;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.box_bowShadow:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/*------------------------------
 totem styles
-------------------------------*/
.totem {
  padding: 0 5px;
  line-height: 1.2;
  text-align: center;
}

.totem > * {
  margin-bottom: 10px;
}

.totem-hd {
  color: #ea0f6b;
  font-weight: bold;
  margin: 0 0 0.2em 0;
}

.totem-bd {
  width: 15em;
  color: #000000;
  font-weight: bold;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 2; 
  -webkit-line-clamp: 2; /* number of line */ 
  -ms-line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
}

.totem-ft {
  margin-bottom: -0.5em;
}

.tab_title_checked {
  background: #f56a6a;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  padding-left: 1em;
  padding-right: 0.75em;
  position: relative;
  cursor: pointer;
  width: 20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  line-height: 3em;
  margin-bottom: 0em;
}

.tab_title{
  background: #FFFFFF;
  color: #f56a6a;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  padding-left: 1em;
  padding-right: 0.75em;
  position: relative;
  cursor: pointer;
  width: 20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  line-height: 3em;
  margin-bottom: 0em;
}


/*------------------------------
 media query for larger screens
--------------------------------*/
@media screen and (min-width: 600px) {
  .block {
    width: calc(50% - 5px);
    display: inline-block;
  }
}
@media screen and (min-width: 850px) {
  .block {
    width: calc(33% - 5px);
    display: inline-block;
  }
}













