// Place all the styles related to the Curations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.curation_title {
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 1; 
  -webkit-line-clamp: 1; /* number of line */ 
  -ms-line-clamp: 1;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
  margin-bottom: 2em;
  text-align: center;
}
.curation_video {
  margin-bottom: 1em;
}
.curation_video a {
  font-size: 0.9em;
}