// Place all the styles related to the Curations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* ================= New Index Page ================= */
section.curation_section {
  margin-top: 3em;
}
.cuindex_image {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}
.cuindex_image img {
  position: absolute;
  width: 100%;
  height: 17em;
  object-fit: cover;
}
@media screen and (max-width: 500px) {
 .cuindex_image {
   padding-bottom: 0em;
 }
 .cuindex_image img {
   height: 14em;
   object-fit: cover;
 }
 .cuindex_wide {
    display: flex;
    width: 100%;
    margin: 0em;
 }
 .cushow_btn {
  margin-top: 1.8em;
 }
}
@media only screen
and (min-width : 501px)  
and (max-width : 1024px) {
  .cuindex_image {
     padding-bottom: 0em;
   }
   .cuindex_image img {
     height: 14em;
     object-fit: cover;
   }
}

/* ================= New Show Page ================= */
.cushow_btn {
  padding: 0.5em;
  margin: 0.5em 0 4.3em 0;
  border-radius: 0.5em;
  color: #fff;
  border: none;
  font-weight: bold;
  background: black;
  cursor: pointer;
}
.cushow_btn:hover {
  background-color: black;
}
.cushow_btn a {
  color: #fff;
}
.cushow_des {
  margin: 0em;
}
.cu_show_more {
  float: right;
}
.available_country p {
  color: #000;
  font-weight: bold;
  margin-bottom: 0em;
}


/* ================= Social Sharing ================= */
.footer-social-icons {
    width: 350px;
    display:block;
    margin-bottom: -2em;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}
.sns_span_f {
  margin-right: -8.75em;
}
.sns_span_t {
  margin-right: -7.5em;
}
