.devise_wrapper {
    width:50% ;
    margin: 0 auto;
    margin-top: 5%;
}

.devise_wrapper h2 {
    border-bottom: solid 3px #f56a6a;
    display: inline-block;
    padding: 0 0.75em 0.3em 0;
    padding: 0 0.75em 0.5em 0;
}

@media screen and (max-width: 1280px) {
    .devise_wrapper {
        margin-top: 10%;
    }
}


@media screen and (max-width: 480px) {
    .devise_wrapper {
        margin-top: 20%;
    }
}
