// Place all the styles related to the Ebays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ebay_wrap {
  margin-top: 3em;
}

.ebay_search_warp, {
  float: left;
  width: 49%;
  margin-right: 2%;
}

.ebay_search_result {
  float: left;
  width: 49%;
}


.ebay_search_warp ul li{
  display: inline-block;
}