.hotdeals_h1 {
  margin-bottom: -1.5em;
}

.hotdeals_h2 {
  margin-top: 1em;
}

.hotdeals_title {
  color: #f56a6a;
}
.inner_hotdeals {
  width: 85%;
  margin: 0 auto;
}
#wrap .hotdeals_dis {
  color: #f56a6a;
  font-size: 2em;
}
#wrap{
	width: 80%;
	max-width: 1100px;
	margin: 50px auto;
}
.columns_2 figure{
   width:49%;
   margin-right:1%;
}
.columns_2 figure:nth-child(2){
	margin-right: 0;
}
.columns_3 figure{
   width:32%;
   margin-right:1%;
}
.columns_3 figure:nth-child(3){
	margin-right: 0;
}
.columns_4 {
  margin-right: -2em;
}
.columns_4 figure{
   width:24%;
   margin-right:1%;
}
.columns_4_men_shoes figure {
   width:33%;
   margin-right:1%;
}
.columns_4 figure:nth-child(4){
	margin-right: 0;
}
.columns_5 figure{
   width:19%;
   margin-right:1%;
}
.columns_5 figure:nth-child(5){
	margin-right: 0;
}
#columns figure:hover{
	-webkit-transform: scale(1.1);
	-moz-transform:scale(1.1);
	transform: scale(1.1);

}
#columns:hover figure:not(:hover) {
	opacity: 0.4;

}
div#columns figure {
	display: inline-block;
	background: #FEFEFE;
	/*border: 2px solid #FAFAFA;*/
	/*box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);*/
	margin: 0 0px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	/*background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);*/
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

div#columns figure img {
  object-fit: contain;
	width: 100%;
  height: 24em;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
  /*background-size: cover;*/
  /*background-position: center;*/
}

div#columns figure .hotdeal_source {
  font-size: 0.8em;
}

div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
  height: 3.2em;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 2; 
  -webkit-line-clamp: 2; /* number of line */ 
  -ms-line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
}

div#columns figure .offsale {
  color: red;
  text-decoration: line-through;
}

a.button_prodcuts{
  padding:10px;
  background: #f56a6a;
  margin:10px;
  display:block;
  text-align:center;
  color:#fff;
  transition:all 1s linear;
  text-decoration:none;
  text-shadow:1px 1px 3px rgba(0,0,0,0.3);
  border-radius:3px;
  border-bottom:3px solid #f56a6a;
  box-shadow:1px 1px 3px rgba(0,0,0,0.3);
}

a.button_prodcuts:hover{
  background:#f56a6a;
  border-bottom:3px solid salmon;
  color:#fff;
}

.hotdeal_hover:hover {
  color: #f56a6a;
}

.to_other_menu:hover {
  color: white;
}

.notice_01 {
  margin-bottom: 0em;
}

/***********************************************QuickMenu Section *****************************************/
.topnav {
  overflow: hidden;
  background-color: #f5f6f7;
  border-radius: 0.5em;
}

.topnav a {
  float: left;
  display: block;
  color: #3d4449;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 1.2em;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/*Responsive Styles*/

@media screen and (max-width : 800px){
  .mobile-menu .lines {
    padding: 2px;
    border-bottom: 15px double #f8f8f8; 
    border-top: 5px solid #f8f8f8; 
    content:"";
    height: 5px; 
    width:20px;
    padding-right:15px;
  float: right;
}
  /*Make dropdown links appear inline*/
  .mobile-menu ul {
    position: static;
    display: none;
  }
  /*Create vertical spacing*/
  .mobile-menu li {
    margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  .mobile-menu ul li, .mobile-menu li a {
    width: 100%;
    padding-left: 0.8em;
  }
  /*Display 'show menu' link*/
  .mobile-menu .show-menu {
    display:block;
  }
}


/* New Sign Section */
.new_neon {
  float: right;
  font: 1em arial;
  text-shadow: 
    0px 0px 3px #fff, 
    0px 0px 7px #fff, 
    0px 0px 10px #fff, 
    0px 0px 16px #f56a6a, 
    0px 0px 25px #f56a6a, 
    0px 0px 40px #f56a6a;
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
  0% { text-shadow: 
    0px 0px 3px #fff, 
    0px 0px 7px #fff, 
    0px 0px 10px #fff, 
    0px 0px 16px #f56a6a, 
    0px 0px 25px #f56a6a, 
    0px 0px 40px #f56a6a; }
  50% {
    text-shadow: 
    0px 0px 1px #fff, 
    0px 0px 3px #fff, 
    0px 0px 5px #fff, 
    0px 0px 10px #f56a6a, 
    0px 0px 20px #f56a6a, 
    0px 0px 30px #f56a6a;
  }
  100% {
    text-shadow: 
    0px 0px 3px #fff, 
    0px 0px 7px #fff, 
    0px 0px 10px #fff, 
    0px 0px 16px #f56a6a, 
    0px 0px 25px #f56a6a, 
    0px 0px 40px #f56a6a;
  }
}

/* Media Query Section*/
@media screen and (max-width: 960px) { 
  #columns figure { width: 24%; }
  .columns_4 { margin-right: 0em; }
  div#columns figure img { object-fit: contain; }
}
@media screen and (max-width: 767px) {
  #columns figure { width:32%; }
  .columns_4 { margin-right: 0em; }
  div#columns figure img { object-fit: contain; }
}
@media screen and (max-width: 600px) {
  #columns figure { width: 49%; }
  .columns_4 { margin-right: 0em; }
  div#columns figure img { object-fit: contain; }
}
@media screen and (max-width: 500px) {
  #columns figure { width: 100%; } 
  .columns_4 { margin-right: 0em;} 
  div#columns figure img { object-fit: contain; }
}

@media screen and (orientation: portrait) {

  #main .inner_hotdeals .warp { width: 95%; }
  div#columns figure img { object-fit: contain; }
  .hotdeals_h1 { margin-bottom: -0.5em; }
}

@media screen and (orientation: portrait) and (max-width: 480px) {
  
  /*div#columns figure img { height: 27em; }*/
  .columns_4 { margin-right: 0em; }

   #main .inner_hotdeals .warp { width: 95%; }
  
  div#columns figure img { object-fit: contain; }
}

@media screen and (max-width: 1280px) {
  div#columns figure img { object-fit: contain; }
}



/********************************************** Savings Section **********************************************/

/*------------------------------
 My custom
--------------------------------*/

.savings_wrapper {
  position: relative;
  max-width: 100%;
  background: #fff;
  margin: 0 auto 60px;
}

.shark {
  color: #00bfd3;
}

.train {
  color: #9e9e9e;
}

.savings_title {
  text-align: center;
  margin: -0.5em 0;
  font-size: 8em;
}

.savings_sub {
  text-align: center;
  margin-top: 1em;
  font-size: 4em;
}

.savings_subtitle {
 border: 1px solid #00bfd3;
 border-radius: 0.5em;
 background-color: #00bfd3;
 width: 30em;
 margin: auto;
 margin-top: 2em;
 padding: 0.5em;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .savings_title {
    font-size: 3em;
  }
  .savings_sub {
    font-size: 1.5em;
  }

  .savings_subtitle {
    width: 100%;
  }
}

@media only screen and (min-width : 481px) and (max-width : 1024px) {
  .savings_title {
    font-size: 4em;
  }
  .savings_sub {
    font-size: 2em;
  }
}

/*------------------------------
 Original CSS
--------------------------------*/
form {
  position: relative;
  max-width: 100%;
  /*background: #fff;*/
  margin: 0 auto 60px;
}
.label {
  color: #9e9e9e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #e1e1e1;
}
input[type=radio] {
  display: none;
}
input[type=radio]:not(checked) ~ .content {
  display: none;
}
input[type=radio]:checked ~ .content {
  display: block;
}
input[type=radio]:checked ~ .label {
  color: #00bfd3;
}
/* Active state and bars */
input[type=radio]:checked + .left-label::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #00bfd3;
  bottom: -2px;
  right: 0;
  transition: right 200ms;
}
input[type=radio]:not(checked) + .left-label::before {
  content: '';
  width: 0;
  right: -100%;
  transition: right 200ms;
}
input[type=radio]:checked + .right-label::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #00bfd3;
  bottom: -2px;
  left: 0;
  transition: left 200ms;
}
input[type=radio]:not(checked) + .right-label::before {
  content: '';
  width: 0;
  left: -100%;
  transition: left 200ms;
}
input[type=radio] + .right-label:hover,
input[type=radio] + .left-label:hover {
  color: #00bfd3;
  text-shadow: 0 3px 3px rgba(0,0,0,0.1);
  transition: text-shadow 100ms;
}
.left-label, .right-label {
  position: absolute;
  top: 0;
  padding: 12px 0;
  width: 50%;
  text-align: center;
  background: #fafafa;
  z-index: 10;
}
.left-label {
  left: 0;
}
.right-label {
  right: 0;
}
.content {
  position: relative;
  top: 40px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.about {
  margin: 0 auto;
  max-width: 900px;
  border-top: 1px solid #e1e1e1;
  padding: 20px;
}


/******* Savings Second tabs *******/
.responsive-tab {
    margin-top: 15px;
}
.responsive-tab ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.responsive-tab li {
    display: inline-block;
    padding: 0;
    vertical-align: bottom;
    margin-right: 15px;
}
.responsive-tab li .active {
    color: #c6a0d5;
    border-bottom-color: #9b59b6;
}

.responsive-tab a {
    display: inline-block;
    color: #9c9c9c;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
}
.responsive-tab a.active {
    border-bottom: 3px solid #fe8026;
    position: relative;
    bottom: -3px;
    color: #fe8026;
    outline: none;

}
.responsive-tab a.active:after {
    content: "\f0d7";
    font-family: "FontAwesome"; 
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    display: inline-block;                
    width: 10px;
    height: 10px;
    margin: 0 auto;
}

.savings_tabs > div {
    display: none;
    padding: 1rem;
}

.savings_tabs > .active {
    display: block;
}

.tabs_tag {
  margin-bottom: 0em;
  text-align: center;
  color: white;
}

@media (max-width: 767px) {
    .responsive-tab ul {                    
        position: relative;
        background: #fff;
        border: none;

    }
    .responsive-tab ul::after {
        content: "\f0c9";
        position: absolute;
        top: 12px;
        right: 15px;
        z-index: 2;
        pointer-events: none;
        font-size: 17px;
        font-family: "FontAwesome"; 
    }

    .responsive-tab li {
        display: block;
    }
    .responsive-tab a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-color: transparent;
    }
    .responsive-tab ul.open a {
        position: relative;
        display: block;
        border-color: #fe8026;
    }
    .responsive-tab a.active {                   
        z-index: 1;
        background: #fff;
    }
}


/********************************************** Shoes Section *********************************************/

.shop_product_title {
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 1; 
  -webkit-line-clamp: 1; /* number of line */ 
  -ms-line-clamp: 1;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
  margin-bottom: 0em;
}

.shop_original_price {
  border: 2px solid #f56a6a;
  color: #f56a6a;
  border-radius: 0.5em;
  width: 4em;
  text-align: center;
  font-size: 1.5em;
}

.shop_sale_price {
  text-decoration: line-through;
}

.shop_price_wrapper {
  margin-bottom: -1em;
}

ul.shop_price_wrapper li {
  display: inline-block;
  padding: 0 0.3em 0 0;
}

.shop_brand {
  margin-bottom: 0.5em;
}

.shop_retail {
  margin-bottom: 0.5em;
}

.shop_link {
  color: #f56a6a;
}

.shop_check {
  border: 1px solid;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: #f56a6a;
  color: white;
  text-align: center;
}

.expanded {
    width: 100%;
    margin: 0 auto;
    margin-top: 3em;
}

.large-6 {
  float:left;
  margin:0;
}
.filter-wrap {
  height:1000px;
  color:#fff;
}

.large-18 {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;  
}

.fliter-results {
  padding: 1em;
}

.grid-item {
  margin-bottom:20px;
  padding: 0 0.5em;
}

.grid-item a {
  color: black;
}

.grid-item p.title {
  font-size:18px;
  font-weight:bold;
  margin-bottom:5px;
}
.ui-group button {
  text-align:center;
  position:relative;
  outline:none !important;
  margin-bottom:10px;
}

.ui-group .is-checked {
  border-radius: 1em;
  background-color: #f56a6a;
  border:3px solid #f56a6a;
  color: white;
}

.ui-group h3 {
  position:relative;
  display:table;
}
.ui-group h3::after {
  height:2px;
  width:100%;
  background:#fff;
  position:absolute;
  bottom:-2px;
  left:0;
  content: '';
}

/*------------------------------
 GRID GALLERY START HERE
--------------------------------*/
.grids {
  overflow:hidden;
  width:100%;
}

.grids > * {
  float:left;
  width:25%;
  width:calc(100%/4);
  width:-webkit-calc(100%/4);
  box-sizing:border-box;
}


.grids > .grid-item > img {
  width: 300px;
  height: 250px;
  display:block;
  object-fit: contain;
}

.grids > .grid-item > .main_img img {
  width: 300px;
  height: 250px;
  display:block;
  object-fit: contain;
}

.grids > .show_gadgets > a > .show_gadgets_img > img {
  width: 300px;
  height: 250px;
  display:block;
  object-fit: contain;
}


/* MEDIA QUERY */
@media(max-width:1200px)
{
  .grids > *{
    width:calc(100%/4);
    width:-webkit-calc(100%/4);
  }
  .shop_original_price {
    margin-bottom: 0em;
  }
  .shop_link {
    margin-top: -1em;
  }
  ul.shop_price_wrapper li {
    display: inline-block;
    padding: 0em;
  }
  .shop_original_price, .shop_sale_price {
    margin-bottom: 0em;
    margin-right: 0.3em;
  }
  .shop_sale_percentage {
    margin-right: 0em;
    margin-left: 4.5em;
    margin-top: -1.52em;
  }
}

@media(max-width:640px)
{
  .grids > *{
    width:calc(100%/2);
    width:-webkit-calc(100%/2);
  }
  ul.shop_price_wrapper li {
    display: inline-block;
    padding: 0em;
  }
  .shop_original_price, .shop_sale_price {
    margin-bottom: 0em;
  }
  .shop_sale_percentage {
    margin-right: 0em;
    margin-left: 0.5em;
    margin-top: -1.6em;
  }
  .grids > .grid-item > img {
    margin-bottom: -3em;
  }
  .show_home {
    margin-top: -3.6em;
    margin-bottom: 3em;
  }
  .show_home a {
    margin-left: 3em;
  }
}

@media(max-width:320px)
{
  .grids > *{
    width:100%;
  }
}

/*------------------------------
 Shoes Show Page
--------------------------------*/

.product_show img {
  max-width: 100%;
  height: auto;
}

.icon-images {
  margin: 1em 0 3em 0;
}

.product--title {
  color: #008080;
  font-weight: bold;
  font-size: 1.5em;
  font-family: serif;
  padding: 20px 0;
  margin-bottom: -2em;
  /*text-align: center;*/
}
.product--title h2 {
  display: inline-block;
  border-bottom: 2px dashed;
}

.product--image {
  float: left;
  width: 40%;
}

.product--details {
  float: left;
  width: 35%;
  padding-right: 2em;
}

.random_shoe {
  float: left;
  width: 25%;
  border: 1px solid #eee;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-top: 2em;
}

.random_shoe p {
  margin-top: 0.3em;
  text-align: center;
}
.random_shoe a {
  color: #000;
}


.product--image {
  padding-right: 3%;
}
.product--image .icon-images img {
  height: 6.5em;
  margin: 0 2px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  margin-bottom: 0.3em;
}

.product--price .product--price_price {
  color: rgba(20, 180, 180, 0.9);
  font-size: 1.2em;
  padding-right: 10px;
}
.product--price .product--price_offer {
  color: indianred;
  border: 1px solid #952e2e;
  border-radius: 5px 5px;
  padding: 1px 3px;
  font-size: .7em;
}

.product--desc {
  font-family: sans;
}
.product--desc p {
  margin: 20px 0px;
}

.show_home {
  margin-left: 1em;
}

@media screen and (max-width: 500px) {
  .product--image, .product--details {
    float: none;
    width: 100%;
    padding: 10px 5px;
    margin: 5px 10px;
  }
  
  .random_shoe {
    float: none;
    width: 100%;
    margin-bottom: 5em;
  }

  .product--image .icon-images img {
    height: 5em;
    width: 7em;
    margin: 0% 0%;
  }
  .grids > .grid-item > .main_img img {
    height: 8em;
  }
}

@media only screen
and (min-width : 501px)  
and (max-width : 1024px) {
  .product--image, .product--details {
    width: 50%;
    margin-bottom: 2em;
  }
  .product--image .icon-images img {
    height: 4.5em;
    width: 6em;
  }
  .grids > .grid-item > .main_img img {
    height: 8em;
  }
  .random_shoe {
    float: none;
    border: none;
  }
  .show_home {
    margin-top: -3.6em;
    margin-bottom: 3em;
  }
  .show_home a {
    margin-left: 0em;
  }
  .shop_sale_percentage {
    margin-left: 0.3em;
  }
}
