.togoup {
  display: none;
}
.quicksearch_title {
  font-size: 3em;
  margin-bottom: 0.5em;
  text-align: center;
  font-family: 'Archivo', sans-serif;
}
.promo_main_title {
  text-align: center;
  margin-bottom: 1em;
  font-family: 'Archivo', sans-serif;
}
#main .inner_quicksearch .quicksearch_warpper {
  width: 100%;
  margin: 0 auto;
}
#main .inner_quicksearch .quicksearch_warpper .search_footer {
  margin: 0 auto; 
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 1em;
}
.left_banner_quicksearch, 
.left_small_banner, 
.left_left,
.right_left {
  float: left;
  width: 49.5%;
  margin-right: 1%;
}
.right_banner_quicksearch,
.right_small_banner,
.left_right,
.right_right {
  float: left;
  width: 49.5%;
  margin-bottom: 2em;
}

.left_banner_quicksearch img, 
.right_banner_quicksearch img, 
.left_small_banner img,
.right_small_banner img {
  width: 100%;
}

.left_small_banner, 
.right_small_banner {
  margin-top: -2em;
}
.showall_code {
  margin: 1em 0 -1em 41em;
  font-size: 1.2em;
}
.showall_code a {
  color: #3ed8c4;
}
#discount_page {
  margin-top: -10em;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    /*background-color: #f1f1f1;*/
    background-color: #eee;
    border-radius: 1em 1em 0 0;
}

/* Style the buttons inside the tab */
div.tab .discount {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab .discount:hover {
    background-color: #f56a6a;
    color: white;
}

/* Create an active/current tablink class */
div.tab .discount .active {
    background-color: #f56a6a;
}

/* Style the tab content */
.tabcontent {
    /*display: none;*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent_coupon {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;  
    padding-right: 2em; 
}


.discount {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0.375em;
    border: 0;
    /* box-shadow: inset 0 0 0 2px #f56a6a; */
    /* color: #f56a6a !important; */
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-size: 0.8em;
    font-weight: 700;
    height: 3.5em;
    letter-spacing: 0.075em;
    /* line-height: 3.5em; */
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    /*text-transform: uppercase;*/
    white-space: nowrap;
}


/****** Table Section *******/
.tg  {
    border-collapse: collapse;
    border-spacing: 0;
    border-color:#ccc;
}
.tg td {
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#ccc;
    color:#333;
    background-color:#fff;
}
.tg th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#ccc;
    color:#333;
    background-color:#f0f0f0;    
}
.tg .tg-s6z2 {
    text-align:center
}
.tg .tg-spn1 {
    background-color:#f9f9f9;
    text-align:center 
}
.tg .tg-4eph {
    background-color:#f9f9f9
}



@media screen and (orientation: portrait) {

  #main .inner_quicksearch .quicksearch_warpper {
     width: 95%;
  }
  #main .inner_quicksearch .quicksearch_warpper .tg .tg-spn1, .tg-s6z2 {
     font-size: 1em;
  }
  #main .inner_quicksearch .quicksearch_warpper th.tg-s6z2 {
     width: 100%;
  }
  .quicksearch_title { 
     font-size : 2em;
     margin-top: 0.5em;
     margin-bottom: 0.5em;
  }
}

@media screen and (orientation: portrait) and (max-width: 480px) {
      
  #main > .inner_quicksearch {
            padding: 0em 0em 0em 0em ;
  }
  #main > .inner_quicksearch > section {
            padding: 3em 0 1em 0 ;
  }
}


@media screen and (max-width: 500px) {

  .promo_main_title {
    margin-bottom: 2em;
  }
  .left_banner_quicksearch, 
  .right_banner_quicksearch,
  .left_small_banner, 
  .right_small_banner {
    width: 100%;
  }
  .showall_code {
    margin: 1em 0 -1em 15em;
  }
}

@media only screen
and (min-width : 501px)  
and (max-width : 750px) {
  .showall_code {
    margin: 1em 0 -1em 18em;
  }
}

@media only screen
and (min-width : 751px)  
and (max-width : 1023px) {
  .showall_code {
    margin: 0.5em 0 -1.5em 17em;
  }
}  

@media screen 
and (min-width: 1024px)
and (max-width : 1200px) {
  .showall_code {
    margin: 1em 0 -1em 28em;
  }
}

/*** New(quick) Tab ***/
.tabs {
  margin-bottom: 2em;
}
.tabs input[type=radio] {
  display: none; 
  visibility:hidden;
}
.tabs label {
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: #2EBEB9;
  width: 20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #FCFCFC;
  text-align: center;
  line-height: 3em;
  margin-bottom: 0em;
}
.discount_tabs label {
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: white;
  width: 20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #f56a6a;
  text-align: center;
  line-height: 3em;
  margin-bottom: 0em;
}
.tabs label:last-of-type {
  border-bottom: none; 
}
.tabs label:hover {
  background: #f78282;
  color:#ffffff;
}
@media screen and (max-width: 1600px) {
.tabs label {
  width: 15%; } 
}
@media screen and (max-width: 900px) {
.tabs label {
  width: 20%; 
  } 
}
@media screen and (max-width: 600px) {
.tabs label {
  width: 100%;
  display: block;
  /*border-bottom: 1px solid #f78282;*/
  border-radius: 0; 
} 
}
@media screen and (max-width: 600px) {
.tabs {
  margin: 0; 
  /*border: 1px solid #f56a6a;*/
} 
}

#tab1:checked + label, #tab2:checked + label, #tab3:checked + label, #tab4:checked + label, #tab5:checked + label {
  background: #2ebfac;
  color: #FFFFFF; }

.tab-content {
  position: absolute;
  top: -9999px;
  /*padding: 10px; */
}

.tab-content-wrapper{
  background: #FCFCFC;
  border-top: #2ebfac 5px solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  
}
@media screen and (max-width: 600px) {
.tab-content-wrapper, .tab1-content-wrapper {
  border: none;
  border-radius: 0; 
} 
}

#tab1:checked ~ .tab-content-wrapper #tab-content-1, #tab2:checked ~ .tab-content-wrapper #tab-content-2, #tab3:checked ~ .tab-content-wrapper #tab-content-3, #tab4:checked ~ .tab-content-wrapper #tab-content-4, #tab5:checked ~ .tab-content-wrapper #tab-content-5 {
  position: relative;
  top: 0px;
 }



/******* Accordian about how to use discount codes on quicksearch page *******/
.centerplease {
  margin: 0 auto;
  max-width: 270px;
  font-size: 40px;
}

.question {
  color: #fff;
  position: relative;
  background: #98c23d;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width:100%;
  cursor: pointer;
}

.answers {
  font-weight:300;
  background: #f2f2f2;
  padding: 0px 15px;
  margin: 0px 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}

.answers ul {
  margin-left: 1em;
}

.questions:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 15px;
}

.plus {
  color:#fff;
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.questions {
  display: none;
}

/* =================== Side of Search =================== */
.promotion_side {
  width: 100%;
}
.promotion_side h3 {
  margin-bottom: 0em;
}
.promo_card {
  float: left;
  width: 50%;
  padding: 0.3em;
}
.promo_card img {
  width: 100%;
} 

/* =================== Responsive Sticky nav  =================== */
.sticky_logo {
  line-height: 40px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}
#sticky_nav {
  position: fixed;
  width: 100%;
  line-height: 40px;
  background: #2ebfac;
  z-index: 10
}
#sticky_nav ul {
  line-height: 40px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  /*padding-right: 40px;*/
  transition: 1s;
}
#sticky_nav.black ul {
  background: #3ed8c4;
}
#sticky_nav ul li {
  display: inline-block;
  padding: 16px 15px;;
}
#sticky_nav ul li:nth-child(4) {
  margin-right: 3em;
}
#sticky_nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.menu-icon {
  line-height: 26px;
  width: 100%;
  background: #2ebfac;
  text-align: right;
  box-sizing: border-box;
  padding: 23px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}
@media(max-width: 786px) {
  .sticky_logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }
  #sticky_nav ul {
    max-height: 0px;
    background: #2ebfac;
  }
  #sticky_nav.black ul {
    background: #2ebfac;
  }
  .showing {
    max-height: 34em;
  }
  #sticky_nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 0em;
    text-align: center;
  }
  .menu-icon {
    display: block;
    margin-bottom: -1em;
  }
}























