.togoup {
  display: none;
}

.quicksearch_title {
  font-size: 3.5em;
  margin-bottom: 0.5em;
  text-align: center;
  font-family: 'Archivo', sans-serif;
}

.promo_main_title {
  text-align: center;
  margin-bottom: 1em;
  font-family: 'Archivo', sans-serif;
}

#main .inner_quicksearch .quicksearch_warpper {
  width: 85%;
  margin: 0 auto;
}

#main .inner_quicksearch .quicksearch_warpper .search_footer {
  margin: 0 auto; 
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 1em;
}

.left_banner_quicksearch, 
.left_small_banner, 
.left_left,
.right_left {
  float: left;
  width: 49.5%;
  margin-right: 1%;
}
.right_banner_quicksearch,
.right_small_banner,
.left_right,
.right_right {
  float: left;
  width: 49.5%;
  margin-bottom: 2em;
}

.left_banner_quicksearch img, 
.right_banner_quicksearch img, 
.left_small_banner img,
.right_small_banner img {
  width: 100%;
}

.left_small_banner, 
.right_small_banner {
  margin-top: -2em;
}

/* ===== Skituy_menu ===== */
.quick_stiky_menu {
  z-index: 10;
}
.quick_stiky_menu a {
  list-style: none;
  text-align: center;
  padding: 0.5em;
  /*-webkit-box-shadow: 0px 0px 1px 0px #000000;*/
  /*-moz-box-shadow: 0px 0px 1px 0px #000000;*/
  /*box-shadow: 0px 0px 2px 0px #000000;*/
  background-color: white;
  color: rgba(1, 1, 1, 0.5);
  text-decoration: none;
}
.quick_stiky_menu a {
  color: black;
  font-size: 1.4em;
  font-weight: bold;
  display: inline-block;
  margin: 0 1em 0 1em;
}
.fixed {
  position: fixed;
  top: 0;
  width: 72%;
}
/* ===== Skituy_menu_End ===== */






/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    /*background-color: #f1f1f1;*/
    background-color: #eee;
    border-radius: 1em 1em 0 0;
}

/* Style the buttons inside the tab */
div.tab .discount {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab .discount:hover {
    background-color: #f56a6a;
    color: white;
}

/* Create an active/current tablink class */
div.tab .discount .active {
    background-color: #f56a6a;
}

/* Style the tab content */
.tabcontent {
    /*display: none;*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent_coupon {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;  
    padding-right: 2em; 
}


.discount {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0.375em;
    border: 0;
    /* box-shadow: inset 0 0 0 2px #f56a6a; */
    /* color: #f56a6a !important; */
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-size: 0.8em;
    font-weight: 700;
    height: 3.5em;
    letter-spacing: 0.075em;
    /* line-height: 3.5em; */
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    /*text-transform: uppercase;*/
    white-space: nowrap;
}


/****** Table Section *******/
.tg  {
    border-collapse: collapse;
    border-spacing: 0;
    border-color:#ccc;
}
.tg td {
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#ccc;
    color:#333;
    background-color:#fff;
}
.tg th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#ccc;
    color:#333;
    background-color:#f0f0f0;    
}
.tg .tg-s6z2 {
    text-align:center
}
.tg .tg-spn1 {
    background-color:#f9f9f9;
    text-align:center 
}
.tg .tg-4eph {
    background-color:#f9f9f9
}



@media screen and (orientation: portrait) {

  #main .inner_quicksearch .quicksearch_warpper {
     width: 95%;
  }
  #main .inner_quicksearch .quicksearch_warpper .tg .tg-spn1, .tg-s6z2 {
     font-size: 1em;
  }
  #main .inner_quicksearch .quicksearch_warpper th.tg-s6z2 {
     width: 100%;
  }
  .quicksearch_title { 
     font-size : 2em;
     margin-top: 0.5em;
     margin-bottom: 0.5em;
  }
}

@media screen and (orientation: portrait) and (max-width: 480px) {
      
  #main > .inner_quicksearch {
            padding: 0em 0em 0em 0em ;
  }
  #main > .inner_quicksearch > section {
            padding: 3em 0 1em 0 ;
  }
}


@media screen and (max-width: 500px) {

  .promo_main_title {
    margin-bottom: 2em;
  }
  .left_banner_quicksearch, 
  .right_banner_quicksearch,
  .left_small_banner, 
  .right_small_banner {
    width: 100%;
  }
}

@media only screen
and (min-width : 501px)  
and (max-width : 750px) {

}

@media only screen
and (min-width : 751px)  
and (max-width : 1023px) {

}  

/*** New(quick) Tab ***/
.tabs {
  margin-bottom: 2em;
}
.tabs input[type=radio] {
  display: none; 
  visibility:hidden;
}
.tabs label {
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: #2EBEB9;
  width: 20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #FCFCFC;
  text-align: center;
  line-height: 3em;
  margin-bottom: 0em;
}
.discount_tabs label {
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: white;
  width: 20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #f56a6a;
  text-align: center;
  line-height: 3em;
  margin-bottom: 0em;
}
.tabs label:last-of-type {
  border-bottom: none; 
}
.tabs label:hover {
  background: #f78282;
  color:#ffffff;
}
@media screen and (max-width: 1600px) {
.tabs label {
  width: 15%; } 
}
@media screen and (max-width: 900px) {
.tabs label {
  width: 20%; 
  } 
}
@media screen and (max-width: 600px) {
.tabs label {
  width: 100%;
  display: block;
  /*border-bottom: 1px solid #f78282;*/
  border-radius: 0; 
} 
}
@media screen and (max-width: 600px) {
.tabs {
  margin: 0; 
  /*border: 1px solid #f56a6a;*/
} 
}

#tab1:checked + label, #tab2:checked + label, #tab3:checked + label, #tab4:checked + label, #tab5:checked + label {
  background: #f56a6a;
  color: #FFFFFF; }

.tab-content {
  position: absolute;
  top: -9999px;
  padding: 10px; 
}

.tab-content-wrapper{
  background: #FCFCFC;
  border-top: #f56a6a 5px solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  
}
@media screen and (max-width: 600px) {
.tab-content-wrapper, .tab1-content-wrapper {
  border: none;
  border-radius: 0; 
} 
}

#tab1:checked ~ .tab-content-wrapper #tab-content-1, #tab2:checked ~ .tab-content-wrapper #tab-content-2, #tab3:checked ~ .tab-content-wrapper #tab-content-3, #tab4:checked ~ .tab-content-wrapper #tab-content-4, #tab5:checked ~ .tab-content-wrapper #tab-content-5 {
  position: relative;
  top: 0px;
 }



/******* Accordian about how to use discount codes on quicksearch page *******/
.centerplease {
  margin: 0 auto;
  max-width: 270px;
  font-size: 40px;
}

.question {
  color: #fff;
  position: relative;
  background: #98c23d;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width:100%;
  cursor: pointer;
}

.answers {
  font-weight:300;
  background: #f2f2f2;
  padding: 0px 15px;
  margin: 0px 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}

.answers ul {
  margin-left: 1em;
}

.questions:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 15px;
}

.plus {
  color:#fff;
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}



/* scroll menu on quicksearch page */
#desktopmenu {
  text-align: center;
  padding: 0 1em;
}
#desktopmenu a {
  font-size: 1.4em;
  text-decoration: none;
  padding: 1em;
}
.mobile-nav {
  display: block;
  border: 2px solid #FFF;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  height: auto;
  width: 37px;
  margin: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;
  cursor: pointer;
  padding: 7px 6px 6px;
  background: #023e64;
}

.mobile-nav__icon {
  position: relative;
  display: block;
  width: 100%;
  height: 18px;
  /* hamburger menu 3 lines */
}
.mobile-nav__icon span, .mobile-nav__icon span:before, .mobile-nav__icon span:after {
  height: 3px;
  width: 100%;
  background: white;
  position: absolute;
  display: block;
  content: '';
  text-indent: -9999px;
  color: white;
}
.mobile-nav__icon span {
  top: 7px;
}
.mobile-nav__icon span:before {
  top: -7px;
}
.mobile-nav__icon span:after {
  top: 7px;
}

.mobile-nav__icon span, .mobile-nav__icon span:before, .mobile-nav__icon span:after {
  transition: all 500ms ease-in-out;
}

.mobile-nav__icon.active span {
  background-color: transparent;
}

.mobile-nav__icon.active span:before, .mobile-nav__icon.active span:after {
  top: 0;
}

.mobile-nav__icon.active span:before {
  transform: rotate(45deg);
}

.mobile-nav__icon.active span:after {
  transform: rotate(-45deg);
}

.menu {
  margin: 0px;
  width: 100%;
  padding: 0px;
  height: auto;
  text-align: center;
  display: none;
  list-style: none;
}
.menu li {
  left: 0;
  cursor: pointer;
  cursor: hand;
  display: block;
  height: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 0px;
  border-bottom: 2px solid;
  font-size: larger;
}
.menu li a {
  text-decoration: none !important;
}

.close-button {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 500;
  display: none;
  text-indent: -9999px;
  background-color: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #2D637F;
  background-image: url("https://www.dropbox.com/s/6rek5typ38a0he8/X-blue.png?dl=0&raw=1");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (max-width: 877px) {
  #mobilelogo {
    display: inline-block;
  }

  #header-menu {
    text-align: left;
  }

  #desktopmenu {
    display: none;
  }

  .mobile-nav {
    display: inline-block;
    float: right;
    postion: relative;
    margin-top: 10em;
    margin-right: 2em;
  }
}
@media (min-width: 878px) {
  #desktoplogo {
    display: inline-block;
  }

  #header-menu {
    text-align: right;
  }

  .mobile-nav, #mobileheader-menu {
    display: none;
  }
}

.scroll-up-btn {
  width: 42px;
  height: 42px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 500;
  display: none;
  text-indent: -9999px;
  background-color: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #2D637F;
  background-image: url("https://www.dropbox.com/s/2iqhzha8orisbmo/arrow-blue-up.png?dl=0&raw=1");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  /* line 1, ../../../src/foundation/css/components/_scroll-to-top.scss */
  .scroll-up-btn {
    background-image: url("https://www.dropbox.com/s/2iqhzha8orisbmo/arrow-blue-up.png?dl=0&raw=1");
    background-size: 14px 9px;
  }
}
@media (max-width: 640px) {
  #-js-id-leadership .mobile-center {
    text-align: center;
  }
  #-js-sermonframe {
    height: 1200px;
  }
}

@media (max-width: 640px) {
  .sermon-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}








