/**** Upload Section ****/



.upload_wrapper {
    width: 80%;
    margin: 0 auto;
}

.upload_wrapper .upload_section .form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.upload_wrapper .upload_section .form textarea {
    padding: 25px 20px;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.upload_wrapper .upload_section .form a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 15px;
  color: #ffffff;
  background: #444444;
}

.upload_wrapper .upload_section button[type="submit"] {
  border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background: #262626;
	cursor: pointer;
	margin-bottom: 20px;
	width: 100%;
}

.upload_wrapper .upload_section label {
  margin-bottom: -0.5em;
}

.upload_partition, .postive_review, .critical_review, .upload_links {
  border: 2px solid;
  padding: 1em;
  margin: 1em 0;
}

.upload_li {
  margin: -2em 0 2em 0;
}

.add_nav_wrapper ul li {
  display: inline-block;
  line-style: none;
  border: 1px solid;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 0.5em
}


/* This is for responsive nav on amazon & ebay page */

/* @charset "UTF-8"; */
.navigation {
  height: 70px;
  background: #262626;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav.header_nav {
  display: flex;
  justify-content: flex-end;
}
nav.header_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.header_nav ul li {
  float: left;
  position: relative;
  z-index: 20;
}
nav.header_nav ul li a,
nav.header_nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
}
nav.header_nav ul li a:hover,
nav.header_nav ul li a:visited:hover {
  background: #08f;
  color: #ffffff;
}
nav.header_nav ul li a:not(:only-child):after,
nav.header_nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav.header_nav ul li ul li {
  min-width: 190px;
}
nav.header_nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav.header_nav {
    width: 100%;
    padding: 70px 0 15px;
    display: block;
  }
  nav.header_nav ul {
    display: none;
  }
  nav.header_nav ul li {
    float: none;
  }
  nav.header_nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav.header_nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
































