/**** Upload Section ****/

.upload_wrapper {
    width: 80%;
    margin: 0 auto;
}

.upload_wrapper .upload_section .form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.upload_wrapper .upload_section .form textarea {
    padding: 25px 20px;
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.upload_wrapper .upload_section .form a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 15px;
  color: #ffffff;
  background: #444444;
}

.upload_wrapper .upload_section button[type="submit"] {
  border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background: #262626;
	cursor: pointer;
	margin-bottom: 20px;
	width: 100%;
}

.upload_wrapper .upload_section label {
  margin-bottom: -0.5em;
}

.upload_partition, .postive_review, .critical_review, .upload_links {
  border: 2px solid;
  padding: 1em;
  margin: 1em 0;
}

.upload_li {
  margin: -2em 0 2em 0;
}

.add_nav_wrapper ul li {
  display: inline-block;
  line-style: none;
  border: 1px solid;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 0.5em
}


/* This is for responsive nav on amazon & ebay page */
.nav_container {
  margin: 0 auto;
}

.page-header {
  min-height: 25px;
  padding: 20px;
  background: #2ebfac;
}
.page-header .nav_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  z-index: 2;
}

.nav--page-header {
  display: flex;
  flex-flow: column nowrap;
  flex: 100%;
  transition: height, margin .3s ease;
  z-index: 1;
  height: 0px;
  overflow: hidden;
}
.nav--open {
  height: auto;
  margin-top: 30px;
  border-top: 3px solid white;
}
.nav__link {
  margin: 20px 0 0;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: color .5s ease;
}
.nav__link:hover {
  color: #111;
}

/******
Helpers 
******/
/* Navigation button icon */
.nav-btn {
  width: 40px;
  height: 25px;
  position: relative;
  margin-left: auto;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: .5s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 2;
}

.nav-btn span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.nav-btn span:nth-child(1) {
  top: 0px;
}

.nav-btn span:nth-child(2),
.nav-btn span:nth-child(3) {
  top: 10px;
}

.nav-btn span:nth-child(4) {
  top: 20px;
}

.nav-btn.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.nav-btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav-btn.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

/* End of Navigation button icon */
@media only screen and (min-width: 768px) {
  .nav_container {
    width: 700px;
  }

  .nav-btn {
    display: none;
  }

  .nav--page-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    flex: 1;
    height: 100%;
    margin: auto;
    transition: height, margin .3s ease;
    z-index: 1;
  }
  .nav--open {
    height: auto;
    margin: auto;
    border: none;
  }
  .nav__link {
    margin: 3px 10px;
  }

  .page-header {
    background: #2ebfac;
    padding: 20px;
  }
  .page-header .nav_container {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 992px) {
  .nav_container {
    width: 940px;
  }
}






























