<div id="wrapper">
  <div id="main">
    <div class="inner_hotdeals">
    <%= render 'shared/header' %>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      
      <h1>Edit</h1>
      <%= render 'form' %>

   </div>
  </div>
</div>